<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div class="checkboxlist-wrapper" v-if="currentCaseService?.canRead('multiplechoiceVariable','','')" :id="getContextForID + 'multiplechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('multiplechoiceVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'multiplechoiceVariable'" :context="context" :container-type="containerType">
				</component>
				<span class="checkBoxDescription">
					<span v-html="translationService.t('multiplechoiceVariable')">
					</span>
				</span>
				<ul class="checkboxlist" v-custom-model-for-checkboxes="'multiplechoiceVariable'" init-value="[]" :id="getContextForID + 'multiplechoiceVariable'">
					<header :id="getContextForID + 'sets.group-wrapper'" v-on:mouseover.stop="onHover('sets.group')">
						<h4 class="valuesGroupDescription">
							<span v-html="translationService.t('group')">
							</span>
						</h4>
					</header>
					<li :id="getContextForID + 'multiplechoiceVariable-sets.group.first-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-sets.group.first','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-sets.group.first')">
						<input type="checkbox" value="sets.group.first" excludes="" :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-sets.group.first'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-sets.group.first'">
							<span v-html="translationService.t('first')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'multiplechoiceVariable-sets.group.second-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-sets.group.second','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-sets.group.second')">
						<input type="checkbox" value="sets.group.second" excludes="" :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-sets.group.second'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-sets.group.second'">
							<span v-html="translationService.t('second')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'multiplechoiceVariable-sets.group.third-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-sets.group.third','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-sets.group.third')">
						<input type="checkbox" value="sets.group.third" excludes="" :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-sets.group.third'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-sets.group.third'">
							<span v-html="translationService.t('third')">
							</span>
						</label>
					</li>
				</ul>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'multiplechoiceVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div class="checkboxlist-wrapper" v-if="currentCaseService?.canRead('multiplechoiceVariable2','','')" :id="getContextForID + 'multiplechoiceVariable2-wrapper'" v-on:mouseover.stop="onHover('multiplechoiceVariable2')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'multiplechoiceVariable2'" :context="context" :container-type="containerType">
				</component>
				<span class="checkBoxDescription">
					<span v-html="translationService.t('multiplechoiceVariable2')">
					</span>
				</span>
				<ul class="checkboxlist" v-custom-model-for-checkboxes="'multiplechoiceVariable2'" init-value="[]" v-short-circuit="model.multiplechoiceVariable == sets.group.first" :id="getContextForID + 'multiplechoiceVariable2'">
					<header :id="getContextForID + 'sets.group-wrapper'" v-on:mouseover.stop="onHover('sets.group')">
						<h4 class="valuesGroupDescription">
							<span v-html="translationService.t('group')">
							</span>
						</h4>
					</header>
					<li :id="getContextForID + 'multiplechoiceVariable2-sets.group.first-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable2-sets.group.first','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable2-sets.group.first')">
						<input type="checkbox" value="sets.group.first" excludes="" :name="getContextForID + 'multiplechoiceVariable2'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable2', '', '') || (model.multiplechoiceVariable == sets.group.first) !== null" :id="getContextForID + 'multiplechoiceVariable2-sets.group.first'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable2-sets.group.first'">
							<span v-html="translationService.t('first')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'multiplechoiceVariable2-sets.group.second-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable2-sets.group.second','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable2-sets.group.second')">
						<input type="checkbox" value="sets.group.second" excludes="" :name="getContextForID + 'multiplechoiceVariable2'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable2', '', '') || (model.multiplechoiceVariable == sets.group.first) !== null" :id="getContextForID + 'multiplechoiceVariable2-sets.group.second'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable2-sets.group.second'">
							<span v-html="translationService.t('second')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'multiplechoiceVariable2-sets.group.third-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable2-sets.group.third','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable2-sets.group.third')">
						<input type="checkbox" value="sets.group.third" excludes="" :name="getContextForID + 'multiplechoiceVariable2'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable2', '', '') || (model.multiplechoiceVariable == sets.group.first) !== null" :id="getContextForID + 'multiplechoiceVariable2-sets.group.third'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable2-sets.group.third'">
							<span v-html="translationService.t('third')">
							</span>
						</label>
					</li>
				</ul>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'multiplechoiceVariable2'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>