<template>
  <div>
    <div>FullName {{ fullName }}</div>

    <div
      :id="id + '-wrapper'"
      v-if="loaded"
    >
      <label
        class="variableLabel"
        :for="id"
      > <span>Patologia</span> </label>
      <textarea
        :id="id"
        ref="textArea"
        @input.stop="onChange"
        @keydown.down.prevent="onArrowDown"
        @keydown.up.prevent="onArrowUp"
        @keydown.enter.prevent="onEnter"
        @focus="$nextTick(() => $event.target.select())"
        v-model="searchTerm"
        v-custom-model="fullName"
        placeholder="Cerca (ICD-9-CM)..."
      />
      <span
        id="counter"
        v-if="matches !== 0"
      >({{ matches }})</span>

      <ul
        v-if="foundIcd9cm.length"
        class="selectionList"
      >
        <li
          v-for="(icd9elem, i) in foundIcd9cm"
          :value="icd9elem.descrizione"
          :key="i"
          class="selectionElem"
          :class="{ 'is-active': i === arrowCounter }"
          @click="selectIcd9cm(icd9elem)"
        >
          {{ icd9elem.descrizione }}
        </li>
      </ul>
    </div>
    <div v-else>
      Sto caricando i codici ICD-9CM...
    </div>
  </div>
</template>

<script>
import icd9cm from './icd9cm.json';
import { ref, computed } from 'vue';
import CustomModelDirective from '../../src/directives/CustomModelDirective';
import { getContainer } from '@/ContainersConfig';
import { NamedBindings } from '@';

function pause(duration) {
  return new Promise((resolve) => setTimeout(resolve, duration));
}

export default {
  name: 'ICD9CM',
  data() {
    return {
      arrowCounter: -1,
      loaded: false,
    };
  },
  props: {
    context: {
      type: String,
      required: true,
    },
    fullName: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: true,
    },
  },
  directives: {
    CustomModel: new CustomModelDirective(),
  },
  methods: {
    onChange() {
      this.arrowCounter = -1;
    },
    onArrowDown() {
      if (this.arrowCounter < this.foundIcd9cm.length) {
        this.arrowCounter++;
      }
    },
    onArrowUp() {
      if (this.arrowCounter > 0) {
        this.arrowCounter--;
      }
    },
    onEnter() {
      this.selectIcd9cm(this.foundIcd9cm[this.arrowCounter]);
      this.arrowCounter = -1;
      foundIcd9cm = [];
    },
  },
  setup() {
    const textArea = ref('');
    const searchTerm = ref('');
    const selectedIcd9cm = ref('');
    let modified = false;
    const matches = ref(0);

    const foundIcd9cm = computed(() => {
      matches.value = 0;
      if (
        searchTerm.value === '' ||
        searchTerm.value == selectedIcd9cm.value ||
        searchTerm.value.trim() === ''
      ) {
        return [];
      }
      return icd9cm.filter((icd9elem) => {
        const elems = searchTerm.value.trim().toLowerCase().split(/ +/);
        const row = icd9elem.descrizione.toLowerCase();
        let found = true;
        elems.forEach((elem) => {
          if (!row.includes(elem)) {
            found = false;
          }
        });
        if (found) {
          matches.value++;
          modified = true;
          if (matches.value < 10) {
            return true;
          }
        }
        return false;
      });
    });

    const selectIcd9cm = (icd9elem) => {
      selectedIcd9cm.value = icd9elem.descrizione;
      modified = false;
      searchTerm.value = icd9elem.descrizione;
      foundIcd9cm.value = [];
      matches.value = 0;
      if (textArea.value) {
        textArea.value.value = icd9elem.descrizione;
        textArea.value.style.height = '5px';
        textArea.value.style.height = `${textArea.value.scrollHeight - 8}px`;
        textArea.value.select();
      }
    };

    return {
      icd9cm,
      matches,
      textArea,
      searchTerm,
      foundIcd9cm,
      selectIcd9cm,
      selectedIcd9cm,
    };
  },

  async beforeCreate() {
    const currentCaseService = getContainer(this.context).get(NamedBindings.CurrentCaseService);
    this.model = await currentCaseService.useCurrentContext().model;

    await pause(2);
    this.loaded = true;
  },
};
</script>

<style scoped>
textarea {
  resize: none;
  height: 1.5em;
}

.selectionElem.is-active {
  background-color: #4aae9b;
  color: white;
}

.selectionElem:hover {
  background-color: #d5dfdd;
}
</style>
