<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('timeVariable','','')" :id="getContextForID + 'timeVariable-wrapper'" v-on:mouseover.stop="onHover('timeVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'timeVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'timeVariable'">
					<span v-html="translationService.t('timeVariable')">
					</span>
				</label>
				<input type="time" v-custom-model="'timeVariable'" :disabled="!currentCaseService?.canWrite('timeVariable', '', '')" :id="getContextForID + 'timeVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'timeVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('timeVariable2','','')" :id="getContextForID + 'timeVariable2-wrapper'" v-on:mouseover.stop="onHover('timeVariable2')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'timeVariable2'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'timeVariable2'">
					<span v-html="translationService.t('timeVariable2')">
					</span>
				</label>
				<input type="time" v-short-circuit="model.timeVariable?.substring(0,2) + ':33'" v-custom-model="'timeVariable2'" :disabled="!currentCaseService?.canWrite('timeVariable2', '', '') || (model.timeVariable?.substring(0,2) + ':33') !== null" :id="getContextForID + 'timeVariable2'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'timeVariable2'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>