<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('timeVariable','','') && (x == 4)" v-reset-when-hidden="'timeVariable'" :id="getContextForID + 'timeVariable-wrapper'" v-on:mouseover.stop="onHover('timeVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'timeVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'timeVariable'">
					<span v-html="translationService.t('testLabel')">
					</span>
				</label>
				<input type="time" v-custom-model="'timeVariable'" :disabled="!currentCaseService?.canWrite('timeVariable', '', '')" :id="getContextForID + 'timeVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'timeVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>