<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div class="checkboxlist-wrapper" v-if="currentCaseService?.canRead('multiplechoiceVariable','','')" :id="getContextForID + 'multiplechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('multiplechoiceVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'multiplechoiceVariable'" :context="context" :container-type="containerType">
				</component>
				<span class="checkBoxDescription">
					<span v-html="translationService.t('multiplechoiceVariable')">
					</span>
				</span>
				<ul class="checkboxlist" v-custom-model-for-checkboxes="'multiplechoiceVariable'" init-value="[]" :id="getContextForID + 'multiplechoiceVariable'">
					<header :id="getContextForID + 'sets.group1-wrapper'" v-on:mouseover.stop="onHover('sets.group1')">
						<h4 class="valuesGroupDescription">
							<span v-html="translationService.t('group1')">
							</span>
						</h4>
					</header>
					<li :id="getContextForID + 'multiplechoiceVariable-sets.group1.a-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-sets.group1.a','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-sets.group1.a')">
						<input type="checkbox" value="sets.group1.a" excludes="group1.b,group2.a,group2.b," :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-sets.group1.a'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-sets.group1.a'">
							<span v-html="translationService.t('a')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'multiplechoiceVariable-sets.group1.b-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-sets.group1.b','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-sets.group1.b')">
						<input type="checkbox" value="sets.group1.b" excludes="group1.a," :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-sets.group1.b'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-sets.group1.b'">
							<span v-html="translationService.t('b')">
							</span>
						</label>
					</li>
					<header :id="getContextForID + 'sets.group2-wrapper'" v-on:mouseover.stop="onHover('sets.group2')">
						<h4 class="valuesGroupDescription">
							<span v-html="translationService.t('group2')">
							</span>
						</h4>
					</header>
					<li :id="getContextForID + 'multiplechoiceVariable-sets.group2.a-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-sets.group2.a','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-sets.group2.a')">
						<input type="checkbox" value="sets.group2.a" excludes="group1.a," :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-sets.group2.a'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-sets.group2.a'">
							<span v-html="translationService.t('a')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'multiplechoiceVariable-sets.group2.b-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-sets.group2.b','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-sets.group2.b')">
						<input type="checkbox" value="sets.group2.b" excludes="group1.a," :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-sets.group2.b'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-sets.group2.b'">
							<span v-html="translationService.t('b')">
							</span>
						</label>
					</li>
				</ul>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'multiplechoiceVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>