<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div class="checkboxlist-wrapper" v-if="currentCaseService?.canRead('multiplechoiceVariable','','')" :id="getContextForID + 'multiplechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('multiplechoiceVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'multiplechoiceVariable'" :context="context" :container-type="containerType">
				</component>
				<span class="checkBoxDescription">
					<span v-html="translationService.t('multiplechoiceVariable')">
					</span>
				</span>
				<ul class="checkboxlist" v-custom-model-for-checkboxes="'multiplechoiceVariable'" init-value="[]" :id="getContextForID + 'multiplechoiceVariable'">
					<li :id="getContextForID + 'multiplechoiceVariable-sets.first-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-sets.first','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-sets.first')">
						<input type="checkbox" value="sets.first" excludes="third," :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-sets.first'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-sets.first'">
							<span v-html="translationService.t('first')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'multiplechoiceVariable-sets.second-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-sets.second','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-sets.second')">
						<input type="checkbox" value="sets.second" excludes="third," :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-sets.second'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-sets.second'">
							<span v-html="translationService.t('second')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'multiplechoiceVariable-sets.third-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-sets.third','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-sets.third')">
						<input type="checkbox" value="sets.third" excludes="first,second," :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-sets.third'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-sets.third'">
							<span v-html="translationService.t('third')">
							</span>
						</label>
					</li>
				</ul>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'multiplechoiceVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>