<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model-for-sets="'mainSet'" init-value="[]" :disabled="!currentCaseService?.canWrite('mainSet', '', '')" :id="getContextForID + 'mainSet'" class="mainSet" v-if="currentCaseService?.canRead('mainSet','','')" v-on:mouseover.stop="onHover('mainSet')">
				<legend class="setDescription">
					<span v-html="translationService.t('Main Set')">
					</span>
				</legend>
				<setcomponent :full-name="'mainSet'" :this-object="thisObject" :this-index="null" :model="model">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<ul>
							<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'mainSet[' + index0 + ']'">
								<setitemcomponent :full-name="'mainSet[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<dataclassitemcomponent :full-name="'mainSet[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
											<template v-slot:default="{ thisSet, thisObject, thisIndex }">
												<section class="mainSetDataType">
													<div v-if="currentCaseService?.canRead('mainSet[' + index0 + '].textVariable','','')" :id="getContextForID + 'mainSet[' + index0 + '].textVariable-wrapper'" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].textVariable')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
														</component>
														<label class="variableLabel" :for="getContextForID + 'mainSet[' + index0 + '].textVariable'">
															<span v-html="translationService.t('Text Variable')">
															</span>
														</label>
														<input type="text" v-custom-model="'mainSet[' + index0 + '].textVariable'" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].textVariable', '', '')" :id="getContextForID + 'mainSet[' + index0 + '].textVariable'">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
														</component>
													</div>
													<div v-if="currentCaseService?.canRead('mainSet[' + index0 + '].numberVariable','','')" :id="getContextForID + 'mainSet[' + index0 + '].numberVariable-wrapper'" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].numberVariable')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].numberVariable'" :context="context" :container-type="containerType">
														</component>
														<label class="variableLabel" :for="getContextForID + 'mainSet[' + index0 + '].numberVariable'">
															<span v-html="translationService.t('Number Variable')">
															</span>
														</label>
														<input type="number" init-value="NaN" v-custom-model="'mainSet[' + index0 + '].numberVariable'" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].numberVariable', '', '')" :id="getContextForID + 'mainSet[' + index0 + '].numberVariable'">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].numberVariable'" :context="context" :container-type="containerType">
														</component>
													</div>
													<div v-if="currentCaseService?.canRead('mainSet[' + index0 + '].outputVariable','','')" :id="getContextForID + 'mainSet[' + index0 + '].outputVariable-wrapper'" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].outputVariable')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].outputVariable'" :context="context" :container-type="containerType">
														</component>
														<label class="variableLabel" :for="getContextForID + 'mainSet[' + index0 + '].outputVariable'">
															<span v-html="translationService.t('Output Variable')">
															</span>
														</label>
														<output required-for-status="false" v-short-circuit="model.textVariable" v-custom-model="'mainSet[' + index0 + '].outputVariable'" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].outputVariable', '', '') || (model.textVariable) !== null" :id="getContextForID + 'mainSet[' + index0 + '].outputVariable'">
														</output>
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].outputVariable'" :context="context" :container-type="containerType">
														</component>
													</div>
													<div v-if="currentCaseService?.canRead('mainSet[' + index0 + '].colorVariable','','')" :id="getContextForID + 'mainSet[' + index0 + '].colorVariable-wrapper'" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].colorVariable')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].colorVariable'" :context="context" :container-type="containerType">
														</component>
														<label class="variableLabel" :for="getContextForID + 'mainSet[' + index0 + '].colorVariable'">
															<span v-html="translationService.t('Color Variable')">
															</span>
														</label>
														<input type="color" v-custom-model="'mainSet[' + index0 + '].colorVariable'" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].colorVariable', '', '')" :id="getContextForID + 'mainSet[' + index0 + '].colorVariable'">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].colorVariable'" :context="context" :container-type="containerType">
														</component>
													</div>
													<div v-if="currentCaseService?.canRead('mainSet[' + index0 + '].dateVariable','','')" :id="getContextForID + 'mainSet[' + index0 + '].dateVariable-wrapper'" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].dateVariable')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].dateVariable'" :context="context" :container-type="containerType">
														</component>
														<label class="variableLabel" :for="getContextForID + 'mainSet[' + index0 + '].dateVariable'">
															<span v-html="translationService.t('Data Variable')">
															</span>
														</label>
														<input type="date" v-custom-model="'mainSet[' + index0 + '].dateVariable'" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].dateVariable', '', '')" :id="getContextForID + 'mainSet[' + index0 + '].dateVariable'">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].dateVariable'" :context="context" :container-type="containerType">
														</component>
													</div>
													<div v-if="currentCaseService?.canRead('mainSet[' + index0 + '].timeVariable','','')" :id="getContextForID + 'mainSet[' + index0 + '].timeVariable-wrapper'" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].timeVariable')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].timeVariable'" :context="context" :container-type="containerType">
														</component>
														<label class="variableLabel" :for="getContextForID + 'mainSet[' + index0 + '].timeVariable'">
															<span v-html="translationService.t('Time Variable')">
															</span>
														</label>
														<input type="time" v-custom-model="'mainSet[' + index0 + '].timeVariable'" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].timeVariable', '', '')" :id="getContextForID + 'mainSet[' + index0 + '].timeVariable'">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].timeVariable'" :context="context" :container-type="containerType">
														</component>
													</div>
													<div class="boolean-variable" v-if="currentCaseService?.canRead('mainSet[' + index0 + '].booleanVariable','','')" :id="getContextForID + 'mainSet[' + index0 + '].booleanVariable-wrapper'" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].booleanVariable')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].booleanVariable'" :context="context" :container-type="containerType">
														</component>
														<label class="variableLabel" :for="getContextForID + 'mainSet[' + index0 + '].booleanVariable'">
															<span v-html="translationService.t('Boolean Variable')">
															</span>
														</label>
														<input type="checkbox" init-value="false" v-custom-model-for-boolean="'mainSet[' + index0 + '].booleanVariable'" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].booleanVariable', '', '')" :id="getContextForID + 'mainSet[' + index0 + '].booleanVariable'">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].booleanVariable'" :context="context" :container-type="containerType">
														</component>
													</div>
													<div class="radiolist-wrapper" v-if="currentCaseService?.canRead('mainSet[' + index0 + '].singlechoiceVariable','','')" :id="getContextForID + 'mainSet[' + index0 + '].singlechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].singlechoiceVariable')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].singlechoiceVariable'" :context="context" :container-type="containerType">
														</component>
														<span class="radioDescription">
															<span v-html="translationService.t('Si No')">
															</span>
														</span>
														<ul class="radiolist" v-custom-model-for-singlechoice="'mainSet[' + index0 + '].singlechoiceVariable'" :id="getContextForID + 'mainSet[' + index0 + '].singlechoiceVariable'">
															<li :id="getContextForID + 'mainSet[' + index0 + '].singlechoiceVariable-siNoValuesSet.si-wrapper'" v-if="currentCaseService?.canRead('mainSet[' + index0 + '].singlechoiceVariable-siNoValuesSet.si','','')" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].singlechoiceVariable-siNoValuesSet.si')">
																<input type="radio" value="siNoValuesSet.si" :name="getContextForID + 'mainSet[' + index0 + '].singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].singlechoiceVariable', '', '')" :id="getContextForID + 'mainSet[' + index0 + '].singlechoiceVariable-siNoValuesSet.si'" my-label="si">
																<label class="valueLabel" :for="getContextForID + 'mainSet[' + index0 + '].singlechoiceVariable-siNoValuesSet.si'">
																	<span v-html="translationService.t('si')">
																	</span>
																</label>
															</li>
															<li :id="getContextForID + 'mainSet[' + index0 + '].singlechoiceVariable-siNoValuesSet.no-wrapper'" v-if="currentCaseService?.canRead('mainSet[' + index0 + '].singlechoiceVariable-siNoValuesSet.no','','')" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].singlechoiceVariable-siNoValuesSet.no')">
																<input type="radio" value="siNoValuesSet.no" :name="getContextForID + 'mainSet[' + index0 + '].singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].singlechoiceVariable', '', '')" :id="getContextForID + 'mainSet[' + index0 + '].singlechoiceVariable-siNoValuesSet.no'" my-label="no">
																<label class="valueLabel" :for="getContextForID + 'mainSet[' + index0 + '].singlechoiceVariable-siNoValuesSet.no'">
																	<span v-html="translationService.t('no')">
																	</span>
																</label>
															</li>
														</ul>
														<button class="variable-reset" type="button" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].singlechoiceVariable', '', '')" v-on:click.stop="resetRadioButton('mainSet[' + index0 + '].singlechoiceVariable')">
															<span v-html="translationService.t('Reset')">
															</span>
														</button>
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].singlechoiceVariable'" :context="context" :container-type="containerType">
														</component>
													</div>
													<div class="checkboxlist-wrapper" v-if="currentCaseService?.canRead('mainSet[' + index0 + '].multiplechoiceVariable','','')" :id="getContextForID + 'mainSet[' + index0 + '].multiplechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].multiplechoiceVariable')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].multiplechoiceVariable'" :context="context" :container-type="containerType">
														</component>
														<span class="checkBoxDescription">
															<span v-html="translationService.t('Banana Kiwi')">
															</span>
														</span>
														<ul class="checkboxlist" v-custom-model-for-checkboxes="'mainSet[' + index0 + '].multiplechoiceVariable'" init-value="[]" :id="getContextForID + 'mainSet[' + index0 + '].multiplechoiceVariable'">
															<li :id="getContextForID + 'mainSet[' + index0 + '].multiplechoiceVariable-bananaKiwiValuesSet.banana-wrapper'" v-if="currentCaseService?.canRead('mainSet[' + index0 + '].multiplechoiceVariable-bananaKiwiValuesSet.banana','','')" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].multiplechoiceVariable-bananaKiwiValuesSet.banana')">
																<input type="checkbox" value="bananaKiwiValuesSet.banana" excludes="" :name="getContextForID + 'mainSet[' + index0 + '].multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].multiplechoiceVariable', '', '')" :id="getContextForID + 'mainSet[' + index0 + '].multiplechoiceVariable-bananaKiwiValuesSet.banana'" my-label="banana">
																<label class="valueLabel" :for="getContextForID + 'mainSet[' + index0 + '].multiplechoiceVariable-bananaKiwiValuesSet.banana'">
																	<span v-html="translationService.t('banana')">
																	</span>
																</label>
															</li>
															<li :id="getContextForID + 'mainSet[' + index0 + '].multiplechoiceVariable-bananaKiwiValuesSet.kiwi-wrapper'" v-if="currentCaseService?.canRead('mainSet[' + index0 + '].multiplechoiceVariable-bananaKiwiValuesSet.kiwi','','')" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].multiplechoiceVariable-bananaKiwiValuesSet.kiwi')">
																<input type="checkbox" value="bananaKiwiValuesSet.kiwi" excludes="" :name="getContextForID + 'mainSet[' + index0 + '].multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].multiplechoiceVariable', '', '')" :id="getContextForID + 'mainSet[' + index0 + '].multiplechoiceVariable-bananaKiwiValuesSet.kiwi'" my-label="kiwi">
																<label class="valueLabel" :for="getContextForID + 'mainSet[' + index0 + '].multiplechoiceVariable-bananaKiwiValuesSet.kiwi'">
																	<span v-html="translationService.t('kiwi')">
																	</span>
																</label>
															</li>
														</ul>
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].multiplechoiceVariable'" :context="context" :container-type="containerType">
														</component>
													</div>
													<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].dcInstance'" :context="context" :container-type="containerType">
													</component>
													<fieldset v-custom-model="'mainSet[' + index0 + '].dcInstance'" v-if="currentCaseService?.canRead('mainSet[' + index0 + '].dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'mainSet[' + index0 + '].dcInstance'" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].dcInstance', '', '')" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].dcInstance')">
														<legend class="groupDescription">
															<span v-html="translationService.t('dcInstance')">
															</span>
														</legend>
														<dataclassitemcomponent :full-name="'mainSet[' + index0 + '].dcInstance'" :this-index="index0" :model="model" :this-set="thisSet">
															<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																<section class="exampleDC">
																	<div v-if="currentCaseService?.canRead('mainSet[' + index0 + '].dcInstance.textInsideDC','','')" :id="getContextForID + 'mainSet[' + index0 + '].dcInstance.textInsideDC-wrapper'" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].dcInstance.textInsideDC')">
																		<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].dcInstance.textInsideDC'" :context="context" :container-type="containerType">
																		</component>
																		<label class="variableLabel" :for="getContextForID + 'mainSet[' + index0 + '].dcInstance.textInsideDC'">
																			<span v-html="translationService.t('Text Inside DC')">
																			</span>
																		</label>
																		<input type="text" v-custom-model="'mainSet[' + index0 + '].dcInstance.textInsideDC'" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].dcInstance.textInsideDC', '', '')" :id="getContextForID + 'mainSet[' + index0 + '].dcInstance.textInsideDC'">
																		<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].dcInstance.textInsideDC'" :context="context" :container-type="containerType">
																		</component>
																	</div>
																</section>
															</template>
														</dataclassitemcomponent>
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].dcInstance'" :context="context" :container-type="containerType">
														</component>
													</fieldset>
													<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].groupVariable'" :context="context" :container-type="containerType">
													</component>
													<fieldset v-custom-model="'mainSet[' + index0 + '].groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].groupVariable', '', '')" :id="getContextForID + 'mainSet[' + index0 + '].groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('mainSet[' + index0 + '].groupVariable','','')" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].groupVariable')">
														<legend class="groupDescription">
															<span v-html="translationService.t('Group Variable')">
															</span>
														</legend>
														<div>
															<div v-if="currentCaseService?.canRead('mainSet[' + index0 + '].groupVariable.textInsideGroup','','')" :id="getContextForID + 'mainSet[' + index0 + '].groupVariable.textInsideGroup-wrapper'" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].groupVariable.textInsideGroup')">
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].groupVariable.textInsideGroup'" :context="context" :container-type="containerType">
																</component>
																<label class="variableLabel" :for="getContextForID + 'mainSet[' + index0 + '].groupVariable.textInsideGroup'">
																	<span v-html="translationService.t('Text Inside Group')">
																	</span>
																</label>
																<input type="text" v-custom-model="'mainSet[' + index0 + '].groupVariable.textInsideGroup'" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].groupVariable.textInsideGroup', '', '')" :id="getContextForID + 'mainSet[' + index0 + '].groupVariable.textInsideGroup'">
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].groupVariable.textInsideGroup'" :context="context" :container-type="containerType">
																</component>
															</div>
														</div>
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].groupVariable'" :context="context" :container-type="containerType">
														</component>
													</fieldset>
													<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].setVariable'" :context="context" :container-type="containerType">
													</component>
													<fieldset v-custom-model-for-sets="'mainSet[' + index0 + '].setVariable'" init-value="[]" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].setVariable', '', '')" :id="getContextForID + 'mainSet[' + index0 + '].setVariable'" class="setVariable" v-if="currentCaseService?.canRead('mainSet[' + index0 + '].setVariable','','')" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].setVariable')">
														<legend class="setDescription">
															<span v-html="translationService.t('set')">
															</span>
														</legend>
														<setcomponent :full-name="'mainSet[' + index0 + '].setVariable'" :this-object="thisObject" :this-index="index0" :model="model">
															<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																<ul>
																	<li v-for="(childElement, index1) in thisSet" :key="childElement.guid" :id="getContextForID + 'mainSet[' + index0 + '].setVariable[' + index1 + ']'">
																		<setitemcomponent :full-name="'mainSet[' + index0 + '].setVariable[' + index1 + ']'" :this-set="thisSet" :this-index="index1" :model="model" :key="index1">
																			<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																				<dataclassitemcomponent :full-name="'mainSet[' + index0 + '].setVariable[' + index1 + ']'" :this-index="index1" :model="model" :this-set="thisSet">
																					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																						<section class="setDataType">
																							<div v-if="currentCaseService?.canRead('mainSet[' + index0 + '].setVariable[' + index1 + '].textInsideSet','','')" :id="getContextForID + 'mainSet[' + index0 + '].setVariable[' + index1 + '].textInsideSet-wrapper'" v-on:mouseover.stop="onHover('mainSet[' + index0 + '].setVariable[' + index1 + '].textInsideSet')">
																								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].setVariable[' + index1 + '].textInsideSet'" :context="context" :container-type="containerType">
																								</component>
																								<label class="variableLabel" :for="getContextForID + 'mainSet[' + index0 + '].setVariable[' + index1 + '].textInsideSet'">
																									<span v-html="translationService.t('Text Inside Set')">
																									</span>
																								</label>
																								<input type="text" v-custom-model="'mainSet[' + index0 + '].setVariable[' + index1 + '].textInsideSet'" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].setVariable[' + index1 + '].textInsideSet', '', '')" :id="getContextForID + 'mainSet[' + index0 + '].setVariable[' + index1 + '].textInsideSet'">
																								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].setVariable[' + index1 + '].textInsideSet'" :context="context" :container-type="containerType">
																								</component>
																							</div>
																						</section>
																					</template>
																				</dataclassitemcomponent>
																				<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index1)" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + '].setVariable[' + index1 + ']', '', '')">
																					<span v-html="translationService.t('Remove this setVariable')">
																					</span>
																				</button>
																			</template>
																		</setitemcomponent>
																	</li>
																</ul>
																<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet)">
																	<span v-html="translationService.t('Add setDataType')">
																	</span>
																</button>
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet[' + index0 + '].setVariable'" :context="context" :container-type="containerType">
																</component>
															</template>
														</setcomponent>
													</fieldset>
													<suspense>
														<comuni v-if="currentCaseService?.canRead('mainSet[' + index0 + '].pluginVariable','','')" :context="context" :container-type="containerType" :model="model" :id="getContextForID + 'mainSet[' + index0 + '].pluginVariable'" :full-name="'mainSet[' + index0 + '].pluginVariable'">
														</comuni>
													</suspense>
												</section>
											</template>
										</dataclassitemcomponent>
										<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index0)" :disabled="!currentCaseService?.canWrite('mainSet[' + index0 + ']', '', '')">
											<span v-html="translationService.t('Remove this mainSet')">
											</span>
										</button>
									</template>
								</setitemcomponent>
							</li>
						</ul>
						<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet)">
							<span v-html="translationService.t('Add mainSetDataType')">
							</span>
						</button>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainSet'" :context="context" :container-type="containerType">
						</component>
					</template>
				</setcomponent>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>