<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'mainDcInstance'" v-if="currentCaseService?.canRead('mainDcInstance','','')" init-value="({})" class="mainDcInstance" :id="getContextForID + 'mainDcInstance'" :disabled="!currentCaseService?.canWrite('mainDcInstance', '', '')" v-on:mouseover.stop="onHover('mainDcInstance')">
				<legend class="groupDescription">
					<span v-html="translationService.t('Main DC')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'mainDcInstance'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<section class="mainDc">
							<div v-if="currentCaseService?.canRead('mainDcInstance.textVariable','','')" :id="getContextForID + 'mainDcInstance.textVariable-wrapper'" v-on:mouseover.stop="onHover('mainDcInstance.textVariable')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.textVariable'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'mainDcInstance.textVariable'">
									<span v-html="translationService.t('Text Variable')">
									</span>
								</label>
								<input type="text" v-custom-model="'mainDcInstance.textVariable'" :disabled="!currentCaseService?.canWrite('mainDcInstance.textVariable', '', '')" :id="getContextForID + 'mainDcInstance.textVariable'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.textVariable'" :context="context" :container-type="containerType">
								</component>
							</div>
							<div v-if="currentCaseService?.canRead('mainDcInstance.numberVariable','','')" :id="getContextForID + 'mainDcInstance.numberVariable-wrapper'" v-on:mouseover.stop="onHover('mainDcInstance.numberVariable')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.numberVariable'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'mainDcInstance.numberVariable'">
									<span v-html="translationService.t('Number Variable')">
									</span>
								</label>
								<input type="number" init-value="NaN" v-custom-model="'mainDcInstance.numberVariable'" :disabled="!currentCaseService?.canWrite('mainDcInstance.numberVariable', '', '')" :id="getContextForID + 'mainDcInstance.numberVariable'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.numberVariable'" :context="context" :container-type="containerType">
								</component>
							</div>
							<div v-if="currentCaseService?.canRead('mainDcInstance.outputVariable','','')" :id="getContextForID + 'mainDcInstance.outputVariable-wrapper'" v-on:mouseover.stop="onHover('mainDcInstance.outputVariable')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.outputVariable'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'mainDcInstance.outputVariable'">
									<span v-html="translationService.t('Output Variable')">
									</span>
								</label>
								<output required-for-status="false" v-short-circuit="model.textVariable" v-custom-model="'mainDcInstance.outputVariable'" :disabled="!currentCaseService?.canWrite('mainDcInstance.outputVariable', '', '') || (model.textVariable) !== null" :id="getContextForID + 'mainDcInstance.outputVariable'">
								</output>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.outputVariable'" :context="context" :container-type="containerType">
								</component>
							</div>
							<div v-if="currentCaseService?.canRead('mainDcInstance.colorVariable','','')" :id="getContextForID + 'mainDcInstance.colorVariable-wrapper'" v-on:mouseover.stop="onHover('mainDcInstance.colorVariable')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.colorVariable'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'mainDcInstance.colorVariable'">
									<span v-html="translationService.t('Color Variable')">
									</span>
								</label>
								<input type="color" v-custom-model="'mainDcInstance.colorVariable'" :disabled="!currentCaseService?.canWrite('mainDcInstance.colorVariable', '', '')" :id="getContextForID + 'mainDcInstance.colorVariable'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.colorVariable'" :context="context" :container-type="containerType">
								</component>
							</div>
							<div v-if="currentCaseService?.canRead('mainDcInstance.dateVariable','','')" :id="getContextForID + 'mainDcInstance.dateVariable-wrapper'" v-on:mouseover.stop="onHover('mainDcInstance.dateVariable')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.dateVariable'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'mainDcInstance.dateVariable'">
									<span v-html="translationService.t('Data Variable')">
									</span>
								</label>
								<input type="date" v-custom-model="'mainDcInstance.dateVariable'" :disabled="!currentCaseService?.canWrite('mainDcInstance.dateVariable', '', '')" :id="getContextForID + 'mainDcInstance.dateVariable'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.dateVariable'" :context="context" :container-type="containerType">
								</component>
							</div>
							<div v-if="currentCaseService?.canRead('mainDcInstance.timeVariable','','')" :id="getContextForID + 'mainDcInstance.timeVariable-wrapper'" v-on:mouseover.stop="onHover('mainDcInstance.timeVariable')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.timeVariable'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'mainDcInstance.timeVariable'">
									<span v-html="translationService.t('Time Variable')">
									</span>
								</label>
								<input type="time" v-custom-model="'mainDcInstance.timeVariable'" :disabled="!currentCaseService?.canWrite('mainDcInstance.timeVariable', '', '')" :id="getContextForID + 'mainDcInstance.timeVariable'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.timeVariable'" :context="context" :container-type="containerType">
								</component>
							</div>
							<div class="boolean-variable" v-if="currentCaseService?.canRead('mainDcInstance.booleanVariable','','')" :id="getContextForID + 'mainDcInstance.booleanVariable-wrapper'" v-on:mouseover.stop="onHover('mainDcInstance.booleanVariable')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.booleanVariable'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'mainDcInstance.booleanVariable'">
									<span v-html="translationService.t('Boolean Variable')">
									</span>
								</label>
								<input type="checkbox" init-value="false" v-custom-model-for-boolean="'mainDcInstance.booleanVariable'" :disabled="!currentCaseService?.canWrite('mainDcInstance.booleanVariable', '', '')" :id="getContextForID + 'mainDcInstance.booleanVariable'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.booleanVariable'" :context="context" :container-type="containerType">
								</component>
							</div>
							<div class="radiolist-wrapper" v-if="currentCaseService?.canRead('mainDcInstance.singlechoiceVariable','','')" :id="getContextForID + 'mainDcInstance.singlechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('mainDcInstance.singlechoiceVariable')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.singlechoiceVariable'" :context="context" :container-type="containerType">
								</component>
								<span class="radioDescription">
									<span v-html="translationService.t('Si No')">
									</span>
								</span>
								<ul class="radiolist" v-custom-model-for-singlechoice="'mainDcInstance.singlechoiceVariable'" :id="getContextForID + 'mainDcInstance.singlechoiceVariable'">
									<li :id="getContextForID + 'mainDcInstance.singlechoiceVariable-siNoValuesSet.si-wrapper'" v-if="currentCaseService?.canRead('mainDcInstance.singlechoiceVariable-siNoValuesSet.si','','')" v-on:mouseover.stop="onHover('mainDcInstance.singlechoiceVariable-siNoValuesSet.si')">
										<input type="radio" value="siNoValuesSet.si" :name="getContextForID + 'mainDcInstance.singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('mainDcInstance.singlechoiceVariable', '', '')" :id="getContextForID + 'mainDcInstance.singlechoiceVariable-siNoValuesSet.si'" my-label="si">
										<label class="valueLabel" :for="getContextForID + 'mainDcInstance.singlechoiceVariable-siNoValuesSet.si'">
											<span v-html="translationService.t('si')">
											</span>
										</label>
									</li>
									<li :id="getContextForID + 'mainDcInstance.singlechoiceVariable-siNoValuesSet.no-wrapper'" v-if="currentCaseService?.canRead('mainDcInstance.singlechoiceVariable-siNoValuesSet.no','','')" v-on:mouseover.stop="onHover('mainDcInstance.singlechoiceVariable-siNoValuesSet.no')">
										<input type="radio" value="siNoValuesSet.no" :name="getContextForID + 'mainDcInstance.singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('mainDcInstance.singlechoiceVariable', '', '')" :id="getContextForID + 'mainDcInstance.singlechoiceVariable-siNoValuesSet.no'" my-label="no">
										<label class="valueLabel" :for="getContextForID + 'mainDcInstance.singlechoiceVariable-siNoValuesSet.no'">
											<span v-html="translationService.t('no')">
											</span>
										</label>
									</li>
								</ul>
								<button class="variable-reset" type="button" :disabled="!currentCaseService?.canWrite('mainDcInstance.singlechoiceVariable', '', '')" v-on:click.stop="resetRadioButton('mainDcInstance.singlechoiceVariable')">
									<span v-html="translationService.t('Reset')">
									</span>
								</button>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.singlechoiceVariable'" :context="context" :container-type="containerType">
								</component>
							</div>
							<div class="checkboxlist-wrapper" v-if="currentCaseService?.canRead('mainDcInstance.multiplechoiceVariable','','')" :id="getContextForID + 'mainDcInstance.multiplechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('mainDcInstance.multiplechoiceVariable')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.multiplechoiceVariable'" :context="context" :container-type="containerType">
								</component>
								<span class="checkBoxDescription">
									<span v-html="translationService.t('Banana Kiwi')">
									</span>
								</span>
								<ul class="checkboxlist" v-custom-model-for-checkboxes="'mainDcInstance.multiplechoiceVariable'" init-value="[]" :id="getContextForID + 'mainDcInstance.multiplechoiceVariable'">
									<li :id="getContextForID + 'mainDcInstance.multiplechoiceVariable-bananaKiwiValuesSet.banana-wrapper'" v-if="currentCaseService?.canRead('mainDcInstance.multiplechoiceVariable-bananaKiwiValuesSet.banana','','')" v-on:mouseover.stop="onHover('mainDcInstance.multiplechoiceVariable-bananaKiwiValuesSet.banana')">
										<input type="checkbox" value="bananaKiwiValuesSet.banana" excludes="" :name="getContextForID + 'mainDcInstance.multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('mainDcInstance.multiplechoiceVariable', '', '')" :id="getContextForID + 'mainDcInstance.multiplechoiceVariable-bananaKiwiValuesSet.banana'" my-label="banana">
										<label class="valueLabel" :for="getContextForID + 'mainDcInstance.multiplechoiceVariable-bananaKiwiValuesSet.banana'">
											<span v-html="translationService.t('banana')">
											</span>
										</label>
									</li>
									<li :id="getContextForID + 'mainDcInstance.multiplechoiceVariable-bananaKiwiValuesSet.kiwi-wrapper'" v-if="currentCaseService?.canRead('mainDcInstance.multiplechoiceVariable-bananaKiwiValuesSet.kiwi','','')" v-on:mouseover.stop="onHover('mainDcInstance.multiplechoiceVariable-bananaKiwiValuesSet.kiwi')">
										<input type="checkbox" value="bananaKiwiValuesSet.kiwi" excludes="" :name="getContextForID + 'mainDcInstance.multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('mainDcInstance.multiplechoiceVariable', '', '')" :id="getContextForID + 'mainDcInstance.multiplechoiceVariable-bananaKiwiValuesSet.kiwi'" my-label="kiwi">
										<label class="valueLabel" :for="getContextForID + 'mainDcInstance.multiplechoiceVariable-bananaKiwiValuesSet.kiwi'">
											<span v-html="translationService.t('kiwi')">
											</span>
										</label>
									</li>
								</ul>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.multiplechoiceVariable'" :context="context" :container-type="containerType">
								</component>
							</div>
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'mainDcInstance.dcInstance'" v-if="currentCaseService?.canRead('mainDcInstance.dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'mainDcInstance.dcInstance'" :disabled="!currentCaseService?.canWrite('mainDcInstance.dcInstance', '', '')" v-on:mouseover.stop="onHover('mainDcInstance.dcInstance')">
								<legend class="groupDescription">
									<span v-html="translationService.t('dcInstance')">
									</span>
								</legend>
								<dataclassitemcomponent :full-name="'mainDcInstance.dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<section class="exampleDC">
											<div v-if="currentCaseService?.canRead('mainDcInstance.dcInstance.textInsideDC','','')" :id="getContextForID + 'mainDcInstance.dcInstance.textInsideDC-wrapper'" v-on:mouseover.stop="onHover('mainDcInstance.dcInstance.textInsideDC')">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance.textInsideDC'" :context="context" :container-type="containerType">
												</component>
												<label class="variableLabel" :for="getContextForID + 'mainDcInstance.dcInstance.textInsideDC'">
													<span v-html="translationService.t('Text Inside DC')">
													</span>
												</label>
												<input type="text" v-custom-model="'mainDcInstance.dcInstance.textInsideDC'" :disabled="!currentCaseService?.canWrite('mainDcInstance.dcInstance.textInsideDC', '', '')" :id="getContextForID + 'mainDcInstance.dcInstance.textInsideDC'">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance.textInsideDC'" :context="context" :container-type="containerType">
												</component>
											</div>
										</section>
									</template>
								</dataclassitemcomponent>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.groupVariable'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'mainDcInstance.groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('mainDcInstance.groupVariable', '', '')" :id="getContextForID + 'mainDcInstance.groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('mainDcInstance.groupVariable','','')" v-on:mouseover.stop="onHover('mainDcInstance.groupVariable')">
								<legend class="groupDescription">
									<span v-html="translationService.t('Group Variable')">
									</span>
								</legend>
								<div>
									<div v-if="currentCaseService?.canRead('mainDcInstance.groupVariable.textInsideGroup','','')" :id="getContextForID + 'mainDcInstance.groupVariable.textInsideGroup-wrapper'" v-on:mouseover.stop="onHover('mainDcInstance.groupVariable.textInsideGroup')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.groupVariable.textInsideGroup'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'mainDcInstance.groupVariable.textInsideGroup'">
											<span v-html="translationService.t('Text Inside Group')">
											</span>
										</label>
										<input type="text" v-custom-model="'mainDcInstance.groupVariable.textInsideGroup'" :disabled="!currentCaseService?.canWrite('mainDcInstance.groupVariable.textInsideGroup', '', '')" :id="getContextForID + 'mainDcInstance.groupVariable.textInsideGroup'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.groupVariable.textInsideGroup'" :context="context" :container-type="containerType">
										</component>
									</div>
								</div>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.groupVariable'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.setVariable'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model-for-sets="'mainDcInstance.setVariable'" init-value="[]" :disabled="!currentCaseService?.canWrite('mainDcInstance.setVariable', '', '')" :id="getContextForID + 'mainDcInstance.setVariable'" class="setVariable" v-if="currentCaseService?.canRead('mainDcInstance.setVariable','','')" v-on:mouseover.stop="onHover('mainDcInstance.setVariable')">
								<legend class="setDescription">
									<span v-html="translationService.t('set')">
									</span>
								</legend>
								<setcomponent :full-name="'mainDcInstance.setVariable'" :this-object="thisObject" :this-index="null" :model="model">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<ul>
											<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'mainDcInstance.setVariable[' + index0 + ']'">
												<setitemcomponent :full-name="'mainDcInstance.setVariable[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
													<template v-slot:default="{ thisSet, thisObject, thisIndex }">
														<dataclassitemcomponent :full-name="'mainDcInstance.setVariable[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
															<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																<section class="setDataType">
																	<div v-if="currentCaseService?.canRead('mainDcInstance.setVariable[' + index0 + '].textInsideSet','','')" :id="getContextForID + 'mainDcInstance.setVariable[' + index0 + '].textInsideSet-wrapper'" v-on:mouseover.stop="onHover('mainDcInstance.setVariable[' + index0 + '].textInsideSet')">
																		<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.setVariable[' + index0 + '].textInsideSet'" :context="context" :container-type="containerType">
																		</component>
																		<label class="variableLabel" :for="getContextForID + 'mainDcInstance.setVariable[' + index0 + '].textInsideSet'">
																			<span v-html="translationService.t('Text Inside Set')">
																			</span>
																		</label>
																		<input type="text" v-custom-model="'mainDcInstance.setVariable[' + index0 + '].textInsideSet'" :disabled="!currentCaseService?.canWrite('mainDcInstance.setVariable[' + index0 + '].textInsideSet', '', '')" :id="getContextForID + 'mainDcInstance.setVariable[' + index0 + '].textInsideSet'">
																		<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.setVariable[' + index0 + '].textInsideSet'" :context="context" :container-type="containerType">
																		</component>
																	</div>
																</section>
															</template>
														</dataclassitemcomponent>
														<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index0)" :disabled="!currentCaseService?.canWrite('mainDcInstance.setVariable[' + index0 + ']', '', '')">
															<span v-html="translationService.t('Remove this setVariable')">
															</span>
														</button>
													</template>
												</setitemcomponent>
											</li>
										</ul>
										<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet)">
											<span v-html="translationService.t('Add setDataType')">
											</span>
										</button>
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.setVariable'" :context="context" :container-type="containerType">
										</component>
									</template>
								</setcomponent>
							</fieldset>
							<suspense>
								<comuni v-if="currentCaseService?.canRead('mainDcInstance.pluginVariable','','')" :context="context" :container-type="containerType" :model="model" :id="getContextForID + 'mainDcInstance.pluginVariable'" :full-name="'mainDcInstance.pluginVariable'">
								</comuni>
							</suspense>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>