<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'mainGroup'" init-value="({})" :disabled="!currentCaseService?.canWrite('mainGroup', '', '')" :id="getContextForID + 'mainGroup'" class="mainGroup" v-if="currentCaseService?.canRead('mainGroup','','')" v-on:mouseover.stop="onHover('mainGroup')">
				<legend class="groupDescription">
					<span v-html="translationService.t('Main Group')">
					</span>
				</legend>
				<div>
					<div v-if="currentCaseService?.canRead('mainGroup.textVariable','','')" :id="getContextForID + 'mainGroup.textVariable-wrapper'" v-on:mouseover.stop="onHover('mainGroup.textVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.textVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'mainGroup.textVariable'">
							<span v-html="translationService.t('Text Variable')">
							</span>
						</label>
						<input type="text" v-custom-model="'mainGroup.textVariable'" :disabled="!currentCaseService?.canWrite('mainGroup.textVariable', '', '')" :id="getContextForID + 'mainGroup.textVariable'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.textVariable'" :context="context" :container-type="containerType">
						</component>
					</div>
					<div v-if="currentCaseService?.canRead('mainGroup.numberVariable','','')" :id="getContextForID + 'mainGroup.numberVariable-wrapper'" v-on:mouseover.stop="onHover('mainGroup.numberVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.numberVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'mainGroup.numberVariable'">
							<span v-html="translationService.t('Number Variable')">
							</span>
						</label>
						<input type="number" init-value="NaN" v-custom-model="'mainGroup.numberVariable'" :disabled="!currentCaseService?.canWrite('mainGroup.numberVariable', '', '')" :id="getContextForID + 'mainGroup.numberVariable'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.numberVariable'" :context="context" :container-type="containerType">
						</component>
					</div>
					<div v-if="currentCaseService?.canRead('mainGroup.outputVariable','','')" :id="getContextForID + 'mainGroup.outputVariable-wrapper'" v-on:mouseover.stop="onHover('mainGroup.outputVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.outputVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'mainGroup.outputVariable'">
							<span v-html="translationService.t('Output Variable')">
							</span>
						</label>
						<output required-for-status="false" v-short-circuit="model.textVariable" v-custom-model="'mainGroup.outputVariable'" :disabled="!currentCaseService?.canWrite('mainGroup.outputVariable', '', '') || (model.textVariable) !== null" :id="getContextForID + 'mainGroup.outputVariable'">
						</output>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.outputVariable'" :context="context" :container-type="containerType">
						</component>
					</div>
					<div v-if="currentCaseService?.canRead('mainGroup.colorVariable','','')" :id="getContextForID + 'mainGroup.colorVariable-wrapper'" v-on:mouseover.stop="onHover('mainGroup.colorVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.colorVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'mainGroup.colorVariable'">
							<span v-html="translationService.t('Color Variable')">
							</span>
						</label>
						<input type="color" v-custom-model="'mainGroup.colorVariable'" :disabled="!currentCaseService?.canWrite('mainGroup.colorVariable', '', '')" :id="getContextForID + 'mainGroup.colorVariable'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.colorVariable'" :context="context" :container-type="containerType">
						</component>
					</div>
					<div v-if="currentCaseService?.canRead('mainGroup.dateVariable','','')" :id="getContextForID + 'mainGroup.dateVariable-wrapper'" v-on:mouseover.stop="onHover('mainGroup.dateVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.dateVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'mainGroup.dateVariable'">
							<span v-html="translationService.t('Data Variable')">
							</span>
						</label>
						<input type="date" v-custom-model="'mainGroup.dateVariable'" :disabled="!currentCaseService?.canWrite('mainGroup.dateVariable', '', '')" :id="getContextForID + 'mainGroup.dateVariable'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.dateVariable'" :context="context" :container-type="containerType">
						</component>
					</div>
					<div v-if="currentCaseService?.canRead('mainGroup.timeVariable','','')" :id="getContextForID + 'mainGroup.timeVariable-wrapper'" v-on:mouseover.stop="onHover('mainGroup.timeVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.timeVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'mainGroup.timeVariable'">
							<span v-html="translationService.t('Time Variable')">
							</span>
						</label>
						<input type="time" v-custom-model="'mainGroup.timeVariable'" :disabled="!currentCaseService?.canWrite('mainGroup.timeVariable', '', '')" :id="getContextForID + 'mainGroup.timeVariable'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.timeVariable'" :context="context" :container-type="containerType">
						</component>
					</div>
					<div class="boolean-variable" v-if="currentCaseService?.canRead('mainGroup.booleanVariable','','')" :id="getContextForID + 'mainGroup.booleanVariable-wrapper'" v-on:mouseover.stop="onHover('mainGroup.booleanVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.booleanVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'mainGroup.booleanVariable'">
							<span v-html="translationService.t('Boolean Variable')">
							</span>
						</label>
						<input type="checkbox" init-value="false" v-custom-model-for-boolean="'mainGroup.booleanVariable'" :disabled="!currentCaseService?.canWrite('mainGroup.booleanVariable', '', '')" :id="getContextForID + 'mainGroup.booleanVariable'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.booleanVariable'" :context="context" :container-type="containerType">
						</component>
					</div>
					<div class="radiolist-wrapper" v-if="currentCaseService?.canRead('mainGroup.singlechoiceVariable','','')" :id="getContextForID + 'mainGroup.singlechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('mainGroup.singlechoiceVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.singlechoiceVariable'" :context="context" :container-type="containerType">
						</component>
						<span class="radioDescription">
							<span v-html="translationService.t('Si No')">
							</span>
						</span>
						<ul class="radiolist" v-custom-model-for-singlechoice="'mainGroup.singlechoiceVariable'" :id="getContextForID + 'mainGroup.singlechoiceVariable'">
							<li :id="getContextForID + 'mainGroup.singlechoiceVariable-siNoValuesSet.si-wrapper'" v-if="currentCaseService?.canRead('mainGroup.singlechoiceVariable-siNoValuesSet.si','','')" v-on:mouseover.stop="onHover('mainGroup.singlechoiceVariable-siNoValuesSet.si')">
								<input type="radio" value="siNoValuesSet.si" :name="getContextForID + 'mainGroup.singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('mainGroup.singlechoiceVariable', '', '')" :id="getContextForID + 'mainGroup.singlechoiceVariable-siNoValuesSet.si'" my-label="si">
								<label class="valueLabel" :for="getContextForID + 'mainGroup.singlechoiceVariable-siNoValuesSet.si'">
									<span v-html="translationService.t('si')">
									</span>
								</label>
							</li>
							<li :id="getContextForID + 'mainGroup.singlechoiceVariable-siNoValuesSet.no-wrapper'" v-if="currentCaseService?.canRead('mainGroup.singlechoiceVariable-siNoValuesSet.no','','')" v-on:mouseover.stop="onHover('mainGroup.singlechoiceVariable-siNoValuesSet.no')">
								<input type="radio" value="siNoValuesSet.no" :name="getContextForID + 'mainGroup.singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('mainGroup.singlechoiceVariable', '', '')" :id="getContextForID + 'mainGroup.singlechoiceVariable-siNoValuesSet.no'" my-label="no">
								<label class="valueLabel" :for="getContextForID + 'mainGroup.singlechoiceVariable-siNoValuesSet.no'">
									<span v-html="translationService.t('no')">
									</span>
								</label>
							</li>
						</ul>
						<button class="variable-reset" type="button" :disabled="!currentCaseService?.canWrite('mainGroup.singlechoiceVariable', '', '')" v-on:click.stop="resetRadioButton('mainGroup.singlechoiceVariable')">
							<span v-html="translationService.t('Reset')">
							</span>
						</button>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.singlechoiceVariable'" :context="context" :container-type="containerType">
						</component>
					</div>
					<div class="checkboxlist-wrapper" v-if="currentCaseService?.canRead('mainGroup.multiplechoiceVariable','','')" :id="getContextForID + 'mainGroup.multiplechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('mainGroup.multiplechoiceVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.multiplechoiceVariable'" :context="context" :container-type="containerType">
						</component>
						<span class="checkBoxDescription">
							<span v-html="translationService.t('Banana Kiwi')">
							</span>
						</span>
						<ul class="checkboxlist" v-custom-model-for-checkboxes="'mainGroup.multiplechoiceVariable'" init-value="[]" :id="getContextForID + 'mainGroup.multiplechoiceVariable'">
							<li :id="getContextForID + 'mainGroup.multiplechoiceVariable-bananaKiwiValuesSet.banana-wrapper'" v-if="currentCaseService?.canRead('mainGroup.multiplechoiceVariable-bananaKiwiValuesSet.banana','','')" v-on:mouseover.stop="onHover('mainGroup.multiplechoiceVariable-bananaKiwiValuesSet.banana')">
								<input type="checkbox" value="bananaKiwiValuesSet.banana" excludes="" :name="getContextForID + 'mainGroup.multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('mainGroup.multiplechoiceVariable', '', '')" :id="getContextForID + 'mainGroup.multiplechoiceVariable-bananaKiwiValuesSet.banana'" my-label="banana">
								<label class="valueLabel" :for="getContextForID + 'mainGroup.multiplechoiceVariable-bananaKiwiValuesSet.banana'">
									<span v-html="translationService.t('banana')">
									</span>
								</label>
							</li>
							<li :id="getContextForID + 'mainGroup.multiplechoiceVariable-bananaKiwiValuesSet.kiwi-wrapper'" v-if="currentCaseService?.canRead('mainGroup.multiplechoiceVariable-bananaKiwiValuesSet.kiwi','','')" v-on:mouseover.stop="onHover('mainGroup.multiplechoiceVariable-bananaKiwiValuesSet.kiwi')">
								<input type="checkbox" value="bananaKiwiValuesSet.kiwi" excludes="" :name="getContextForID + 'mainGroup.multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('mainGroup.multiplechoiceVariable', '', '')" :id="getContextForID + 'mainGroup.multiplechoiceVariable-bananaKiwiValuesSet.kiwi'" my-label="kiwi">
								<label class="valueLabel" :for="getContextForID + 'mainGroup.multiplechoiceVariable-bananaKiwiValuesSet.kiwi'">
									<span v-html="translationService.t('kiwi')">
									</span>
								</label>
							</li>
						</ul>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.multiplechoiceVariable'" :context="context" :container-type="containerType">
						</component>
					</div>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.dcInstance'" :context="context" :container-type="containerType">
					</component>
					<fieldset v-custom-model="'mainGroup.dcInstance'" v-if="currentCaseService?.canRead('mainGroup.dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'mainGroup.dcInstance'" :disabled="!currentCaseService?.canWrite('mainGroup.dcInstance', '', '')" v-on:mouseover.stop="onHover('mainGroup.dcInstance')">
						<legend class="groupDescription">
							<span v-html="translationService.t('dcInstance')">
							</span>
						</legend>
						<dataclassitemcomponent :full-name="'mainGroup.dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
							<template v-slot:default="{ thisSet, thisObject, thisIndex }">
								<section class="exampleDC">
									<div v-if="currentCaseService?.canRead('mainGroup.dcInstance.textInsideDC','','')" :id="getContextForID + 'mainGroup.dcInstance.textInsideDC-wrapper'" v-on:mouseover.stop="onHover('mainGroup.dcInstance.textInsideDC')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.dcInstance.textInsideDC'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'mainGroup.dcInstance.textInsideDC'">
											<span v-html="translationService.t('Text Inside DC')">
											</span>
										</label>
										<input type="text" v-custom-model="'mainGroup.dcInstance.textInsideDC'" :disabled="!currentCaseService?.canWrite('mainGroup.dcInstance.textInsideDC', '', '')" :id="getContextForID + 'mainGroup.dcInstance.textInsideDC'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.dcInstance.textInsideDC'" :context="context" :container-type="containerType">
										</component>
									</div>
								</section>
							</template>
						</dataclassitemcomponent>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.dcInstance'" :context="context" :container-type="containerType">
						</component>
					</fieldset>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.groupVariable'" :context="context" :container-type="containerType">
					</component>
					<fieldset v-custom-model="'mainGroup.groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('mainGroup.groupVariable', '', '')" :id="getContextForID + 'mainGroup.groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('mainGroup.groupVariable','','')" v-on:mouseover.stop="onHover('mainGroup.groupVariable')">
						<legend class="groupDescription">
							<span v-html="translationService.t('Group Variable')">
							</span>
						</legend>
						<div>
							<div v-if="currentCaseService?.canRead('mainGroup.groupVariable.textInsideGroup','','')" :id="getContextForID + 'mainGroup.groupVariable.textInsideGroup-wrapper'" v-on:mouseover.stop="onHover('mainGroup.groupVariable.textInsideGroup')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.groupVariable.textInsideGroup'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'mainGroup.groupVariable.textInsideGroup'">
									<span v-html="translationService.t('Text Inside Group')">
									</span>
								</label>
								<input type="text" v-custom-model="'mainGroup.groupVariable.textInsideGroup'" :disabled="!currentCaseService?.canWrite('mainGroup.groupVariable.textInsideGroup', '', '')" :id="getContextForID + 'mainGroup.groupVariable.textInsideGroup'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.groupVariable.textInsideGroup'" :context="context" :container-type="containerType">
								</component>
							</div>
						</div>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.groupVariable'" :context="context" :container-type="containerType">
						</component>
					</fieldset>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.setVariable'" :context="context" :container-type="containerType">
					</component>
					<fieldset v-custom-model-for-sets="'mainGroup.setVariable'" init-value="[]" :disabled="!currentCaseService?.canWrite('mainGroup.setVariable', '', '')" :id="getContextForID + 'mainGroup.setVariable'" class="setVariable" v-if="currentCaseService?.canRead('mainGroup.setVariable','','')" v-on:mouseover.stop="onHover('mainGroup.setVariable')">
						<legend class="setDescription">
							<span v-html="translationService.t('set')">
							</span>
						</legend>
						<setcomponent :full-name="'mainGroup.setVariable'" :this-object="thisObject" :this-index="null" :model="model">
							<template v-slot:default="{ thisSet, thisObject, thisIndex }">
								<ul>
									<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'mainGroup.setVariable[' + index0 + ']'">
										<setitemcomponent :full-name="'mainGroup.setVariable[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
											<template v-slot:default="{ thisSet, thisObject, thisIndex }">
												<dataclassitemcomponent :full-name="'mainGroup.setVariable[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
													<template v-slot:default="{ thisSet, thisObject, thisIndex }">
														<section class="setDataType">
															<div v-if="currentCaseService?.canRead('mainGroup.setVariable[' + index0 + '].textInsideSet','','')" :id="getContextForID + 'mainGroup.setVariable[' + index0 + '].textInsideSet-wrapper'" v-on:mouseover.stop="onHover('mainGroup.setVariable[' + index0 + '].textInsideSet')">
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.setVariable[' + index0 + '].textInsideSet'" :context="context" :container-type="containerType">
																</component>
																<label class="variableLabel" :for="getContextForID + 'mainGroup.setVariable[' + index0 + '].textInsideSet'">
																	<span v-html="translationService.t('Text Inside Set')">
																	</span>
																</label>
																<input type="text" v-custom-model="'mainGroup.setVariable[' + index0 + '].textInsideSet'" :disabled="!currentCaseService?.canWrite('mainGroup.setVariable[' + index0 + '].textInsideSet', '', '')" :id="getContextForID + 'mainGroup.setVariable[' + index0 + '].textInsideSet'">
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.setVariable[' + index0 + '].textInsideSet'" :context="context" :container-type="containerType">
																</component>
															</div>
														</section>
													</template>
												</dataclassitemcomponent>
												<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index0)" :disabled="!currentCaseService?.canWrite('mainGroup.setVariable[' + index0 + ']', '', '')">
													<span v-html="translationService.t('Remove this setVariable')">
													</span>
												</button>
											</template>
										</setitemcomponent>
									</li>
								</ul>
								<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet)">
									<span v-html="translationService.t('Add setDataType')">
									</span>
								</button>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.setVariable'" :context="context" :container-type="containerType">
								</component>
							</template>
						</setcomponent>
					</fieldset>
					<suspense>
						<comuni v-if="currentCaseService?.canRead('mainGroup.pluginVariable','','')" :context="context" :container-type="containerType" :model="model" :id="getContextForID + 'mainGroup.pluginVariable'" :full-name="'mainGroup.pluginVariable'">
						</comuni>
					</suspense>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>