<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('textVariable','','')" :id="getContextForID + 'textVariable-wrapper'" v-on:mouseover.stop="onHover('textVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'textVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'textVariable'">
					<span v-html="translationService.t('Text Variable')">
					</span>
				</label>
				<input type="text" v-custom-model="'textVariable'" :disabled="!currentCaseService?.canWrite('textVariable', '', '')" :id="getContextForID + 'textVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'textVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('numberVariable','','')" :id="getContextForID + 'numberVariable-wrapper'" v-on:mouseover.stop="onHover('numberVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'numberVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'numberVariable'">
					<span v-html="translationService.t('Number Variable')">
					</span>
				</label>
				<input type="number" init-value="NaN" v-custom-model="'numberVariable'" :disabled="!currentCaseService?.canWrite('numberVariable', '', '')" :id="getContextForID + 'numberVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'numberVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('outputVariable','','')" :id="getContextForID + 'outputVariable-wrapper'" v-on:mouseover.stop="onHover('outputVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'outputVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'outputVariable'">
					<span v-html="translationService.t('Output Variable')">
					</span>
				</label>
				<output required-for-status="false" v-short-circuit="model.textVariable" v-custom-model="'outputVariable'" :disabled="!currentCaseService?.canWrite('outputVariable', '', '') || (model.textVariable) !== null" :id="getContextForID + 'outputVariable'">
				</output>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'outputVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('colorVariable','','')" :id="getContextForID + 'colorVariable-wrapper'" v-on:mouseover.stop="onHover('colorVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'colorVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'colorVariable'">
					<span v-html="translationService.t('Color Variable')">
					</span>
				</label>
				<input type="color" v-custom-model="'colorVariable'" :disabled="!currentCaseService?.canWrite('colorVariable', '', '')" :id="getContextForID + 'colorVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'colorVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('dateVariable','','')" :id="getContextForID + 'dateVariable-wrapper'" v-on:mouseover.stop="onHover('dateVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dateVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'dateVariable'">
					<span v-html="translationService.t('Data Variable')">
					</span>
				</label>
				<input type="date" v-custom-model="'dateVariable'" :disabled="!currentCaseService?.canWrite('dateVariable', '', '')" :id="getContextForID + 'dateVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dateVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('timeVariable','','')" :id="getContextForID + 'timeVariable-wrapper'" v-on:mouseover.stop="onHover('timeVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'timeVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'timeVariable'">
					<span v-html="translationService.t('Time Variable')">
					</span>
				</label>
				<input type="time" v-custom-model="'timeVariable'" :disabled="!currentCaseService?.canWrite('timeVariable', '', '')" :id="getContextForID + 'timeVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'timeVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div class="boolean-variable" v-if="currentCaseService?.canRead('booleanVariable','','')" :id="getContextForID + 'booleanVariable-wrapper'" v-on:mouseover.stop="onHover('booleanVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'booleanVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'booleanVariable'">
					<span v-html="translationService.t('Boolean Variable')">
					</span>
				</label>
				<input type="checkbox" init-value="false" v-custom-model-for-boolean="'booleanVariable'" :disabled="!currentCaseService?.canWrite('booleanVariable', '', '')" :id="getContextForID + 'booleanVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'booleanVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div class="radiolist-wrapper" v-if="currentCaseService?.canRead('singlechoiceVariable','','')" :id="getContextForID + 'singlechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('singlechoiceVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'singlechoiceVariable'" :context="context" :container-type="containerType">
				</component>
				<span class="radioDescription">
					<span v-html="translationService.t('Si No')">
					</span>
				</span>
				<ul class="radiolist" v-custom-model-for-singlechoice="'singlechoiceVariable'" :id="getContextForID + 'singlechoiceVariable'">
					<li :id="getContextForID + 'singlechoiceVariable-siNoValuesSet.si-wrapper'" v-if="currentCaseService?.canRead('singlechoiceVariable-siNoValuesSet.si','','')" v-on:mouseover.stop="onHover('singlechoiceVariable-siNoValuesSet.si')">
						<input type="radio" value="siNoValuesSet.si" :name="getContextForID + 'singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('singlechoiceVariable', '', '')" :id="getContextForID + 'singlechoiceVariable-siNoValuesSet.si'" my-label="si">
						<label class="valueLabel" :for="getContextForID + 'singlechoiceVariable-siNoValuesSet.si'">
							<span v-html="translationService.t('si')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'singlechoiceVariable-siNoValuesSet.no-wrapper'" v-if="currentCaseService?.canRead('singlechoiceVariable-siNoValuesSet.no','','')" v-on:mouseover.stop="onHover('singlechoiceVariable-siNoValuesSet.no')">
						<input type="radio" value="siNoValuesSet.no" :name="getContextForID + 'singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('singlechoiceVariable', '', '')" :id="getContextForID + 'singlechoiceVariable-siNoValuesSet.no'" my-label="no">
						<label class="valueLabel" :for="getContextForID + 'singlechoiceVariable-siNoValuesSet.no'">
							<span v-html="translationService.t('no')">
							</span>
						</label>
					</li>
				</ul>
				<button class="variable-reset" type="button" :disabled="!currentCaseService?.canWrite('singlechoiceVariable', '', '')" v-on:click.stop="resetRadioButton('singlechoiceVariable')">
					<span v-html="translationService.t('Reset')">
					</span>
				</button>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'singlechoiceVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div class="checkboxlist-wrapper" v-if="currentCaseService?.canRead('multiplechoiceVariable','','')" :id="getContextForID + 'multiplechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('multiplechoiceVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'multiplechoiceVariable'" :context="context" :container-type="containerType">
				</component>
				<span class="checkBoxDescription">
					<span v-html="translationService.t('Banana Kiwi')">
					</span>
				</span>
				<ul class="checkboxlist" v-custom-model-for-checkboxes="'multiplechoiceVariable'" init-value="[]" :id="getContextForID + 'multiplechoiceVariable'">
					<li :id="getContextForID + 'multiplechoiceVariable-bananaKiwiValuesSet.banana-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-bananaKiwiValuesSet.banana','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-bananaKiwiValuesSet.banana')">
						<input type="checkbox" value="bananaKiwiValuesSet.banana" excludes="" :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-bananaKiwiValuesSet.banana'" my-label="banana">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-bananaKiwiValuesSet.banana'">
							<span v-html="translationService.t('banana')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'multiplechoiceVariable-bananaKiwiValuesSet.kiwi-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-bananaKiwiValuesSet.kiwi','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-bananaKiwiValuesSet.kiwi')">
						<input type="checkbox" value="bananaKiwiValuesSet.kiwi" excludes="" :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-bananaKiwiValuesSet.kiwi'" my-label="kiwi">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-bananaKiwiValuesSet.kiwi'">
							<span v-html="translationService.t('kiwi')">
							</span>
						</label>
					</li>
				</ul>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'multiplechoiceVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'dcInstance'" v-if="currentCaseService?.canRead('dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'dcInstance'" :disabled="!currentCaseService?.canWrite('dcInstance', '', '')" v-on:mouseover.stop="onHover('dcInstance')">
				<legend class="groupDescription">
					<span v-html="translationService.t('dcInstance')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<section class="exampleDC">
							<div v-if="currentCaseService?.canRead('dcInstance.textInsideDC','','')" :id="getContextForID + 'dcInstance.textInsideDC-wrapper'" v-on:mouseover.stop="onHover('dcInstance.textInsideDC')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.textInsideDC'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'dcInstance.textInsideDC'">
									<span v-html="translationService.t('Text Inside DC')">
									</span>
								</label>
								<input type="text" v-custom-model="'dcInstance.textInsideDC'" :disabled="!currentCaseService?.canWrite('dcInstance.textInsideDC', '', '')" :id="getContextForID + 'dcInstance.textInsideDC'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.textInsideDC'" :context="context" :container-type="containerType">
								</component>
							</div>
							<div v-if="currentCaseService?.canRead('dcInstance.numberInsideDC','','')" :id="getContextForID + 'dcInstance.numberInsideDC-wrapper'" v-on:mouseover.stop="onHover('dcInstance.numberInsideDC')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.numberInsideDC'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'dcInstance.numberInsideDC'">
									<span v-html="translationService.t('Number Inside DC')">
									</span>
								</label>
								<input type="number" init-value="NaN" v-custom-model="'dcInstance.numberInsideDC'" :disabled="!currentCaseService?.canWrite('dcInstance.numberInsideDC', '', '')" :id="getContextForID + 'dcInstance.numberInsideDC'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.numberInsideDC'" :context="context" :container-type="containerType">
								</component>
							</div>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('Group Variable')">
					</span>
				</legend>
				<div>
					<div v-if="currentCaseService?.canRead('groupVariable.textInsideGroup','','')" :id="getContextForID + 'groupVariable.textInsideGroup-wrapper'" v-on:mouseover.stop="onHover('groupVariable.textInsideGroup')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.textInsideGroup'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'groupVariable.textInsideGroup'">
							<span v-html="translationService.t('Text Inside Group')">
							</span>
						</label>
						<input type="text" v-custom-model="'groupVariable.textInsideGroup'" :disabled="!currentCaseService?.canWrite('groupVariable.textInsideGroup', '', '')" :id="getContextForID + 'groupVariable.textInsideGroup'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.textInsideGroup'" :context="context" :container-type="containerType">
						</component>
					</div>
					<div v-if="currentCaseService?.canRead('groupVariable.numberInsideGroup','','')" :id="getContextForID + 'groupVariable.numberInsideGroup-wrapper'" v-on:mouseover.stop="onHover('groupVariable.numberInsideGroup')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.numberInsideGroup'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'groupVariable.numberInsideGroup'">
							<span v-html="translationService.t('Number Inside Group')">
							</span>
						</label>
						<input type="number" init-value="NaN" v-custom-model="'groupVariable.numberInsideGroup'" :disabled="!currentCaseService?.canWrite('groupVariable.numberInsideGroup', '', '')" :id="getContextForID + 'groupVariable.numberInsideGroup'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.numberInsideGroup'" :context="context" :container-type="containerType">
						</component>
					</div>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model-for-sets="'setVariable'" init-value="[]" :disabled="!currentCaseService?.canWrite('setVariable', '', '')" :id="getContextForID + 'setVariable'" class="setVariable" v-if="currentCaseService?.canRead('setVariable','','')" v-on:mouseover.stop="onHover('setVariable')">
				<legend class="setDescription">
					<span v-html="translationService.t('set')">
					</span>
				</legend>
				<setcomponent :full-name="'setVariable'" :this-object="thisObject" :this-index="null" :model="model">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<ul>
							<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'setVariable[' + index0 + ']'">
								<setitemcomponent :full-name="'setVariable[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<dataclassitemcomponent :full-name="'setVariable[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
											<template v-slot:default="{ thisSet, thisObject, thisIndex }">
												<section class="setDataType">
													<div v-if="currentCaseService?.canRead('setVariable[' + index0 + '].textInsideSet','','')" :id="getContextForID + 'setVariable[' + index0 + '].textInsideSet-wrapper'" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].textInsideSet')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].textInsideSet'" :context="context" :container-type="containerType">
														</component>
														<label class="variableLabel" :for="getContextForID + 'setVariable[' + index0 + '].textInsideSet'">
															<span v-html="translationService.t('Text Inside Set')">
															</span>
														</label>
														<input type="text" v-custom-model="'setVariable[' + index0 + '].textInsideSet'" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].textInsideSet', '', '')" :id="getContextForID + 'setVariable[' + index0 + '].textInsideSet'">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].textInsideSet'" :context="context" :container-type="containerType">
														</component>
													</div>
												</section>
											</template>
										</dataclassitemcomponent>
										<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index0)" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + ']', '', '')">
											<span v-html="translationService.t('Remove this setVariable')">
											</span>
										</button>
									</template>
								</setitemcomponent>
							</li>
						</ul>
						<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet)">
							<span v-html="translationService.t('Add setDataType')">
							</span>
						</button>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable'" :context="context" :container-type="containerType">
						</component>
					</template>
				</setcomponent>
			</fieldset>
			<suspense>
				<comuni v-if="currentCaseService?.canRead('pluginVariable','','')" :context="context" :container-type="containerType" :model="model" :id="getContextForID + 'pluginVariable'" :full-name="'pluginVariable'">
				</comuni>
			</suspense>
		</section>
	</template>
</dataclassitemcomponent>