<script lang="ts">
import {
  CaseListComponent,
  TreeComponent,
  SingleCaseComponent,
  MissingsListComponent,
  FilterComponent,
  DataclassItemComponent,
  NewCaseComponent,
  WarningsListComponent,
  ErrorsListComponent,
  CaseStatusComponent,
  FastCompilationComponent,
  NamedBindings,
  getContainer,
  Contexts,
  CurrentCaseService,
} from '@dandelion/core';
import DeveloperErrorsRenderComponent from '@dandelion/core';
import Home from './components/Home.vue';

export default {
  name: 'ExampleVueApp',
  components: {
    NewCaseComponent,
    FastCompilationComponent,
    SingleCaseComponent,
    FilterComponent,
    TreeComponent,
    MissingsListComponent,
    ErrorsListComponent,
    WarningsListComponent,
    CaseListComponent,
    CaseStatusComponent,
    DataclassItemComponent,
    DeveloperErrorsRenderComponent,
    Home,
  },
  created() {
    const currentCaseService = getContainer(Contexts.DEFAULT).get(
      NamedBindings.CurrentCaseService
    ) as CurrentCaseService;
    const caseID = 'id-prova';
    currentCaseService.openForEditing(caseID);
  },
};
</script>

<template>
  <header>
    <h1>Single Component Application</h1>
  </header>

  <Suspense>
    <Home />
    <template #fallback>
      <main style="padding: var(--global-padding)">Sto caricando i dati, attendere...</main>
    </template>
  </Suspense>
</template>

<style scoped></style>
