<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<div>
					<div v-if="currentCaseService?.canRead('groupVariable.numberVariable','','')" :id="getContextForID + 'groupVariable.numberVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.numberVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.numberVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'groupVariable.numberVariable'">
							<span v-html="translationService.t('numberVariable')">
							</span>
						</label>
						<input type="number" init-value="NaN" v-custom-model="'groupVariable.numberVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.numberVariable', '', '')" :id="getContextForID + 'groupVariable.numberVariable'" min="0" max="20">
						<span class="range-description" v-html="translationService.t('rangeDescription', { &quot;min&quot;: &quot;0&quot;, &quot;max&quot;: &quot;20&quot; })">
						</span>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.numberVariable'" :context="context" :container-type="containerType">
						</component>
						<div class="error" v-custom-model-for-errors="'groupVariable.numberVariable_ERROR_MIN'" init-value="null" v-if="checkMinValidity('groupVariable.numberVariable', model, 0) && currentCaseService.canRead('groupVariable.numberVariable_ERROR_MIN', '', '')" :class="{ unwritable: !currentCaseService?.canWrite('groupVariable.numberVariable_ERROR_MIN','','')}" :id="getContextForID + 'groupVariable.numberVariable_ERROR_MIN'">
							<span v-html="translationService.t('minError', { &quot;value&quot;: &quot;0&quot; })">
							</span>
						</div>
						<div class="error" v-custom-model-for-errors="'groupVariable.numberVariable_ERROR_MAX'" init-value="null" v-if="checkMaxValidity('groupVariable.numberVariable', model, 20) && currentCaseService.canRead('groupVariable.numberVariable_ERROR_MAX', '', '')" :class="{ unwritable: !currentCaseService?.canWrite('groupVariable.numberVariable_ERROR_MAX','','')}" :id="getContextForID + 'groupVariable.numberVariable_ERROR_MAX'">
							<span v-html="translationService.t('maxError', { &quot;value&quot;: &quot;20&quot; })">
							</span>
						</div>
					</div>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>