<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('numberVariable','','') && (false)" v-reset-when-hidden="'numberVariable'" :id="getContextForID + 'numberVariable-wrapper'" v-on:mouseover.stop="onHover('numberVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'numberVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'numberVariable'">
					<span v-html="translationService.t('numberVariable')">
					</span>
				</label>
				<input type="number" init-value="NaN" v-custom-model="'numberVariable'" :disabled="!currentCaseService?.canWrite('numberVariable', '', '')" :id="getContextForID + 'numberVariable'" min="0" max="20">
				<span class="range-description" v-html="translationService.t('rangeDescription', { &quot;min&quot;: &quot;0&quot;, &quot;max&quot;: &quot;20&quot; })">
				</span>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'numberVariable'" :context="context" :container-type="containerType">
				</component>
				<div class="error" v-custom-model-for-errors="'numberVariable_ERROR_MIN'" init-value="null" v-if="checkMinValidity('numberVariable', model, 0) && currentCaseService.canRead('numberVariable_ERROR_MIN', '', '')" :class="{ unwritable: !currentCaseService?.canWrite('numberVariable_ERROR_MIN','','')}" :id="getContextForID + 'numberVariable_ERROR_MIN'">
					<span v-html="translationService.t('minError', { &quot;value&quot;: &quot;0&quot; })">
					</span>
				</div>
				<div class="error" v-custom-model-for-errors="'numberVariable_ERROR_MAX'" init-value="null" v-if="checkMaxValidity('numberVariable', model, 20) && currentCaseService.canRead('numberVariable_ERROR_MAX', '', '')" :class="{ unwritable: !currentCaseService?.canWrite('numberVariable_ERROR_MAX','','')}" :id="getContextForID + 'numberVariable_ERROR_MAX'">
					<span v-html="translationService.t('maxError', { &quot;value&quot;: &quot;20&quot; })">
					</span>
				</div>
			</div>
		</section>
	</template>
</dataclassitemcomponent>