<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('textVariable','','')" :id="getContextForID + 'textVariable-wrapper'" v-on:mouseover.stop="onHover('textVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'textVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'textVariable'">
					<span v-html="translationService.t('textVariable')">
					</span>
				</label>
				<input type="text" v-custom-model="'textVariable'" :disabled="!currentCaseService?.canWrite('textVariable', '', '')" :id="getContextForID + 'textVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'textVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('textVariable2','','')" :id="getContextForID + 'textVariable2-wrapper'" v-on:mouseover.stop="onHover('textVariable2')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'textVariable2'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'textVariable2'">
					<span v-html="translationService.t('textVariable2')">
					</span>
				</label>
				<input type="text" v-short-circuit="model.textVariable?.substring(0,2)" v-custom-model="'textVariable2'" :disabled="!currentCaseService?.canWrite('textVariable2', '', '') || (model.textVariable?.substring(0,2)) !== null" :id="getContextForID + 'textVariable2'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'textVariable2'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>