<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('textVariable','','')" :id="getContextForID + 'textVariable-wrapper'" v-on:mouseover.stop="onHover('textVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'textVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'textVariable'">
					<span v-html="translationService.t('textVariable')">
					</span>
				</label>
				<input type="text" v-custom-model="'textVariable'" :disabled="!currentCaseService?.canWrite('textVariable', '', '')" :id="getContextForID + 'textVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'textVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('textVariable1','','') && (false)" v-reset-when-hidden="'textVariable1'" :id="getContextForID + 'textVariable1-wrapper'" v-on:mouseover.stop="onHover('textVariable1')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'textVariable1'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'textVariable1'">
					<span v-html="translationService.t('textVariable1')">
					</span>
				</label>
				<input type="text" v-custom-model="'textVariable1'" :disabled="!currentCaseService?.canWrite('textVariable1', '', '')" :id="getContextForID + 'textVariable1'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'textVariable1'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>