<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'dcInstance'" v-if="currentCaseService?.canRead('dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'dcInstance'" :disabled="!currentCaseService?.canWrite('dcInstance', '', '')" v-on:mouseover.stop="onHover('dcInstance')">
				<legend class="groupDescription">
					<span v-html="translationService.t('dcInstance')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<section class="dc">
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'dcInstance.groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable', '', '')" :id="getContextForID + 'dcInstance.groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('dcInstance.groupVariable','','')" v-on:mouseover.stop="onHover('dcInstance.groupVariable')">
								<legend class="groupDescription">
									<span v-html="translationService.t('groupVariable')">
									</span>
								</legend>
								<div>
									<div v-if="currentCaseService?.canRead('dcInstance.groupVariable.textVariable','','')" :id="getContextForID + 'dcInstance.groupVariable.textVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.groupVariable.textVariable')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable.textVariable'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'dcInstance.groupVariable.textVariable'">
											<span v-html="translationService.t('textVariable')">
											</span>
										</label>
										<input type="text" v-custom-model="'dcInstance.groupVariable.textVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable.textVariable', '', '')" :id="getContextForID + 'dcInstance.groupVariable.textVariable'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable.textVariable'" :context="context" :container-type="containerType">
										</component>
									</div>
								</div>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>