.dandelion-cmp dialog,
.dandelion-cmp .success,
.dandelion-cmp .error,
.dandelion-cmp .warning,
.dandelion-cmp .solvedWarning,
.dandelion-cmp .requirement,
.dandelion-cmp .developerError {
    display: block;

    border-radius: 5px;

    border: 2px solid;

    padding: 10px;

    margin: 20px 0;
}

.error {
    display: block;

    border-radius: 5px;

    border: 2px solid;

    padding: 10px;

    margin: 20px 0;

    background-color: lightcoral;

    border-color: darkred;

    color: darkred;
}

.dandelion-cmp .success {
    background-color: lightseagreen;

    border-color: green;

    color: green;
}

.dandelion-cmp .error {
    background-color: lightcoral;

    border-color: darkred;

    color: darkred;
}

.dandelion-cmp .requirement {
    background-color: rgb(143, 111, 111);

    border-color: rgb(66, 25, 25);

    color: rgb(66, 25, 25);
}

.dandelion-cmp .developerError {
    background-color: rgb(160, 44, 44);

    border-color: rgb(0, 0, 0);

    color: rgb(255, 255, 255);
}

.dandelion-cmp .unwritable {
    display: none !important;
}

.dandelion-cmp dialog {
    background-color: lightgray;

    border-color: gray;

    color: #333;
}

.dandelion-cmp .warning {
    background-color: lightgoldenrodyellow;

    border-color: darkgoldenrod;

    color: darkgoldenrod;
}

.dandelion-cmp .solvedWarning {
    background-color: lightskyblue;

    border-color: darkblue;

    color: darkblue;
}

.dandelion-cmp .warning input,
.dandelion-cmp .solvedWarning input {
    margin-left: 20px;
}

.dandelion-cmp .selected {
    background-color: rgb(106, 117, 129);
}
