<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('dropVariable','','')" :id="getContextForID + 'dropVariable-wrapper'" v-on:mouseover.stop="onHover('dropVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dropVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'dropVariable'">
					<span v-html="translationService.t('dropVariable')">
					</span>
				</label>
				<select v-custom-model-for-select="'dropVariable'" :disabled="!currentCaseService?.canWrite('dropVariable', '', '')" :id="getContextForID + 'dropVariable'">
					<option value="" my-label="none">
					</option>
					<option value="sets.first" v-html="translationService.t('first')" :id="getContextForID + 'sets.first-wrapper'" v-if="currentCaseService?.canRead('dropVariable','','')">
					</option>
					<option value="sets.second" v-html="translationService.t('second')" :id="getContextForID + 'sets.second-wrapper'" v-if="currentCaseService?.canRead('dropVariable','','')">
					</option>
					<option value="sets.third" v-html="translationService.t('third')" :id="getContextForID + 'sets.third-wrapper'" v-if="currentCaseService?.canRead('dropVariable','','')">
					</option>
				</select>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dropVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('dropVariable2','','')" :id="getContextForID + 'dropVariable2-wrapper'" v-on:mouseover.stop="onHover('dropVariable2')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dropVariable2'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'dropVariable2'">
					<span v-html="translationService.t('dropVariable2')">
					</span>
				</label>
				<select v-short-circuit="model.dropVariable == 'sets.first' ? 'sets.third' : 'sets.second'" v-custom-model-for-select="'dropVariable2'" :disabled="!currentCaseService?.canWrite('dropVariable2', '', '') || (model.dropVariable == 'sets.first' ? 'sets.third' : 'sets.second') !== null" :id="getContextForID + 'dropVariable2'">
					<option value="" my-label="none">
					</option>
					<option value="sets.first" v-html="translationService.t('first')" :id="getContextForID + 'sets.first-wrapper'" v-if="currentCaseService?.canRead('dropVariable2','','')">
					</option>
					<option value="sets.second" v-html="translationService.t('second')" :id="getContextForID + 'sets.second-wrapper'" v-if="currentCaseService?.canRead('dropVariable2','','')">
					</option>
					<option value="sets.third" v-html="translationService.t('third')" :id="getContextForID + 'sets.third-wrapper'" v-if="currentCaseService?.canRead('dropVariable2','','')">
					</option>
				</select>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dropVariable2'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>