<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('dropVariable','','')" :id="getContextForID + 'dropVariable-wrapper'" v-on:mouseover.stop="onHover('dropVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dropVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'dropVariable'">
					<span v-html="translationService.t('dropCustomLabel')">
					</span>
				</label>
				<select v-custom-model-for-select="'dropVariable'" :disabled="!currentCaseService?.canWrite('dropVariable', '', '')" :id="getContextForID + 'dropVariable'">
					<option value="" my-label="none">
					</option>
				</select>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dropVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>