<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<div>
					<div v-if="currentCaseService?.canRead('groupVariable.dropVariable','','')" :id="getContextForID + 'groupVariable.dropVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.dropVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.dropVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'groupVariable.dropVariable'">
							<span v-html="translationService.t('dropVariable')">
							</span>
						</label>
						<select v-custom-model-for-select="'groupVariable.dropVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.dropVariable', '', '')" :id="getContextForID + 'groupVariable.dropVariable'">
							<option value="" my-label="none">
							</option>
							<option value="sets.first" v-html="translationService.t('first')" :id="getContextForID + 'sets.first-wrapper'" v-if="currentCaseService?.canRead('groupVariable.dropVariable','','')">
							</option>
							<option value="sets.second" v-html="translationService.t('second')" :id="getContextForID + 'sets.second-wrapper'" v-if="currentCaseService?.canRead('groupVariable.dropVariable','','')">
							</option>
							<option value="sets.third" v-html="translationService.t('third')" :id="getContextForID + 'sets.third-wrapper'" v-if="currentCaseService?.canRead('groupVariable.dropVariable','','')">
							</option>
						</select>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.dropVariable'" :context="context" :container-type="containerType">
						</component>
					</div>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>