<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div class="checkboxlist-wrapper" v-if="currentCaseService?.canRead('multiplechoiceVariable','','')" :id="getContextForID + 'multiplechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('multiplechoiceVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'multiplechoiceVariable'" :context="context" :container-type="containerType">
				</component>
				<span class="checkBoxDescription">
					<span v-html="translationService.t('multiplechoiceVariable')">
					</span>
				</span>
				<ul class="checkboxlist" v-custom-model-for-checkboxes="'multiplechoiceVariable'" init-value="[]" :id="getContextForID + 'multiplechoiceVariable'">
					<li :id="getContextForID + 'multiplechoiceVariable-siNo.no-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-siNo.no','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-siNo.no')">
						<input type="checkbox" value="siNo.no" excludes="" :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-siNo.no'" my-label="No">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-siNo.no'">
							<span v-html="translationService.t('No')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'multiplechoiceVariable-siNo.si-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-siNo.si','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-siNo.si')">
						<input type="checkbox" value="siNo.si" excludes="" :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-siNo.si'" my-label="Sì">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-siNo.si'">
							<span v-html="translationService.t('Sì')">
							</span>
						</label>
					</li>
				</ul>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'multiplechoiceVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>