<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div class="radiolist-wrapper" v-if="currentCaseService?.canRead('singlechoiceVariable','','')" :id="getContextForID + 'singlechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('singlechoiceVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'singlechoiceVariable'" :context="context" :container-type="containerType">
				</component>
				<span class="radioDescription">
					<span v-html="translationService.t('singlechoiceVariable')">
					</span>
				</span>
				<ul class="radiolist" v-custom-model-for-singlechoice="'singlechoiceVariable'" :id="getContextForID + 'singlechoiceVariable'">
					<li :id="getContextForID + 'singlechoiceVariable-siNo.no-wrapper'" v-if="currentCaseService?.canRead('singlechoiceVariable-siNo.no','','')" v-on:mouseover.stop="onHover('singlechoiceVariable-siNo.no')">
						<input type="radio" value="siNo.no" :name="getContextForID + 'singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('singlechoiceVariable', '', '')" :id="getContextForID + 'singlechoiceVariable-siNo.no'" my-label="No">
						<label class="valueLabel" :for="getContextForID + 'singlechoiceVariable-siNo.no'">
							<span v-html="translationService.t('No')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'singlechoiceVariable-siNo.si-wrapper'" v-if="currentCaseService?.canRead('singlechoiceVariable-siNo.si','','')" v-on:mouseover.stop="onHover('singlechoiceVariable-siNo.si')">
						<input type="radio" value="siNo.si" :name="getContextForID + 'singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('singlechoiceVariable', '', '')" :id="getContextForID + 'singlechoiceVariable-siNo.si'" my-label="Sì">
						<label class="valueLabel" :for="getContextForID + 'singlechoiceVariable-siNo.si'">
							<span v-html="translationService.t('Sì')">
							</span>
						</label>
					</li>
				</ul>
				<button class="variable-reset" type="button" :disabled="!currentCaseService?.canWrite('singlechoiceVariable', '', '')" v-on:click.stop="resetRadioButton('singlechoiceVariable')">
					<span v-html="translationService.t('Reset')">
					</span>
				</button>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'singlechoiceVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>