<script setup lang="ts">
import {
  CaseCreated,
  CaseCreationFailed,
  Contexts,
  getContext,
  TranslationService,
  ApplicationEvents,
  NewCaseComponent,
  NamedBindings,
  getContainer
} from '@dandelion/core'
import { PropType, nextTick } from 'vue'
import router from '../router'
import { toast } from 'vue3-toastify'

const props = defineProps({
  crfName: {
    type: String as PropType<string>,
    required: true
  },
  context: {
    type: String as PropType<string>,
    required: false,
    default: Contexts.DEFAULT
  },
  startingDataclass: {
    type: String as PropType<string>,
    required: false,
    default: 'NewCase'
  }
})

getContext(Contexts.DEFAULT).addEventListener(
  ApplicationEvents.CaseCreationFailed,
  async (m: string, e: Event) => {
    const event: CaseCreationFailed = e as CaseCreationFailed
    await router.push('/')
  }
)

getContext(Contexts.DEFAULT).addEventListener(ApplicationEvents.CaseCreationCanceled, () => {
  nextTick(() => router.push(`/`))
})
</script>

<template>
  <NewCaseComponent
    :crfName="props.crfName"
    :context="props.context"
    :startingDataclass="props.startingDataclass"
  />
</template>

<style scoped></style>
