<script setup lang="ts">
import {
  CaseUpdated,
  Contexts,
  getContext,
  ApplicationEvents,
  TreeComponent,
  FilterComponent,
  SingleCaseComponent,
  CaseStatusComponent,
  MissingsListComponent,
  ErrorsListComponent,
  NamedBindings,
  getContainer,
  WarningsListComponent,
  TranslationService,
  CaseStatusService
} from '@dandelion/core'
import router from '../router'
import { toast } from 'vue3-toastify'
import { nextTick, ref } from 'vue'
import { type CurrentCaseServiceInterface } from '@dandelion/core'

const currentCaseService = getContainer(Contexts.DEFAULT).get(
  NamedBindings.CurrentCaseService
) as CurrentCaseServiceInterface
if (!currentCaseService.isCaseOpened.value) {
  const currentUrl = new URL(window.location.href)
  const pathSegments = currentUrl.pathname.split('/')
  const caseID = pathSegments[2]
  await currentCaseService.openForEditing(caseID)
}

const translationService = getContainer(Contexts.DEFAULT).get(
  NamedBindings.TranslationService
) as TranslationService

const caseStatusService = getContainer(Contexts.DEFAULT).get(
  NamedBindings.CaseStatusService
) as CaseStatusService

getContext(Contexts.DEFAULT).addEventListener(
  ApplicationEvents.CaseUpdated,
  async (m: string, e: Event) => {
    const event: CaseUpdated = e as CaseUpdated

    await router.push('/')
    toast(translationService.t('Case updated') + event.caseId?.substr(0, 6) ?? '', {
      type: 'success',
      dangerouslyHTMLString: true,
      hideProgressBar: true
    })
  }
)

getContext(Contexts.DEFAULT).addEventListener(
  'CaseSavingFailedEvent',
  async (m: string, e: Event) => {
    console.log('CaseSavingFailedEvent')
  }
)

getContext(Contexts.DEFAULT).addEventListener(ApplicationEvents.CaseClosed, () => {
  nextTick(() => router.push(`/`))
})
</script>

<template>
  <div id="single-case-view-section">
    <div id="single-case-section">
      <Suspense>
        <TreeComponent
          :show-dataclass-instances-in-tree="true"
          :show-groups-in-tree="true"
          :max-depth="3"
        >
        </TreeComponent>
      </Suspense>
      <Suspense>
        <SingleCaseComponent></SingleCaseComponent>
        <template #fallback>Loading SingleCase...</template>
      </Suspense>
      <Suspense>
        <CaseStatusComponent></CaseStatusComponent>
        <template #fallback>Loading CaseStatus...</template>
      </Suspense>
    </div>
    <div id="requirements-section">
      <div id="missing-section" class="requirement-section">
        <MissingsListComponent></MissingsListComponent>
      </div>
      <div id="warning-section" class="requirement-section">
        <WarningsListComponent></WarningsListComponent>
      </div>
      <div id="error-section" class="requirement-section">
        <ErrorsListComponent></ErrorsListComponent>
      </div>
    </div>
  </div>
</template>

<style scoped>
#single-case-view-section {
  display: flex;
}

#single-case-section {
  width: 50vw;
}

#requirements-section {
  width: 50vw;
}

.requirement-section > button {
  margin: 1rem 0;
}
</style>
