<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section v-if="true" class="ExampleDataClass">
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'g'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'g'" init-value="({})" :disabled="!currentCaseService?.canWrite('g', '', '')" :id="getContextForID + 'g'" class="g" v-if="currentCaseService?.canRead('g','','')" v-on:mouseover.stop="onHover('g')">
				<legend class="groupDescription">
					<span v-html="translationService.t('g')">
					</span>
				</legend>
				<nav>
					<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'g.dataclass1')" :class="{selected: listOfActivePages.includes(getContextForID + 'g.dataclass1')}" v-if="currentCaseService?.canRead('g.dataclass1','','')">
						<span v-html="translationService.t('dataclass1')">
						</span>
					</button>
					<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'g.dataclass2')" :class="{selected: listOfActivePages.includes(getContextForID + 'g.dataclass2')}" v-if="currentCaseService?.canRead('g.dataclass2','','')">
						<span v-html="translationService.t('dataclass2')">
						</span>
					</button>
				</nav>
				<div>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'g.dataclass1'" :context="context" :container-type="containerType">
					</component>
					<fieldset v-custom-model="'g.dataclass1'" v-if="currentCaseService?.canRead('g.dataclass1','','')" init-value="({})" class="dataclass1" :id="getContextForID + 'g.dataclass1'" :disabled="!currentCaseService?.canWrite('g.dataclass1', '', '')" v-on:mouseover.stop="onHover('g.dataclass1')" v-show="listOfActivePages.includes(getContextForID + 'g.dataclass1')">
						<legend class="groupDescription">
							<span v-html="translationService.t('dataclass1')">
							</span>
						</legend>
						<dataclassitemcomponent :full-name="'g.dataclass1'" :this-index="null" :model="model" :this-set="thisSet">
							<template v-slot:default="{ thisSet, thisObject, thisIndex }">
								<section class="1">
									<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'g.dataclass1.dataclass3'" :context="context" :container-type="containerType">
									</component>
									<fieldset v-custom-model="'g.dataclass1.dataclass3'" v-if="currentCaseService?.canRead('g.dataclass1.dataclass3','','')" init-value="({})" class="dataclass3" :id="getContextForID + 'g.dataclass1.dataclass3'" :disabled="!currentCaseService?.canWrite('g.dataclass1.dataclass3', '', '')" v-on:mouseover.stop="onHover('g.dataclass1.dataclass3')">
										<legend class="groupDescription">
											<span v-html="translationService.t('dataclass3')">
											</span>
										</legend>
										<dataclassitemcomponent :full-name="'g.dataclass1.dataclass3'" :this-index="null" :model="model" :this-set="thisSet">
											<template v-slot:default="{ thisSet, thisObject, thisIndex }">
												<section class="3">
													<div v-if="currentCaseService?.canRead('g.dataclass1.dataclass3.text3','','')" :id="getContextForID + 'g.dataclass1.dataclass3.text3-wrapper'" v-on:mouseover.stop="onHover('g.dataclass1.dataclass3.text3')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'g.dataclass1.dataclass3.text3'" :context="context" :container-type="containerType">
														</component>
														<label class="variableLabel" :for="getContextForID + 'g.dataclass1.dataclass3.text3'">
															<span v-html="translationService.t('text3')">
															</span>
														</label>
														<input type="text" v-custom-model="'g.dataclass1.dataclass3.text3'" :disabled="!currentCaseService?.canWrite('g.dataclass1.dataclass3.text3', '', '')" :id="getContextForID + 'g.dataclass1.dataclass3.text3'">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'g.dataclass1.dataclass3.text3'" :context="context" :container-type="containerType">
														</component>
													</div>
													<div v-if="currentCaseService?.canRead('g.dataclass1.dataclass3.text4','','')" :id="getContextForID + 'g.dataclass1.dataclass3.text4-wrapper'" v-on:mouseover.stop="onHover('g.dataclass1.dataclass3.text4')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'g.dataclass1.dataclass3.text4'" :context="context" :container-type="containerType">
														</component>
														<label class="variableLabel" :for="getContextForID + 'g.dataclass1.dataclass3.text4'">
															<span v-html="translationService.t('text4')">
															</span>
														</label>
														<input type="text" v-custom-model="'g.dataclass1.dataclass3.text4'" :disabled="!currentCaseService?.canWrite('g.dataclass1.dataclass3.text4', '', '')" :id="getContextForID + 'g.dataclass1.dataclass3.text4'">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'g.dataclass1.dataclass3.text4'" :context="context" :container-type="containerType">
														</component>
													</div>
												</section>
											</template>
										</dataclassitemcomponent>
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'g.dataclass1.dataclass3'" :context="context" :container-type="containerType">
										</component>
									</fieldset>
									<div v-if="currentCaseService?.canRead('g.dataclass1.text5','','')" :id="getContextForID + 'g.dataclass1.text5-wrapper'" v-on:mouseover.stop="onHover('g.dataclass1.text5')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'g.dataclass1.text5'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'g.dataclass1.text5'">
											<span v-html="translationService.t('text5')">
											</span>
										</label>
										<input type="text" v-custom-model="'g.dataclass1.text5'" :disabled="!currentCaseService?.canWrite('g.dataclass1.text5', '', '')" :id="getContextForID + 'g.dataclass1.text5'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'g.dataclass1.text5'" :context="context" :container-type="containerType">
										</component>
									</div>
								</section>
							</template>
						</dataclassitemcomponent>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'g.dataclass1'" :context="context" :container-type="containerType">
						</component>
					</fieldset>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'g.dataclass2'" :context="context" :container-type="containerType">
					</component>
					<fieldset v-custom-model="'g.dataclass2'" v-if="currentCaseService?.canRead('g.dataclass2','','')" init-value="({})" class="dataclass2" :id="getContextForID + 'g.dataclass2'" :disabled="!currentCaseService?.canWrite('g.dataclass2', '', '')" v-on:mouseover.stop="onHover('g.dataclass2')" v-show="listOfActivePages.includes(getContextForID + 'g.dataclass2')">
						<legend class="groupDescription">
							<span v-html="translationService.t('dataclass2')">
							</span>
						</legend>
						<dataclassitemcomponent :full-name="'g.dataclass2'" :this-index="null" :model="model" :this-set="thisSet">
							<template v-slot:default="{ thisSet, thisObject, thisIndex }">
								<section class="2">
									<div v-if="currentCaseService?.canRead('g.dataclass2.text2','','')" :id="getContextForID + 'g.dataclass2.text2-wrapper'" v-on:mouseover.stop="onHover('g.dataclass2.text2')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'g.dataclass2.text2'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'g.dataclass2.text2'">
											<span v-html="translationService.t('text2')">
											</span>
										</label>
										<input type="text" v-custom-model="'g.dataclass2.text2'" :disabled="!currentCaseService?.canWrite('g.dataclass2.text2', '', '')" :id="getContextForID + 'g.dataclass2.text2'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'g.dataclass2.text2'" :context="context" :container-type="containerType">
										</component>
									</div>
								</section>
							</template>
						</dataclassitemcomponent>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'g.dataclass2'" :context="context" :container-type="containerType">
						</component>
					</fieldset>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'g'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
		<section v-if="!(true)" :id="getContextForID + '-content'">
			<output v-custom-model-for-crf-not-active="'ACTIVE'">
			</output>
			<h3 class="petal-not-active-text" v-html="translationService.t('petalNotActive', { &quot;value&quot;: &quot;ExampleDataClass&quot; })">
			</h3>
			<p>
			<span v-html="translationService.t('ciao')">
			</span>
		</p>
	</section>
</template>
</dataclassitemcomponent>