<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section class="ExampleDataClass">
			<div class="checkboxlist-wrapper" v-if="currentCaseService?.canRead('MultiplechoiceVariable','','')" :id="getContextForID + 'MultiplechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('MultiplechoiceVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'MultiplechoiceVariable'" :context="context" :container-type="containerType">
				</component>
				<span class="checkBoxDescription">
					<span :tooltip="translationService.t('Example Tooltip')">
                ?
            </span>
					<span v-html="translationService.t('MultiplechoiceVariable')">
					</span>
				</span>
				<ul class="checkboxlist" v-custom-model-for-checkboxes="'MultiplechoiceVariable'" init-value="[]" :id="getContextForID + 'MultiplechoiceVariable'">
					<li :id="getContextForID + 'MultiplechoiceVariable-sets.first-wrapper'" v-if="currentCaseService?.canRead('MultiplechoiceVariable-sets.first','','')" v-on:mouseover.stop="onHover('MultiplechoiceVariable-sets.first')">
						<input type="checkbox" value="sets.first" excludes="" :name="getContextForID + 'MultiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('MultiplechoiceVariable', '', '')" :id="getContextForID + 'MultiplechoiceVariable-sets.first'">
						<label class="valueLabel" :for="getContextForID + 'MultiplechoiceVariable-sets.first'">
							<span v-html="translationService.t('first')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'MultiplechoiceVariable-sets.second-wrapper'" v-if="currentCaseService?.canRead('MultiplechoiceVariable-sets.second','','')" v-on:mouseover.stop="onHover('MultiplechoiceVariable-sets.second')">
						<input type="checkbox" value="sets.second" excludes="" :name="getContextForID + 'MultiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('MultiplechoiceVariable', '', '')" :id="getContextForID + 'MultiplechoiceVariable-sets.second'">
						<label class="valueLabel" :for="getContextForID + 'MultiplechoiceVariable-sets.second'">
							<span v-html="translationService.t('second')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'MultiplechoiceVariable-sets.third-wrapper'" v-if="currentCaseService?.canRead('MultiplechoiceVariable-sets.third','','')" v-on:mouseover.stop="onHover('MultiplechoiceVariable-sets.third')">
						<input type="checkbox" value="sets.third" excludes="" :name="getContextForID + 'MultiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('MultiplechoiceVariable', '', '')" :id="getContextForID + 'MultiplechoiceVariable-sets.third'">
						<label class="valueLabel" :for="getContextForID + 'MultiplechoiceVariable-sets.third'">
							<span v-html="translationService.t('third')">
							</span>
						</label>
					</li>
				</ul>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'MultiplechoiceVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div class="checkboxlist-wrapper" v-if="currentCaseService?.canRead('MultiplechoiceVariable2','','')" :id="getContextForID + 'MultiplechoiceVariable2-wrapper'" v-on:mouseover.stop="onHover('MultiplechoiceVariable2')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'MultiplechoiceVariable2'" :context="context" :container-type="containerType">
				</component>
				<span class="checkBoxDescription">
					<span :tooltip="translationService.t('Example Tooltip')">
                ?
            </span>
					<span v-html="translationService.t('MultiplechoiceVariable2')">
					</span>
				</span>
				<ul class="checkboxlist" v-custom-model-for-checkboxes="'MultiplechoiceVariable2'" init-value="[]" v-short-circuit="model.ValuesSetMultipleChoice.MultiplechoiceVariable" :id="getContextForID + 'MultiplechoiceVariable2'">
				</ul>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'MultiplechoiceVariable2'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>