<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<div>
					<div class="boolean-variable" v-if="currentCaseService?.canRead('groupVariable.booleanVariable','','')" :id="getContextForID + 'groupVariable.booleanVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.booleanVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.booleanVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'groupVariable.booleanVariable'">
							<span v-html="translationService.t('booleanVariable')">
							</span>
						</label>
						<input type="checkbox" init-value="false" v-custom-model-for-boolean="'groupVariable.booleanVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.booleanVariable', '', '')" :id="getContextForID + 'groupVariable.booleanVariable'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.booleanVariable'" :context="context" :container-type="containerType">
						</component>
						<div class="error" v-custom-model-for-errors="'groupVariable.booleanVariable_ERROR_myTestError'" init-value="null" v-if="model.groupVariable?.booleanVariable == true && currentCaseService.canRead('groupVariable.booleanVariable_ERROR_myTestError', '', '')" :class="{ unwritable: !currentCaseService?.canWrite('groupVariable.booleanVariable_ERROR_myTestError','','')}" :id="getContextForID + 'groupVariable.booleanVariable_ERROR_myTestError'">
							<span v-html="translationService.t('Error')">
							</span>
						</div>
					</div>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>