<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('textVariable','','')" :id="getContextForID + 'textVariable-wrapper'" v-on:mouseover.stop="onHover('textVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'textVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'textVariable'">
					<span v-html="translationService.t('textVariable')">
					</span>
				</label>
				<input type="text" v-custom-model="'textVariable'" :disabled="!currentCaseService?.canWrite('textVariable', '', '')" :id="getContextForID + 'textVariable'">
				<div class="error" v-custom-model-for-errors="'textVariable_ERROR_PATTERN'" init-value="null" v-if="checkValidity('textVariable', model, 'alphabetical') && currentCaseService.canRead('textVariable_ERROR_PATTERN', '', '')" :class="{ unwritable: !currentCaseService?.canWrite('textVariable_ERROR_PATTERN','','')}" :id="getContextForID + 'textVariable_ERROR_PATTERN'">
					<span v-html="translationService.t('pattern-alphabetical-error')">
					</span>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'textVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>