<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<div>
					<div v-if="currentCaseService?.canRead('groupVariable.textVariable','','')" :id="getContextForID + 'groupVariable.textVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.textVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.textVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'groupVariable.textVariable'">
							<span v-html="translationService.t('textVariable')">
							</span>
						</label>
						<input type="text" v-custom-model="'groupVariable.textVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.textVariable', '', '')" :id="getContextForID + 'groupVariable.textVariable'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.textVariable'" :context="context" :container-type="containerType">
						</component>
					</div>
				</div>
				<div class="error" v-custom-model-for-errors="'groupVariable.ERROR_myTestError'" init-value="null" v-if="model.groupVariable?.textVariable?.length > 0 && currentCaseService.canRead('groupVariable.ERROR_myTestError', '', '')" :class="{ unwritable: !currentCaseService?.canWrite('groupVariable.ERROR_myTestError','','')}" :id="getContextForID + 'groupVariable.ERROR_myTestError'">
				<span v-html="translationService.t('Error')">
				</span>
			</div>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
		</fieldset>
	</section>
</template>
</dataclassitemcomponent>