<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model-for-sets="'setVariable'" init-value="[]" :disabled="!currentCaseService?.canWrite('setVariable', '', '')" :id="getContextForID + 'setVariable'" class="setVariable" v-if="currentCaseService?.canRead('setVariable','','')" v-on:mouseover.stop="onHover('setVariable')">
				<legend class="setDescription">
					<span v-html="translationService.t('setVariable')">
					</span>
				</legend>
				<setcomponent :full-name="'setVariable'" :this-object="thisObject" :this-index="null" :model="model">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<section class="itemSelector">
							<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet); currentPageService.set(getContextForID + 'setVariable[' + (thisSet.length - 1) + ']')" :disabled="!currentCaseService?.canWrite('setVariable', '', '')">
								<span v-html="translationService.t('Add setVariable')">
								</span>
							</button>
							<nav>
								<button type="button" class="page-navigation" v-for="(childElement, index0) in thisSet" :key="childElement.guid" v-on:click.stop="currentPageService.set(getContextForID + 'setVariable[' + index0 + ']')" :class="{selected: listOfActivePages.includes(getContextForID + 'setVariable[' + index0 + ']')}" v-html="translationService.t('-- new setVariable --')">
								</button>
							</nav>
						</section>
						<ul>
							<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'setVariable[' + index0 + ']'" v-show="listOfActivePages.includes(getContextForID + 'setVariable[' + index0 + ']')">
								<setitemcomponent :full-name="'setVariable[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<dataclassitemcomponent :full-name="'setVariable[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
											<template v-slot:default="{ thisSet, thisObject, thisIndex }">
												<section class="parentItemsDC">
													<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].setChild'" :context="context" :container-type="containerType">
													</component>
													<fieldset v-custom-model-for-sets="'setVariable[' + index0 + '].setChild'" init-value="[]" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].setChild', '', '')" :id="getContextForID + 'setVariable[' + index0 + '].setChild'" class="setChild" v-if="currentCaseService?.canRead('setVariable[' + index0 + '].setChild','','')" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].setChild')">
														<legend class="setDescription">
															<span v-html="translationService.t('setChild')">
															</span>
														</legend>
														<setcomponent :full-name="'setVariable[' + index0 + '].setChild'" :this-object="thisObject" :this-index="index0" :model="model">
															<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																<section class="itemSelector">
																	<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet); currentPageService.set(getContextForID + 'setVariable[' + index0 + '].setChild[' + (thisSet.length - 1) + ']')" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].setChild', '', '')">
																		<span v-html="translationService.t('Add setChild')">
																		</span>
																	</button>
																	<nav>
																		<button type="button" class="page-navigation" v-for="(childElement, index1) in thisSet" :key="childElement.guid" v-on:click.stop="currentPageService.set(getContextForID + 'setVariable[' + index0 + '].setChild[' + index1 + ']')" :class="{selected: listOfActivePages.includes(getContextForID + 'setVariable[' + index0 + '].setChild[' + index1 + ']')}" v-html="translationService.t('-- new setChild --')">
																		</button>
																	</nav>
																</section>
																<ul>
																	<li v-for="(childElement, index1) in thisSet" :key="childElement.guid" :id="getContextForID + 'setVariable[' + index0 + '].setChild[' + index1 + ']'" v-show="listOfActivePages.includes(getContextForID + 'setVariable[' + index0 + '].setChild[' + index1 + ']')">
																		<setitemcomponent :full-name="'setVariable[' + index0 + '].setChild[' + index1 + ']'" :this-set="thisSet" :this-index="index1" :model="model" :key="index1">
																			<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																				<dataclassitemcomponent :full-name="'setVariable[' + index0 + '].setChild[' + index1 + ']'" :this-index="index1" :model="model" :this-set="thisSet">
																					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																						<section class="childItemsDC">
																							<div v-if="currentCaseService?.canRead('setVariable[' + index0 + '].setChild[' + index1 + '].textVariable2','','')" :id="getContextForID + 'setVariable[' + index0 + '].setChild[' + index1 + '].textVariable2-wrapper'" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].setChild[' + index1 + '].textVariable2')">
																								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].setChild[' + index1 + '].textVariable2'" :context="context" :container-type="containerType">
																								</component>
																								<label class="variableLabel" :for="getContextForID + 'setVariable[' + index0 + '].setChild[' + index1 + '].textVariable2'">
																									<span v-html="translationService.t('textVariable2')">
																									</span>
																								</label>
																								<input type="text" v-custom-model="'setVariable[' + index0 + '].setChild[' + index1 + '].textVariable2'" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].setChild[' + index1 + '].textVariable2', '', '')" :id="getContextForID + 'setVariable[' + index0 + '].setChild[' + index1 + '].textVariable2'">
																								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].setChild[' + index1 + '].textVariable2'" :context="context" :container-type="containerType">
																								</component>
																							</div>
																						</section>
																					</template>
																				</dataclassitemcomponent>
																				<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index1)" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].setChild[' + index1 + ']', '', '')">
																					<span v-html="translationService.t('Remove this setChild')">
																					</span>
																				</button>
																			</template>
																		</setitemcomponent>
																	</li>
																</ul>
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].setChild'" :context="context" :container-type="containerType">
																</component>
															</template>
														</setcomponent>
													</fieldset>
													<div v-if="currentCaseService?.canRead('setVariable[' + index0 + '].textVariable','','')" :id="getContextForID + 'setVariable[' + index0 + '].textVariable-wrapper'" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].textVariable')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
														</component>
														<label class="variableLabel" :for="getContextForID + 'setVariable[' + index0 + '].textVariable'">
															<span v-html="translationService.t('textVariable')">
															</span>
														</label>
														<input type="text" v-custom-model="'setVariable[' + index0 + '].textVariable'" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].textVariable', '', '')" :id="getContextForID + 'setVariable[' + index0 + '].textVariable'">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
														</component>
													</div>
												</section>
											</template>
										</dataclassitemcomponent>
										<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index0)" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + ']', '', '')">
											<span v-html="translationService.t('Remove this setVariable')">
											</span>
										</button>
									</template>
								</setitemcomponent>
							</li>
						</ul>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable'" :context="context" :container-type="containerType">
						</component>
					</template>
				</setcomponent>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>