<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div class="checkboxlist-wrapper" v-if="currentCaseService?.canRead('multiplechoiceVariable','','')" :id="getContextForID + 'multiplechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('multiplechoiceVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'multiplechoiceVariable'" :context="context" :container-type="containerType">
				</component>
				<span class="checkBoxDescription">
					<span v-html="translationService.t('multiplechoiceVariable')">
					</span>
				</span>
				<ul class="checkboxlist" v-custom-model-for-checkboxes="'multiplechoiceVariable'" init-value="[]" :id="getContextForID + 'multiplechoiceVariable'">
					<li :id="getContextForID + 'multiplechoiceVariable-sets.first-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-sets.first','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-sets.first')">
						<input type="checkbox" value="sets.first" excludes="" :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-sets.first'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-sets.first'">
							<span v-html="translationService.t('first')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'multiplechoiceVariable-sets.second-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-sets.second','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-sets.second')">
						<input type="checkbox" value="sets.second" excludes="" :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-sets.second'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-sets.second'">
							<span v-html="translationService.t('second')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'multiplechoiceVariable-sets.third-wrapper'" v-if="currentCaseService?.canRead('multiplechoiceVariable-sets.third','','')" v-on:mouseover.stop="onHover('multiplechoiceVariable-sets.third')">
						<input type="checkbox" value="sets.third" excludes="" :name="getContextForID + 'multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('multiplechoiceVariable', '', '')" :id="getContextForID + 'multiplechoiceVariable-sets.third'">
						<label class="valueLabel" :for="getContextForID + 'multiplechoiceVariable-sets.third'">
							<span v-html="translationService.t('third')">
							</span>
						</label>
					</li>
				</ul>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'multiplechoiceVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model-for-sets="'setVariable'" init-value="[]" :disabled="!currentCaseService?.canWrite('setVariable', '', '')" :id="getContextForID + 'setVariable'" class="setVariable" v-if="currentCaseService?.canRead('setVariable','','')" v-on:mouseover.stop="onHover('setVariable')" v-computed-items="thisObject?.multiplechoiceVariable" item-key="outputVariable">
				<legend class="setDescription">
					<span v-html="translationService.t('setVariable')">
					</span>
				</legend>
				<setcomponent :full-name="'setVariable'" :this-object="thisObject" :this-index="null" :model="model">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<ul>
							<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'setVariable[' + index0 + ']'">
								<setitemcomponent :full-name="'setVariable[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<dataclassitemcomponent :full-name="'setVariable[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
											<template v-slot:default="{ thisSet, thisObject, thisIndex }">
												<section class="itemsDC">
													<div v-if="currentCaseService?.canRead('setVariable[' + index0 + '].outputVariable','','')" :id="getContextForID + 'setVariable[' + index0 + '].outputVariable-wrapper'" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].outputVariable')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].outputVariable'" :context="context" :container-type="containerType">
														</component>
														<label class="variableLabel" :for="getContextForID + 'setVariable[' + index0 + '].outputVariable'">
															<span v-html="translationService.t('outputVariable')">
															</span>
														</label>
														<output required-for-status="false" v-custom-model="'setVariable[' + index0 + '].outputVariable'" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].outputVariable', '', '')" :id="getContextForID + 'setVariable[' + index0 + '].outputVariable'">
														</output>
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].outputVariable'" :context="context" :container-type="containerType">
														</component>
													</div>
													<div v-if="currentCaseService?.canRead('setVariable[' + index0 + '].textVariable','','')" :id="getContextForID + 'setVariable[' + index0 + '].textVariable-wrapper'" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].textVariable')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
														</component>
														<label class="variableLabel" :for="getContextForID + 'setVariable[' + index0 + '].textVariable'">
															<span v-html="translationService.t('textVariable')">
															</span>
														</label>
														<input type="text" v-custom-model="'setVariable[' + index0 + '].textVariable'" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].textVariable', '', '')" :id="getContextForID + 'setVariable[' + index0 + '].textVariable'">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
														</component>
													</div>
												</section>
											</template>
										</dataclassitemcomponent>
									</template>
								</setitemcomponent>
							</li>
						</ul>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable'" :context="context" :container-type="containerType">
						</component>
					</template>
				</setcomponent>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>