<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('outputVariable','','') && (false)" v-reset-when-hidden="'outputVariable'" :id="getContextForID + 'outputVariable-wrapper'" v-on:mouseover.stop="onHover('outputVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'outputVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'outputVariable'">
					<span v-html="translationService.t('outputVariable')">
					</span>
				</label>
				<output required-for-status="false" v-custom-model="'outputVariable'" :disabled="!currentCaseService?.canWrite('outputVariable', '', '')" :id="getContextForID + 'outputVariable'">
				</output>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'outputVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>