<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('firstname','','')" :id="getContextForID + 'firstname-wrapper'" v-on:mouseover.stop="onHover('firstname')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'firstname'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'firstname'">
					<span v-html="translationService.t('firstname')">
					</span>
				</label>
				<input type="text" v-custom-model="'firstname'" :disabled="!currentCaseService?.canWrite('firstname', '', '')" :id="getContextForID + 'firstname'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'firstname'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('lastname','','')" :id="getContextForID + 'lastname-wrapper'" v-on:mouseover.stop="onHover('lastname')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'lastname'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'lastname'">
					<span v-html="translationService.t('lastname')">
					</span>
				</label>
				<input type="text" v-custom-model="'lastname'" :disabled="!currentCaseService?.canWrite('lastname', '', '')" :id="getContextForID + 'lastname'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'lastname'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('textVariable','','')" :id="getContextForID + 'textVariable-wrapper'" v-on:mouseover.stop="onHover('textVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'textVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'textVariable'">
					<span v-html="translationService.t('textVariable')">
					</span>
				</label>
				<input type="text" v-short-circuit="model.firstname" v-custom-model="'textVariable'" :disabled="!currentCaseService?.canWrite('textVariable', '', '') || (model.firstname) !== null" :id="getContextForID + 'textVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'textVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>