<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<div>
					<div class="checkboxlist-wrapper" v-if="currentCaseService?.canRead('groupVariable.multiplechoiceVariable','','')" :id="getContextForID + 'groupVariable.multiplechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.multiplechoiceVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.multiplechoiceVariable'" :context="context" :container-type="containerType">
						</component>
						<span class="checkBoxDescription">
							<span v-html="translationService.t('multiplechoiceVariable')">
							</span>
						</span>
						<ul class="checkboxlist" v-custom-model-for-checkboxes="'groupVariable.multiplechoiceVariable'" init-value="[]" :id="getContextForID + 'groupVariable.multiplechoiceVariable'">
							<li :id="getContextForID + 'groupVariable.multiplechoiceVariable-sets.first-wrapper'" v-if="currentCaseService?.canRead('groupVariable.multiplechoiceVariable-sets.first','','')" v-on:mouseover.stop="onHover('groupVariable.multiplechoiceVariable-sets.first')">
								<input type="checkbox" value="sets.first" excludes="" :name="getContextForID + 'groupVariable.multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.multiplechoiceVariable', '', '')" :id="getContextForID + 'groupVariable.multiplechoiceVariable-sets.first'">
								<label class="valueLabel" :for="getContextForID + 'groupVariable.multiplechoiceVariable-sets.first'">
									<span v-html="translationService.t('first')">
									</span>
								</label>
							</li>
							<li :id="getContextForID + 'groupVariable.multiplechoiceVariable-sets.second-wrapper'" v-if="currentCaseService?.canRead('groupVariable.multiplechoiceVariable-sets.second','','')" v-on:mouseover.stop="onHover('groupVariable.multiplechoiceVariable-sets.second')">
								<input type="checkbox" value="sets.second" excludes="" :name="getContextForID + 'groupVariable.multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.multiplechoiceVariable', '', '')" :id="getContextForID + 'groupVariable.multiplechoiceVariable-sets.second'">
								<label class="valueLabel" :for="getContextForID + 'groupVariable.multiplechoiceVariable-sets.second'">
									<span v-html="translationService.t('second')">
									</span>
								</label>
							</li>
							<li :id="getContextForID + 'groupVariable.multiplechoiceVariable-sets.third-wrapper'" v-if="currentCaseService?.canRead('groupVariable.multiplechoiceVariable-sets.third','','')" v-on:mouseover.stop="onHover('groupVariable.multiplechoiceVariable-sets.third')">
								<input type="checkbox" value="sets.third" excludes="" :name="getContextForID + 'groupVariable.multiplechoiceVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.multiplechoiceVariable', '', '')" :id="getContextForID + 'groupVariable.multiplechoiceVariable-sets.third'">
								<label class="valueLabel" :for="getContextForID + 'groupVariable.multiplechoiceVariable-sets.third'">
									<span v-html="translationService.t('third')">
									</span>
								</label>
							</li>
						</ul>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.multiplechoiceVariable'" :context="context" :container-type="containerType">
						</component>
					</div>
				</div>
				<div class="requirement" v-if="!(model.groupVariable?.multiplechoiceVariable?.length > 1)" v-custom-model-for-requirements="'groupVariable.REQUIREMENT_myTestRequirement'" init-value="null" :class="{ unwritable: !currentCaseService?.canWrite('groupVariable.REQUIREMENT_myTestRequirement','','')}" required-for-status="3" :id="getContextForID + 'groupVariable.REQUIREMENT_myTestRequirement'">
				<span v-html="translationService.t(' Requirement ')">
				</span>
			</div>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
		</fieldset>
	</section>
</template>
</dataclassitemcomponent>