<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<div>
					<div v-if="currentCaseService?.canRead('groupVariable.dateVariable','','')" :id="getContextForID + 'groupVariable.dateVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.dateVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.dateVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'groupVariable.dateVariable'">
							<span v-html="translationService.t('dateVariable')">
							</span>
						</label>
						<input type="date" v-custom-model="'groupVariable.dateVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.dateVariable', '', '')" :id="getContextForID + 'groupVariable.dateVariable'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.dateVariable'" :context="context" :container-type="containerType">
						</component>
						<div class="requirement" v-if="!(Date.now() > Date.parse(model.groupVariable?.dateVariable))" v-custom-model-for-requirements="'groupVariable.dateVariable_REQUIREMENT_myTestRequirement'" init-value="null" :class="{ unwritable: !currentCaseService?.canWrite('groupVariable.dateVariable_REQUIREMENT_myTestRequirement','','')}" :id="getContextForID + 'groupVariable.dateVariable_REQUIREMENT_myTestRequirement'">
						<span v-html="translationService.t(' Requirement ')">
						</span>
					</div>
				</div>
			</div>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
		</fieldset>
	</section>
</template>
</dataclassitemcomponent>