<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<div>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.dcInstance'" :context="context" :container-type="containerType">
					</component>
					<fieldset v-custom-model="'groupVariable.dcInstance'" v-if="currentCaseService?.canRead('groupVariable.dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'groupVariable.dcInstance'" :disabled="!currentCaseService?.canWrite('groupVariable.dcInstance', '', '')" v-on:mouseover.stop="onHover('groupVariable.dcInstance')">
						<legend class="groupDescription">
							<span v-html="translationService.t('dcInstance')">
							</span>
						</legend>
						<dataclassitemcomponent :full-name="'groupVariable.dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
							<template v-slot:default="{ thisSet, thisObject, thisIndex }">
								<section class="testDC">
									<div v-if="currentCaseService?.canRead('groupVariable.dcInstance.textVariable','','')" :id="getContextForID + 'groupVariable.dcInstance.textVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.dcInstance.textVariable')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.dcInstance.textVariable'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'groupVariable.dcInstance.textVariable'">
											<span v-html="translationService.t('textVariable')">
											</span>
										</label>
										<input type="text" v-custom-model="'groupVariable.dcInstance.textVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.dcInstance.textVariable', '', '')" :id="getContextForID + 'groupVariable.dcInstance.textVariable'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.dcInstance.textVariable'" :context="context" :container-type="containerType">
										</component>
									</div>
									<div class="requirement" v-if="!(model.groupVariable?.dcInstance?.textVariable?.length > 0)" v-custom-model-for-requirements="'groupVariable.dcInstance.REQUIREMENT_myTestRequirement'" init-value="null" :class="{ unwritable: !currentCaseService?.canWrite('groupVariable.dcInstance.REQUIREMENT_myTestRequirement','','')}" :id="getContextForID + 'groupVariable.dcInstance.REQUIREMENT_myTestRequirement'">
									<span v-html="translationService.t(' Requirement ')">
									</span>
								</div>
							</section>
						</template>
					</dataclassitemcomponent>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.dcInstance'" :context="context" :container-type="containerType">
					</component>
				</fieldset>
			</div>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
		</fieldset>
	</section>
</template>
</dataclassitemcomponent>