<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<div>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.setVariable'" :context="context" :container-type="containerType">
					</component>
					<fieldset v-custom-model-for-sets="'groupVariable.setVariable'" init-value="[]" :disabled="!currentCaseService?.canWrite('groupVariable.setVariable', '', '')" :id="getContextForID + 'groupVariable.setVariable'" class="setVariable" v-if="currentCaseService?.canRead('groupVariable.setVariable','','')" v-on:mouseover.stop="onHover('groupVariable.setVariable')">
						<legend class="setDescription">
							<span v-html="translationService.t('setVariable')">
							</span>
						</legend>
						<setcomponent :full-name="'groupVariable.setVariable'" :this-object="thisObject" :this-index="null" :model="model">
							<template v-slot:default="{ thisSet, thisObject, thisIndex }">
								<ul>
									<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'groupVariable.setVariable[' + index0 + ']'">
										<setitemcomponent :full-name="'groupVariable.setVariable[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
											<template v-slot:default="{ thisSet, thisObject, thisIndex }">
												<dataclassitemcomponent :full-name="'groupVariable.setVariable[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
													<template v-slot:default="{ thisSet, thisObject, thisIndex }">
														<section class="test">
															<div v-if="currentCaseService?.canRead('groupVariable.setVariable[' + index0 + '].textVariable','','')" :id="getContextForID + 'groupVariable.setVariable[' + index0 + '].textVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.setVariable[' + index0 + '].textVariable')">
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.setVariable[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
																</component>
																<label class="variableLabel" :for="getContextForID + 'groupVariable.setVariable[' + index0 + '].textVariable'">
																	<span v-html="translationService.t('textVariable')">
																	</span>
																</label>
																<input type="text" v-custom-model="'groupVariable.setVariable[' + index0 + '].textVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.setVariable[' + index0 + '].textVariable', '', '')" :id="getContextForID + 'groupVariable.setVariable[' + index0 + '].textVariable'">
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.setVariable[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
																</component>
															</div>
															<div class="requirement" v-if="!(thisObject.textVariable?.length > 0)" v-custom-model-for-requirements="'groupVariable.setVariable[' + index0 + '].REQUIREMENT_myTestRequirement2'" init-value="null" :class="{ unwritable: !currentCaseService?.canWrite('groupVariable.setVariable[' + index0 + '].REQUIREMENT_myTestRequirement2','','')}" :id="getContextForID + 'groupVariable.setVariable[' + index0 + '].REQUIREMENT_myTestRequirement2'">
															<span v-html="translationService.t(' Requirement2 ')">
															</span>
														</div>
													</section>
												</template>
											</dataclassitemcomponent>
											<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index0)" :disabled="!currentCaseService?.canWrite('groupVariable.setVariable[' + index0 + ']', '', '')">
												<span v-html="translationService.t('Remove this setVariable')">
												</span>
											</button>
										</template>
									</setitemcomponent>
								</li>
							</ul>
							<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet)">
								<span v-html="translationService.t('Add test')">
								</span>
							</button>
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.setVariable'" :context="context" :container-type="containerType">
							</component>
						</template>
					</setcomponent>
				</fieldset>
			</div>
			<div class="requirement" v-if="!(false)" v-custom-model-for-requirements="'groupVariable.REQUIREMENT_myTestRequirement'" init-value="null" :class="{ unwritable: !currentCaseService?.canWrite('groupVariable.REQUIREMENT_myTestRequirement','','')}" :id="getContextForID + 'groupVariable.REQUIREMENT_myTestRequirement'">
				<span v-html="translationService.t('Requirement')">
				</span>
			</div>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
		</fieldset>
	</section>
</template>
</dataclassitemcomponent>