.dandelion-cmp div input:focus-visible,
.dandelion-cmp div select:focus-visible {
  background: white;
}

.dandelion-cmp .checkBoxDescription,
.dandelion-cmp .radioDescription,
.dandelion-cmp .setDescription,
.dandelion-cmp .variableLabel {
  min-width: 20ch;
}

#trauma\.CompilazioneOspedalieraDatiClinici .checkBoxDescription,
#trauma\.CompilazioneOspedalieraDatiClinici .radioDescription,
#trauma\.CompilazioneOspedalieraDatiClinici .setDescription,
#trauma\.CompilazioneOspedalieraDatiClinici .variableLabel {
  min-width: 10ch;
}

#trauma\.CasoClinico .valueDescription {
  min-width: 15ch;
}

#trauma\.CasoClinico\.modalitaDiAccesso li,
#trauma\.Logistica118\.codiceInvio118-wrapper li,
#trauma\.Logistica118\.codiceRientro118-wrapper li,
#trauma\.Compilazione118\.timeWasting-wrapper li,
#trauma\.Compilazione118\.prestazioni-wrapper li {
  display: block;
}

#trauma\.Logistica118\.codiceInvio118-wrapper,
#trauma\.Logistica118\.codiceRientro118-wrapper {
  display: inline-block;
}

.dandelion-cmp #trauma\.Logistica118\.codiceInvio118-wrapper .radioDescription,
.dandelion-cmp #trauma\.Logistica118\.codiceRientro118-wrapper .radioDescription {
  min-width: initial;
}

.dandelion-cmp div {
  margin-bottom: 0.7rem;
}

#trauma\.Compilazione118\.aggravante,
#trauma\.CompilazioneOspedalieraDatiClinici\.tipologiaInterventoEmergenza {
  display: flex;
  flex-wrap: wrap;
}

#trauma\.Compilazione118\.aggravante li {
  min-width: 45ch;
}

#trauma\.CompilazioneOspedalieraDatiClinici\.tipologiaInterventoEmergenza li {
  min-width: 25ch;
}

#trauma\.Logistica118 .radioDescription,
#trauma\.Logistica118 .checkBoxDescription,
#trauma\.Logistica118 .variableLabel,
#trauma\.CasoClinico .radioDescription,
#trauma\.CasoClinico .checkBoxDescription,
#trauma\.CasoClinico .variableLabel,
#trauma\.Compilazione118 .radioDescription,
#trauma\.Compilazione118 .checkBoxDescription,
#trauma\.Compilazione118 .variableLabel,
#trauma\.CompilazioneOspedalieraCoreMinimo .radioDescription,
#trauma\.CompilazioneOspedalieraCoreMinimo .checkBoxDescription,
#trauma\.CompilazioneOspedalieraCoreMinimo .variableLabel,
#trauma\.CompilazioneOspedalieraDatiClinici .radioDescription,
#trauma\.CompilazioneOspedalieraDatiClinici .checkBoxDescription,
#trauma\.CompilazioneOspedalieraDatiClinici .variableLabel {
  color: var(--main-text-color);
}

fieldset#trauma\.CasoClinico,
fieldset#trauma\.Logistica118,
fieldset#trauma\.Compilazione118,
fieldset#trauma\.CompilazioneOspedalieraCoreMinimo,
fieldset#trauma\.CompilazioneOspedalieraDatiClinici {
  border-left-color: var(--secondary-color);
}

#trauma\.CasoClinico,
#trauma\.Logistica118,
#trauma\.Compilazione118,
#trauma\.CompilazioneOspedalieraCoreMinimo,
#trauma\.CompilazioneOspedalieraDatiClinici {
  background-color: white;
  box-shadow: var(--shadow-small);
}

#trauma\.CasoClinico legend,
#trauma\.Logistica118 legend,
#trauma\.Compilazione118 legend,
#trauma\.CompilazioneOspedalieraCoreMinimo legend,
#trauma\.CompilazioneOspedalieraDatiClinici legend {
  color: var(--secondary-color);
  text-shadow: 1px 1px 2px rgba(125, 124, 124, 0.5);
}

/*
#trauma\.CasoClinico legend { color: rgb(188, 147, 43); }
#trauma\.Logistica118 legend { color: #666; }
#trauma\.Compilazione118 legend { color: rgb(50, 113, 171) }
#trauma\.CompilazioneOspedalieraCoreMinimo legend { color: rgb(32, 142, 120) }
#trauma\.CompilazioneOspedalieraDatiClinici legend { color: rgb(155, 42, 98) }

fieldset#trauma\.CasoClinico { border-left-color: rgb(188, 147, 43);}
fieldset#trauma\.Logistica118 { border-left-color: #666;}
fieldset#trauma\.Compilazione118 { border-left-color: rgb(50, 113, 171);}
fieldset#trauma\.CompilazioneOspedalieraCoreMinimo { border-left-color: rgb(32, 142, 120); }
fieldset#trauma\.CompilazioneOspedalieraDatiClinici { border-left-color: rgb(155, 42, 98);}
*/

.Compilazione118 .Compilazione118 {
  display: grid;
  grid-template-columns: 35ch 1fr;
}

.CompilazioneOspedalieraDatiClinici .CompilazioneOspedalieraDatiClinici {
  display: grid;
  grid-template-columns: 25ch 1fr;
}

#trauma\.Compilazione118\.tipoTrauma-wrapper,
#trauma\.Compilazione118\.meccanismo-wrapper,
#trauma\.Compilazione118\.aggravante-wrapper,
#trauma\.Compilazione118\.intenzionalita-wrapper,
#trauma\.Compilazione118\.mezzoDiTrasporto-wrapper,
#trauma\.Compilazione118\.assistenzaDuranteTrasporto-wrapper,
#trauma\.Compilazione118\.timeWasting-wrapper,
#trauma\.Compilazione118\.prestazioni-wrapper,
#trauma\.Compilazione118\.avpu-wrapper,
#trauma\.Compilazione118\.shockIndexHrSbp-wrapper,
#trauma\.Compilazione118\.accPreospedaliero-wrapper,
#trauma\.Compilazione118\.intubazionePreospedaliera-wrapper,
#trauma\.Compilazione118\.los-wrapper,
#trauma\.Compilazione118\.polsoPresenteMaPANonRilevabile-wrapper,
#trauma\.Compilazione118\.pupille-wrapper,
#trauma\.Compilazione118\.gcsPreospedaliero-wrapper,
#trauma\.Compilazione118\.rosc-wrapper,
#trauma\.CompilazioneOspedalieraDatiClinici\.alertTraumaTeam-wrapper,
#trauma\.CompilazioneOspedalieraDatiClinici\.asa-wrapper,
#trauma\.CompilazioneOspedalieraDatiClinici\.gcsOspedaliero-wrapper,
#trauma\.CompilazioneOspedalieraDatiClinici\.respiroAutonomo-wrapper,
#trauma\.CompilazioneOspedalieraDatiClinici\.tipologiaInterventoEmergenza-wrapper,
#trauma\.CompilazioneOspedalieraDatiClinici\.salaOperatoria-wrapper,
#trauma\.CompilazioneOspedalieraDatiClinici\.icu-wrapper,
#trauma\.CompilazioneOspedalieraDatiClinici\.issPresente-wrapper,
#trauma\.CompilazioneOspedalieraDatiClinici\.iss-wrapper,
#trauma\.CompilazioneOspedalieraDatiClinici\.gos-wrapper,
#trauma\.Compilazione118\.WARNING_prioritaNonP0ConVieAereeNonControllabili_CONFIRMED-wrapper {
  grid-column: 1 / 3;
}

#trauma\.Logistica118\.dataPartenzaPazienteVersoOspedale-wrapper label,
#trauma\.Logistica118\.oraPartenzaPazienteVersoOspedale-wrapper label,
#trauma\.Logistica118\.dataArrivoPazienteInOspedale-wrapper label,
#trauma\.Logistica118\.OraArrivoPazienteInOspedale-wrapper label {
  min-width: 35ch;
}

#trauma\.DatiImportati {
  display: none;
}
