<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'dcInstance'" v-if="currentCaseService?.canRead('dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'dcInstance'" :disabled="!currentCaseService?.canWrite('dcInstance', '', '')" v-on:mouseover.stop="onHover('dcInstance')">
				<legend class="groupDescription">
					<span v-html="translationService.t('dcInstance')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<section class="itemsDC">
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'dcInstance.groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable', '', '')" :id="getContextForID + 'dcInstance.groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('dcInstance.groupVariable','','')" v-on:mouseover.stop="onHover('dcInstance.groupVariable')">
								<legend class="groupDescription">
									<span v-html="translationService.t('groupVariable')">
									</span>
								</legend>
								<div>
									<div v-if="currentCaseService?.canRead('dcInstance.groupVariable.textVariable','','')" :id="getContextForID + 'dcInstance.groupVariable.textVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.groupVariable.textVariable')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable.textVariable'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'dcInstance.groupVariable.textVariable'">
											<span v-html="translationService.t('textVariable')">
											</span>
										</label>
										<input type="text" v-custom-model="'dcInstance.groupVariable.textVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable.textVariable', '', '')" :id="getContextForID + 'dcInstance.groupVariable.textVariable'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable.textVariable'" :context="context" :container-type="containerType">
										</component>
									</div>
									<div v-if="currentCaseService?.canRead('dcInstance.groupVariable.copyTextVariable','','')" :id="getContextForID + 'dcInstance.groupVariable.copyTextVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.groupVariable.copyTextVariable')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable.copyTextVariable'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'dcInstance.groupVariable.copyTextVariable'">
											<span v-html="translationService.t('copyTextVariable')">
											</span>
										</label>
										<input type="text" v-short-circuit="thisObject?.groupVariable?.textVariable" v-custom-model="'dcInstance.groupVariable.copyTextVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable.copyTextVariable', '', '') || (thisObject?.groupVariable?.textVariable) !== null" :id="getContextForID + 'dcInstance.groupVariable.copyTextVariable'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable.copyTextVariable'" :context="context" :container-type="containerType">
										</component>
									</div>
								</div>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'dcInstance.groupVariable2'" init-value="({})" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable2', '', '')" :id="getContextForID + 'dcInstance.groupVariable2'" class="groupVariable2" v-if="currentCaseService?.canRead('dcInstance.groupVariable2','','')" v-on:mouseover.stop="onHover('dcInstance.groupVariable2')">
								<legend class="groupDescription">
									<span v-html="translationService.t('groupVariable2')">
									</span>
								</legend>
								<div>
									<div v-if="currentCaseService?.canRead('dcInstance.groupVariable2.textVariable2','','')" :id="getContextForID + 'dcInstance.groupVariable2.textVariable2-wrapper'" v-on:mouseover.stop="onHover('dcInstance.groupVariable2.textVariable2')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2.textVariable2'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'dcInstance.groupVariable2.textVariable2'">
											<span v-html="translationService.t('textVariable2')">
											</span>
										</label>
										<input type="text" v-custom-model="'dcInstance.groupVariable2.textVariable2'" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable2.textVariable2', '', '')" :id="getContextForID + 'dcInstance.groupVariable2.textVariable2'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2.textVariable2'" :context="context" :container-type="containerType">
										</component>
									</div>
									<div v-if="currentCaseService?.canRead('dcInstance.groupVariable2.copyTextVariable2','','')" :id="getContextForID + 'dcInstance.groupVariable2.copyTextVariable2-wrapper'" v-on:mouseover.stop="onHover('dcInstance.groupVariable2.copyTextVariable2')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2.copyTextVariable2'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'dcInstance.groupVariable2.copyTextVariable2'">
											<span v-html="translationService.t('copyTextVariable2')">
											</span>
										</label>
										<input type="text" v-short-circuit="thisObject?.groupVariable2?.textVariable2" v-custom-model="'dcInstance.groupVariable2.copyTextVariable2'" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable2.copyTextVariable2', '', '') || (thisObject?.groupVariable2?.textVariable2) !== null" :id="getContextForID + 'dcInstance.groupVariable2.copyTextVariable2'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2.copyTextVariable2'" :context="context" :container-type="containerType">
										</component>
									</div>
								</div>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>