<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model-for-sets="'setVariable'" init-value="[]" :disabled="!currentCaseService?.canWrite('setVariable', '', '')" :id="getContextForID + 'setVariable'" class="setVariable" v-if="currentCaseService?.canRead('setVariable','','')" v-on:mouseover.stop="onHover('setVariable')">
				<legend class="setDescription">
					<span v-html="translationService.t('setVariable')">
					</span>
				</legend>
				<setcomponent :full-name="'setVariable'" :this-object="thisObject" :this-index="null" :model="model">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<ul>
							<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'setVariable[' + index0 + ']'">
								<setitemcomponent :full-name="'setVariable[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<dataclassitemcomponent :full-name="'setVariable[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
											<template v-slot:default="{ thisSet, thisObject, thisIndex }">
												<section class="itemsDC">
													<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].groupVariable'" :context="context" :container-type="containerType">
													</component>
													<fieldset v-custom-model="'setVariable[' + index0 + '].groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].groupVariable', '', '')" :id="getContextForID + 'setVariable[' + index0 + '].groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('setVariable[' + index0 + '].groupVariable','','')" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].groupVariable')">
														<legend class="groupDescription">
															<span v-html="translationService.t('groupVariable')">
															</span>
														</legend>
														<div>
															<div v-if="currentCaseService?.canRead('setVariable[' + index0 + '].groupVariable.textVariable','','')" :id="getContextForID + 'setVariable[' + index0 + '].groupVariable.textVariable-wrapper'" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].groupVariable.textVariable')">
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].groupVariable.textVariable'" :context="context" :container-type="containerType">
																</component>
																<label class="variableLabel" :for="getContextForID + 'setVariable[' + index0 + '].groupVariable.textVariable'">
																	<span v-html="translationService.t('textVariable')">
																	</span>
																</label>
																<input type="text" v-custom-model="'setVariable[' + index0 + '].groupVariable.textVariable'" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].groupVariable.textVariable', '', '')" :id="getContextForID + 'setVariable[' + index0 + '].groupVariable.textVariable'">
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].groupVariable.textVariable'" :context="context" :container-type="containerType">
																</component>
															</div>
															<div v-if="currentCaseService?.canRead('setVariable[' + index0 + '].groupVariable.copyTextVariable','','')" :id="getContextForID + 'setVariable[' + index0 + '].groupVariable.copyTextVariable-wrapper'" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].groupVariable.copyTextVariable')">
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].groupVariable.copyTextVariable'" :context="context" :container-type="containerType">
																</component>
																<label class="variableLabel" :for="getContextForID + 'setVariable[' + index0 + '].groupVariable.copyTextVariable'">
																	<span v-html="translationService.t('copyTextVariable')">
																	</span>
																</label>
																<input type="text" v-short-circuit="thisObject?.groupVariable?.textVariable" v-custom-model="'setVariable[' + index0 + '].groupVariable.copyTextVariable'" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].groupVariable.copyTextVariable', '', '') || (thisObject?.groupVariable?.textVariable) !== null" :id="getContextForID + 'setVariable[' + index0 + '].groupVariable.copyTextVariable'">
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].groupVariable.copyTextVariable'" :context="context" :container-type="containerType">
																</component>
															</div>
														</div>
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].groupVariable'" :context="context" :container-type="containerType">
														</component>
													</fieldset>
													<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].groupVariable2'" :context="context" :container-type="containerType">
													</component>
													<fieldset v-custom-model="'setVariable[' + index0 + '].groupVariable2'" init-value="({})" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].groupVariable2', '', '')" :id="getContextForID + 'setVariable[' + index0 + '].groupVariable2'" class="groupVariable2" v-if="currentCaseService?.canRead('setVariable[' + index0 + '].groupVariable2','','')" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].groupVariable2')">
														<legend class="groupDescription">
															<span v-html="translationService.t('groupVariable2')">
															</span>
														</legend>
														<div>
															<div v-if="currentCaseService?.canRead('setVariable[' + index0 + '].groupVariable2.textVariable2','','')" :id="getContextForID + 'setVariable[' + index0 + '].groupVariable2.textVariable2-wrapper'" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].groupVariable2.textVariable2')">
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].groupVariable2.textVariable2'" :context="context" :container-type="containerType">
																</component>
																<label class="variableLabel" :for="getContextForID + 'setVariable[' + index0 + '].groupVariable2.textVariable2'">
																	<span v-html="translationService.t('textVariable2')">
																	</span>
																</label>
																<input type="text" v-custom-model="'setVariable[' + index0 + '].groupVariable2.textVariable2'" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].groupVariable2.textVariable2', '', '')" :id="getContextForID + 'setVariable[' + index0 + '].groupVariable2.textVariable2'">
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].groupVariable2.textVariable2'" :context="context" :container-type="containerType">
																</component>
															</div>
															<div v-if="currentCaseService?.canRead('setVariable[' + index0 + '].groupVariable2.copyTextVariable2','','')" :id="getContextForID + 'setVariable[' + index0 + '].groupVariable2.copyTextVariable2-wrapper'" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].groupVariable2.copyTextVariable2')">
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].groupVariable2.copyTextVariable2'" :context="context" :container-type="containerType">
																</component>
																<label class="variableLabel" :for="getContextForID + 'setVariable[' + index0 + '].groupVariable2.copyTextVariable2'">
																	<span v-html="translationService.t('copyTextVariable2')">
																	</span>
																</label>
																<input type="text" v-short-circuit="thisObject?.groupVariable2?.textVariable2" v-custom-model="'setVariable[' + index0 + '].groupVariable2.copyTextVariable2'" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].groupVariable2.copyTextVariable2', '', '') || (thisObject?.groupVariable2?.textVariable2) !== null" :id="getContextForID + 'setVariable[' + index0 + '].groupVariable2.copyTextVariable2'">
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].groupVariable2.copyTextVariable2'" :context="context" :container-type="containerType">
																</component>
															</div>
														</div>
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].groupVariable2'" :context="context" :container-type="containerType">
														</component>
													</fieldset>
												</section>
											</template>
										</dataclassitemcomponent>
										<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index0)" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + ']', '', '')">
											<span v-html="translationService.t('Remove this setVariable')">
											</span>
										</button>
									</template>
								</setitemcomponent>
							</li>
						</ul>
						<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet)">
							<span v-html="translationService.t('Add itemsDC')">
							</span>
						</button>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable'" :context="context" :container-type="containerType">
						</component>
					</template>
				</setcomponent>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>