<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'dcInstance'" v-if="currentCaseService?.canRead('dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'dcInstance'" :disabled="!currentCaseService?.canWrite('dcInstance', '', '')" v-on:mouseover.stop="onHover('dcInstance')">
				<legend class="groupDescription">
					<span v-html="translationService.t('dcInstance')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<section class="itemsDC">
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.setVariable'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model-for-sets="'dcInstance.setVariable'" init-value="[]" :disabled="!currentCaseService?.canWrite('dcInstance.setVariable', '', '')" :id="getContextForID + 'dcInstance.setVariable'" class="setVariable" v-if="currentCaseService?.canRead('dcInstance.setVariable','','')" v-on:mouseover.stop="onHover('dcInstance.setVariable')">
								<legend class="setDescription">
									<span v-html="translationService.t('setVariable')">
									</span>
								</legend>
								<setcomponent :full-name="'dcInstance.setVariable'" :this-object="thisObject" :this-index="null" :model="model">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<ul>
											<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'dcInstance.setVariable[' + index0 + ']'">
												<setitemcomponent :full-name="'dcInstance.setVariable[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
													<template v-slot:default="{ thisSet, thisObject, thisIndex }">
														<dataclassitemcomponent :full-name="'dcInstance.setVariable[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
															<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																<section class="setItemsDC">
																	<div v-if="currentCaseService?.canRead('dcInstance.setVariable[' + index0 + '].textVariable','','')" :id="getContextForID + 'dcInstance.setVariable[' + index0 + '].textVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.setVariable[' + index0 + '].textVariable')">
																		<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.setVariable[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
																		</component>
																		<label class="variableLabel" :for="getContextForID + 'dcInstance.setVariable[' + index0 + '].textVariable'">
																			<span v-html="translationService.t('textVariable')">
																			</span>
																		</label>
																		<input type="text" v-custom-model="'dcInstance.setVariable[' + index0 + '].textVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.setVariable[' + index0 + '].textVariable', '', '')" :id="getContextForID + 'dcInstance.setVariable[' + index0 + '].textVariable'">
																		<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.setVariable[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
																		</component>
																	</div>
																	<div v-if="currentCaseService?.canRead('dcInstance.setVariable[' + index0 + '].copyTextVariable','','')" :id="getContextForID + 'dcInstance.setVariable[' + index0 + '].copyTextVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.setVariable[' + index0 + '].copyTextVariable')">
																		<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.setVariable[' + index0 + '].copyTextVariable'" :context="context" :container-type="containerType">
																		</component>
																		<label class="variableLabel" :for="getContextForID + 'dcInstance.setVariable[' + index0 + '].copyTextVariable'">
																			<span v-html="translationService.t('copyTextVariable')">
																			</span>
																		</label>
																		<input type="text" v-short-circuit="thisObject?.textVariable" v-custom-model="'dcInstance.setVariable[' + index0 + '].copyTextVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.setVariable[' + index0 + '].copyTextVariable', '', '') || (thisObject?.textVariable) !== null" :id="getContextForID + 'dcInstance.setVariable[' + index0 + '].copyTextVariable'">
																		<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.setVariable[' + index0 + '].copyTextVariable'" :context="context" :container-type="containerType">
																		</component>
																	</div>
																</section>
															</template>
														</dataclassitemcomponent>
														<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index0)" :disabled="!currentCaseService?.canWrite('dcInstance.setVariable[' + index0 + ']', '', '')">
															<span v-html="translationService.t('Remove this setVariable')">
															</span>
														</button>
													</template>
												</setitemcomponent>
											</li>
										</ul>
										<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet)">
											<span v-html="translationService.t('Add setItemsDC')">
											</span>
										</button>
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.setVariable'" :context="context" :container-type="containerType">
										</component>
									</template>
								</setcomponent>
							</fieldset>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>