<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'dcInstance'" v-if="currentCaseService?.canRead('dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'dcInstance'" :disabled="!currentCaseService?.canWrite('dcInstance', '', '')" v-on:mouseover.stop="onHover('dcInstance')">
				<legend class="groupDescription">
					<span v-html="translationService.t('dcInstance')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<section class="dc">
							<div v-if="currentCaseService?.canRead('dcInstance.textVariable','','')" :id="getContextForID + 'dcInstance.textVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.textVariable')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.textVariable'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'dcInstance.textVariable'">
									<span v-html="translationService.t('textVariable')">
									</span>
								</label>
								<input type="text" v-custom-model="'dcInstance.textVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.textVariable', '', '')" :id="getContextForID + 'dcInstance.textVariable'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.textVariable'" :context="context" :container-type="containerType">
								</component>
							</div>
							<div v-if="currentCaseService?.canRead('dcInstance.copyTextVariable','','')" :id="getContextForID + 'dcInstance.copyTextVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.copyTextVariable')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.copyTextVariable'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'dcInstance.copyTextVariable'">
									<span v-html="translationService.t('copyTextVariable')">
									</span>
								</label>
								<input type="text" v-short-circuit="thisObject?.textVariable" v-custom-model="'dcInstance.copyTextVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.copyTextVariable', '', '') || (thisObject?.textVariable) !== null" :id="getContextForID + 'dcInstance.copyTextVariable'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.copyTextVariable'" :context="context" :container-type="containerType">
								</component>
							</div>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance2'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'dcInstance2'" v-if="currentCaseService?.canRead('dcInstance2','','')" init-value="({})" class="dcInstance2" :id="getContextForID + 'dcInstance2'" :disabled="!currentCaseService?.canWrite('dcInstance2', '', '')" v-on:mouseover.stop="onHover('dcInstance2')">
				<legend class="groupDescription">
					<span v-html="translationService.t('dcInstance2')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'dcInstance2'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<section class="dc2">
							<div v-if="currentCaseService?.canRead('dcInstance2.textVariable2','','')" :id="getContextForID + 'dcInstance2.textVariable2-wrapper'" v-on:mouseover.stop="onHover('dcInstance2.textVariable2')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance2.textVariable2'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'dcInstance2.textVariable2'">
									<span v-html="translationService.t('textVariable2')">
									</span>
								</label>
								<input type="text" v-custom-model="'dcInstance2.textVariable2'" :disabled="!currentCaseService?.canWrite('dcInstance2.textVariable2', '', '')" :id="getContextForID + 'dcInstance2.textVariable2'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance2.textVariable2'" :context="context" :container-type="containerType">
								</component>
							</div>
							<div v-if="currentCaseService?.canRead('dcInstance2.copyTextVariable2','','')" :id="getContextForID + 'dcInstance2.copyTextVariable2-wrapper'" v-on:mouseover.stop="onHover('dcInstance2.copyTextVariable2')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance2.copyTextVariable2'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'dcInstance2.copyTextVariable2'">
									<span v-html="translationService.t('copyTextVariable2')">
									</span>
								</label>
								<input type="text" v-short-circuit="thisObject?.textVariable2" v-custom-model="'dcInstance2.copyTextVariable2'" :disabled="!currentCaseService?.canWrite('dcInstance2.copyTextVariable2', '', '') || (thisObject?.textVariable2) !== null" :id="getContextForID + 'dcInstance2.copyTextVariable2'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance2.copyTextVariable2'" :context="context" :container-type="containerType">
								</component>
							</div>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance2'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>