<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'dcInstance'" v-if="currentCaseService?.canRead('dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'dcInstance'" :disabled="!currentCaseService?.canWrite('dcInstance', '', '')" v-on:mouseover.stop="onHover('dcInstance')">
				<legend class="groupDescription">
					<span v-html="translationService.t('dcInstance')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<section class="dc">
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.dcInstance2'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'dcInstance.dcInstance2'" v-if="currentCaseService?.canRead('dcInstance.dcInstance2','','')" init-value="({})" class="dcInstance2" :id="getContextForID + 'dcInstance.dcInstance2'" :disabled="!currentCaseService?.canWrite('dcInstance.dcInstance2', '', '')" v-on:mouseover.stop="onHover('dcInstance.dcInstance2')">
								<legend class="groupDescription">
									<span v-html="translationService.t('dcInstance2')">
									</span>
								</legend>
								<dataclassitemcomponent :full-name="'dcInstance.dcInstance2'" :this-index="null" :model="model" :this-set="thisSet">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<section class="dc2">
											<div v-if="currentCaseService?.canRead('dcInstance.dcInstance2.textVariable','','')" :id="getContextForID + 'dcInstance.dcInstance2.textVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.dcInstance2.textVariable')">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.dcInstance2.textVariable'" :context="context" :container-type="containerType">
												</component>
												<label class="variableLabel" :for="getContextForID + 'dcInstance.dcInstance2.textVariable'">
													<span v-html="translationService.t('textVariable')">
													</span>
												</label>
												<input type="text" v-custom-model="'dcInstance.dcInstance2.textVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.dcInstance2.textVariable', '', '')" :id="getContextForID + 'dcInstance.dcInstance2.textVariable'">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.dcInstance2.textVariable'" :context="context" :container-type="containerType">
												</component>
											</div>
											<div v-if="currentCaseService?.canRead('dcInstance.dcInstance2.copyTextVariable','','')" :id="getContextForID + 'dcInstance.dcInstance2.copyTextVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.dcInstance2.copyTextVariable')">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.dcInstance2.copyTextVariable'" :context="context" :container-type="containerType">
												</component>
												<label class="variableLabel" :for="getContextForID + 'dcInstance.dcInstance2.copyTextVariable'">
													<span v-html="translationService.t('copyTextVariable')">
													</span>
												</label>
												<input type="text" v-short-circuit="thisObject?.textVariable" v-custom-model="'dcInstance.dcInstance2.copyTextVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.dcInstance2.copyTextVariable', '', '') || (thisObject?.textVariable) !== null" :id="getContextForID + 'dcInstance.dcInstance2.copyTextVariable'">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.dcInstance2.copyTextVariable'" :context="context" :container-type="containerType">
												</component>
											</div>
										</section>
									</template>
								</dataclassitemcomponent>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.dcInstance2'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>