<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div style="display:none;" v-if="currentCaseService?.canRead('supportVariable','','')" :id="getContextForID + 'supportVariable-wrapper'" v-on:mouseover.stop="onHover('supportVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'supportVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'supportVariable'">
					<span v-html="translationService.t('supportVariable')">
					</span>
				</label>
				<input type="support" required-for-status="false" v-short-circuit="8" v-custom-model="'supportVariable'" :disabled="!currentCaseService?.canWrite('supportVariable', '', '') || (8) !== null" :id="getContextForID + 'supportVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'supportVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>