<script setup lang="ts">
import {
  Contexts,
  CurrentCaseService,
  NamedBindings,
  SingleCaseComponent,
  getContainer,
} from '@dandelion/core';
import 'vue3-toastify/dist/index.css';

const currentCaseService = getContainer(Contexts.DEFAULT).get(
  NamedBindings.CurrentCaseService
) as CurrentCaseService;

function resetModel() {
  currentCaseService.updateModel({ Admission: {} });
}
</script>

<template>
  <main id="scc">
    <SingleCaseComponent></SingleCaseComponent>
    <button @click="resetModel()">Reset Model</button>
  </main>
</template>

<style scoped></style>
