<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('dateVariable','','')" :id="getContextForID + 'dateVariable-wrapper'" v-on:mouseover.stop="onHover('dateVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dateVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'dateVariable'">
					<span v-html="translationService.t('dateVariable')">
					</span>
				</label>
				<input type="date" v-custom-model="'dateVariable'" :disabled="!currentCaseService?.canWrite('dateVariable', '', '')" :id="getContextForID + 'dateVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dateVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('dateVariable','','')" :id="getContextForID + 'dateRef.dateVariable-wrapper'" v-on:mouseover.stop="onHover('dateVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dateVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'dateRef.dateVariable'">
					<span v-html="translationService.t('dateVariable')">
					</span>
				</label>
				<input type="date" v-custom-model="'dateVariable'" :disabled="!currentCaseService?.canWrite('dateVariable', '', '')" :id="getContextForID + 'dateRef.dateVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dateVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>