<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('text','','')" :id="getContextForID + 'text-wrapper'" v-on:mouseover.stop="onHover('text')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'text'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'text'">
					<span v-html="translationService.t('text')">
					</span>
				</label>
				<input type="text" v-custom-model="'text'" :disabled="!currentCaseService?.canWrite('text', '', '')" :id="getContextForID + 'text'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'text'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>