<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('numbervariable','','')" :id="getContextForID + 'numbervariable-wrapper'" v-on:mouseover.stop="onHover('numbervariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'numbervariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'numbervariable'">
					<span v-html="translationService.t('numbervariable')">
					</span>
				</label>
				<input type="number" init-value="NaN" v-custom-model="'numbervariable'" :disabled="!currentCaseService?.canWrite('numbervariable', '', '')" :id="getContextForID + 'numbervariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'numbervariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>