<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupInAdmission'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupInAdmission'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupInAdmission', '', '')" :id="getContextForID + 'groupInAdmission'" class="groupInAdmission" v-if="currentCaseService?.canRead('groupInAdmission','','')" v-on:mouseover.stop="onHover('groupInAdmission')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupInAdmission')">
					</span>
				</legend>
				<div>
					<div v-if="currentCaseService?.canRead('groupInAdmission.textVariable','','')" :id="getContextForID + 'groupInAdmission.textVariable-wrapper'" v-on:mouseover.stop="onHover('groupInAdmission.textVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupInAdmission.textVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'groupInAdmission.textVariable'">
							<span v-html="translationService.t('textVariable')">
							</span>
						</label>
						<input type="text" v-custom-model="'groupInAdmission.textVariable'" :disabled="!currentCaseService?.canWrite('groupInAdmission.textVariable', '', '')" :id="getContextForID + 'groupInAdmission.textVariable'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupInAdmission.textVariable'" :context="context" :container-type="containerType">
						</component>
					</div>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupInAdmission'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
			<div v-if="currentCaseService?.canRead('groupInAdmission.textVariable','','')" :id="getContextForID + 'textInGroupRef.textVariable-wrapper'" v-on:mouseover.stop="onHover('groupInAdmission.textVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupInAdmission.textVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'textInGroupRef.textVariable'">
					<span v-html="translationService.t('textVariable')">
					</span>
				</label>
				<input type="text" v-custom-model="'groupInAdmission.textVariable'" :disabled="!currentCaseService?.canWrite('groupInAdmission.textVariable', '', '')" :id="getContextForID + 'textInGroupRef.textVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupInAdmission.textVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>