<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'dcInstance'" v-if="currentCaseService?.canRead('dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'dcInstance'" :disabled="!currentCaseService?.canWrite('dcInstance', '', '')" v-on:mouseover.stop="onHover('dcInstance')">
				<legend class="groupDescription">
					<span v-html="translationService.t('dcInstance')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<section class="myFirstDC">
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.secondDCInstance'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'dcInstance.secondDCInstance'" v-if="currentCaseService?.canRead('dcInstance.secondDCInstance','','')" init-value="({})" class="secondDCInstance" :id="getContextForID + 'dcInstance.secondDCInstance'" :disabled="!currentCaseService?.canWrite('dcInstance.secondDCInstance', '', '')" v-on:mouseover.stop="onHover('dcInstance.secondDCInstance')">
								<legend class="groupDescription">
									<span v-html="translationService.t('secondDCInstance')">
									</span>
								</legend>
								<dataclassitemcomponent :full-name="'dcInstance.secondDCInstance'" :this-index="null" :model="model" :this-set="thisSet">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<section class="mySecondDC">
											<div v-if="currentCaseService?.canRead('dcInstance.secondDCInstance.textVariable','','')" :id="getContextForID + 'dcInstance.secondDCInstance.textVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.secondDCInstance.textVariable')">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.secondDCInstance.textVariable'" :context="context" :container-type="containerType">
												</component>
												<label class="variableLabel" :for="getContextForID + 'dcInstance.secondDCInstance.textVariable'">
													<span v-html="translationService.t('textVariable')">
													</span>
												</label>
												<input type="text" v-custom-model="'dcInstance.secondDCInstance.textVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.secondDCInstance.textVariable', '', '')" :id="getContextForID + 'dcInstance.secondDCInstance.textVariable'">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.secondDCInstance.textVariable'" :context="context" :container-type="containerType">
												</component>
											</div>
										</section>
									</template>
								</dataclassitemcomponent>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.secondDCInstance'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>