<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<div>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.secondGroupVariable'" :context="context" :container-type="containerType">
					</component>
					<fieldset v-custom-model="'groupVariable.secondGroupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable.secondGroupVariable', '', '')" :id="getContextForID + 'groupVariable.secondGroupVariable'" class="secondGroupVariable" v-if="currentCaseService?.canRead('groupVariable.secondGroupVariable','','')" v-on:mouseover.stop="onHover('groupVariable.secondGroupVariable')">
						<legend class="groupDescription">
							<span v-html="translationService.t('secondGroupVariable')">
							</span>
						</legend>
						<div>
							<div v-if="currentCaseService?.canRead('groupVariable.secondGroupVariable.textVariable','','')" :id="getContextForID + 'groupVariable.secondGroupVariable.textVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.secondGroupVariable.textVariable')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.secondGroupVariable.textVariable'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'groupVariable.secondGroupVariable.textVariable'">
									<span v-html="translationService.t('textVariable')">
									</span>
								</label>
								<input type="text" v-custom-model="'groupVariable.secondGroupVariable.textVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.secondGroupVariable.textVariable', '', '')" :id="getContextForID + 'groupVariable.secondGroupVariable.textVariable'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.secondGroupVariable.textVariable'" :context="context" :container-type="containerType">
								</component>
							</div>
						</div>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.secondGroupVariable'" :context="context" :container-type="containerType">
						</component>
					</fieldset>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>