<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('number','','')" :id="getContextForID + 'number-wrapper'" v-on:mouseover.stop="onHover('number')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'number'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'number'">
					<span v-html="translationService.t('number')">
					</span>
				</label>
				<input type="number" init-value="NaN" v-custom-model="'number'" :disabled="!currentCaseService?.canWrite('number', '', '')" :id="getContextForID + 'number'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'number'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>