<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('name','','')" :id="getContextForID + 'name-wrapper'" v-on:mouseover.stop="onHover('name')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'name'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'name'">
					<span v-html="translationService.t('name')">
					</span>
				</label>
				<input type="text" v-custom-model="'name'" :disabled="!currentCaseService?.canWrite('name', '', '')" :id="getContextForID + 'name'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'name'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>