<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('name','','')" :id="getContextForID + 'name-wrapper'" v-on:mouseover.stop="onHover('name')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'name'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'name'">
					<span v-html="translationService.t('name')">
					</span>
				</label>
				<input type="text" v-custom-model="'name'" :disabled="!currentCaseService?.canWrite('name', '', '')" :id="getContextForID + 'name'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'name'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('output','','')" :id="getContextForID + 'output-wrapper'" v-on:mouseover.stop="onHover('output')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'output'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'output'">
					<span v-html="translationService.t('output')">
					</span>
				</label>
				<output required-for-status="false" v-short-circuit="''" v-custom-model="'output'" :disabled="!currentCaseService?.canWrite('output', '', '') || ('') !== null" :id="getContextForID + 'output'">
				</output>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'output'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div style="display:none;" v-if="currentCaseService?.canRead('support','','')" :id="getContextForID + 'support-wrapper'" v-on:mouseover.stop="onHover('support')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'support'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'support'">
					<span v-html="translationService.t('support')">
					</span>
				</label>
				<input type="support" required-for-status="false" v-short-circuit="''" v-custom-model="'support'" :disabled="!currentCaseService?.canWrite('support', '', '') || ('') !== null" :id="getContextForID + 'support'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'support'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>