<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('time','','')" :id="getContextForID + 'time-wrapper'" v-on:mouseover.stop="onHover('time')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'time'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'time'">
					<span v-html="translationService.t('time')">
					</span>
				</label>
				<input type="time" v-custom-model="'time'" :disabled="!currentCaseService?.canWrite('time', '', '')" :id="getContextForID + 'time'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'time'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>