<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('birthDate','','')" :id="getContextForID + 'birthDate-wrapper'" v-on:mouseover.stop="onHover('birthDate')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'birthDate'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'birthDate'">
					<span v-html="translationService.t('birthDate')">
					</span>
				</label>
				<input type="date" v-custom-model="'birthDate'" :disabled="!currentCaseService?.canWrite('birthDate', '', '')" :id="getContextForID + 'birthDate'" :max="new Date().toISOString().split(`T`)[0]">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'birthDate'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>