<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div class="radiolist-wrapper" v-if="currentCaseService?.canRead('sex','','')" :id="getContextForID + 'sex-wrapper'" v-on:mouseover.stop="onHover('sex')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'sex'" :context="context" :container-type="containerType">
				</component>
				<span class="radioDescription">
					<span v-html="translationService.t('sex')">
					</span>
				</span>
				<ul class="radiolist" v-custom-model-for-singlechoice="'sex'" :id="getContextForID + 'sex'">
					<li :id="getContextForID + 'sex-sexCodification.male-wrapper'" v-if="currentCaseService?.canRead('sex-sexCodification.male','','')" v-on:mouseover.stop="onHover('sex-sexCodification.male')">
						<input type="radio" value="sexCodification.male" :name="getContextForID + 'sex'" :disabled="!currentCaseService?.canWrite('sex', '', '')" :id="getContextForID + 'sex-sexCodification.male'" my-label="5">
						<label class="valueLabel" :for="getContextForID + 'sex-sexCodification.male'">
							<span v-html="translationService.t('5')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'sex-sexCodification.female-wrapper'" v-if="currentCaseService?.canRead('sex-sexCodification.female','','')" v-on:mouseover.stop="onHover('sex-sexCodification.female')">
						<input type="radio" value="sexCodification.female" :name="getContextForID + 'sex'" :disabled="!currentCaseService?.canWrite('sex', '', '')" :id="getContextForID + 'sex-sexCodification.female'" my-label="6">
						<label class="valueLabel" :for="getContextForID + 'sex-sexCodification.female'">
							<span v-html="translationService.t('6')">
							</span>
						</label>
					</li>
				</ul>
				<button class="variable-reset" type="button" :disabled="!currentCaseService?.canWrite('sex', '', '')" v-on:click.stop="resetRadioButton('sex')">
					<span v-html="translationService.t('Reset')">
					</span>
				</button>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'sex'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>