<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div class="boolean-variable" v-if="currentCaseService?.canRead('booleanVariable','','')" :id="getContextForID + 'booleanVariable-wrapper'" v-on:mouseover.stop="onHover('booleanVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'booleanVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'booleanVariable'">
					<span v-html="translationService.t('booleanVariable')">
					</span>
				</label>
				<input type="checkbox" init-value="false" v-custom-model-for-boolean="'booleanVariable'" :disabled="!currentCaseService?.canWrite('booleanVariable', '', '')" :id="getContextForID + 'booleanVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'booleanVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>