body {
  font-family: 'Outfit';
}

th,
td {
  padding: 0 .75rem;
  min-width: 3.5rem;
  text-align: center;
}

td.is-frozen-cell,
td.is-locked-cell {
  padding: 0.5rem;
}

.dandelion-cmp .datebutton {
  width: 75px;
  background: #d2d2d2;
  text-align: center;
  color: #000;
  line-height: 32px;
  text-decoration: none;
}

.dandelion-cmp .datebutton:hover:enabled {
  background: #0e567f;
  color: #fff;
}

/*Label variable group*/
.dandelion-cmp fieldset {
  margin: 0 0 50px 0;
  padding-left: 20px;
  border: none;
  border-left-color: currentcolor;
  border-left-style: none;
  border-left-width: medium;
  border-left: solid 2px;
}

.dandelion-cmp fieldset fieldset {
  margin: 15px 20px 15px 20px;
}

.dandelion-cmp legend,
.dandelion-cmp .pageDescription {
  color: #404040;
  text-align: left;
  font-size: 1.6em;
  line-height: 1;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}

.dandelion-cmp fieldset fieldset legend {
  color: #404040;
  text-align: left;
  font-size: 1.3em;
  line-height: 1;
  display: block;
  margin-bottom: 10px;
}

/*Singole righe*/
.dandelion-cmp div {
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 3px;
}

/*Label accanto agli input field*/
.dandelion-cmp .checkBoxDescription,
.dandelion-cmp .radioDescription,
.dandelion-cmp .setDescription,
.dandelion-cmp .variableLabel {
  color: #3a6c9d;
  display: inline-block;
  font-weight: bold;
  padding: 5px 10px 0 0;
  vertical-align: top;
}

.dandelion-cmp .setDescription {
  display: block;
  margin-bottom: 10px;
  text-decoration: underline;
}

.dandelion-cmp div input,
.dandelion-cmp div textarea {
  border: 1px solid #dadada;
  border-radius: 3px;
  margin: 2px 0;
  padding: 4px 0;
  vertical-align: middle;
}

.dandelion-cmp div textarea {
  width: 300px;
}

.dandelion-cmp div input[type='text'] {
  display: inline-flex;
  height: 24px;
  min-width: 288px;
  padding: 11px var(--Spacer-03, 12px);
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  margin: 0;
  border-radius: 0;
  border: 1px solid var(--neutrals-500, #8686a1);
  background: var(--White, #fff);
  overflow: hidden;
  color: var(--neutrals-700, #383e5d);
  text-overflow: ellipsis;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/*dataType="number"*/
.dandelion-cmp div input[type='number'] {
  width: 60px;
}

/*dataType="checkbox"*/
.dandelion-cmp div input[type='checkbox'] {
  width: auto;

  margin-right: 6px;
}

/*dataType="radio"*/
.dandelion-cmp input[type='radio'] {
  width: var(--Spacer-05, 24px);
  height: var(--Spacer-05, 24px);
  margin-right: var(--Spacer-01, 4px);
  accent-color: var(--theme-800, #411c62);
}

.dandelion-cmp ul {
  margin: 2px 0px;
  padding: 0;
  list-style-type: none;
}

/*radio list*/
.dandelion-cmp ul.radiolist {
  display: inline-block;
}

.dandelion-cmp ul.radiolist li {
  position: relative;
  display: inline-block;
  padding-bottom: 0;
}

.dandelion-cmp ul.radiolist li input {
  /*background: url("../images/bg-input.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);*/
  border: 1px solid #dadada;
  display: inline;
  margin: 2px 6px 2px 0px;
  padding: 4px 0;
}

.dandelion-cmp ul.radiolist li label {
  color: #000000;
  display: inline-block;
  font-weight: normal;
  padding: 5px 25px 0 0;
}

/*checkbox list*/
.dandelion-cmp ul.checkboxlist {
  display: inline-block;
}

.dandelion-cmp ul.checkboxlist li {
  position: relative;
  display: inline-block;
  padding-bottom: 0;
}

.dandelion-cmp ul.checkboxlist li input {
  position: relative;
  /*background: url("../images/bg-input.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);*/
  border: 1px solid #dadada;
  margin: 2px 6px 2px 0px;
  padding: 4px 0;
  display: inline-block;
}

.dandelion-cmp ul.checkboxlist li label {
  color: #000000;
  width: auto;
  font-weight: normal;
  padding: 5px 25px 0 0;
}

/* Sets */
.dandelion-cmp .set>ul {
  list-style-type: none;
}

.dandelion-cmp .set>ul>li {
  display: inline-block;
  background-color: #e3e3e9;
  border-radius: 3px;
  margin: 0 10px 10px 0;
  padding: 10px;
}

.dandelion-cmp .itemSelector {
  margin-bottom: 25px;
}

.dandelion-cmp .itemSelector nav {
  margin-top: 10px;
}

.dandelion-cmp .itemSelector nav button {
  margin: 0;
}

/* Other */
.dandelion-cmp p {
  margin-bottom: 10px;
}

button,
.dandelion-cmp button {
  display: inline-flex;
  height: 48px;
  min-width: 120px;
  padding: 18px var(--Spacer-04, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Spacer-02, 8px);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  cursor: pointer;
}

button.primary {
  border: 2px solid var(--theme-800, #411C62);
  background: var(--theme-800, #411C62);
  color: var(--White, #FFF);
  transition: background-color 0.4s ease;
}

button.primary:hover {
  border: 2px solid var(--theme-600, #963791);
  background: var(--theme-600, #963791);
}

button.primary:active {
  border: 2px solid var(--theme-800, #411C62);
  background: var(--theme-600, #963791);
}

button.primary:focus {
  border: 2px solid var(--theme-800, #411C62);
  background: var(--theme-800, #411C62);
  box-shadow: 0px 0px 0px 4px rgba(150, 55, 145, 0.30);
}

button.primary:disabled {
  border: 2px solid var(--neutrals-400, #BDBECD);
  background: var(--neutrals-400, #BDBECD);
}

button.secondary {
  border: 2px solid var(--theme-600, #963791);
  background: var(--White, #FFF);
  color: var(--theme-800, #411C62);
  transition: background-color 0.4s ease;
}

button.secondary:hover {
  border: 2px solid var(--theme-600, #963791);
  background: var(--neutrals-300, #D0D2DC);
}

button.secondary:active {
  border: 2px solid var(--theme-900, #31154A);
  background: var(--neutrals-400, #BDBECD);
}

button.secondary:focus {
  border: 2px solid var(--theme-600, #963791);
  background: var(--White, #FFF);
  box-shadow: 0px 0px 0px 4px rgba(150, 55, 145, 0.30);
}

button.secondary:disabled {
  border: 2px solid var(--neutrals-300, #D0D2DC);
  background: var(--White, #FFF);
}

.dandelion-cmp div select {
  border: 1px solid #dadada;
  border-radius: 3px;
}

input:invalid {
  outline: solid 2px red;
  box-shadow: 0 0 0.4rem red;
}

.dandelion-cmp .help {
  display: inline-block;
  font-size: small;
  background-color: Gray;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: bottom;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  width: 17px;
}

.dandelion-cmp .help label,
.dandelion-cmp ul.checkboxlist li .help label,
.dandelion-cmp ul.radiolist li .help label {
  vertical-align: middle;
  display: inline-block;
  font-size: small;
  color: whitesmoke;
  padding: 0;
}

.dandelion-cmp .help:hover {
  background-color: #4030ff;
}

.dandelion-cmp .tooltip span {
  background-color: #4030ff;
  border-radius: 3px;
  vertical-align: middle;
  padding: 2px 10px;
}

/* Using  &#10; tooltip can go on new line*/
.dandelion-cmp .ui-tooltip {
  white-space: pre-line;
}

.developer-errors-component {
  margin-top: 1rem;
}

.dandelion-cmp .success,
.dandelion-cmp .error,
.dandelion-cmp .warning,
.dandelion-cmp .solvedWarning,
.diff-dialog .solvedWarning,
.dandelion-cmp .requirement,
.dandelion-cmp .developerError,
.dandelion-cmp .statistician,
.dandelion-cmp .added,
.dandelion-cmp .removed,
.dandelion-cmp .modified,
.dandelion-cmp .unchanged,
.dandelion-cmp .existing,
.dandelion-cmp .differences-multiplechoice {
  display: block;
  border-radius: 5px;
  border: 2px solid;
  padding: 10px;
  margin: 20px 0;
}

.error {
  display: block;
  border-radius: 5px;
  border: 2px solid;
  padding: 10px;
  margin: 20px 0;
  background-color: lightcoral;
  border-color: darkred;
  color: darkred;
}

.statistician {
  display: block;
  border-radius: 5px;
  border: 2px solid;
  padding: 10px;
  margin: 20px 0;
  background-color: rgb(165, 216, 70);
  border-color: darkred;
  color: rgb(14, 37, 170);
}

.dandelion-cmp .success {
  background-color: lightseagreen;
  border-color: green;
  color: green;
}

.dandelion-cmp .error {
  background-color: lightcoral;
  border-color: darkred;
  color: darkred;
}

.dandelion-cmp .requirement {
  background-color: rgb(143, 111, 111);
  border-color: rgb(66, 25, 25);
  color: rgb(66, 25, 25);
}

.dandelion-cmp .developerError {
  background-color: rgb(160, 44, 44);
  border-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.dandelion-cmp .unwritable {
  display: none !important;
}

.dandelion-cmp .hidden {
  display: none !important;
}

.dandelion-cmp .warning {
  background-color: lightgoldenrodyellow;
  border-color: darkgoldenrod;
  color: darkgoldenrod;
}

.dandelion-cmp .solvedWarning,
.diff-dialog .solvedWarning {
  background-color: lightskyblue;
  border-color: darkblue;
  color: darkblue;
}

.dandelion-cmp .added {
  background-color: rgb(88, 214, 37);
  border-color: rgba(0, 88, 0);
  color: rgba(0, 88, 0);
}

.dandelion-cmp .removed {
  background-color: rgb(231, 55, 55);
  border-color: rgb(87, 1, 1);
  color: rgb(87, 1, 1);
}

.dandelion-cmp .modified {
  background-color: rgb(231, 120, 55);
  border-color: rgb(124, 56, 0);
  color: rgb(124, 56, 0);
}

.dandelion-cmp .unchanged,
.dandelion-cmp .existing {
  background-color: rgb(185, 185, 185);
  border-color: rgb(68, 68, 68);
  color: rgb(68, 68, 68);
}

.dandelion-cmp .warning input,
.dandelion-cmp .solvedWarning input {
  margin-left: 20px;
}

.dandelion-cmp .selected {
  background-color: rgb(106, 117, 129);
}

.tree-render-component div>ul>li {
  width: 20rem;
  margin-top: 0.375rem;
  padding: 0.5rem;
  cursor: pointer;
  list-style-type: none;
  font-style: italic;
  border-left: solid 2px;
  padding-left: 0.5rem;
  border-radius: 0.2rem;
  box-shadow: 0 0.125rem 1.25rem 0 rgb(0 0 0 / 10%);
  background-color: rgb(172, 172, 172);
}

.tree-render-component li>ul {
  background-color: lightgray;
  padding-left: 1.25rem;
}

.tree-render-component ul:empty {
  display: none;
}

/* caseListComponent */
.line-with-action {
  cursor: pointer;
}

.case-freezed {
  background-color: #7deefd;
}

.case-locked {
  opacity: 0.5;
}

.boolean-variable {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
  max-width: max-content;
}

/*Diff Component */
.added p,
.removed p,
.modified p,
.unchanged p,
.existing p {
  display: inline;
}

.variable-diffs {
  font-weight: bold;
}

.diff-dialog .diff-list-component {
  height: 45vh;
  overflow-y: auto;
  margin-bottom: 10px;
  z-index: 100;
}

.diff-dialog .unchanged {
  display: none;
}

.diff-dialog .differences-multiplechoice:has(.variable-diffs-value:empty) {
  display: none;
}

dialog {
  max-width: 90vw;
  top: 10vh;
  padding: 2rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0.125rem 1.25rem 0 rgb(0 0 0 / 10%);
  color: var(--main-text-color);
  z-index: 999;
  outline: none;
  border: none;
}

dialog.modal-dialog {
  top: 0;
  margin: auto;
}

dialog.modal-dialog::backdrop {
  background-color: hsl(0 0% 0% / 30%);
}

dialog.non-modal-dialog::backdrop {
  background-color: hsl(0 0% 0% / 10%);
}

h2 {
  color: var(--neutrals-700, #383e5d);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}

h4 {
  color: var(--neutrals-700, #383e5d);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.case-list .actions-cell .action-buttons-wrapper,
.deleted-case-list .actions-cell .action-buttons-wrapper {
  display: flex;
  align-items: center;
  gap: var(--Spacer-02, 8px);
}

.copy-html-section {
  margin-bottom: var(--Spacer-02, 8px);
}

.copy-html-btn,
.copy-model-btn,
.show-list-of-changes-btn,
.value-faker-btn {
  margin-left: var(--Spacer-03, 12px);
}

.confirm-after-diff-check-btn {
  margin: 0 var(--Spacer-02, 8px);
}

.single-case-btns {
  display: flex;
  margin-top: .5rem;
  gap: var(--Spacer-02, .5rem);
}

.create-case-btn {
  margin-right: var(--Spacer-02, .5rem);
}