:root {
  --my-bg-color: white;
}

.dandelion-cmp fieldset {
  border-left: solid 0.4em var(--my-color);
  border-top: solid 0.1em var(--my-color);
  background-color: var(--my-bg-color);
  border-radius: 0.3em;
  margin-bottom: 2em;
}

.dandelion-cmp fieldset fieldset {
  border-left-width: 0.3em;
  margin-bottom: 2em;
}

.dandelion-cmp fieldset legend,
.dandelion-cmp fieldset fieldset legend {
  background-color: var(--my-color);
  color: white;
  padding: 0.4em 1em 0.5em 1em;

  border-radius: 0.15em;
  margin-left: -0.8rem;

  box-shadow: var(--shadow-small);
}

.dandelion-cmp .checkBoxDescription,
.dandelion-cmp .radioDescription,
.dandelion-cmp .variableLabel {
  color: #202020;
}

.dandelion-cmp .setDescription {
  color: white;
  text-decoration: none;
  font-weight: normal;
  padding: 0.4em 0.6em;
}

#crfPatient\.componenti {
  --my-color: #4048e1;
}

#crfPatient\.screening {
  --my-color: #4048e1;
}

#crfPatient\.preDimissione {
  --my-color: #4048e1;
}

#crfPatient\.giornaliera {
  --my-color: #4048e1;
}

#crfPatient\.riOsp {
  --my-color: #4048e1;
}

#crfPatient\.fineDom {
  --my-color: #780b7e;
}

#crfPatient\.fup30gg {
  --my-color: rgb(51, 192, 65);
}

#crfPatient\.fup60gg {
  --my-color: rgb(51, 192, 65);
}

#crfPatient\.fup90gg {
  --my-color: rgb(51, 192, 65);
}

#crfPatient\.AE {
  --my-color: rgb(197, 54, 18);
}

#crfPatient\.screening button,
#crfPatient\.preDimissione button,
#crfPatient\.giornaliera button,
#crfPatient\.riOsp button,
#crfPatient\.fineDom button,
#crfPatient\.fup30gg button,
#crfPatient\.fup60gg button,
#crfPatient\.fup90gg button,
#crfPatient\.AE button {
  padding: 1px 6px;
}

#crfPatient\.fineDom nav > button {
  margin: 5px;
  padding: 0.2em;
}

#crfPatient\.screening input,
#crfPatient\.fineDom input,
#crfPatient\.fup30gg input,
#crfPatient\.fup60gg input,
#crfPatient\.fup90gg input {
  color: #000;
}

#crfPatient\.preDimissione legend,
#crfPatient\.giornaliera legend {
  font-size: 1.6em;
}

.CInclusione .radioDescription {
  width: 67ch;
}

.CEsclusione .radioDescription {
  width: 67ch;
}

/* Scheda Dati Demografici  ('SchedaDemografica') */

.SchedaDemografica .radioDescription,
.SchedaDemografica .variableLabel {
  width: 8ch;
}

/* Scheda Dati Socio-Assistenziali  ('SchedaSocioAss') */

.SchedaSocioAss .radioDescription,
.SchedaSocioAss .variableLabel {
  width: 26ch;
}

/* Scheda Dati Patologia Ematologica  ('SchedaPatEma') */

.SchedaPatEma .radioDescription,
.SchedaPatEma .checkBoxDescription {
  width: 25ch;
}

/* Scheda Anamnesi Patologica  ('AnmPat') */

.SchedaAnmPat div[id*='.app'] .radioDescription {
  width: 24ch;
}

.SchedaAnmPat .variableLabel,
.SchedaAnmPat div[id*='.attiva'] .radioDescription {
  width: 42ch;
}

.SchedaAnmPat div[id*='.detApp'],
.SchedaAnmPat div[id*='.attiva'] {
  margin-left: 4ch;
}

/* Scheda Esame Obiettivo  ('EsOb') */

.SchedaEsOb div[id*='.ob'] .radioDescription {
  width: 18ch;
}

.SchedaEsOb .variableLabel {
  width: 24ch;
}

.SchedaEsOb div[id*='.detOb'] {
  margin-left: 4ch;
}

/* Scheda Segni Vitali  ('SgVit') */

.SchedaSgVit .variableLabel {
  width: 26ch;
}

.SchedaSgVit div[id*='PatNorm'] .radioDescription,
.SchedaSgVit div[id*='.det'] .variableLabel {
  width: 22ch;
}

.SchedaSgVit div[id*='PatNorm'],
.SchedaSgVit div[id*='.det'] {
  margin-left: 4ch;
}

/* Scheda Terapia  ('Terapia') */

.SchedaTrp .variableLabel,
.SchedaTrp .radioDescription {
  width: 16ch;
}

/* Scheda Esame strumentale  ('EsSt') */

.EsSt .variableLabel,
.EsSt .radioDescription {
  width: 22ch;
}

/* Scheda Parametri Ematologici  ('Emocromo') */

.SchedaEmocromo {
  display: grid;
  grid-template-columns: 34ch max-content;
}

.SchedaEmocromo .set {
  grid-column-start: 1;
  grid-column-end: 3;
}

.SchedaEmocromo .variableLabel {
  width: 12ch;
}

/* Scheda Parametri Biochimici  ('BioCh') */

.SchedaBioch {
  display: grid;
  grid-template-columns: 38ch max-content;
}

.SchedaBioch .set {
  grid-column-start: 1;
  grid-column-end: 3;
}

.SchedaBioch .variableLabel {
  width: 16ch;
}

/* Scheda Parametri Coagulativi  ('Coag') */

.SchedaCoag {
  display: grid;
  grid-template-columns: 30ch max-content;
}

.SchedaCoag .set {
  grid-column-start: 1;
  grid-column-end: 3;
}

.SchedaCoag .variableLabel {
  width: 12ch;
}

/* Scheda Immunoglobuline  ('Immunogl') */

.SchedaImmunogl {
  display: grid;
  grid-template-columns: 24ch max-content;
}

.SchedaImmunogl .set {
  grid-column-start: 1;
  grid-column-end: 3;
}

.SchedaImmunogl .variableLabel {
  width: 5ch;
}

/* Scheda Esami Colturali  ('EsCol') */

#crfPatient\.screening\.DatiScreening\.EsCol\.sedeTampMucosale li {
  display: block;
}

#crfPatient\.screening\.DatiScreening\.EsCol\.patTampMucosale li {
  display: block;
}

/* Scheda CVC  ('CVC') */

.CVC .radioDescription,
.CVC .variableLabel {
  width: 20ch;
}

/* Scheda Trasfusione  ('Trasfusione') */

.SchedaTrasfusione .variableLabel {
  width: 10ch;
}

/* Scheda Riospedalizzazione  ('RiOsp') */

#crfPatient\.riOsp\.CriteriIngresso li {
  display: block;
}

/* Scheda BENESSERE FISICO  ('BFisico') */
/* Scheda BENESSERE SOCIALE/FAMILIARE  ('BSociale') */
/* Scheda BENESSERE EMOTIVO  ('BEmotivo') */
/* Scheda BENESSERE FUNZIONALE  ('BFunzionale') */
/* Scheda ULTERIORI PROBLEMI  ('UltProblemi') */

/* Scheda Eventi Avversi  ('AE') */

.SchedaAE .variableLabel {
  width: 12ch;
}

.SchedaAE .radioDescription {
  display: block;
}

.SchedaAE ul.radiolist li {
  display: block;
}
