<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'dcInstance'" v-if="currentCaseService?.canRead('dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'dcInstance'" :disabled="!currentCaseService?.canWrite('dcInstance', '', '')" v-on:mouseover.stop="onHover('dcInstance')">
				<legend class="groupDescription">
					<span v-html="translationService.t('Dc Instance')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<nav>
							<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'dcInstance.groupVariable')" :class="{selected: listOfActivePages.includes(getContextForID + 'dcInstance.groupVariable')}" v-if="currentCaseService?.canRead('dcInstance.groupVariable','','')">
								<span v-html="translationService.t('groupVariable')">
								</span>
							</button>
							<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'dcInstance.groupVariable2')" :class="{selected: listOfActivePages.includes(getContextForID + 'dcInstance.groupVariable2')}" v-if="currentCaseService?.canRead('dcInstance.groupVariable2','','')">
								<span v-html="translationService.t('groupVariable2')">
								</span>
							</button>
						</nav>
						<section class="firstDc">
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'dcInstance.groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable', '', '')" :id="getContextForID + 'dcInstance.groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('dcInstance.groupVariable','','')" v-on:mouseover.stop="onHover('dcInstance.groupVariable')" v-show="listOfActivePages.includes(getContextForID + 'dcInstance.groupVariable')">
								<legend class="groupDescription">
									<span v-html="translationService.t('groupVariable')">
									</span>
								</legend>
								<div>
									<div v-if="currentCaseService?.canRead('dcInstance.groupVariable.textVariable','','')" :id="getContextForID + 'dcInstance.groupVariable.textVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.groupVariable.textVariable')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable.textVariable'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'dcInstance.groupVariable.textVariable'">
											<span v-html="translationService.t('textVariable')">
											</span>
										</label>
										<input type="text" v-custom-model="'dcInstance.groupVariable.textVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable.textVariable', '', '')" :id="getContextForID + 'dcInstance.groupVariable.textVariable'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable.textVariable'" :context="context" :container-type="containerType">
										</component>
									</div>
									<div v-if="currentCaseService?.canRead('dcInstance.groupVariable.textVariable2','','')" :id="getContextForID + 'dcInstance.groupVariable.textVariable2-wrapper'" v-on:mouseover.stop="onHover('dcInstance.groupVariable.textVariable2')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable.textVariable2'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'dcInstance.groupVariable.textVariable2'">
											<span v-html="translationService.t('textVariable2')">
											</span>
										</label>
										<input type="text" v-custom-model="'dcInstance.groupVariable.textVariable2'" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable.textVariable2', '', '')" :id="getContextForID + 'dcInstance.groupVariable.textVariable2'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable.textVariable2'" :context="context" :container-type="containerType">
										</component>
									</div>
								</div>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'dcInstance.groupVariable2'" init-value="({})" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable2', '', '')" :id="getContextForID + 'dcInstance.groupVariable2'" class="groupVariable2" v-if="currentCaseService?.canRead('dcInstance.groupVariable2','','')" v-on:mouseover.stop="onHover('dcInstance.groupVariable2')" v-show="listOfActivePages.includes(getContextForID + 'dcInstance.groupVariable2')">
								<legend class="groupDescription">
									<span v-html="translationService.t('groupVariable2')">
									</span>
								</legend>
								<div>
									<div v-if="currentCaseService?.canRead('dcInstance.groupVariable2.textVariable','','')" :id="getContextForID + 'dcInstance.groupVariable2.textVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.groupVariable2.textVariable')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2.textVariable'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'dcInstance.groupVariable2.textVariable'">
											<span v-html="translationService.t('textVariable')">
											</span>
										</label>
										<input type="text" v-custom-model="'dcInstance.groupVariable2.textVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable2.textVariable', '', '')" :id="getContextForID + 'dcInstance.groupVariable2.textVariable'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2.textVariable'" :context="context" :container-type="containerType">
										</component>
									</div>
									<div v-if="currentCaseService?.canRead('dcInstance.groupVariable2.textVariable2','','')" :id="getContextForID + 'dcInstance.groupVariable2.textVariable2-wrapper'" v-on:mouseover.stop="onHover('dcInstance.groupVariable2.textVariable2')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2.textVariable2'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'dcInstance.groupVariable2.textVariable2'">
											<span v-html="translationService.t('textVariable2')">
											</span>
										</label>
										<input type="text" v-custom-model="'dcInstance.groupVariable2.textVariable2'" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable2.textVariable2', '', '')" :id="getContextForID + 'dcInstance.groupVariable2.textVariable2'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2.textVariable2'" :context="context" :container-type="containerType">
										</component>
									</div>
								</div>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance2'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'dcInstance2'" v-if="currentCaseService?.canRead('dcInstance2','','')" init-value="({})" class="dcInstance2" :id="getContextForID + 'dcInstance2'" :disabled="!currentCaseService?.canWrite('dcInstance2', '', '')" v-on:mouseover.stop="onHover('dcInstance2')">
				<legend class="groupDescription">
					<span v-html="translationService.t('Dc Instance2')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'dcInstance2'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<nav>
							<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'dcInstance2.groupInsideDcInstance')" :class="{selected: listOfActivePages.includes(getContextForID + 'dcInstance2.groupInsideDcInstance')}" v-if="currentCaseService?.canRead('dcInstance2.groupInsideDcInstance','','')">
								<span v-html="translationService.t('groupInsideDcInstance')">
								</span>
							</button>
							<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'dcInstance2.groupInsideDcInstance2')" :class="{selected: listOfActivePages.includes(getContextForID + 'dcInstance2.groupInsideDcInstance2')}" v-if="currentCaseService?.canRead('dcInstance2.groupInsideDcInstance2','','')">
								<span v-html="translationService.t('groupInsideDcInstance2')">
								</span>
							</button>
						</nav>
						<section class="secondDc">
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance2.groupInsideDcInstance'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'dcInstance2.groupInsideDcInstance'" v-if="currentCaseService?.canRead('dcInstance2.groupInsideDcInstance','','')" init-value="({})" class="groupInsideDcInstance" :id="getContextForID + 'dcInstance2.groupInsideDcInstance'" :disabled="!currentCaseService?.canWrite('dcInstance2.groupInsideDcInstance', '', '')" v-on:mouseover.stop="onHover('dcInstance2.groupInsideDcInstance')" v-show="listOfActivePages.includes(getContextForID + 'dcInstance2.groupInsideDcInstance')">
								<legend class="groupDescription">
									<span v-html="translationService.t('groupInsideDcInstance')">
									</span>
								</legend>
								<dataclassitemcomponent :full-name="'dcInstance2.groupInsideDcInstance'" :this-index="null" :model="model" :this-set="thisSet">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<section class="itemsDC">
											<div v-if="currentCaseService?.canRead('dcInstance2.groupInsideDcInstance.textVariable','','')" :id="getContextForID + 'dcInstance2.groupInsideDcInstance.textVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance2.groupInsideDcInstance.textVariable')">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance2.groupInsideDcInstance.textVariable'" :context="context" :container-type="containerType">
												</component>
												<label class="variableLabel" :for="getContextForID + 'dcInstance2.groupInsideDcInstance.textVariable'">
													<span v-html="translationService.t('textVariable')">
													</span>
												</label>
												<input type="text" v-custom-model="'dcInstance2.groupInsideDcInstance.textVariable'" :disabled="!currentCaseService?.canWrite('dcInstance2.groupInsideDcInstance.textVariable', '', '')" :id="getContextForID + 'dcInstance2.groupInsideDcInstance.textVariable'">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance2.groupInsideDcInstance.textVariable'" :context="context" :container-type="containerType">
												</component>
											</div>
										</section>
									</template>
								</dataclassitemcomponent>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance2.groupInsideDcInstance'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance2.groupInsideDcInstance2'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'dcInstance2.groupInsideDcInstance2'" v-if="currentCaseService?.canRead('dcInstance2.groupInsideDcInstance2','','')" init-value="({})" class="groupInsideDcInstance2" :id="getContextForID + 'dcInstance2.groupInsideDcInstance2'" :disabled="!currentCaseService?.canWrite('dcInstance2.groupInsideDcInstance2', '', '')" v-on:mouseover.stop="onHover('dcInstance2.groupInsideDcInstance2')" v-show="listOfActivePages.includes(getContextForID + 'dcInstance2.groupInsideDcInstance2')">
								<legend class="groupDescription">
									<span v-html="translationService.t('groupInsideDcInstance2')">
									</span>
								</legend>
								<dataclassitemcomponent :full-name="'dcInstance2.groupInsideDcInstance2'" :this-index="null" :model="model" :this-set="thisSet">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<section class="itemsDC">
											<div v-if="currentCaseService?.canRead('dcInstance2.groupInsideDcInstance2.textVariable','','')" :id="getContextForID + 'dcInstance2.groupInsideDcInstance2.textVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance2.groupInsideDcInstance2.textVariable')">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance2.groupInsideDcInstance2.textVariable'" :context="context" :container-type="containerType">
												</component>
												<label class="variableLabel" :for="getContextForID + 'dcInstance2.groupInsideDcInstance2.textVariable'">
													<span v-html="translationService.t('textVariable')">
													</span>
												</label>
												<input type="text" v-custom-model="'dcInstance2.groupInsideDcInstance2.textVariable'" :disabled="!currentCaseService?.canWrite('dcInstance2.groupInsideDcInstance2.textVariable', '', '')" :id="getContextForID + 'dcInstance2.groupInsideDcInstance2.textVariable'">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance2.groupInsideDcInstance2.textVariable'" :context="context" :container-type="containerType">
												</component>
											</div>
										</section>
									</template>
								</dataclassitemcomponent>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance2.groupInsideDcInstance2'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance2'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model-for-sets="'setVariable'" init-value="[]" :disabled="!currentCaseService?.canWrite('setVariable', '', '')" :id="getContextForID + 'setVariable'" class="setVariable" v-if="currentCaseService?.canRead('setVariable','','')" v-on:mouseover.stop="onHover('setVariable')">
				<legend class="setDescription">
					<span v-html="translationService.t('Set Variable')">
					</span>
				</legend>
				<setcomponent :full-name="'setVariable'" :this-object="thisObject" :this-index="null" :model="model">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<section class="itemSelector">
							<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet); currentPageService.set(getContextForID + 'setVariable[' + (thisSet.length - 1) + ']')" :disabled="!currentCaseService?.canWrite('setVariable', '', '')">
								<span v-html="translationService.t('Add setVariable')">
								</span>
							</button>
							<nav>
								<button type="button" class="page-navigation" v-for="(childElement, index0) in thisSet" :key="childElement.guid" v-on:click.stop="currentPageService.set(getContextForID + 'setVariable[' + index0 + ']')" :class="{selected: listOfActivePages.includes(getContextForID + 'setVariable[' + index0 + ']')}" v-html="translationService.t('-- new setVariable --')">
								</button>
							</nav>
						</section>
						<ul>
							<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'setVariable[' + index0 + ']'" v-show="listOfActivePages.includes(getContextForID + 'setVariable[' + index0 + ']')">
								<setitemcomponent :full-name="'setVariable[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<dataclassitemcomponent :full-name="'setVariable[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
											<template v-slot:default="{ thisSet, thisObject, thisIndex }">
												<section class="isSet">
													<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].setVariable'" :context="context" :container-type="containerType">
													</component>
													<fieldset v-custom-model-for-sets="'setVariable[' + index0 + '].setVariable'" init-value="[]" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].setVariable', '', '')" :id="getContextForID + 'setVariable[' + index0 + '].setVariable'" class="setVariable" v-if="currentCaseService?.canRead('setVariable[' + index0 + '].setVariable','','')" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].setVariable')">
														<legend class="setDescription">
															<span v-html="translationService.t('setVariable')">
															</span>
														</legend>
														<setcomponent :full-name="'setVariable[' + index0 + '].setVariable'" :this-object="thisObject" :this-index="index0" :model="model">
															<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																<ul>
																	<li v-for="(childElement, index1) in thisSet" :key="childElement.guid" :id="getContextForID + 'setVariable[' + index0 + '].setVariable[' + index1 + ']'">
																		<setitemcomponent :full-name="'setVariable[' + index0 + '].setVariable[' + index1 + ']'" :this-set="thisSet" :this-index="index1" :model="model" :key="index1">
																			<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																				<dataclassitemcomponent :full-name="'setVariable[' + index0 + '].setVariable[' + index1 + ']'" :this-index="index1" :model="model" :this-set="thisSet">
																					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																						<section class="itemsDC">
																							<div v-if="currentCaseService?.canRead('setVariable[' + index0 + '].setVariable[' + index1 + '].textVariable','','')" :id="getContextForID + 'setVariable[' + index0 + '].setVariable[' + index1 + '].textVariable-wrapper'" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].setVariable[' + index1 + '].textVariable')">
																								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].setVariable[' + index1 + '].textVariable'" :context="context" :container-type="containerType">
																								</component>
																								<label class="variableLabel" :for="getContextForID + 'setVariable[' + index0 + '].setVariable[' + index1 + '].textVariable'">
																									<span v-html="translationService.t('textVariable')">
																									</span>
																								</label>
																								<input type="text" v-custom-model="'setVariable[' + index0 + '].setVariable[' + index1 + '].textVariable'" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].setVariable[' + index1 + '].textVariable', '', '')" :id="getContextForID + 'setVariable[' + index0 + '].setVariable[' + index1 + '].textVariable'">
																								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].setVariable[' + index1 + '].textVariable'" :context="context" :container-type="containerType">
																								</component>
																							</div>
																						</section>
																					</template>
																				</dataclassitemcomponent>
																				<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index1)" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].setVariable[' + index1 + ']', '', '')">
																					<span v-html="translationService.t('Remove this setVariable')">
																					</span>
																				</button>
																			</template>
																		</setitemcomponent>
																	</li>
																</ul>
																<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet)">
																	<span v-html="translationService.t('Add itemsDC')">
																	</span>
																</button>
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].setVariable'" :context="context" :container-type="containerType">
																</component>
															</template>
														</setcomponent>
													</fieldset>
												</section>
											</template>
										</dataclassitemcomponent>
										<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index0)" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + ']', '', '')">
											<span v-html="translationService.t('Remove this setVariable')">
											</span>
										</button>
									</template>
								</setitemcomponent>
							</li>
						</ul>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable'" :context="context" :container-type="containerType">
						</component>
					</template>
				</setcomponent>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>