<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<nav>
					<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'groupVariable.dcInstance')" :class="{selected: listOfActivePages.includes(getContextForID + 'groupVariable.dcInstance')}" v-if="currentCaseService?.canRead('groupVariable.dcInstance','','')">
						<span v-html="translationService.t('dcInstance')">
						</span>
					</button>
					<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'groupVariable.dcInstance2')" :class="{selected: listOfActivePages.includes(getContextForID + 'groupVariable.dcInstance2')}" v-if="currentCaseService?.canRead('groupVariable.dcInstance2','','')">
						<span v-html="translationService.t('dcInstance2')">
						</span>
					</button>
					<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'groupVariable.dcInstance3')" :class="{selected: listOfActivePages.includes(getContextForID + 'groupVariable.dcInstance3')}" v-if="currentCaseService?.canRead('groupVariable.dcInstance3','','')">
						<span v-html="translationService.t('dcInstance3')">
						</span>
					</button>
				</nav>
				<div>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.dcInstance'" :context="context" :container-type="containerType">
					</component>
					<fieldset v-custom-model="'groupVariable.dcInstance'" v-if="currentCaseService?.canRead('groupVariable.dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'groupVariable.dcInstance'" :disabled="!currentCaseService?.canWrite('groupVariable.dcInstance', '', '')" v-on:mouseover.stop="onHover('groupVariable.dcInstance')" v-show="listOfActivePages.includes(getContextForID + 'groupVariable.dcInstance')">
						<legend class="groupDescription">
							<span v-html="translationService.t('dcInstance')">
							</span>
						</legend>
						<dataclassitemcomponent :full-name="'groupVariable.dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
							<template v-slot:default="{ thisSet, thisObject, thisIndex }">
								<section class="dc">
									<div v-if="currentCaseService?.canRead('groupVariable.dcInstance.textVariable','','')" :id="getContextForID + 'groupVariable.dcInstance.textVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.dcInstance.textVariable')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.dcInstance.textVariable'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'groupVariable.dcInstance.textVariable'">
											<span v-html="translationService.t('textVariable')">
											</span>
										</label>
										<input type="text" v-custom-model="'groupVariable.dcInstance.textVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.dcInstance.textVariable', '', '')" :id="getContextForID + 'groupVariable.dcInstance.textVariable'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.dcInstance.textVariable'" :context="context" :container-type="containerType">
										</component>
									</div>
								</section>
							</template>
						</dataclassitemcomponent>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.dcInstance'" :context="context" :container-type="containerType">
						</component>
					</fieldset>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.dcInstance2'" :context="context" :container-type="containerType">
					</component>
					<fieldset v-custom-model="'groupVariable.dcInstance2'" v-if="currentCaseService?.canRead('groupVariable.dcInstance2','','')" init-value="({})" class="dcInstance2" :id="getContextForID + 'groupVariable.dcInstance2'" :disabled="!currentCaseService?.canWrite('groupVariable.dcInstance2', '', '')" v-on:mouseover.stop="onHover('groupVariable.dcInstance2')" v-show="listOfActivePages.includes(getContextForID + 'groupVariable.dcInstance2')">
						<legend class="groupDescription">
							<span v-html="translationService.t('dcInstance2')">
							</span>
						</legend>
						<dataclassitemcomponent :full-name="'groupVariable.dcInstance2'" :this-index="null" :model="model" :this-set="thisSet">
							<template v-slot:default="{ thisSet, thisObject, thisIndex }">
								<section class="dataClass2">
									<div v-if="currentCaseService?.canRead('groupVariable.dcInstance2.textVariable2','','')" :id="getContextForID + 'groupVariable.dcInstance2.textVariable2-wrapper'" v-on:mouseover.stop="onHover('groupVariable.dcInstance2.textVariable2')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.dcInstance2.textVariable2'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'groupVariable.dcInstance2.textVariable2'">
											<span v-html="translationService.t('textVariable2')">
											</span>
										</label>
										<input type="text" v-custom-model="'groupVariable.dcInstance2.textVariable2'" :disabled="!currentCaseService?.canWrite('groupVariable.dcInstance2.textVariable2', '', '')" :id="getContextForID + 'groupVariable.dcInstance2.textVariable2'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.dcInstance2.textVariable2'" :context="context" :container-type="containerType">
										</component>
									</div>
								</section>
							</template>
						</dataclassitemcomponent>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.dcInstance2'" :context="context" :container-type="containerType">
						</component>
					</fieldset>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.dcInstance3'" :context="context" :container-type="containerType">
					</component>
					<fieldset v-custom-model="'groupVariable.dcInstance3'" v-if="currentCaseService?.canRead('groupVariable.dcInstance3','','')" init-value="({})" class="dcInstance3" :id="getContextForID + 'groupVariable.dcInstance3'" :disabled="!currentCaseService?.canWrite('groupVariable.dcInstance3', '', '')" v-on:mouseover.stop="onHover('groupVariable.dcInstance3')" v-show="listOfActivePages.includes(getContextForID + 'groupVariable.dcInstance3')">
						<legend class="groupDescription">
							<span v-html="translationService.t('dcInstance3')">
							</span>
						</legend>
						<dataclassitemcomponent :full-name="'groupVariable.dcInstance3'" :this-index="null" :model="model" :this-set="thisSet">
							<template v-slot:default="{ thisSet, thisObject, thisIndex }">
								<section class="dataClass3">
									<div v-if="currentCaseService?.canRead('groupVariable.dcInstance3.textVariable3','','')" :id="getContextForID + 'groupVariable.dcInstance3.textVariable3-wrapper'" v-on:mouseover.stop="onHover('groupVariable.dcInstance3.textVariable3')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.dcInstance3.textVariable3'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'groupVariable.dcInstance3.textVariable3'">
											<span v-html="translationService.t('textVariable3')">
											</span>
										</label>
										<input type="text" v-custom-model="'groupVariable.dcInstance3.textVariable3'" :disabled="!currentCaseService?.canWrite('groupVariable.dcInstance3.textVariable3', '', '')" :id="getContextForID + 'groupVariable.dcInstance3.textVariable3'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.dcInstance3.textVariable3'" :context="context" :container-type="containerType">
										</component>
									</div>
								</section>
							</template>
						</dataclassitemcomponent>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.dcInstance3'" :context="context" :container-type="containerType">
						</component>
					</fieldset>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>