<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'dcInstance'" v-if="currentCaseService?.canRead('dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'dcInstance'" :disabled="!currentCaseService?.canWrite('dcInstance', '', '')" v-on:mouseover.stop="onHover('dcInstance')">
				<legend class="groupDescription">
					<span v-html="translationService.t('dcInstance')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<nav>
							<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'dcInstance.groupVariable')" :class="{selected: listOfActivePages.includes(getContextForID + 'dcInstance.groupVariable')}" v-if="currentCaseService?.canRead('dcInstance.groupVariable','','')">
								<span v-html="translationService.t('groupVariable')">
								</span>
							</button>
							<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'dcInstance.groupVariable2')" :class="{selected: listOfActivePages.includes(getContextForID + 'dcInstance.groupVariable2')}" v-if="currentCaseService?.canRead('dcInstance.groupVariable2','','')">
								<span v-html="translationService.t('groupVariable2')">
								</span>
							</button>
							<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'dcInstance.groupVariable3')" :class="{selected: listOfActivePages.includes(getContextForID + 'dcInstance.groupVariable3')}" v-if="currentCaseService?.canRead('dcInstance.groupVariable3','','')">
								<span v-html="translationService.t('groupVariable3')">
								</span>
							</button>
						</nav>
						<section class="myDataClass">
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'dcInstance.groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable', '', '')" :id="getContextForID + 'dcInstance.groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('dcInstance.groupVariable','','')" v-on:mouseover.stop="onHover('dcInstance.groupVariable')" v-show="listOfActivePages.includes(getContextForID + 'dcInstance.groupVariable')">
								<legend class="groupDescription">
									<span v-html="translationService.t('groupVariable')">
									</span>
								</legend>
								<div>
									<div v-if="currentCaseService?.canRead('dcInstance.groupVariable.textVariable','','')" :id="getContextForID + 'dcInstance.groupVariable.textVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.groupVariable.textVariable')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable.textVariable'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'dcInstance.groupVariable.textVariable'">
											<span v-html="translationService.t('textVariable')">
											</span>
										</label>
										<input type="text" v-custom-model="'dcInstance.groupVariable.textVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable.textVariable', '', '')" :id="getContextForID + 'dcInstance.groupVariable.textVariable'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable.textVariable'" :context="context" :container-type="containerType">
										</component>
									</div>
								</div>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'dcInstance.groupVariable2'" init-value="({})" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable2', '', '')" :id="getContextForID + 'dcInstance.groupVariable2'" class="groupVariable2" v-if="currentCaseService?.canRead('dcInstance.groupVariable2','','')" v-on:mouseover.stop="onHover('dcInstance.groupVariable2')" v-show="listOfActivePages.includes(getContextForID + 'dcInstance.groupVariable2')">
								<legend class="groupDescription">
									<span v-html="translationService.t('groupVariable2')">
									</span>
								</legend>
								<div>
									<div v-if="currentCaseService?.canRead('dcInstance.groupVariable2.textVariable2','','')" :id="getContextForID + 'dcInstance.groupVariable2.textVariable2-wrapper'" v-on:mouseover.stop="onHover('dcInstance.groupVariable2.textVariable2')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2.textVariable2'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'dcInstance.groupVariable2.textVariable2'">
											<span v-html="translationService.t('textVariable2')">
											</span>
										</label>
										<input type="text" v-custom-model="'dcInstance.groupVariable2.textVariable2'" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable2.textVariable2', '', '')" :id="getContextForID + 'dcInstance.groupVariable2.textVariable2'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2.textVariable2'" :context="context" :container-type="containerType">
										</component>
									</div>
								</div>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable2'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable3'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'dcInstance.groupVariable3'" init-value="({})" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable3', '', '')" :id="getContextForID + 'dcInstance.groupVariable3'" class="groupVariable3" v-if="currentCaseService?.canRead('dcInstance.groupVariable3','','')" v-on:mouseover.stop="onHover('dcInstance.groupVariable3')" v-show="listOfActivePages.includes(getContextForID + 'dcInstance.groupVariable3')">
								<legend class="groupDescription">
									<span v-html="translationService.t('groupVariable3')">
									</span>
								</legend>
								<div>
									<div v-if="currentCaseService?.canRead('dcInstance.groupVariable3.textVariable3','','')" :id="getContextForID + 'dcInstance.groupVariable3.textVariable3-wrapper'" v-on:mouseover.stop="onHover('dcInstance.groupVariable3.textVariable3')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.groupVariable3.textVariable3'" :context="context" :container-type="containerType">
										</component>
										<label class="variableLabel" :for="getContextForID + 'dcInstance.groupVariable3.textVariable3'">
											<span v-html="translationService.t('textVariable3')">
											</span>
										</label>
										<input type="text" v-custom-model="'dcInstance.groupVariable3.textVariable3'" :disabled="!currentCaseService?.canWrite('dcInstance.groupVariable3.textVariable3', '', '')" :id="getContextForID + 'dcInstance.groupVariable3.textVariable3'">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable3.textVariable3'" :context="context" :container-type="containerType">
										</component>
									</div>
								</div>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.groupVariable3'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>