<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'set'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model-for-sets="'set'" init-value="[]" :disabled="!currentCaseService?.canWrite('set', '', '')" :id="getContextForID + 'set'" class="set" v-if="currentCaseService?.canRead('set','','')" v-on:mouseover.stop="onHover('set')">
				<legend class="setDescription">
					<span v-html="translationService.t('set')">
					</span>
				</legend>
				<setcomponent :full-name="'set'" :this-object="thisObject" :this-index="null" :model="model">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<ul>
							<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'set[' + index0 + ']'">
								<setitemcomponent :full-name="'set[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<dataclassitemcomponent :full-name="'set[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
											<template v-slot:default="{ thisSet, thisObject, thisIndex }">
												<section class="item">
													<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'set[' + index0 + '].groupSeparate'" :context="context" :container-type="containerType">
													</component>
													<fieldset v-custom-model="'set[' + index0 + '].groupSeparate'" init-value="({})" :disabled="!currentCaseService?.canWrite('set[' + index0 + '].groupSeparate', '', '')" :id="getContextForID + 'set[' + index0 + '].groupSeparate'" class="groupSeparate" v-if="currentCaseService?.canRead('set[' + index0 + '].groupSeparate','','')" v-on:mouseover.stop="onHover('set[' + index0 + '].groupSeparate')">
														<legend class="groupDescription">
															<span v-html="translationService.t('groupSeparate')">
															</span>
														</legend>
														<nav>
															<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'set[' + index0 + '].groupSeparate.groupVariable')" :class="{selected: listOfActivePages.includes(getContextForID + 'set[' + index0 + '].groupSeparate.groupVariable')}" v-if="currentCaseService?.canRead('set[' + index0 + '].groupSeparate.groupVariable','','')">
																<span v-html="translationService.t('Group')">
																</span>
															</button>
															<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'set[' + index0 + '].groupSeparate.dcInstance')" :class="{selected: listOfActivePages.includes(getContextForID + 'set[' + index0 + '].groupSeparate.dcInstance')}" v-if="currentCaseService?.canRead('set[' + index0 + '].groupSeparate.dcInstance','','')">
																<span v-html="translationService.t('dcInstance')">
																</span>
															</button>
															<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'set[' + index0 + '].groupSeparate.dcInstance2')" :class="{selected: listOfActivePages.includes(getContextForID + 'set[' + index0 + '].groupSeparate.dcInstance2')}" v-if="currentCaseService?.canRead('set[' + index0 + '].groupSeparate.dcInstance2','','')">
																<span v-html="translationService.t('dcInstance2')">
																</span>
															</button>
														</nav>
														<div>
															<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'set[' + index0 + '].groupSeparate.groupVariable'" :context="context" :container-type="containerType">
															</component>
															<fieldset v-custom-model="'set[' + index0 + '].groupSeparate.groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('set[' + index0 + '].groupSeparate.groupVariable', '', '')" :id="getContextForID + 'set[' + index0 + '].groupSeparate.groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('set[' + index0 + '].groupSeparate.groupVariable','','')" v-on:mouseover.stop="onHover('set[' + index0 + '].groupSeparate.groupVariable')" v-show="listOfActivePages.includes(getContextForID + 'set[' + index0 + '].groupSeparate.groupVariable')">
																<legend class="groupDescription">
																	<span v-html="translationService.t('Group')">
																	</span>
																</legend>
																<div>
																	<div v-if="currentCaseService?.canRead('set[' + index0 + '].groupSeparate.groupVariable.textVariable','','')" :id="getContextForID + 'set[' + index0 + '].groupSeparate.groupVariable.textVariable-wrapper'" v-on:mouseover.stop="onHover('set[' + index0 + '].groupSeparate.groupVariable.textVariable')">
																		<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'set[' + index0 + '].groupSeparate.groupVariable.textVariable'" :context="context" :container-type="containerType">
																		</component>
																		<label class="variableLabel" :for="getContextForID + 'set[' + index0 + '].groupSeparate.groupVariable.textVariable'">
																			<span v-html="translationService.t('textVariable')">
																			</span>
																		</label>
																		<input type="text" v-custom-model="'set[' + index0 + '].groupSeparate.groupVariable.textVariable'" :disabled="!currentCaseService?.canWrite('set[' + index0 + '].groupSeparate.groupVariable.textVariable', '', '')" :id="getContextForID + 'set[' + index0 + '].groupSeparate.groupVariable.textVariable'">
																		<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'set[' + index0 + '].groupSeparate.groupVariable.textVariable'" :context="context" :container-type="containerType">
																		</component>
																	</div>
																</div>
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'set[' + index0 + '].groupSeparate.groupVariable'" :context="context" :container-type="containerType">
																</component>
															</fieldset>
															<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'set[' + index0 + '].groupSeparate.dcInstance'" :context="context" :container-type="containerType">
															</component>
															<fieldset v-custom-model="'set[' + index0 + '].groupSeparate.dcInstance'" v-if="currentCaseService?.canRead('set[' + index0 + '].groupSeparate.dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'set[' + index0 + '].groupSeparate.dcInstance'" :disabled="!currentCaseService?.canWrite('set[' + index0 + '].groupSeparate.dcInstance', '', '')" v-on:mouseover.stop="onHover('set[' + index0 + '].groupSeparate.dcInstance')" v-show="listOfActivePages.includes(getContextForID + 'set[' + index0 + '].groupSeparate.dcInstance')">
																<legend class="groupDescription">
																	<span v-html="translationService.t('dcInstance')">
																	</span>
																</legend>
																<dataclassitemcomponent :full-name="'set[' + index0 + '].groupSeparate.dcInstance'" :this-index="index0" :model="model" :this-set="thisSet">
																	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																		<section class="exampleDC">
																			<div v-if="currentCaseService?.canRead('set[' + index0 + '].groupSeparate.dcInstance.textVariable','','')" :id="getContextForID + 'set[' + index0 + '].groupSeparate.dcInstance.textVariable-wrapper'" v-on:mouseover.stop="onHover('set[' + index0 + '].groupSeparate.dcInstance.textVariable')">
																				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'set[' + index0 + '].groupSeparate.dcInstance.textVariable'" :context="context" :container-type="containerType">
																				</component>
																				<label class="variableLabel" :for="getContextForID + 'set[' + index0 + '].groupSeparate.dcInstance.textVariable'">
																					<span v-html="translationService.t('textVariable')">
																					</span>
																				</label>
																				<input type="text" v-custom-model="'set[' + index0 + '].groupSeparate.dcInstance.textVariable'" :disabled="!currentCaseService?.canWrite('set[' + index0 + '].groupSeparate.dcInstance.textVariable', '', '')" :id="getContextForID + 'set[' + index0 + '].groupSeparate.dcInstance.textVariable'">
																				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'set[' + index0 + '].groupSeparate.dcInstance.textVariable'" :context="context" :container-type="containerType">
																				</component>
																			</div>
																		</section>
																	</template>
																</dataclassitemcomponent>
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'set[' + index0 + '].groupSeparate.dcInstance'" :context="context" :container-type="containerType">
																</component>
															</fieldset>
															<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'set[' + index0 + '].groupSeparate.dcInstance2'" :context="context" :container-type="containerType">
															</component>
															<fieldset v-custom-model="'set[' + index0 + '].groupSeparate.dcInstance2'" v-if="currentCaseService?.canRead('set[' + index0 + '].groupSeparate.dcInstance2','','')" init-value="({})" class="dcInstance2" :id="getContextForID + 'set[' + index0 + '].groupSeparate.dcInstance2'" :disabled="!currentCaseService?.canWrite('set[' + index0 + '].groupSeparate.dcInstance2', '', '')" v-on:mouseover.stop="onHover('set[' + index0 + '].groupSeparate.dcInstance2')" v-show="listOfActivePages.includes(getContextForID + 'set[' + index0 + '].groupSeparate.dcInstance2')">
																<legend class="groupDescription">
																	<span v-html="translationService.t('dcInstance2')">
																	</span>
																</legend>
																<dataclassitemcomponent :full-name="'set[' + index0 + '].groupSeparate.dcInstance2'" :this-index="index0" :model="model" :this-set="thisSet">
																	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																		<section class="exampleDC">
																			<div v-if="currentCaseService?.canRead('set[' + index0 + '].groupSeparate.dcInstance2.textVariable','','')" :id="getContextForID + 'set[' + index0 + '].groupSeparate.dcInstance2.textVariable-wrapper'" v-on:mouseover.stop="onHover('set[' + index0 + '].groupSeparate.dcInstance2.textVariable')">
																				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'set[' + index0 + '].groupSeparate.dcInstance2.textVariable'" :context="context" :container-type="containerType">
																				</component>
																				<label class="variableLabel" :for="getContextForID + 'set[' + index0 + '].groupSeparate.dcInstance2.textVariable'">
																					<span v-html="translationService.t('textVariable')">
																					</span>
																				</label>
																				<input type="text" v-custom-model="'set[' + index0 + '].groupSeparate.dcInstance2.textVariable'" :disabled="!currentCaseService?.canWrite('set[' + index0 + '].groupSeparate.dcInstance2.textVariable', '', '')" :id="getContextForID + 'set[' + index0 + '].groupSeparate.dcInstance2.textVariable'">
																				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'set[' + index0 + '].groupSeparate.dcInstance2.textVariable'" :context="context" :container-type="containerType">
																				</component>
																			</div>
																		</section>
																	</template>
																</dataclassitemcomponent>
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'set[' + index0 + '].groupSeparate.dcInstance2'" :context="context" :container-type="containerType">
																</component>
															</fieldset>
														</div>
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'set[' + index0 + '].groupSeparate'" :context="context" :container-type="containerType">
														</component>
													</fieldset>
												</section>
											</template>
										</dataclassitemcomponent>
										<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index0)" :disabled="!currentCaseService?.canWrite('set[' + index0 + ']', '', '')">
											<span v-html="translationService.t('Remove this set')">
											</span>
										</button>
									</template>
								</setitemcomponent>
							</li>
						</ul>
						<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet)">
							<span v-html="translationService.t('Add item')">
							</span>
						</button>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'set'" :context="context" :container-type="containerType">
						</component>
					</template>
				</setcomponent>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>