<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'dcInstance'" v-if="currentCaseService?.canRead('dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'dcInstance'" :disabled="!currentCaseService?.canWrite('dcInstance', '', '')" v-on:mouseover.stop="onHover('dcInstance')">
				<legend class="groupDescription">
					<span v-html="translationService.t('dcInstance')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<nav>
							<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'dcInstance.setVariable')" :class="{selected: listOfActivePages.includes(getContextForID + 'dcInstance.setVariable')}" v-if="currentCaseService?.canRead('dcInstance.setVariable','','')">
								<span v-html="translationService.t('setVariable')">
								</span>
							</button>
							<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'dcInstance.setVariable2')" :class="{selected: listOfActivePages.includes(getContextForID + 'dcInstance.setVariable2')}" v-if="currentCaseService?.canRead('dcInstance.setVariable2','','')">
								<span v-html="translationService.t('setVariable2')">
								</span>
							</button>
						</nav>
						<section class="isSet">
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.setVariable'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model-for-sets="'dcInstance.setVariable'" init-value="[]" :disabled="!currentCaseService?.canWrite('dcInstance.setVariable', '', '')" :id="getContextForID + 'dcInstance.setVariable'" class="setVariable" v-if="currentCaseService?.canRead('dcInstance.setVariable','','')" v-on:mouseover.stop="onHover('dcInstance.setVariable')" v-show="listOfActivePages.includes(getContextForID + 'dcInstance.setVariable')">
								<legend class="setDescription">
									<span v-html="translationService.t('setVariable')">
									</span>
								</legend>
								<setcomponent :full-name="'dcInstance.setVariable'" :this-object="thisObject" :this-index="null" :model="model">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<section class="itemSelector">
											<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet); currentPageService.set(getContextForID + 'dcInstance.setVariable[' + (thisSet.length - 1) + ']')" :disabled="!currentCaseService?.canWrite('dcInstance.setVariable', '', '')">
												<span v-html="translationService.t('Add setVariable')">
												</span>
											</button>
											<nav>
												<button type="button" class="page-navigation" v-for="(childElement, index0) in thisSet" :key="childElement.guid" v-on:click.stop="currentPageService.set(getContextForID + 'dcInstance.setVariable[' + index0 + ']')" :class="{selected: listOfActivePages.includes(getContextForID + 'dcInstance.setVariable[' + index0 + ']')}" v-html="(childElement.textVariable?.getLabel?.() ?? childElement.textVariable) || translationService.t('-- new setVariable --')">
												</button>
											</nav>
										</section>
										<ul>
											<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'dcInstance.setVariable[' + index0 + ']'" v-show="listOfActivePages.includes(getContextForID + 'dcInstance.setVariable[' + index0 + ']')">
												<setitemcomponent :full-name="'dcInstance.setVariable[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
													<template v-slot:default="{ thisSet, thisObject, thisIndex }">
														<dataclassitemcomponent :full-name="'dcInstance.setVariable[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
															<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																<section class="itemsDC">
																	<div v-if="currentCaseService?.canRead('dcInstance.setVariable[' + index0 + '].textVariable','','')" :id="getContextForID + 'dcInstance.setVariable[' + index0 + '].textVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.setVariable[' + index0 + '].textVariable')">
																		<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.setVariable[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
																		</component>
																		<label class="variableLabel" :for="getContextForID + 'dcInstance.setVariable[' + index0 + '].textVariable'">
																			<span v-html="translationService.t('textVariable')">
																			</span>
																		</label>
																		<input type="text" v-custom-model="'dcInstance.setVariable[' + index0 + '].textVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.setVariable[' + index0 + '].textVariable', '', '')" :id="getContextForID + 'dcInstance.setVariable[' + index0 + '].textVariable'">
																		<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.setVariable[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
																		</component>
																	</div>
																</section>
															</template>
														</dataclassitemcomponent>
														<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index0)" :disabled="!currentCaseService?.canWrite('dcInstance.setVariable[' + index0 + ']', '', '')">
															<span v-html="translationService.t('Remove this setVariable')">
															</span>
														</button>
													</template>
												</setitemcomponent>
											</li>
										</ul>
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.setVariable'" :context="context" :container-type="containerType">
										</component>
									</template>
								</setcomponent>
							</fieldset>
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.setVariable2'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model-for-sets="'dcInstance.setVariable2'" init-value="[]" :disabled="!currentCaseService?.canWrite('dcInstance.setVariable2', '', '')" :id="getContextForID + 'dcInstance.setVariable2'" class="setVariable2" v-if="currentCaseService?.canRead('dcInstance.setVariable2','','')" v-on:mouseover.stop="onHover('dcInstance.setVariable2')" v-show="listOfActivePages.includes(getContextForID + 'dcInstance.setVariable2')">
								<legend class="setDescription">
									<span v-html="translationService.t('setVariable2')">
									</span>
								</legend>
								<setcomponent :full-name="'dcInstance.setVariable2'" :this-object="thisObject" :this-index="null" :model="model">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<section class="itemSelector">
											<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet); currentPageService.set(getContextForID + 'dcInstance.setVariable2[' + (thisSet.length - 1) + ']')" :disabled="!currentCaseService?.canWrite('dcInstance.setVariable2', '', '')">
												<span v-html="translationService.t('Add setVariable2')">
												</span>
											</button>
											<nav>
												<button type="button" class="page-navigation" v-for="(childElement, index0) in thisSet" :key="childElement.guid" v-on:click.stop="currentPageService.set(getContextForID + 'dcInstance.setVariable2[' + index0 + ']')" :class="{selected: listOfActivePages.includes(getContextForID + 'dcInstance.setVariable2[' + index0 + ']')}" v-html="(childElement.textVariable?.getLabel?.() ?? childElement.textVariable) || translationService.t('-- new setVariable2 --')">
												</button>
											</nav>
										</section>
										<ul>
											<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'dcInstance.setVariable2[' + index0 + ']'" v-show="listOfActivePages.includes(getContextForID + 'dcInstance.setVariable2[' + index0 + ']')">
												<setitemcomponent :full-name="'dcInstance.setVariable2[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
													<template v-slot:default="{ thisSet, thisObject, thisIndex }">
														<dataclassitemcomponent :full-name="'dcInstance.setVariable2[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
															<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																<section class="itemsDC">
																	<div v-if="currentCaseService?.canRead('dcInstance.setVariable2[' + index0 + '].textVariable','','')" :id="getContextForID + 'dcInstance.setVariable2[' + index0 + '].textVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.setVariable2[' + index0 + '].textVariable')">
																		<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.setVariable2[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
																		</component>
																		<label class="variableLabel" :for="getContextForID + 'dcInstance.setVariable2[' + index0 + '].textVariable'">
																			<span v-html="translationService.t('textVariable')">
																			</span>
																		</label>
																		<input type="text" v-custom-model="'dcInstance.setVariable2[' + index0 + '].textVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.setVariable2[' + index0 + '].textVariable', '', '')" :id="getContextForID + 'dcInstance.setVariable2[' + index0 + '].textVariable'">
																		<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.setVariable2[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
																		</component>
																	</div>
																</section>
															</template>
														</dataclassitemcomponent>
														<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index0)" :disabled="!currentCaseService?.canWrite('dcInstance.setVariable2[' + index0 + ']', '', '')">
															<span v-html="translationService.t('Remove this setVariable2')">
															</span>
														</button>
													</template>
												</setitemcomponent>
											</li>
										</ul>
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.setVariable2'" :context="context" :container-type="containerType">
										</component>
									</template>
								</setcomponent>
							</fieldset>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>