<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'mainDcInstance'" v-if="currentCaseService?.canRead('mainDcInstance','','')" init-value="({})" class="mainDcInstance" :id="getContextForID + 'mainDcInstance'" :disabled="!currentCaseService?.canWrite('mainDcInstance', '', '')" v-on:mouseover.stop="onHover('mainDcInstance')">
				<legend class="groupDescription">
					<span v-html="translationService.t('mainDcInstance')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'mainDcInstance'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<nav>
							<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'mainDcInstance.dcInstance')" :class="{selected: listOfActivePages.includes(getContextForID + 'mainDcInstance.dcInstance')}" v-if="currentCaseService?.canRead('mainDcInstance.dcInstance','','')">
								<span v-html="translationService.t('dcInstance')">
								</span>
							</button>
							<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'mainDcInstance.dcInstance2')" :class="{selected: listOfActivePages.includes(getContextForID + 'mainDcInstance.dcInstance2')}" v-if="currentCaseService?.canRead('mainDcInstance.dcInstance2','','')">
								<span v-html="translationService.t('dcInstance2')">
								</span>
							</button>
							<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'mainDcInstance.dcInstance3')" :class="{selected: listOfActivePages.includes(getContextForID + 'mainDcInstance.dcInstance3')}" v-if="currentCaseService?.canRead('mainDcInstance.dcInstance3','','')">
								<span v-html="translationService.t('dcInstance3')">
								</span>
							</button>
						</nav>
						<section class="dc">
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'mainDcInstance.dcInstance'" v-if="currentCaseService?.canRead('mainDcInstance.dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'mainDcInstance.dcInstance'" :disabled="!currentCaseService?.canWrite('mainDcInstance.dcInstance', '', '')" v-on:mouseover.stop="onHover('mainDcInstance.dcInstance')" v-show="listOfActivePages.includes(getContextForID + 'mainDcInstance.dcInstance')">
								<legend class="groupDescription">
									<span v-html="translationService.t('dcInstance')">
									</span>
								</legend>
								<dataclassitemcomponent :full-name="'mainDcInstance.dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<section class="dcChild">
											<div v-if="currentCaseService?.canRead('mainDcInstance.dcInstance.textVariable','','')" :id="getContextForID + 'mainDcInstance.dcInstance.textVariable-wrapper'" v-on:mouseover.stop="onHover('mainDcInstance.dcInstance.textVariable')">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance.textVariable'" :context="context" :container-type="containerType">
												</component>
												<label class="variableLabel" :for="getContextForID + 'mainDcInstance.dcInstance.textVariable'">
													<span v-html="translationService.t('textVariable')">
													</span>
												</label>
												<input type="text" v-custom-model="'mainDcInstance.dcInstance.textVariable'" :disabled="!currentCaseService?.canWrite('mainDcInstance.dcInstance.textVariable', '', '')" :id="getContextForID + 'mainDcInstance.dcInstance.textVariable'">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance.textVariable'" :context="context" :container-type="containerType">
												</component>
											</div>
										</section>
									</template>
								</dataclassitemcomponent>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance2'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'mainDcInstance.dcInstance2'" v-if="currentCaseService?.canRead('mainDcInstance.dcInstance2','','')" init-value="({})" class="dcInstance2" :id="getContextForID + 'mainDcInstance.dcInstance2'" :disabled="!currentCaseService?.canWrite('mainDcInstance.dcInstance2', '', '')" v-on:mouseover.stop="onHover('mainDcInstance.dcInstance2')" v-show="listOfActivePages.includes(getContextForID + 'mainDcInstance.dcInstance2')">
								<legend class="groupDescription">
									<span v-html="translationService.t('dcInstance2')">
									</span>
								</legend>
								<dataclassitemcomponent :full-name="'mainDcInstance.dcInstance2'" :this-index="null" :model="model" :this-set="thisSet">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<section class="dcChild2">
											<div v-if="currentCaseService?.canRead('mainDcInstance.dcInstance2.textVariable2','','')" :id="getContextForID + 'mainDcInstance.dcInstance2.textVariable2-wrapper'" v-on:mouseover.stop="onHover('mainDcInstance.dcInstance2.textVariable2')">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance2.textVariable2'" :context="context" :container-type="containerType">
												</component>
												<label class="variableLabel" :for="getContextForID + 'mainDcInstance.dcInstance2.textVariable2'">
													<span v-html="translationService.t('textVariable2')">
													</span>
												</label>
												<input type="text" v-custom-model="'mainDcInstance.dcInstance2.textVariable2'" :disabled="!currentCaseService?.canWrite('mainDcInstance.dcInstance2.textVariable2', '', '')" :id="getContextForID + 'mainDcInstance.dcInstance2.textVariable2'">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance2.textVariable2'" :context="context" :container-type="containerType">
												</component>
											</div>
										</section>
									</template>
								</dataclassitemcomponent>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance2'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance3'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'mainDcInstance.dcInstance3'" v-if="currentCaseService?.canRead('mainDcInstance.dcInstance3','','')" init-value="({})" class="dcInstance3" :id="getContextForID + 'mainDcInstance.dcInstance3'" :disabled="!currentCaseService?.canWrite('mainDcInstance.dcInstance3', '', '')" v-on:mouseover.stop="onHover('mainDcInstance.dcInstance3')" v-show="listOfActivePages.includes(getContextForID + 'mainDcInstance.dcInstance3')">
								<legend class="groupDescription">
									<span v-html="translationService.t('dcInstance3')">
									</span>
								</legend>
								<dataclassitemcomponent :full-name="'mainDcInstance.dcInstance3'" :this-index="null" :model="model" :this-set="thisSet">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<section class="dcChild3">
											<div v-if="currentCaseService?.canRead('mainDcInstance.dcInstance3.textVariable3','','')" :id="getContextForID + 'mainDcInstance.dcInstance3.textVariable3-wrapper'" v-on:mouseover.stop="onHover('mainDcInstance.dcInstance3.textVariable3')">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance3.textVariable3'" :context="context" :container-type="containerType">
												</component>
												<label class="variableLabel" :for="getContextForID + 'mainDcInstance.dcInstance3.textVariable3'">
													<span v-html="translationService.t('textVariable3')">
													</span>
												</label>
												<input type="text" v-custom-model="'mainDcInstance.dcInstance3.textVariable3'" :disabled="!currentCaseService?.canWrite('mainDcInstance.dcInstance3.textVariable3', '', '')" :id="getContextForID + 'mainDcInstance.dcInstance3.textVariable3'">
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance3.textVariable3'" :context="context" :container-type="containerType">
												</component>
											</div>
										</section>
									</template>
								</dataclassitemcomponent>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance.dcInstance3'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainDcInstance'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>