<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'mainGroup'" init-value="({})" :disabled="!currentCaseService?.canWrite('mainGroup', '', '')" :id="getContextForID + 'mainGroup'" class="mainGroup" v-if="currentCaseService?.canRead('mainGroup','','')" v-on:mouseover.stop="onHover('mainGroup')">
				<legend class="groupDescription">
					<span v-html="translationService.t('mainGroup')">
					</span>
				</legend>
				<nav>
					<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'mainGroup.groupVariable')" :class="{selected: listOfActivePages.includes(getContextForID + 'mainGroup.groupVariable')}" v-if="currentCaseService?.canRead('mainGroup.groupVariable','','')">
						<span v-html="translationService.t('groupVariable')">
						</span>
					</button>
					<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'mainGroup.groupVariable2')" :class="{selected: listOfActivePages.includes(getContextForID + 'mainGroup.groupVariable2')}" v-if="currentCaseService?.canRead('mainGroup.groupVariable2','','')">
						<span v-html="translationService.t('groupVariable2')">
						</span>
					</button>
					<button type="button" v-on:click.stop="currentPageService.set(getContextForID + 'mainGroup.groupVariable3')" :class="{selected: listOfActivePages.includes(getContextForID + 'mainGroup.groupVariable3')}" v-if="currentCaseService?.canRead('mainGroup.groupVariable3','','')">
						<span v-html="translationService.t('groupVariable3')">
						</span>
					</button>
				</nav>
				<div>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.groupVariable'" :context="context" :container-type="containerType">
					</component>
					<fieldset v-custom-model="'mainGroup.groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('mainGroup.groupVariable', '', '')" :id="getContextForID + 'mainGroup.groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('mainGroup.groupVariable','','')" v-on:mouseover.stop="onHover('mainGroup.groupVariable')" v-show="listOfActivePages.includes(getContextForID + 'mainGroup.groupVariable')">
						<legend class="groupDescription">
							<span v-html="translationService.t('groupVariable')">
							</span>
						</legend>
						<div>
							<div v-if="currentCaseService?.canRead('mainGroup.groupVariable.textVariable','','')" :id="getContextForID + 'mainGroup.groupVariable.textVariable-wrapper'" v-on:mouseover.stop="onHover('mainGroup.groupVariable.textVariable')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.groupVariable.textVariable'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'mainGroup.groupVariable.textVariable'">
									<span v-html="translationService.t('textVariable')">
									</span>
								</label>
								<input type="text" v-custom-model="'mainGroup.groupVariable.textVariable'" :disabled="!currentCaseService?.canWrite('mainGroup.groupVariable.textVariable', '', '')" :id="getContextForID + 'mainGroup.groupVariable.textVariable'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.groupVariable.textVariable'" :context="context" :container-type="containerType">
								</component>
							</div>
						</div>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.groupVariable'" :context="context" :container-type="containerType">
						</component>
					</fieldset>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.groupVariable2'" :context="context" :container-type="containerType">
					</component>
					<fieldset v-custom-model="'mainGroup.groupVariable2'" init-value="({})" :disabled="!currentCaseService?.canWrite('mainGroup.groupVariable2', '', '')" :id="getContextForID + 'mainGroup.groupVariable2'" class="groupVariable2" v-if="currentCaseService?.canRead('mainGroup.groupVariable2','','')" v-on:mouseover.stop="onHover('mainGroup.groupVariable2')" v-show="listOfActivePages.includes(getContextForID + 'mainGroup.groupVariable2')">
						<legend class="groupDescription">
							<span v-html="translationService.t('groupVariable2')">
							</span>
						</legend>
						<div>
							<div v-if="currentCaseService?.canRead('mainGroup.groupVariable2.textVariable2','','')" :id="getContextForID + 'mainGroup.groupVariable2.textVariable2-wrapper'" v-on:mouseover.stop="onHover('mainGroup.groupVariable2.textVariable2')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.groupVariable2.textVariable2'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'mainGroup.groupVariable2.textVariable2'">
									<span v-html="translationService.t('textVariable2')">
									</span>
								</label>
								<input type="text" v-custom-model="'mainGroup.groupVariable2.textVariable2'" :disabled="!currentCaseService?.canWrite('mainGroup.groupVariable2.textVariable2', '', '')" :id="getContextForID + 'mainGroup.groupVariable2.textVariable2'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.groupVariable2.textVariable2'" :context="context" :container-type="containerType">
								</component>
							</div>
						</div>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.groupVariable2'" :context="context" :container-type="containerType">
						</component>
					</fieldset>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.groupVariable3'" :context="context" :container-type="containerType">
					</component>
					<fieldset v-custom-model="'mainGroup.groupVariable3'" init-value="({})" :disabled="!currentCaseService?.canWrite('mainGroup.groupVariable3', '', '')" :id="getContextForID + 'mainGroup.groupVariable3'" class="groupVariable3" v-if="currentCaseService?.canRead('mainGroup.groupVariable3','','')" v-on:mouseover.stop="onHover('mainGroup.groupVariable3')" v-show="listOfActivePages.includes(getContextForID + 'mainGroup.groupVariable3')">
						<legend class="groupDescription">
							<span v-html="translationService.t('groupVariable3')">
							</span>
						</legend>
						<div>
							<div v-if="currentCaseService?.canRead('mainGroup.groupVariable3.textVariable3','','')" :id="getContextForID + 'mainGroup.groupVariable3.textVariable3-wrapper'" v-on:mouseover.stop="onHover('mainGroup.groupVariable3.textVariable3')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mainGroup.groupVariable3.textVariable3'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'mainGroup.groupVariable3.textVariable3'">
									<span v-html="translationService.t('textVariable3')">
									</span>
								</label>
								<input type="text" v-custom-model="'mainGroup.groupVariable3.textVariable3'" :disabled="!currentCaseService?.canWrite('mainGroup.groupVariable3.textVariable3', '', '')" :id="getContextForID + 'mainGroup.groupVariable3.textVariable3'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.groupVariable3.textVariable3'" :context="context" :container-type="containerType">
								</component>
							</div>
						</div>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup.groupVariable3'" :context="context" :container-type="containerType">
						</component>
					</fieldset>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mainGroup'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>