<script setup lang="ts">
import { getContainer } from '@/ContainersConfig';
import type { ValueChangeRecordInterface } from '@/interfaces/ValueChangeRecordInterface';
import type { UserServiceInterface } from '@/interfaces/UserServiceInterface';
import type { CaseService } from '@/services/CaseService';
import type CurrentCaseService from '@/services/CurrentCaseService';
import type TranslationService from '@/services/TranslationService';
import { NamedBindings } from '@/types/NamedBindings';
import Helpers from '@/utils/Helpers';
import { useHookProps } from '@/utils/useHookProps';

const props = defineProps({
  ...useHookProps(),
});

const key: symbol = Symbol.for('AfterChangedVariable');
const ts = getContainer(props.context).get(NamedBindings.TranslationService) as TranslationService;

const options = [
  { value: 'Wrong Choice', label: 'Wrong Choice' },
  { value: 'Patient Condition Update', label: 'Patient Condition Update' },
  { value: 'Wrong Patient', label: 'Wrong Patient' },
];

async function toggleDropdown(fullName: string, context: string, selectedValue: string) {
  const currentCaseService = getContainer(context).get(NamedBindings.CurrentCaseService) as CurrentCaseService;
  const model = currentCaseService.getModel();

  if (!model[key]) {
    model[key] = {};
  }

  const userService = getContainer(context).get(NamedBindings.UserService) as UserServiceInterface;
  const changeRecord: ValueChangeRecordInterface = {
    date: new Date().toISOString(),
    user: userService.getCurrentUser().value?.username ?? '',
    reason: selectedValue,
    newValue: Helpers.getObjByPath(fullName, model),
  };

  let changeRecordArray: Array<ValueChangeRecordInterface> = Helpers.getObjByPath(fullName, model[key]);
  if (!changeRecordArray) {
    const caseService = getContainer(context).get(NamedBindings.CaseService) as CaseService;
    const caseID = currentCaseService.getCurrentCase();
    const defaultCase = await caseService.getDataFor(caseID.value!);
    changeRecordArray = [
      {
        date: defaultCase.caseMetaData.creationDate.toISOString(),
        user: '',
        reason: '',
        newValue: Helpers.getObjByPath(fullName, defaultCase.data),
      },
    ];
  }
  changeRecordArray.unshift(changeRecord);
  Helpers.setObjByPath(fullName, model[key], changeRecordArray);
  const dropdownElement = document.getElementById(`dropdown_AfterChangedVariable_${fullName}`) as HTMLSelectElement;
  if (dropdownElement) {
    dropdownElement.value = selectedValue;
  }
}
</script>

<template>
  <select
    :id="'dropdown_AfterChangedVariable_' + fullName"
    @change="toggleDropdown(fullName, context, ($event.target as HTMLSelectElement).value)"
  >
    <option value="" disabled selected v-html="ts.t('Choose a Motivation for Change')"></option>
    <option v-for="option in options" :value="option.value" v-html="ts.t(option.label)"></option>
  </select>
</template>
