<script setup lang="ts">
import { getContainer } from '@/ContainersConfig';
import type TranslationService from '@/services/TranslationService';
import { NamedBindings } from '@/types/NamedBindings';
import { useHookProps } from '@/utils/useHookProps';

const props = defineProps({
  ...useHookProps(),
});

const ts = getContainer(props.context).get(NamedBindings.TranslationService) as TranslationService;
</script>

<template>
  <div class="message-hook-wrapper">
    <p :class="`${fullName}-before-hook-msg`" v-html="ts.t('beforeHookMessage', { name: props.fullName })"></p>
  </div>
</template>
