<script setup lang="ts">
import { getContainer } from '@/ContainersConfig';
import type CurrentCaseService from '@/services/CurrentCaseService';
import type TranslationService from '@/services/TranslationService';
import { NamedBindings } from '@/types/NamedBindings';
import Helpers from '@/utils/Helpers';
import { useHookProps } from '@/utils/useHookProps';

const props = defineProps({
  ...useHookProps(),
});

const ts = getContainer(props.context).get(NamedBindings.TranslationService) as TranslationService;
const c = getContainer(props.context).get(NamedBindings.CurrentCaseService) as CurrentCaseService;
</script>

<template>
  <div class="message-hook-wrapper">
    <p
      :class="`${fullName}-icon-hook-msg`"
      v-html="ts.t('iconHookMessage', { name: fullName, value: Helpers.getObjByPath(fullName, c.getModel()) })"
    ></p>
  </div>
</template>
