<script setup lang="ts">
import { getContainer } from '@/ContainersConfig';
import type CurrentCaseService from '@/services/CurrentCaseService';
import type TranslationService from '@/services/TranslationService';
import { NamedBindings } from '@/types/NamedBindings';
import Helpers from '@/utils/Helpers';
import { useHookProps } from '@/utils/useHookProps';
import { computed, ref } from 'vue';

const props = defineProps({
  ...useHookProps(),
});

const ts = getContainer(props.context).get(NamedBindings.TranslationService) as TranslationService;
const key: symbol = Symbol.for('AfterChangedVariable');
let isDivVisible = ref(false);
const buttonText = computed(() => (isDivVisible.value ? ts.t('Hide List of Changes') : ts.t('Show List of Changes')));

function toggleListOfChanges(): any {
  const currentCaseService = getContainer(props.context).get(NamedBindings.CurrentCaseService) as CurrentCaseService;
  const model = currentCaseService.getModel();
  const data = Helpers.getObjByPath(props.fullName, model[key]);

  const convertObjectToArray = (obj: any, parentKey: string | null = null): { key: string; value: any[] }[] => {
    if (typeof obj !== 'object' || obj === null) {
      return [{ key: parentKey || '', value: [obj instanceof Date ? obj.toLocaleString() : obj] }];
    }

    return Object.keys(obj).reduce((acc, key) => {
      const value = obj[key];
      const innerArray = convertObjectToArray(value, key);
      //@ts-expect-error
      return acc.concat(innerArray);
    }, []);
  };

  const dataArray = convertObjectToArray(data);
  const divElement = document.getElementById(`dataDiv_${props.fullName}`)!;

  isDivVisible.value = !isDivVisible.value;
  divElement.style.display = isDivVisible ? 'block' : 'none';

  const dataParagraph = divElement.querySelector('ul');

  if (isDivVisible && !dataParagraph) {
    const newParagraph = document.createElement('ul');
    dataArray.forEach((item) => {
      const listItem = document.createElement('li');
      listItem.textContent = `${item.key}: ${item.value.join(', ')}`;
      newParagraph.appendChild(listItem);
    });
    divElement.appendChild(newParagraph);
  } else if (!isDivVisible && dataParagraph) {
    dataParagraph.remove();
  }
}
</script>

<template>
  <button
    :class="[`${fullName}-show-list-of-changes-btn`, 'show-list-of-changes-btn']"
    @click="toggleListOfChanges()"
    v-html="buttonText"
  ></button>
  <div :id="`dataDiv_${fullName}`" class="data-container" :style="{ display: isDivVisible ? 'block' : 'none' }" />
</template>
