<script setup lang="ts">
import { ref } from 'vue';
import { getContainer } from '@/ContainersConfig';
import type { MonitorQueryInterface } from '@/interfaces/MonitorQueryInterface';
import type { UserServiceInterface } from '@/interfaces/UserServiceInterface';
import type CurrentCaseService from '@/services/CurrentCaseService';
import type TranslationService from '@/services/TranslationService';
import { NamedBindings } from '@/types/NamedBindings';
import Helpers from '@/utils/Helpers';
import { useHookProps } from '@/utils/useHookProps';

const props = defineProps({
  ...useHookProps(),
});

const container = getContainer(props.context);
const ts = container.get(NamedBindings.TranslationService) as TranslationService;
const userService = container.get(NamedBindings.UserService) as UserServiceInterface;
const currentCaseService = container.get(NamedBindings.CurrentCaseService) as CurrentCaseService;

const model = currentCaseService.getModel();
const key: symbol = Symbol.for('MonitorQueries');
const data = model[key];
const questionAnswer = ref('');
let status = '';
let isDivVisible = false;
const isAdmin = userService.getCurrentUser().value?.username === 'Admin';

const convertObjectToArray = (obj: any, parentKey: string | null = null): { key: string; value: any[] }[] => {
  if (typeof obj !== 'object' || obj === null) {
    return [{ key: parentKey || '', value: [obj instanceof Date ? obj.toLocaleString() : obj] }];
  }

  return Object.keys(obj).reduce((acc, key) => {
    const value = obj[key];
    const innerArray = convertObjectToArray(value, key);
    //@ts-expect-error
    return acc.concat(innerArray);
  }, []);
};

const dataArray = convertObjectToArray(data);

dataArray.forEach((item) => {
  if (item.key === 'status') {
    status = item.value.toString();
  }
});

function getStatusByAction(action: string, currentStatus: string) {
  switch (action) {
    case 'askQuestion':
      return currentStatus === 'Closed' ? 'Reopened' : 'Open';
    case 'answer':
      return 'Answered';
    case 'answerAndClose':
      return 'Closed';
    default:
      return undefined;
  }
}

function toggleQuestionContainer() {
  const divElement = document.getElementById(`questionContainer_${props.fullName}`);
  isDivVisible = !isDivVisible;
  divElement!.style.display = isDivVisible ? 'block' : 'none';
  const model = currentCaseService.getModel();
  const data = Helpers.getObjByPath(props.fullName, model[key]);
  const dataArray = convertObjectToArray(data);

  if (isDivVisible) {
    const keysToInclude = ['date', 'user', 'questionAnswer'];
    const dataDiv = document.getElementById(`dataDiv_${props.fullName}`);
    const lastUserParagraph = {};

    dataArray.forEach((item) => {
      if (keysToInclude.includes(item.key)) {
        const paragraphElement = document.createElement('p');

        if (item.key === 'date') {
          //@ts-expect-error
          const isoDateString = new Date(item.value).toLocaleString();
          paragraphElement.textContent = `${isoDateString}`;
        } else if (item.key === 'user') {
          paragraphElement.textContent = `${item.value}:`;
          //@ts-expect-error
          lastUserParagraph.paragraph = paragraphElement;
        } else if (item.key === 'questionAnswer') {
          //@ts-expect-error
          if (lastUserParagraph.paragraph) {
            //@ts-expect-error
            lastUserParagraph.paragraph.textContent += ` ${item.value}`;
          }
        }
        dataDiv!.appendChild(paragraphElement);
      }
    });
  }
  const buttonElement = document.getElementById(`showHideContainer_${props.fullName}`);
  buttonElement!.textContent = isDivVisible ? ts.t('Hide Container') : ts.t('Show Container');
}

function saveMonitorQuery(textInserted: string, action: string) {
  const currentCaseService = getContainer(props.context).get(NamedBindings.CurrentCaseService) as CurrentCaseService;
  const model = currentCaseService.getModel();

  if (!model[key]) {
    model[key] = {};
  }

  const userService = getContainer(props.context).get(NamedBindings.UserService) as UserServiceInterface;
  const status = model[key]?.status;

  const query: MonitorQueryInterface = {
    date: new Date().toISOString(),
    user: userService.getCurrentUser().value?.username ?? '',
    questionAnswer: textInserted,
    status: getStatusByAction(action, status)!,
  };

  let monitorQueriesArray: Array<MonitorQueryInterface> = Helpers.getObjByPath(props.fullName, model[key]);
  if (!monitorQueriesArray) {
    monitorQueriesArray = [];
  }
  monitorQueriesArray.push(query);

  Helpers.setObjByPath(props.fullName, model[key], monitorQueriesArray);
  questionAnswer.value = '';
}
</script>

<template>
  <div>
    <button
      :id="`showHideContainer_${fullName}`"
      :disabled="!isAdmin && status === undefined"
      v-html="isDivVisible ? ts.t('Hide Container') : ts.t('Show Container')"
      @click="toggleQuestionContainer()"
    ></button>

    <div :id="`questionContainer_${fullName}`" :style="{ display: isDivVisible ? 'block' : 'none' }">
      <div :id="`dataDiv_${fullName}`" />
      <input type="text" v-model="questionAnswer" :id="`questionAnswer_${fullName}`" />
      <button
        v-if="isAdmin"
        :id="`askQuestion_${fullName}`"
        v-html="ts.t('Insert Question')"
        @click="saveMonitorQuery(questionAnswer, 'askQuestion')"
      ></button>
      <div v-else>
        <button
          :id="`answer_${fullName}`"
          v-html="ts.t('Answer')"
          @click="saveMonitorQuery(questionAnswer, 'answer')"
        ></button>
        <button
          :id="`answerAndClose_${fullName}`"
          v-html="ts.t('Answer and Close')"
          @click="saveMonitorQuery(questionAnswer, 'answerAndClose')"
        ></button>
      </div>
    </div>
  </div>
</template>
