<script setup lang="ts">
import { getContainer } from '@/ContainersConfig';
import type CurrentCaseService from '@/services/CurrentCaseService';
import { NamedBindings } from '@/types/NamedBindings';
import Helpers from '@/utils/Helpers';
import { useHookProps } from '@/utils/useHookProps';

const props = defineProps({
  ...useHookProps(),
});

const key: symbol = Symbol.for('SDV');
const isVerified = checkIsVerified(props.fullName, props.context);
const buttonText = isVerified ? 'SDV ✔' : 'SDV';

function checkIsVerified(fullName: string, context: string): boolean {
  const c = getContainer(context).get(NamedBindings.CurrentCaseService) as CurrentCaseService;
  const model = c.getModel();

  if (!model[key]) {
    return false;
  }
  return Helpers.getObjByPath(fullName, model[key]);
}

function toggleSDV(fullName: string, context: string): void {
  const c = getContainer(context).get(NamedBindings.CurrentCaseService) as CurrentCaseService;
  const model = c.getModel();

  if (!model[key]) {
    model[key] = {};
  }
  const isVerified = Helpers.getObjByPath(fullName, model[key]);
  const confirmUncheck = isVerified ? window.confirm('Do you really want to uncheck SDV?') : true;

  if (confirmUncheck) {
    Helpers.setObjByPath(fullName, model[key], !isVerified);

    const buttonElement = document.getElementById(`btn_SDV_${fullName}`);
    if (buttonElement) {
      buttonElement.innerHTML = isVerified ? 'SDV' : 'SDV ✔';
    }
  }
}
</script>

<template>
  <button
    type="button"
    :class="[`SDV-${fullName}-btn`, 'SDV-btn']"
    v-html="buttonText"
    @click="toggleSDV(fullName, context)"
  ></button>
</template>
