<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { faker } from '@faker-js/faker';
import { getContainer } from '@/ContainersConfig';
import { CRFValuesSetInterface, CRFVariableInterface } from '@/entities/CRFEntities';
import { CRFError, CRFErrorType } from '@/errors/CRFError';
import type { CurrentCaseServiceInterface } from '@/interfaces/CurrentCaseServiceInterface';
import type { CRFServiceInterface } from '@/interfaces/CRFServiceInterface';
import CurrentContextService from '@/services/CurrentContextService';
import TranslationService from '@/services/TranslationService';
import { NamedBindings } from '@/types/NamedBindings';
import Helpers from '@/utils/Helpers';
import { useHookProps } from '@/utils/useHookProps';

const props = defineProps({
  ...useHookProps(),
});

const container = getContainer(props.context, props.containerType);
const ts = container.get(NamedBindings.TranslationService) as TranslationService;
const crfService = container.get(NamedBindings.CRFService) as CRFServiceInterface;
const currentCaseService = container.get(
  props.containerType == 'newCase'
    ? NamedBindings.CurrentCaseServiceForNewCase
    : props.containerType == 'reevaluation'
    ? NamedBindings.CurrentCaseServiceForReevaluation
    : NamedBindings.CurrentCaseService
) as CurrentCaseServiceInterface;
const currentContextService = container.get(NamedBindings.CurrentContextService) as CurrentContextService;
let selectedVariable = ref();
let isVisible = ref(true);
let allValues: CRFValuesSetInterface[];
let allVariables: CRFVariableInterface[];

onMounted(async () => {
  const crfs = currentContextService.getCaseConfiguration().getAllCRFs();
  const crfData = await crfService.getMultipleXmlData(crfs);
  allValues = crfData.allValues;
  allVariables = crfData.allVariables;
  selectedVariable.value = allVariables.find(
    (xVariable) => xVariable.fullName === props.fullName.replace(/\[\d+\]/g, '')
  );
  isVisible.value = [
    'text',
    'email',
    'number',
    'date',
    'datetime',
    'boolean',
    'singlechoice',
    'multiplechoice',
  ].includes(selectedVariable.value.type);
});

async function generateRandomValue() {
  let randomValue;
  //Input from fast have a context with uuid before fullName
  const input = (
    props.context.startsWith('fast_')
      ? document.getElementById(`${props.context}_${props.fullName}`)
      : document.getElementById(props.fullName)
  ) as HTMLInputElement;
  const model = currentCaseService.getModel();
  switch (selectedVariable.value.type) {
    case 'text':
      randomValue = faker.string.alpha({
        length: { min: input.minLength != -1 ? input.minLength : 4, max: input.maxLength != -1 ? input.maxLength : 12 },
      });
      break;
    case 'email':
      randomValue = faker.internet.email();
      break;
    case 'number':
      randomValue = faker.number.int({
        min: input?.min != '' ? Number(input?.min) : 0,
        max: input?.max != '' ? Number(input?.max) : 100,
      });
      break;
    case 'date':
      randomValue = faker.date
        .between({ from: '2024-06-01T00:00:00.000Z', to: input?.max != '' ? new Date(input.max) : new Date() })
        .toISOString()
        .split('T')[0];
      break;
    case 'datetime':
      randomValue = faker.date
        .between({ from: '2024-06-01T00:00:00.000Z', to: input?.max != '' ? new Date(input.max) : new Date() })
        .toISOString()
        .slice(0, 16);
      break;
    case 'boolean':
      randomValue = faker.datatype.boolean();
      break;
    case 'singlechoice':
      const singleValueSet = getValuesSet().valuesSetList.map((value) => value.name);
      const singleSetName = getValuesSet().valuesSetName;
      randomValue = `${singleSetName}.${faker.helpers.arrayElement(singleValueSet)}`;
      break;
    case 'multiplechoice':
      const multipleValueSet = getValuesSet().valuesSetList.map((value) => value.name);
      const multipleSetName = getValuesSet().valuesSetName;
      randomValue = faker.helpers
        .arrayElements(multipleValueSet, { min: 1, max: multipleValueSet.length })
        .map((value) => `${multipleSetName}.${value}`);
      break;
    default:
      randomValue = null;
  }
  Helpers.setObjByPath(props.fullName, model, randomValue);
}

function getValuesSet(): CRFValuesSetInterface {
  const selectedValuesSet = allValues.find((valuesSet) => valuesSet.valuesSetName === selectedVariable.value.valuesSet);
  if (!selectedValuesSet) {
    throw new CRFError('No values Set with this name', CRFErrorType.VALUES_SET_NOT_FOUND);
  }
  return selectedValuesSet;
}
</script>

<template>
  <button
    v-if="isVisible"
    type="button"
    :class="[`${fullName}-value-faker-btn`, 'value-faker-btn']"
    @click="generateRandomValue()"
    v-html="ts.t('Generate random value')"
  ></button>
</template>
