<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mySet'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model-for-sets="'mySet'" init-value="[]" :disabled="!currentCaseService?.canWrite('mySet', '', '')" :id="getContextForID + 'mySet'" class="mySet" v-if="currentCaseService?.canRead('mySet','','')" v-on:mouseover.stop="onHover('mySet')">
				<legend class="setDescription">
					<span v-html="translationService.t('mySet')">
					</span>
				</legend>
				<setcomponent :full-name="'mySet'" :this-object="thisObject" :this-index="null" :model="model">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<ul>
							<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'mySet[' + index0 + ']'">
								<setitemcomponent :full-name="'mySet[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<dataclassitemcomponent :full-name="'mySet[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
											<template v-slot:default="{ thisSet, thisObject, thisIndex }">
												<section class="itemsDC">
													<div class="radiolist-wrapper" v-if="currentCaseService?.canRead('mySet[' + index0 + '].singlechoiceVariable','','')" :id="getContextForID + 'mySet[' + index0 + '].singlechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('mySet[' + index0 + '].singlechoiceVariable')">
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'mySet[' + index0 + '].singlechoiceVariable'" :context="context" :container-type="containerType">
														</component>
														<span class="radioDescription">
															<span v-html="translationService.t('singlechoiceVariable')">
															</span>
														</span>
														<ul class="radiolist" v-custom-model-for-singlechoice="'mySet[' + index0 + '].singlechoiceVariable'" :id="getContextForID + 'mySet[' + index0 + '].singlechoiceVariable'">
															<li :id="getContextForID + 'mySet[' + index0 + '].singlechoiceVariable-sets.first-wrapper'" v-if="currentCaseService?.canRead('mySet[' + index0 + '].singlechoiceVariable-sets.first','','')" v-on:mouseover.stop="onHover('mySet[' + index0 + '].singlechoiceVariable-sets.first')">
																<input type="radio" value="sets.first" :name="getContextForID + 'mySet[' + index0 + '].singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('mySet[' + index0 + '].singlechoiceVariable', '', '')" :id="getContextForID + 'mySet[' + index0 + '].singlechoiceVariable-sets.first'">
																<label class="valueLabel" :for="getContextForID + 'mySet[' + index0 + '].singlechoiceVariable-sets.first'">
																	<span v-html="translationService.t('first')">
																	</span>
																</label>
															</li>
															<li :id="getContextForID + 'mySet[' + index0 + '].singlechoiceVariable-sets.second-wrapper'" v-if="currentCaseService?.canRead('mySet[' + index0 + '].singlechoiceVariable-sets.second','','')" v-on:mouseover.stop="onHover('mySet[' + index0 + '].singlechoiceVariable-sets.second')">
																<input type="radio" value="sets.second" :name="getContextForID + 'mySet[' + index0 + '].singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('mySet[' + index0 + '].singlechoiceVariable', '', '')" :id="getContextForID + 'mySet[' + index0 + '].singlechoiceVariable-sets.second'">
																<label class="valueLabel" :for="getContextForID + 'mySet[' + index0 + '].singlechoiceVariable-sets.second'">
																	<span v-html="translationService.t('second')">
																	</span>
																</label>
															</li>
															<li :id="getContextForID + 'mySet[' + index0 + '].singlechoiceVariable-sets.third-wrapper'" v-if="currentCaseService?.canRead('mySet[' + index0 + '].singlechoiceVariable-sets.third','','')" v-on:mouseover.stop="onHover('mySet[' + index0 + '].singlechoiceVariable-sets.third')">
																<input type="radio" value="sets.third" :name="getContextForID + 'mySet[' + index0 + '].singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('mySet[' + index0 + '].singlechoiceVariable', '', '')" :id="getContextForID + 'mySet[' + index0 + '].singlechoiceVariable-sets.third'">
																<label class="valueLabel" :for="getContextForID + 'mySet[' + index0 + '].singlechoiceVariable-sets.third'">
																	<span v-html="translationService.t('third')">
																	</span>
																</label>
															</li>
														</ul>
														<button class="variable-reset" type="button" :disabled="!currentCaseService?.canWrite('mySet[' + index0 + '].singlechoiceVariable', '', '')" v-on:click.stop="resetRadioButton('mySet[' + index0 + '].singlechoiceVariable')">
															<span v-html="translationService.t('Reset')">
															</span>
														</button>
														<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mySet[' + index0 + '].singlechoiceVariable'" :context="context" :container-type="containerType">
														</component>
													</div>
												</section>
											</template>
										</dataclassitemcomponent>
										<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index0)" :disabled="!currentCaseService?.canWrite('mySet[' + index0 + ']', '', '')">
											<span v-html="translationService.t('Remove this mySet')">
											</span>
										</button>
									</template>
								</setitemcomponent>
							</li>
						</ul>
						<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet)">
							<span v-html="translationService.t('Add itemsDC')">
							</span>
						</button>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'mySet'" :context="context" :container-type="containerType">
						</component>
					</template>
				</setcomponent>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>