<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('normalInput','','')" :id="getContextForID + 'normalInput-wrapper'" v-on:mouseover.stop="onHover('normalInput')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'normalInput'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'normalInput'">
					<span v-html="translationService.t('normalInput')">
					</span>
				</label>
				<input type="text" v-custom-model="'normalInput'" :disabled="!currentCaseService?.canWrite('normalInput', '', '')" :id="getContextForID + 'normalInput'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'normalInput'" :context="context" :container-type="containerType">
				</component>
			</div>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dataclass'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'dataclass'" v-if="currentCaseService?.canRead('dataclass','','')" init-value="({})" class="dataclass" :id="getContextForID + 'dataclass'" :disabled="!currentCaseService?.canWrite('dataclass', '', '') || ({ 'first': model.normalInput }) !== null" v-short-circuit="{ 'first': model.normalInput }" v-on:mouseover.stop="onHover('dataclass')">
				<legend class="groupDescription">
					<span v-html="translationService.t('dataclasssss')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'dataclass'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<section class="isDataclass">
							<div v-if="currentCaseService?.canRead('dataclass.first','','')" :id="getContextForID + 'dataclass.first-wrapper'" v-on:mouseover.stop="onHover('dataclass.first')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dataclass.first'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'dataclass.first'">
									<span v-html="translationService.t('first')">
									</span>
								</label>
								<input type="text" v-custom-model="'dataclass.first'" :disabled="!currentCaseService?.canWrite('dataclass.first', '', '')" :id="getContextForID + 'dataclass.first'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dataclass.first'" :context="context" :container-type="containerType">
								</component>
							</div>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dataclass'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>