<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('numberVariable','','')" :id="getContextForID + 'numberVariable-wrapper'" v-on:mouseover.stop="onHover('numberVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'numberVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'numberVariable'">
					<span v-html="translationService.t('numberVariable')">
					</span>
				</label>
				<input type="number" init-value="NaN" v-custom-model="'numberVariable'" :disabled="!currentCaseService?.canWrite('numberVariable', '', '')" :id="getContextForID + 'numberVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'numberVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('numberVariable2','','')" :id="getContextForID + 'numberVariable2-wrapper'" v-on:mouseover.stop="onHover('numberVariable2')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'numberVariable2'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'numberVariable2'">
					<span v-html="translationService.t('numberVariable2')">
					</span>
				</label>
				<input type="number" init-value="NaN" v-short-circuit="model.numberVariable" v-custom-model="'numberVariable2'" :disabled="!currentCaseService?.canWrite('numberVariable2', '', '') || (model.numberVariable) !== null" :id="getContextForID + 'numberVariable2'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'numberVariable2'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>