<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section class="isGroup">
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<div>
					<div v-if="currentCaseService?.canRead('groupVariable.textVariable','','')" :id="getContextForID + 'groupVariable.textVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.textVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.textVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'groupVariable.textVariable'">
							<span v-html="translationService.t('textVariable')">
							</span>
						</label>
						<input type="text" v-custom-model="'groupVariable.textVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.textVariable', '', '')" :id="getContextForID + 'groupVariable.textVariable'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.textVariable'" :context="context" :container-type="containerType">
						</component>
					</div>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable2'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable2'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable2', '', '') || ({ 'text2': model.groupVariable?.textVariable }) !== null" v-short-circuit="{ 'text2': model.groupVariable?.textVariable }" :id="getContextForID + 'groupVariable2'" class="groupVariable2" v-if="currentCaseService?.canRead('groupVariable2','','')" v-on:mouseover.stop="onHover('groupVariable2')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable2')">
					</span>
				</legend>
				<div>
					<div v-if="currentCaseService?.canRead('groupVariable2.textVariable2','','')" :id="getContextForID + 'groupVariable2.textVariable2-wrapper'" v-on:mouseover.stop="onHover('groupVariable2.textVariable2')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable2.textVariable2'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'groupVariable2.textVariable2'">
							<span v-html="translationService.t('textVariable2')">
							</span>
						</label>
						<input type="text" v-custom-model="'groupVariable2.textVariable2'" :disabled="!currentCaseService?.canWrite('groupVariable2.textVariable2', '', '')" :id="getContextForID + 'groupVariable2.textVariable2'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable2.textVariable2'" :context="context" :container-type="containerType">
						</component>
					</div>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable2'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>