<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div class="boolean-variable" v-if="currentCaseService?.canRead('booleanVariable','','')" :id="getContextForID + 'booleanVariable-wrapper'" v-on:mouseover.stop="onHover('booleanVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'booleanVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'booleanVariable'">
					<span v-html="translationService.t('booleanVariable')">
					</span>
				</label>
				<input type="checkbox" init-value="false" v-custom-model-for-boolean="'booleanVariable'" :disabled="!currentCaseService?.canWrite('booleanVariable', '', '')" :id="getContextForID + 'booleanVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'booleanVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div class="radiolist-wrapper" v-if="currentCaseService?.canRead('singlechoiceVariable','','')" :id="getContextForID + 'singlechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('singlechoiceVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'singlechoiceVariable'" :context="context" :container-type="containerType">
				</component>
				<span class="radioDescription">
					<span v-html="translationService.t('singlechoiceVariable')">
					</span>
				</span>
				<ul class="radiolist" v-custom-model-for-singlechoice="'singlechoiceVariable'" v-short-circuit="model.booleanVariable == true ? 'sets.second' : null" :id="getContextForID + 'singlechoiceVariable'">
					<li :id="getContextForID + 'singlechoiceVariable-sets.first-wrapper'" v-if="currentCaseService?.canRead('singlechoiceVariable-sets.first','','')" v-on:mouseover.stop="onHover('singlechoiceVariable-sets.first')">
						<input type="radio" value="sets.first" :name="getContextForID + 'singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('singlechoiceVariable', '', '') || (model.booleanVariable == true ? 'sets.second' : null) !== null" :id="getContextForID + 'singlechoiceVariable-sets.first'">
						<label class="valueLabel" :for="getContextForID + 'singlechoiceVariable-sets.first'">
							<span v-html="translationService.t('first')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'singlechoiceVariable-sets.second-wrapper'" v-if="currentCaseService?.canRead('singlechoiceVariable-sets.second','','')" v-on:mouseover.stop="onHover('singlechoiceVariable-sets.second')">
						<input type="radio" value="sets.second" :name="getContextForID + 'singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('singlechoiceVariable', '', '') || (model.booleanVariable == true ? 'sets.second' : null) !== null" :id="getContextForID + 'singlechoiceVariable-sets.second'">
						<label class="valueLabel" :for="getContextForID + 'singlechoiceVariable-sets.second'">
							<span v-html="translationService.t('second')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'singlechoiceVariable-sets.third-wrapper'" v-if="currentCaseService?.canRead('singlechoiceVariable-sets.third','','')" v-on:mouseover.stop="onHover('singlechoiceVariable-sets.third')">
						<input type="radio" value="sets.third" :name="getContextForID + 'singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('singlechoiceVariable', '', '') || (model.booleanVariable == true ? 'sets.second' : null) !== null" :id="getContextForID + 'singlechoiceVariable-sets.third'">
						<label class="valueLabel" :for="getContextForID + 'singlechoiceVariable-sets.third'">
							<span v-html="translationService.t('third')">
							</span>
						</label>
					</li>
				</ul>
				<button class="variable-reset" type="button" :disabled="!currentCaseService?.canWrite('singlechoiceVariable', '', '') || (model.booleanVariable == true ? 'sets.second' : null) !== null" v-on:click.stop="resetRadioButton('singlechoiceVariable')">
					<span v-html="translationService.t('Reset')">
					</span>
				</button>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'singlechoiceVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>