<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div class="radiolist-wrapper" v-if="currentCaseService?.canRead('singlechoiceVariable','','')" :id="getContextForID + 'singlechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('singlechoiceVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'singlechoiceVariable'" :context="context" :container-type="containerType">
				</component>
				<span class="radioDescription">
					<span v-html="translationService.t('singlechoiceVariable')">
					</span>
				</span>
				<ul class="radiolist" v-custom-model-for-singlechoice="'singlechoiceVariable'" :id="getContextForID + 'singlechoiceVariable'">
					<li :id="getContextForID + 'singlechoiceVariable-sets.first-wrapper'" v-if="currentCaseService?.canRead('singlechoiceVariable-sets.first','','')" v-on:mouseover.stop="onHover('singlechoiceVariable-sets.first')">
						<input type="radio" value="sets.first" :name="getContextForID + 'singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('singlechoiceVariable', '', '')" :id="getContextForID + 'singlechoiceVariable-sets.first'" my-label="First">
						<label class="valueLabel" :for="getContextForID + 'singlechoiceVariable-sets.first'">
							<span v-html="translationService.t('First')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'singlechoiceVariable-sets.second-wrapper'" v-if="currentCaseService?.canRead('singlechoiceVariable-sets.second','','')" v-on:mouseover.stop="onHover('singlechoiceVariable-sets.second')">
						<input type="radio" value="sets.second" :name="getContextForID + 'singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('singlechoiceVariable', '', '')" :id="getContextForID + 'singlechoiceVariable-sets.second'" my-label="Second">
						<label class="valueLabel" :for="getContextForID + 'singlechoiceVariable-sets.second'">
							<span v-html="translationService.t('Second')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'singlechoiceVariable-sets.third-wrapper'" v-if="currentCaseService?.canRead('singlechoiceVariable-sets.third','','')" v-on:mouseover.stop="onHover('singlechoiceVariable-sets.third')">
						<input type="radio" value="sets.third" :name="getContextForID + 'singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('singlechoiceVariable', '', '')" :id="getContextForID + 'singlechoiceVariable-sets.third'" my-label="Third">
						<label class="valueLabel" :for="getContextForID + 'singlechoiceVariable-sets.third'">
							<span v-html="translationService.t('Third')">
							</span>
						</label>
					</li>
					<li :id="getContextForID + 'singlechoiceVariable-sets.fourth-wrapper'" v-if="currentCaseService?.canRead('singlechoiceVariable-sets.fourth','','')" v-on:mouseover.stop="onHover('singlechoiceVariable-sets.fourth')">
						<input type="radio" value="sets.fourth" :name="getContextForID + 'singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('singlechoiceVariable', '', '')" :id="getContextForID + 'singlechoiceVariable-sets.fourth'" my-label="Fourth">
						<label class="valueLabel" :for="getContextForID + 'singlechoiceVariable-sets.fourth'">
							<span v-html="translationService.t('Fourth')">
							</span>
						</label>
					</li>
				</ul>
				<button class="variable-reset" type="button" :disabled="!currentCaseService?.canWrite('singlechoiceVariable', '', '')" v-on:click.stop="resetRadioButton('singlechoiceVariable')">
					<span v-html="translationService.t('Reset')">
					</span>
				</button>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'singlechoiceVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('copyVariable','','')" :id="getContextForID + 'copyVariable-wrapper'" v-on:mouseover.stop="onHover('copyVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'copyVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'copyVariable'">
					<span v-html="translationService.t('copyVariable')">
					</span>
				</label>
				<output required-for-status="false" v-short-circuit="model.singlechoiceVariable" v-custom-model="'copyVariable'" :disabled="!currentCaseService?.canWrite('copyVariable', '', '') || (model.singlechoiceVariable) !== null" :id="getContextForID + 'copyVariable'">
				</output>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'copyVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>