<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<suspense>
				<comuni v-if="currentCaseService?.canRead('pluginVariable','','')" :context="context" :container-type="containerType" :model="model" :id="getContextForID + 'pluginVariable'" :full-name="'pluginVariable'">
				</comuni>
			</suspense>
		</section>
	</template>
</dataclassitemcomponent>