<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model-for-sets="'setVariable'" init-value="[]" :disabled="!currentCaseService?.canWrite('setVariable', '', '')" :id="getContextForID + 'setVariable'" class="setVariable" v-if="currentCaseService?.canRead('setVariable','','')" v-on:mouseover.stop="onHover('setVariable')">
				<legend class="setDescription">
					<span v-html="translationService.t('setVariable')">
					</span>
				</legend>
				<setcomponent :full-name="'setVariable'" :this-object="thisObject" :this-index="null" :model="model">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<ul>
							<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'setVariable[' + index0 + ']'">
								<setitemcomponent :full-name="'setVariable[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
									<template v-slot:default="{ thisSet, thisObject, thisIndex }">
										<dataclassitemcomponent :full-name="'setVariable[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
											<template v-slot:default="{ thisSet, thisObject, thisIndex }">
												<section class="itemsDC">
													<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].setVariable2'" :context="context" :container-type="containerType">
													</component>
													<fieldset v-custom-model-for-sets="'setVariable[' + index0 + '].setVariable2'" init-value="[]" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].setVariable2', '', '')" :id="getContextForID + 'setVariable[' + index0 + '].setVariable2'" class="setVariable2" v-if="currentCaseService?.canRead('setVariable[' + index0 + '].setVariable2','','')" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].setVariable2')">
														<legend class="setDescription">
															<span v-html="translationService.t('setVariable2')">
															</span>
														</legend>
														<setcomponent :full-name="'setVariable[' + index0 + '].setVariable2'" :this-object="thisObject" :this-index="index0" :model="model">
															<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																<ul>
																	<li v-for="(childElement, index1) in thisSet" :key="childElement.guid" :id="getContextForID + 'setVariable[' + index0 + '].setVariable2[' + index1 + ']'">
																		<setitemcomponent :full-name="'setVariable[' + index0 + '].setVariable2[' + index1 + ']'" :this-set="thisSet" :this-index="index1" :model="model" :key="index1">
																			<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																				<dataclassitemcomponent :full-name="'setVariable[' + index0 + '].setVariable2[' + index1 + ']'" :this-index="index1" :model="model" :this-set="thisSet">
																					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																						<section class="setItemsDC">
																							<div v-if="currentCaseService?.canRead('setVariable[' + index0 + '].setVariable2[' + index1 + '].textVariable','','')" :id="getContextForID + 'setVariable[' + index0 + '].setVariable2[' + index1 + '].textVariable-wrapper'" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].setVariable2[' + index1 + '].textVariable')">
																								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].setVariable2[' + index1 + '].textVariable'" :context="context" :container-type="containerType">
																								</component>
																								<label class="variableLabel" :for="getContextForID + 'setVariable[' + index0 + '].setVariable2[' + index1 + '].textVariable'">
																									<span v-html="translationService.t('textVariable')">
																									</span>
																								</label>
																								<input type="text" v-custom-model="'setVariable[' + index0 + '].setVariable2[' + index1 + '].textVariable'" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].setVariable2[' + index1 + '].textVariable', '', '')" :id="getContextForID + 'setVariable[' + index0 + '].setVariable2[' + index1 + '].textVariable'">
																								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].setVariable2[' + index1 + '].textVariable'" :context="context" :container-type="containerType">
																								</component>
																							</div>
																							<div v-if="currentCaseService?.canRead('setVariable[' + index0 + '].setVariable2[' + index1 + '].copyTextVariable','','')" :id="getContextForID + 'setVariable[' + index0 + '].setVariable2[' + index1 + '].copyTextVariable-wrapper'" v-on:mouseover.stop="onHover('setVariable[' + index0 + '].setVariable2[' + index1 + '].copyTextVariable')">
																								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].setVariable2[' + index1 + '].copyTextVariable'" :context="context" :container-type="containerType">
																								</component>
																								<label class="variableLabel" :for="getContextForID + 'setVariable[' + index0 + '].setVariable2[' + index1 + '].copyTextVariable'">
																									<span v-html="translationService.t('copyTextVariable')">
																									</span>
																								</label>
																								<input type="text" v-short-circuit="thisSet[thisIndex].textVariable" v-custom-model="'setVariable[' + index0 + '].setVariable2[' + index1 + '].copyTextVariable'" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].setVariable2[' + index1 + '].copyTextVariable', '', '') || (thisSet[thisIndex].textVariable) !== null" :id="getContextForID + 'setVariable[' + index0 + '].setVariable2[' + index1 + '].copyTextVariable'">
																								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].setVariable2[' + index1 + '].copyTextVariable'" :context="context" :container-type="containerType">
																								</component>
																							</div>
																						</section>
																					</template>
																				</dataclassitemcomponent>
																				<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index1)" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + '].setVariable2[' + index1 + ']', '', '')">
																					<span v-html="translationService.t('Remove this setVariable2')">
																					</span>
																				</button>
																			</template>
																		</setitemcomponent>
																	</li>
																</ul>
																<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet)">
																	<span v-html="translationService.t('Add setItemsDC')">
																	</span>
																</button>
																<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable[' + index0 + '].setVariable2'" :context="context" :container-type="containerType">
																</component>
															</template>
														</setcomponent>
													</fieldset>
												</section>
											</template>
										</dataclassitemcomponent>
										<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index0)" :disabled="!currentCaseService?.canWrite('setVariable[' + index0 + ']', '', '')">
											<span v-html="translationService.t('Remove this setVariable')">
											</span>
										</button>
									</template>
								</setitemcomponent>
							</li>
						</ul>
						<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet)">
							<span v-html="translationService.t('Add itemsDC')">
							</span>
						</button>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'setVariable'" :context="context" :container-type="containerType">
						</component>
					</template>
				</setcomponent>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>