.dandelion-cmp fieldset {
  border-left: solid 0.4em var(--my-color);
  background-color: var(--my-bg-color);

  margin-bottom: 2em;
}

.dandelion-cmp fieldset fieldset {
  border-left-width: 0.3em;
  margin-bottom: 2em;
}

.dandelion-cmp fieldset legend,
.dandelion-cmp fieldset fieldset legend {
  background-color: var(--my-color);
  color: white;

  padding: 0.4em 1em 0.5em 1em;
  border-radius: 0.3em;

  position: relative;
  left: -0.4em;
}

.dandelion-cmp .checkBoxLabel,
.dandelion-cmp .radioLabel,
.dandelion-cmp .variableLabel {
  color: var(--my-color);
}

.dandelion-cmp .setDescription {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: normal;
  padding: 0.2em 0.6em;
}

#model\.crfPatient\.componenti {
  --my-color: rgb(216, 105, 65);
  --my-bg-color: #fff8f1;
}

#model\.crfPatient\.preScreening {
  --my-color: #a75;
  --my-bg-color: #fff8f1;
}

#model\.crfPatient\.screening {
  --my-color: #6a6;
  --my-bg-color: #fafffa;
}

#model\.crfPatient\.preDimissione {
  --my-color: rgb(215, 202, 14);
  --my-bg-color: #fafffa;
}

#model\.crfPatient\.fineDom {
  --my-color: rgb(215, 202, 14);
  --my-bg-color: #fafffa;
}

#model\.crfPatient\.fup30gg {
  --my-color: rgb(182, 98, 8);
  --my-bg-color: #fafffa;
}

#model\.crfPatient\.fup60gg {
  --my-color: rgb(15, 79, 190);
  --my-bg-color: #fafffa;
}

#model\.crfPatient\.fup90gg {
  --my-color: rgb(8, 180, 97);
  --my-bg-color: #fafffa;
}

#model\.crfPatient\.dom {
  --my-color: rgb(197, 54, 18);
  --my-bg-color: #fafffa;
}

#model\.crfPatient\.AE-wrapper {
  --my-color: rgb(197, 54, 18);
  --my-bg-color: #fafffa;
}

#model\.crfPatient\.preScreening\.CInclusione .radioDescription {
  width: 60ch;
}

#model\.crfPatient\.preScreening\.CEsclusione .radioDescription {
  width: 60ch;
}

#model\.crfPatient\.preScreening\.Demografica .radioDescription,
#model\.crfPatient\.preScreening\.Demografica .variableLabel {
  width: 12ch;
}

#model\.crfPatient\.preScreening\.SocioAss .radioDescription,
#model\.crfPatient\.preScreening\.SocioAss .variableLabel {
  width: 26ch;
}

#model\.crfPatient\.preScreening\.PatEma .radioDescription,
#model\.crfPatient\.preScreening\.PatEma .checkBoxDescription {
  width: 22ch;
}

#model\.crfPatient\.screening\.AnmPatRem .radioDescription {
  width: 24ch;
}

#model\.crfPatient\.screening\.AnmPatRem .DettagliApparato .radioDescription {
  width: 32ch;
}

#model\.crfPatient\.screening\.EsOb .radioDescription {
  width: 18ch;
}

#model\.crfPatient\.screening\.SgVit .variableLabel {
  width: 28ch;
}

#model\.crfPatient\.screening\.SgVit .radioDescription {
  width: 13ch;
}

#model\.crfPatient\.screening\.SgVit>div
 {
  display: grid;
  grid-template-columns: 45ch auto;
}

.SchedaSgVit {
  display: grid;
  grid-template-columns: 40ch auto;
  width: max-content;
}

.SchedaSgVit .set {
  grid-column-start: 1;
  grid-column-end: 3;
}

#model\.crfPatient\.screening\.EsSt .variableLabel {
  width: 43ch;
}

#model\.crfPatient\.screening\.EsSt .radioDescription {
  width: 43ch;
}

#model\.crfPatient\.screening\.EsSt\.qtcfEcg-wrapper,
#model\.crfPatient\.screening\.EsSt\.frEiezioneEcocar-wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
}

#model\.crfPatient\.screening\.Emocromo .variableLabel {
  width: 43ch;
}

#model\.crfPatient\.screening\.Emocromo .radioDescription {
  width: 43ch;
}

#model\.crfPatient\.screening\.Emocromo>div
 {
  display: grid;
  grid-template-columns: 38ch auto;
}

#model\.crfPatient\.screening\.BioCoag .variableLabel {
  width: 43ch;
}

#model\.crfPatient\.screening\.BioCoag .radioDescription {
  width: 43ch;
}

#model\.crfPatient\.screening\.BioCoag>div
{
  display: grid;
  grid-template-columns: 38ch auto;
}

#model\.crfPatient\.fineStudio .radioDescription {
  width: 43ch;
}

#model\.crfPatient\.fineStudio .variableLabel {
  width: 43ch;
}

#model\.crfPatient\.fup30gg .radioDescription {
  width: 43ch;
}

#model\.crfPatient\.fup30gg .variableLabel {
  width: 43ch;
}

#model\.crfPatient\.fup60gg .radioDescription {
  width: 43ch;
}

#model\.crfPatient\.fup60gg .variableLabel {
  width: 43ch;
}

#model\.crfPatient\.fup90gg .radioDescription {
  width: 43ch;
}

#model\.crfPatient\.fup90gg .variableLabel {
  width: 43ch;
}

#model\.crfPatient\.dom1Sett .radioDescription {
  width: 43ch;
}

#model\.crfPatient\.dom1Sett .variableLabel {
  width: 43ch;
}

#model\.crfPatient\.dom1Sett .setDescription {
  color: white;
  text-decoration: none;
  font-weight: normal;
  padding: 0.4em 1em 0.5em 1em;
}

#model\.crfPatient\.dom2Sett .radioDescription {
  width: 43ch;
}

#model\.crfPatient\.dom2Sett .variableLabel {
  width: 43ch;
}

#model\.crfPatient\.dom2Sett .setDescription {
  color: white;
  text-decoration: none;
  font-weight: normal;
  padding: 0.4em 1em 0.5em 1em;
}

.SchedaAE .variableLabel {
  width: 12ch;
}

.SchedaAE .radioDescription {
  display: block;
}

.SchedaAE ul.radiolist li {
  display: block;
}

/*
div#model\.crfPatient\.AE\[0\]\.relazPrgGest-wrapper .radioDescription,
div#model\.crfPatient\.AE\[1\]\.relazPrgGest-wrapper .radioDescription,
div#model\.crfPatient\.AE\[2\]\.relazPrgGest-wrapper .radioDescription,
div#model\.crfPatient\.AE\[3\]\.relazPrgGest-wrapper .radioDescription,
div#model\.crfPatient\.AE\[4\]\.relazPrgGest-wrapper .radioDescription {
    display: block;
}
*/

.SchedaTrpConc .variableLabel,
.SchedaTrpConc .radioDescription {
  width: 15ch;
}

#model\.crfPatient\.screening\.EsCol\.sedeTampMucosale li {
  display: block;
}

#model\.crfPatient\.screening\.EsCol\.patTampMucosale li {
  display: block;
}
