<script lang="ts">
import {
  CaseConfiguration,
  CaseListComponent,
  TreeComponent,
  SingleCaseComponent,
  MissingsListComponent,
  FilterComponent,
  DataclassItemComponent,
  NewCaseComponent,
  WarningsListComponent,
  ErrorsListComponent,
  CaseStatusComponent,
  FastCompilationComponent,
  NamedBindings,
  TranslationService,
  addContext,
  getContainer,
  Contexts,
  VariableCaseListColumn
} from '@dandelion/core'
import DeveloperErrorsRenderComponent from '@dandelion/core'

export default {
  name: 'ExampleVueApp',
  components: {
    NewCaseComponent,
    FastCompilationComponent,
    SingleCaseComponent,
    FilterComponent,
    TreeComponent,
    MissingsListComponent,
    ErrorsListComponent,
    WarningsListComponent,
    CaseListComponent,
    CaseStatusComponent,
    DataclassItemComponent,
    DeveloperErrorsRenderComponent
  },
  data() {
    const caseListColumns = [
      new VariableCaseListColumn('Nome', 'Admission.nome'),
      new VariableCaseListColumn('Vivo/Morto', 'Admission.vivoMorto'),
      new VariableCaseListColumn('Ospedale', 'ValuesSetSingleChoice.bug')
    ]
    const caseConfiguration = new CaseConfiguration({
      caseName: 'FastCompilation',
      referenceDateVariableName: 'date'
    })
    const translationService = getContainer(Contexts.DEFAULT).get(
      NamedBindings.TranslationService
    ) as TranslationService
    return {
      arrayOfActions: [
        {
          name: translationService.t('delete reminders'),
          action: (caseId: string) => this.deleteCaseReminders(caseId)
        }
      ],
      caseListColumns,
      exportVariables: caseListColumns,
      caseConfiguration,
      crfVersions: new Map().set('Admission', '0.0.1'),
      Contexts
    }
  },
  created() {
    addContext(
      'context2',
      new CaseConfiguration({
        caseName: 'computedFormula',
        referenceDateVariableName: 'date',
        childrenCRFs: [],
        caseLinkingConfiguration: [
          {
            caseTypeName: 'ComputedFormula',
            caseIDVariable: 'admission.patientId'
          }
        ]
      })
    )
    addContext('UPDATE')
  }
}
</script>

<template>
  <RouterView v-slot="{ Component }">
    <template v-if="Component">
      <Suspense>
        <component :is="Component"></component>
        <template #fallback>
          <main style="padding: var(--global-padding)">Sto caricando i dati, attendere...</main>
        </template>
      </Suspense>
    </template>
  </RouterView>
</template>

<style scoped></style>
