<script setup lang="ts">
import {
  CaseListComponent,
  Contexts,
  ApplicationEvents,
  getContext,
  CaseOpenedForEditing
} from '@dandelion/core'
import router from '../router'
import 'vue3-toastify/dist/index.css'
import { toast } from 'vue3-toastify'
import { CaseCreated, getContainer, NamedBindings, TranslationService } from '@dandelion/core'
import type { CurrentCaseServiceInterface } from '@dandelion/core'

getContext(Contexts.DEFAULT).addEventListener(ApplicationEvents.NewCaseRequested, () => {
  router.push('new-case')
})

const translationService = getContainer(Contexts.DEFAULT).get(
  NamedBindings.TranslationService
) as TranslationService

const currentCaseService = getContainer(Contexts.DEFAULT).get(
  NamedBindings.CurrentCaseService
) as CurrentCaseServiceInterface

getContext(Contexts.DEFAULT).addEventListener(
  ApplicationEvents.CaseCreated,
  async (m: string, e: Event) => {
    const event: CaseCreated = e as CaseCreated
    // await router.push('/case/' + event.caseId)
    await currentCaseService.openForEditing(event.caseId)
    toast(translationService.t('Case Created') + event.caseId?.substr(0, 6) ?? '', {
      type: 'success',
      dangerouslyHTMLString: true,
      hideProgressBar: true
    })
  }
)

getContext(Contexts.DEFAULT).addEventListener(
  ApplicationEvents.CaseOpenedForEditing,
  async (m: string, e: CaseOpenedForEditing) => {
    await router.push(`/case/${e.caseId}`)
  }
)
</script>

<template>
  <main id="clc">
    <Suspense>
      <CaseListComponent :commonPagination="true"> </CaseListComponent>
    </Suspense>
  </main>
</template>

<style scoped></style>
