<template>
  <div>
    <h2>Case List</h2>
    <Suspense>
      <CaseListComponent
        :case-list-columns="caseListColumns"
        :case-list-row-styles="caseListRowStyles"
        :number-of-elements-per-page="20"
        :common-pagination="true"
        :open-on-line-click="true"
        :additional-actions="additionalActions"
      />
      <template #fallback> Loading CaseList... </template>
    </Suspense>

    <Suspense>
      <DeletedCaseListComponent
        :case-list-columns="caseListColumns"
        :number-of-elements-per-page="20"
        :common-pagination="true"
        :additional-actions="additionalActionsForDeletedCaseList"
      >
        <template #fallback> Loading DeletedCaseList... </template>
      </DeletedCaseListComponent>
    </Suspense>

    <hr />
    <h2>Tree</h2>
    <Suspense>
      <TreeComponent
        :show-dataclass-instances-in-tree="true"
        :show-groups-in-tree="true"
        :show-sets-in-tree="true"
        :max-depth="2"
      />
      <template #fallback> Loading TreeRender... </template>
    </Suspense>

    <hr />
    <h2>Single Case</h2>
    <p>{{ currentCaseService.getCurrentCase().value }}</p>
    <section>
      <label>Single case status:</label><output>{{ caseStatusService.getStatusMap() }}</output>
    </section>
    <section>
      <label>Frozen access levels:</label>
      <output>{{ currentCaseService.getFrozenAccessLevels() }}</output>
    </section>
    <Suspense>
      <SingleCaseComponent />
      <template #fallback> Loading SingleCase... </template>
    </Suspense>

    <hr />
    <h2>Case Status</h2>
    <Suspense>
      <CaseStatusComponent />
      <template #fallback> Loading CaseStatus... </template>
    </Suspense>

    <!-- <hr />
    <h2>Diff List</h2>
    <Suspense>
      <DiffListComponent
        :model-to-compare="{
          DiffsTest: {
            text1: 'fff',
            date: '',
            text2: '',
            number2: null,
            Group: { Group1: { text1: '' }, Group2: { text2: '' } },
            dataclass1: { text5: '' },
            valuesSettt: '',
            set: [{ guid: 'e0ae8c32-ed19-4993-b306-8c7c6ded3592', first: '' }],
          },
        }"
      />
      <template #fallback> Loading DiffComponent... </template>
    </Suspense> -->

    <hr />
    <h2>History</h2>
    <Suspense>
      <HistoryComponent />
      <template #fallback> Loading HistoryComponent... </template>
    </Suspense>
    <hr />
    <h2>Missing List</h2>
    <Suspense>
      <MissingsListComponent />
    </Suspense>
    <hr />
    <h2>Missing List to open</h2>
    <span @click="showMissing = true" v-if="!showMissing">Mostra dati mancanti</span>
    <span @click="showMissing = false" v-if="showMissing">Nascondi dati mancanti</span>
    <MissingListCounter></MissingListCounter>
    <section v-if="showMissing">
      <Suspense>
        <MissingsListComponent />
      </Suspense>
    </section>
    <hr />
    <h2>Missings List Counter</h2>
    <MissingListCounter />
    <hr />
    <h2>Errors</h2>
    <ErrorsListComponent id="errors" />

    <hr />
    <h2>Warnings</h2>
    <WarningsListComponent />

    <hr />
    <!--
    <h2>Fast Compilation</h2>
    <Suspense>
      <FastCompilationComponent />
    </Suspense>
    -->

    <hr />
    <h2>New Case</h2>
    <button type="button" @click="openNCC">Open New Case</button>
    <section>
      <label>New case status:</label>
      <output>{{ newCaseStatusService.getStatus() }}</output>
    </section>

    <Suspense>
      <NewCaseComponent v-if="ncVisible" />
      <template #fallback> Loading NewCase... </template>
    </Suspense>

    <hr />
    <h2>Export</h2>
    <div class="dandelion-cmp">
      <Suspense>
        <ExportPanel :variables-to-be-exported="variablesToBeExported" />
      </Suspense>
    </div>
  </div>
</template>

<script lang="ts">
import { onErrorCaptured, ref } from 'vue';
import { v4 } from 'uuid';
import { getContainer, getContext, ContainerTypes } from '@/ContainersConfig';
import { NewCaseRequested } from '@/application-events/NewCaseRequested';
import CaseListComponent from '@/components/CaseList/CaseListComponent.vue';
import DataclassItemComponent from '@/components/Internals/DataclassItemComponent.vue';
import DeveloperErrorsRenderComponent from '@/components/Debug/DeveloperErrorsRenderComponent.vue';
import DeletedCaseListComponent from '@/components/CaseList/DeletedCaseListComponent.vue';
import ErrorsListComponent from '@/components/ErrorsListComponent.vue';
import ExportPanel from '@/components/Export/ExportPanel.vue';
import FastCompilationComponent from '@/components/FastCompilationComponent.vue';
import FilterComponent from '@/components/FilterComponent.vue';
import CaseStatusComponent from '@/components/CaseStatusComponent.vue';
import MissingsListComponent from '@/components/MissingsListComponent.vue';
import MissingListCounter from '@/components/MissingsListCounter.vue';
import TreeComponent from '@/components/TreeComponent.vue';
import WarningsListComponent from '@/components/WarningsListComponent.vue';
import SingleCaseComponent from '@/components/SingleCaseComponent.vue';
import NewCaseComponent from '@/components/NewCaseComponent.vue';
import DiffListComponent from '@/components/DiffListComponent.vue';
import HistoryComponent from '@/components/HistoryComponent.vue';
import { CaseForUpdate } from '@/entities/Cases';
import { MetaDataCaseListColumn } from '@/entities/caseListColumn/MetaDataCaseListColumn';
import { FreezeCaseListColumn } from '@/entities/caseListColumn/FreezeCaseListColumn';
import { IdCaseListColumn } from '@/entities/caseListColumn/IdCaseListColumn';
import { LockCaseListColumn } from '@/entities/caseListColumn/LockCaseListColumn';
import { StatusCaseListColumn } from '@/entities/caseListColumn/StatusCaseListColumn';
import { VariableCaseListColumn } from '@/entities/caseListColumn/VariableCaseListColumn';
import FreezeStyle from '@/entities/caseListRowStyles/FreezeStyle';
import LockStyle from '@/entities/caseListRowStyles/LockStyle';
import { ApplicationError } from '@/errors/ApplicationError';
import type { CaseListActionInterface } from '@/interfaces/CaseListActionInterface';
import type { CaseListActionParams } from '@/interfaces/CaseListActionParams';
import type { CaseServiceInterface } from '@/interfaces/CaseServiceInterface';
import type { CaseStatusServiceInterface } from '@/interfaces/CaseStatusServiceInterface';
import type CurrentContextService from '@/services/CurrentContextService';
import type CurrentCaseServiceForNewCase from '@/services/CurrentCaseServiceForNewCase';
import type { CrfServiceFromFolder } from '@/storages/CrfServiceFromFolder';
import { ApplicationEvents } from '@/types/ApplicationEvents';
import { Contexts } from '@/types/Contexts';
import { MagicNumbers } from '@/types/MagicNumbers';
import { NamedBindings } from '@/types/NamedBindings';
import { CrfVersionMetaDataCaseListColumn } from '@/entities/caseListColumn/CrfVersionMetaDataCaseListColumn';
import { ExportableVariable } from '@/entities/exportable/ExportableVariable';
import { OpenCaseRequested } from '@/application-events/OpenCaseRequested';
import { CurrentCaseServiceInterface } from '@/interfaces/CurrentCaseServiceInterface';

export default {
  name: 'ExampleVueApp',
  computed: {
    VariableCaseListColumn() {
      return VariableCaseListColumn;
    },
  },
  components: {
    MissingListCounter,
    CaseListComponent,
    CaseStatusComponent,
    DataclassItemComponent,
    DeletedCaseListComponent,
    DeveloperErrorsRenderComponent,
    DiffListComponent,
    HistoryComponent,
    ErrorsListComponent,
    ExportPanel,
    FastCompilationComponent,
    FilterComponent,
    MissingsListComponent,
    NewCaseComponent,
    SingleCaseComponent,
    TreeComponent,
    WarningsListComponent,
  },
  data() {
    const currentCaseCRFs = (
      getContainer(Contexts.DEFAULT).get(NamedBindings.CurrentContextService) as CurrentContextService
    )
      .getCaseConfiguration()
      .getAllCRFs();
    const ncVisible = ref(false);
    const additionalActions: CaseListActionInterface[] = [
      {
        name: 'Change Name in Admission',
        actionClass: 'change-admission-name',
        action: async (values: CaseListActionParams) => await this.updateAdmission(values.element.caseMetaData.caseID),
      },
      {
        name: 'lockCase',
        actionClass: 'lock-case',
        label: 'Lock Case',
        action: async (values: CaseListActionParams) => await this.lockCase(values.element.caseMetaData.caseID),
        isVisible: (values: CaseListActionParams) => !values.element.caseMetaData.isLocked!,
      },
      {
        name: 'unlockCase',
        actionClass: 'unlock-case',
        label: 'Unlock Case',
        action: async (values: CaseListActionParams) => await this.unlockCase(values.element.caseMetaData.caseID),
        isVisible: (values: CaseListActionParams) => values.element.caseMetaData.isLocked!,
      },
      {
        name: 'freezeCase',
        actionClass: 'freeze-case',
        label: 'Freeze Case',
        action: async (values: CaseListActionParams) => await this.freezeCase(values.element.caseMetaData.caseID),
        isVisible: (values: CaseListActionParams) =>
          !Array.from(values.element.caseMetaData.frozenAccessLevels.values()).some((level) => level === true),
      },
      {
        name: 'unfreezeCase',
        actionClass: 'freeze-case',
        label: 'Unfreeze Case',
        action: async (values: CaseListActionParams) => await this.unfreezeCase(values.element.caseMetaData.caseID),
        isVisible: (values: CaseListActionParams) =>
          Array.from(values.element.caseMetaData.frozenAccessLevels.values()).some((level) => level === true),
      },
      {
        name: 'changeUser',
        actionClass: 'change-user',
        label: 'Change User',
        action: () => this.changeUser(),
      },
    ];
    getContext(Contexts.DEFAULT).addEventListener(ApplicationEvents.NewCaseRequested, () => {
      const currentCaseServiceForNewCase = getContainer(Contexts.DEFAULT, ContainerTypes.NEW_CASE).get(
        NamedBindings.CurrentCaseServiceForNewCase
      ) as CurrentCaseServiceForNewCase;
      currentCaseServiceForNewCase.open(v4(), {});
      ncVisible.value = true;
    });

    getContext(Contexts.DEFAULT).addEventListener(ApplicationEvents.OpenCaseRequested, (_, event) => {
      const caseID = (event as OpenCaseRequested).caseID;
      const currentCaseService = getContainer(Contexts.DEFAULT).get(
        NamedBindings.CurrentCaseService
      ) as CurrentCaseServiceInterface;
      currentCaseService.open(caseID);
    });

    getContext(Contexts.DEFAULT).addEventListener(ApplicationEvents.CaseCreationCanceled, () => {
      ncVisible.value = false;
    });

    getContext(Contexts.DEFAULT).addEventListener(ApplicationEvents.CaseCreated, () => {
      ncVisible.value = false;
    });

    onErrorCaptured((error, _vm, _info) => {
      if (error instanceof ApplicationError) {
        alert(error.message);
      }
    });
    return {
      additionalActions,
      additionalActionsForDeletedCaseList: [] as CaseListActionInterface[],
      variablesToBeExported: [
        // new ExportableVariable('SET', 'Admission.mainDcInstance.setVariable'),
        // new ExportableVariable('Text', 'Admission.mainDcInstance.textVariable'),
        // new ExportableVariable('number', 'Admission.mainDcInstance.numberVariable'),
        new ExportableVariable('Group', 'Admission.mainDcInstance'),
      ] as ExportableVariable[],
      ncVisible,
      caseListColumns: [
        new IdCaseListColumn('Case Id'),
        new VariableCaseListColumn('Name', 'Admission.nome'),
        new VariableCaseListColumn('Choice', 'Admission.mainDcInstance.singlechoiceVariable'),
        new VariableCaseListColumn('Text var', 'Admission.textVariable'),
        new VariableCaseListColumn('Admission Date', 'Admission.admissionDate'),
        new MetaDataCaseListColumn('Last Update', 'lastUpdate'),
        new FreezeCaseListColumn('Is Frozen'),
        new LockCaseListColumn('Is Locked'),
        new CrfVersionMetaDataCaseListColumn('Admission Version', 'Admission'),
        ...currentCaseCRFs.map((status) => new StatusCaseListColumn(`Status ${status.crfName}`, status.crfName, '*')),
      ],
      caseListRowStyles: [new FreezeStyle('case-freezed'), new LockStyle('case-locked')],
    };
  },
  setup() {
    const caseService = getContainer(Contexts.DEFAULT).get(NamedBindings.CaseService) as CaseServiceInterface;
    const crfService = getContainer(Contexts.DEFAULT).get(NamedBindings.CRFService) as CrfServiceFromFolder;
    const caseStatusService = getContainer(Contexts.DEFAULT).get(
      NamedBindings.CaseStatusService
    ) as CaseStatusServiceInterface;
    const newCaseStatusService = getContainer(Contexts.DEFAULT, ContainerTypes.NEW_CASE).get(
      NamedBindings.CaseStatusService
    ) as CaseStatusServiceInterface;
    const currentCaseService = getContainer(Contexts.DEFAULT).get(
      NamedBindings.CurrentCaseService
    ) as CurrentCaseServiceInterface;
    const showMissing = ref(false);
    return {
      caseService,
      crfService,
      caseStatusService,
      newCaseStatusService,
      currentCaseService,
      showMissing,
    };
  },
  methods: {
    async updateAdmission(id: string) {
      await this.crfService.getCRF('Admission', await this.crfService.getLatestVersion('Admission'));
      const model = (await this.caseService.getDataFor(id)).data;
      const meta = await this.caseService.getCaseMetaDataFor(id);
      model.Admission.nome = v4().substring(0, MagicNumbers.lenghtOfAbbreviatedCaseID);
      await this.caseService.update(new CaseForUpdate(id, model, meta));
    },

    async lockCase(caseID: string) {
      await this.caseService.lock(caseID);
    },

    async unlockCase(caseID: string) {
      await this.caseService.unlock(caseID);
    },

    async freezeCase(caseID: string, accessLevelsToBeFroze?: string[]) {
      await this.caseService.freeze(caseID, accessLevelsToBeFroze);
    },

    async unfreezeCase(caseID: string, accessLevelsToBeFroze?: string[]) {
      await this.caseService.unfreeze(caseID, accessLevelsToBeFroze);
    },

    openNCC() {
      getContext(Contexts.DEFAULT).dispatchEvent(
        ApplicationEvents.NewCaseRequested,
        new NewCaseRequested(ContainerTypes.NEW_CASE)
      );
    },
  },
};
</script>

<style scoped>
#app {
  font-family: Outfit !important;
}
</style>
