<template>
  <div>
    <div v-if="loaded">
      <div>FullName {{ props.fullName }}</div>
      <div>ID: {{ id }}</div>
      <select v-custom-model="props.fullName">
        <option disabled value="">Seleziona un comune</option>
        <option v-for="comune in comuni" :value="comune.codiceCatastale">{{ comune.nome }}</option>
      </select>
    </div>
    <div v-else>Caricando i comuni italiani...</div>
  </div>
</template>

<script setup lang="ts">
import comuni from './comuni.json';
import CustomModelDirective from '../src/directives/CustomModelDirective';

import { ref } from 'vue';
import { initializeNeededServices } from '@/composables/PluginVariableComposable';
import { ContainerTypes } from '@/ContainersConfig';

const vCustomModel = new CustomModelDirective();

const props = defineProps({
  context: {
    type: String,
    required: true,
  },
  fullName: {
    type: String,
    required: true,
  },
  id: {
    type: String,
    required: true,
  },
  containerType: {
    type: String,
    required: true,
  },
});

const loaded = ref(false);
defineExpose(initializeNeededServices(props.context, props.containerType as ContainerTypes));
loaded.value = true;
</script>

<style scoped></style>
