<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<div>
					<div v-if="currentCaseService?.canRead('groupVariable.colorVariable','','')" :id="getContextForID + 'groupVariable.colorVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.colorVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.colorVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'groupVariable.colorVariable'">
							<span v-html="translationService.t('colorVariable')">
							</span>
						</label>
						<input type="color" v-custom-model="'groupVariable.colorVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.colorVariable', '', '')" :id="getContextForID + 'groupVariable.colorVariable'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.colorVariable'" :context="context" :container-type="containerType">
						</component>
					</div>
				</div>
				<div v-if="model.groupVariable?.colorVariable == '#00f900' && currentCaseService.canRead('groupVariable.WARNING_myTestWarning_CONFIRMED', '', '')" class="warning" :class="{ unwritable: !currentCaseService?.canWrite('groupVariable.WARNING_myTestWarning_CONFIRMED','','')}" :id="getContextForID + 'groupVariable.WARNING_myTestWarning_CONFIRMED-wrapper'">
					<span v-html="translationService.t('Warning')">
					</span>
					<input type="checkbox" v-custom-model-for-warnings="'groupVariable.WARNING_myTestWarning_CONFIRMED'" :disabled="!currentCaseService.canWrite('groupVariable.WARNING_myTestWarning_CONFIRMED', '', '')" :id="getContextForID + 'groupVariable.WARNING_myTestWarning_CONFIRMED'" v-on:click.stop="">
					<label :for="getContextForID + 'groupVariable.WARNING_myTestWarning_CONFIRMED'" v-on:click.stop="">
						<span v-html="translationService.t('I confirm the inserted data')">
						</span>
					</label>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>