<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<div>
					<div v-if="currentCaseService?.canRead('groupVariable.mainVariable','','')" :id="getContextForID + 'groupVariable.mainVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.mainVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.mainVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'groupVariable.mainVariable'">
							<span v-html="translationService.t('mainVariable')">
							</span>
						</label>
						<input type="text" v-custom-model="'groupVariable.mainVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.mainVariable', '', '')" :id="getContextForID + 'groupVariable.mainVariable'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.mainVariable'" :context="context" :container-type="containerType">
						</component>
						<div v-if="true && currentCaseService.canRead('groupVariable.mainVariable_WARNING_myTestWarning_CONFIRMED', '', '')" class="warning" :class="{ unwritable: !currentCaseService?.canWrite('groupVariable.mainVariable_WARNING_myTestWarning_CONFIRMED','','')}" :id="getContextForID + 'groupVariable.mainVariable_WARNING_myTestWarning_CONFIRMED-wrapper'">
							<span v-html="translationService.t('Warning')">
							</span>
							<input type="checkbox" v-custom-model-for-warnings="'groupVariable.mainVariable_WARNING_myTestWarning_CONFIRMED'" :disabled="!currentCaseService.canWrite('groupVariable.mainVariable_WARNING_myTestWarning_CONFIRMED', '', '')" :id="getContextForID + 'groupVariable.mainVariable_WARNING_myTestWarning_CONFIRMED'" v-on:click.stop="">
							<label :for="getContextForID + 'groupVariable.mainVariable_WARNING_myTestWarning_CONFIRMED'" v-on:click.stop="">
								<span v-html="translationService.t('I confirm the inserted data')">
								</span>
							</label>
						</div>
					</div>
					<div v-if="currentCaseService?.canRead('groupVariable.mainVariable','','')" :id="getContextForID + 'groupVariable.refVariable.mainVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.mainVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.mainVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'groupVariable.refVariable.mainVariable'">
							<span v-html="translationService.t('mainVariable')">
							</span>
						</label>
						<input type="text" v-custom-model="'groupVariable.mainVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.mainVariable', '', '')" :id="getContextForID + 'groupVariable.refVariable.mainVariable'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.mainVariable'" :context="context" :container-type="containerType">
						</component>
						<div v-if="true && currentCaseService.canRead('groupVariable.mainVariable_WARNING_myTestWarning_CONFIRMED', '', '')" class="warning" :class="{ unwritable: !currentCaseService?.canWrite('groupVariable.mainVariable_WARNING_myTestWarning_CONFIRMED','','')}" :id="getContextForID + 'groupVariable.refVariable.mainVariable_WARNING_myTestWarning_CONFIRMED-wrapper'">
							<span v-html="translationService.t('Warning')">
							</span>
							<input type="checkbox" v-custom-model-for-warnings="'groupVariable.mainVariable_WARNING_myTestWarning_CONFIRMED'" :disabled="!currentCaseService.canWrite('groupVariable.mainVariable_WARNING_myTestWarning_CONFIRMED', '', '')" :id="getContextForID + 'groupVariable.refVariable.mainVariable_WARNING_myTestWarning_CONFIRMED'" v-on:click.stop="">
							<label :for="getContextForID + 'groupVariable.refVariable.mainVariable_WARNING_myTestWarning_CONFIRMED'" v-on:click.stop="">
								<span v-html="translationService.t('I confirm the inserted data')">
								</span>
							</label>
						</div>
					</div>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>