<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<div>
					<div v-if="currentCaseService?.canRead('groupVariable.textVariable','','')" :id="getContextForID + 'groupVariable.textVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.textVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.textVariable'" :context="context" :container-type="containerType">
						</component>
						<label class="variableLabel" :for="getContextForID + 'groupVariable.textVariable'">
							<span v-html="translationService.t('textVariable')">
							</span>
						</label>
						<input type="text" v-custom-model="'groupVariable.textVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.textVariable', '', '')" :id="getContextForID + 'groupVariable.textVariable'">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.textVariable'" :context="context" :container-type="containerType">
						</component>
						<div v-if="model.groupVariable?.textVariable?.length > 0 && currentCaseService.canRead('groupVariable.textVariable_WARNING_myTestWarning_CONFIRMED', '', '')" class="warning" :class="{ unwritable: !currentCaseService?.canWrite('groupVariable.textVariable_WARNING_myTestWarning_CONFIRMED','','')}" :id="getContextForID + 'groupVariable.textVariable_WARNING_myTestWarning_CONFIRMED-wrapper'">
						<span v-html="translationService.t('Warning')">
						</span>
						<input type="checkbox" v-custom-model-for-warnings="'groupVariable.textVariable_WARNING_myTestWarning_CONFIRMED'" :disabled="!currentCaseService.canWrite('groupVariable.textVariable_WARNING_myTestWarning_CONFIRMED', '', '')" :id="getContextForID + 'groupVariable.textVariable_WARNING_myTestWarning_CONFIRMED'" v-on:click.stop="">
						<label :for="getContextForID + 'groupVariable.textVariable_WARNING_myTestWarning_CONFIRMED'" v-on:click.stop="">
							<span v-html="translationService.t('I confirm the inserted data')">
							</span>
						</label>
					</div>
				</div>
			</div>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
		</fieldset>
	</section>
</template>
</dataclassitemcomponent>