<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<div>
					<div class="radiolist-wrapper" v-if="currentCaseService?.canRead('groupVariable.singlechoiceVariable','','')" :id="getContextForID + 'groupVariable.singlechoiceVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.singlechoiceVariable')">
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.singlechoiceVariable'" :context="context" :container-type="containerType">
						</component>
						<span class="radioDescription">
							<span v-html="translationService.t('singlechoiceVariable')">
							</span>
						</span>
						<ul class="radiolist" v-custom-model-for-singlechoice="'groupVariable.singlechoiceVariable'" :id="getContextForID + 'groupVariable.singlechoiceVariable'">
							<li :id="getContextForID + 'groupVariable.singlechoiceVariable-sets.first-wrapper'" v-if="currentCaseService?.canRead('groupVariable.singlechoiceVariable-sets.first','','')" v-on:mouseover.stop="onHover('groupVariable.singlechoiceVariable-sets.first')">
								<input type="radio" value="sets.first" :name="getContextForID + 'groupVariable.singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.singlechoiceVariable', '', '')" :id="getContextForID + 'groupVariable.singlechoiceVariable-sets.first'">
								<label class="valueLabel" :for="getContextForID + 'groupVariable.singlechoiceVariable-sets.first'">
									<span v-html="translationService.t('first')">
									</span>
								</label>
							</li>
							<li :id="getContextForID + 'groupVariable.singlechoiceVariable-sets.second-wrapper'" v-if="currentCaseService?.canRead('groupVariable.singlechoiceVariable-sets.second','','')" v-on:mouseover.stop="onHover('groupVariable.singlechoiceVariable-sets.second')">
								<input type="radio" value="sets.second" :name="getContextForID + 'groupVariable.singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.singlechoiceVariable', '', '')" :id="getContextForID + 'groupVariable.singlechoiceVariable-sets.second'">
								<label class="valueLabel" :for="getContextForID + 'groupVariable.singlechoiceVariable-sets.second'">
									<span v-html="translationService.t('second')">
									</span>
								</label>
							</li>
							<li :id="getContextForID + 'groupVariable.singlechoiceVariable-sets.third-wrapper'" v-if="currentCaseService?.canRead('groupVariable.singlechoiceVariable-sets.third','','')" v-on:mouseover.stop="onHover('groupVariable.singlechoiceVariable-sets.third')">
								<input type="radio" value="sets.third" :name="getContextForID + 'groupVariable.singlechoiceVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.singlechoiceVariable', '', '')" :id="getContextForID + 'groupVariable.singlechoiceVariable-sets.third'">
								<label class="valueLabel" :for="getContextForID + 'groupVariable.singlechoiceVariable-sets.third'">
									<span v-html="translationService.t('third')">
									</span>
								</label>
							</li>
						</ul>
						<button class="variable-reset" type="button" :disabled="!currentCaseService?.canWrite('groupVariable.singlechoiceVariable', '', '')" v-on:click.stop="resetRadioButton('groupVariable.singlechoiceVariable')">
							<span v-html="translationService.t('Reset')">
							</span>
						</button>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.singlechoiceVariable'" :context="context" :container-type="containerType">
						</component>
						<div v-if="model.groupVariable?.singlechoiceVariable == 'sets.first' && currentCaseService.canRead('groupVariable.singlechoiceVariable_WARNING_myTestWarning_CONFIRMED', '', '')" class="warning" :class="{ unwritable: !currentCaseService?.canWrite('groupVariable.singlechoiceVariable_WARNING_myTestWarning_CONFIRMED','','')}" :id="getContextForID + 'groupVariable.singlechoiceVariable_WARNING_myTestWarning_CONFIRMED-wrapper'">
							<span v-html="translationService.t('Warning')">
							</span>
							<input type="checkbox" v-custom-model-for-warnings="'groupVariable.singlechoiceVariable_WARNING_myTestWarning_CONFIRMED'" :disabled="!currentCaseService.canWrite('groupVariable.singlechoiceVariable_WARNING_myTestWarning_CONFIRMED', '', '')" :id="getContextForID + 'groupVariable.singlechoiceVariable_WARNING_myTestWarning_CONFIRMED'" v-on:click.stop="">
							<label :for="getContextForID + 'groupVariable.singlechoiceVariable_WARNING_myTestWarning_CONFIRMED'" v-on:click.stop="">
								<span v-html="translationService.t('I confirm the inserted data')">
								</span>
							</label>
						</div>
					</div>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>