#miciVisit_miciVisit\.anamnGen select,
#miciVisit_miciVisit\.anamnIbd select,
#miciVisit_miciVisit\.anamnFarm select,
#miciVisit_miciVisit\.conclusioni select,
#miciVisit_miciVisit\.terapiaConsigliata select {
  position: relative;
  border: 1px solid #dadada;
  border-radius: 3px;
  margin: 2px 0;
  padding: 4px 0;
  vertical-align: middle;
}

#miciVisit_miciVisit\.fisiologica .radioDescription,
#miciVisit_miciVisit\.anamnGen .radioDescription,
#miciVisit_miciVisit\.anamnGen .variableDescription,
#miciVisit_miciVisit\.anamnGen .checkBoxDescription,
#miciVisit_miciVisit\.anamnIbd .radioDescription,
#miciVisit_miciVisit\.anamnIbd .variableDescription,
#miciVisit_miciVisit\.anamnIbd .checkBoxDescription,
#miciVisit_miciVisit\.anamnFarm .radioDescription,
#miciVisit_miciVisit\.anamnFarm .variableDescription,
#miciVisit_miciVisit\.anamnFarm .checkBoxDescription,
#miciVisit_miciVisit\.terapiaConsigliata .radioDescription,
#miciVisit_miciVisit\.terapiaConsigliata .variableDescription {
  min-width: 12rem;
  display: inline-block;
}

#miciVisit_miciVisit\.anamnGen input,
#miciVisit_miciVisit\.anamnIbd input,
#miciVisit_miciVisit\.anamnFarm input,
#miciVisit_miciVisit\.recente input[type='text'],
#miciVisit_miciVisit\.recente input[type='date'],
#miciVisit_miciVisit\.conclusioni input[type='text'],
#miciVisit_miciVisit\.terapiaConsigliata input[type='text'] {
  padding-left: 0.3rem;
}

#miciVisit_miciVisit\.recente input[type='number'],
#miciVisit_miciVisit\.terapiaConsigliata input[type='number'] {
  padding-left: 0.3rem;
}

#miciVisit_miciVisit\.anamnIbd\.eventiCliniciSet .variableDescription,
#miciVisit_miciVisit\.anamnIbd\.ricoveriSet .variableDescription,
#miciVisit_miciVisit\.anamnIbd\.accessiDEASet .variableDescription,
#miciVisit_miciVisit\.anamnGen\.patologieMaggioriSet .variableDescription,
#miciVisit_miciVisit\.anamnIbd\.eventiCliniciSet .radioDescription,
#miciVisit_miciVisit\.anamnIbd\.ricoveriSet .radioDescription,
#miciVisit_miciVisit\.anamnIbd\.accessiDEASet .radioDescription,
#miciVisit_miciVisit\.anamnGen\.patologieMaggioriSet .radioDescription {
  min-width: 9.5rem;
}

#miciVisit_miciVisit\.recente\.esamiStrumentaliSet .variableDescription {
  min-width: 4rem;
  margin-right: 0.5rem;
}

#miciVisit_miciVisit\.anamnGen\.patologia-wrapper .selectionList {
  margin-left: 2rem;
}

#miciVisit_miciVisit\.anamnGen input[type='date'],
#miciVisit_miciVisit\.anamnIbd input[type='date'],
#miciVisit_miciVisit\.anamnFarm input[type='date'],
#miciVisit_miciVisit\.recente input[type='date'] {
  text-align: center;
}

#miciVisit_miciVisit\.recente .radioDescription {
  min-width: 18rem;
  display: inline-block;
}

#miciVisit_miciVisit\.recente\.terapiaInCorso .variableDescription {
  min-width: 12rem;
}

.valutazioneChirurgicaPerianale .variableDescription {
  min-width: 12rem;
}

.recente .variableDescription {
  min-width: 18rem;
  margin-right: 0.5rem;
  display: inline-block;
}

#miciVisit_miciVisit\.recente\.esameLabSet .variableDescription {
  min-width: 5rem;
}

#miciVisit_miciVisit\.recente\.esameStrumentaleSet .variableDescription {
  min-width: 9rem;
}

#miciVisit_miciVisit\.recente .checkBoxDescription {
  min-width: 18rem;
}

#miciVisit_miciVisit\.conclusioni .checkBoxDescription,
#miciVisit_miciVisit\.conclusioni .radioDescription,
#miciVisit_miciVisit\.conclusioni .variableDescription {
  min-width: 10rem;
  margin-right: 0.5rem;
  display: inline-block;
}

#miciVisit_miciVisit\.iter .variableDescription,
#miciVisit_miciVisit\.iter .checkBoxDescription {
  min-width: 8rem;
}

#miciVisit_miciVisit\.iter li {
  display: flex;
}

#miciVisit_miciVisit\.terapiaConsigliata .variableDescription {
  min-width: 14rem;
  margin-right: 0.5rem;
  display: inline-block;
}

#miciVisit_miciVisit\.recente\.dettagliDoloreAddominale {
  min-height: 0rem;
}

#miciVisit_miciVisit\.recente\.dettagliDoloreAddominale legend {
  display: none;
}

#miciVisit_miciVisit\.recente\.dettagliDoloreAddominale div {
  padding-top: 0rem;
}

#miciVisit_miciVisit\.anamnIbd\.eventiCliniciSet .dettagliFarmaco legend {
  display: none;
}

#miciVisit_miciVisit\.anamnIbd\.eventiCliniciSet .dettagliFarmaco div {
  padding-top: 0rem;
}

#miciVisit_miciVisit\.anamnIbd\.eventiCliniciSet .dettagliFarmaco .variableDescription {
  min-width: 14rem;
}

#miciVisit_miciVisit\.anamnIbd\.eventiCliniciSet .dettagliFarmaco output {
  display: inline-block;
}

.simple-typeahead-input {
  min-width: 18rem;
}
