<script setup lang="ts">
import type { PropType } from 'vue';
import { getContainer } from '@/ContainersConfig';
import NoCaseSelectedComponent from '@/components/NoCaseSelectedComponent.vue';
import type { CurrentCaseServiceInterface } from '@/interfaces/CurrentCaseServiceInterface';
import type CaseStatusService from '@/services/CaseStatusService';
import { Contexts } from '@/types/Contexts';
import { NamedBindings } from '@/types/NamedBindings';
import { CoreConfigurationInterface } from '@/interfaces/CoreConfiguration';

const props = defineProps({
  context: {
    type: String as PropType<string>,
    required: false,
    default: Contexts.DEFAULT,
  },
});

const container = getContainer(props.context);
const caseStatusService = container.get(NamedBindings.CaseStatusService) as CaseStatusService;
const currentCaseService = container.get(NamedBindings.CurrentCaseService) as CurrentCaseServiceInterface;
const coreConfiguration = container.get(NamedBindings.CoreConfiguration) as CoreConfigurationInterface;

const statusMap = caseStatusService.getStatusMap();
const isCaseOpened = currentCaseService.isCaseOpened;
</script>

<template>
  <div class="case-status-component" v-if="isCaseOpened">
    <table>
      <thead>
        <tr>
          <th>Access Level</th>
          <th>CrfName</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="{ accessLevel, crfName } in coreConfiguration.accessLevelAndCrfConfigurations" :key="accessLevel">
          <td>{{ accessLevel }}</td>
          <td>{{ crfName }}</td>
          <td>{{ statusMap.get(accessLevel)?.get(crfName) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <NoCaseSelectedComponent v-else />
</template>
