<script async lang="ts" setup>
import { type PropType, type Ref, reactive, ref, onErrorCaptured } from 'vue';
import { getContainer } from '@/ContainersConfig';
import CRFRenderComponent from '@/components/Internals/CRFRenderComponent.vue';
import NoCaseSelectedComponent from '@/components/NoCaseSelectedComponent.vue';
import ErrorDisplayerComponent from '@/components/Debug/ErrorDisplayerComponent.vue';
import type { Version } from '@/entities/CRF';
import { CRFError } from '@/errors/CRFError';
import type { CurrentCaseServiceInterface } from '@/interfaces/CurrentCaseServiceInterface';
import type TranslationService from '@/services/TranslationService';
import { DandelionComponents } from '@/types/DandelionComponents';
import { NamedBindings } from '@/types/NamedBindings';
import { PathToXsl } from '@/types/PathToXsl';

const props = defineProps({
  path: {
    type: String as PropType<string>,
    required: false,
  },
  context: {
    type: String as PropType<string>,
    required: false,
  },
  startingDataclass: {
    type: String as PropType<string>,
    required: false,
  },
  modelToCompare: {
    type: Object as PropType<any>,
    required: false,
  },
  model: {
    type: Object as PropType<any>,
    required: false,
  },
  crfVersions: {
    type: Object as PropType<Ref<Map<string, Version>>>,
    required: false,
  },
  crfRoot: {
    type: String as PropType<string>,
    required: false,
  },
});

const container = getContainer(props.context);
const currentCaseService = container.get(NamedBindings.CurrentCaseService) as CurrentCaseServiceInterface;
const ts = container.get(NamedBindings.TranslationService) as TranslationService;

const model = currentCaseService.getModel();
const crfVersions = currentCaseService.getCrfVersions();
const firstModel = props.model ?? model;
const diffsModel = reactive({ newModel: firstModel, oldModel: props.modelToCompare });
const myCrfVersions = props.crfVersions ?? crfVersions;
const isCaseOpened = currentCaseService.isCaseOpened;
const showErrorDialog = ref(false);
const errorContent = ref('');

onErrorCaptured((error, _vm, _info) => {
  if (error instanceof CRFError) {
    errorContent.value = error.toString();
  }
  showErrorDialog.value = true;
});
</script>

<template>
  <div :class="[DandelionComponents.DIFF, 'dandelion-cmp']" v-if="isCaseOpened">
    <Suspense>
      <CRFRenderComponent
        ref="DLC"
        :component-name="DandelionComponents.DIFF"
        :crfs-with-versions="myCrfVersions"
        :model="diffsModel"
        :path="path ?? PathToXsl.SCHEMA_TO_DIFFS"
        :starting-dataclass="startingDataclass"
        :context="context"
        :crf-root="crfRoot"
      />
      <template #fallback>
        <span class="loading-diff-list-msg loading-msg" v-html="ts.t('Loading diff list...')"></span>
      </template>
    </Suspense>

    <ErrorDisplayerComponent v-if="showErrorDialog" :context="context" :error-content="errorContent" />
  </div>
  <NoCaseSelectedComponent v-else />
</template>
