<script async lang="ts" setup>
import { createApp, onMounted, type PropType, ref } from 'vue';
import { getContainer } from '@/ContainersConfig';
import SetComponent from '@/components/Internals/SetComponent.vue';
import SetItemComponent from '@/components/Internals/SetItemComponent.vue';
import DataclassItemComponent from '@/components/Internals/DataclassItemComponent.vue';
import ShortCircuitDirective from '@/directives/ShortCircuitDirective';
import ComputedItemsDirective from '@/directives/ComputedItemsDirective';
import CustomModelDirective from '@/directives/CustomModelDirective';
import CustomModelDirectiveForCheckboxes from '@/directives/CustomModelDirectiveForCheckboxes';
import CustomModelDirectiveForBoolean from '@/directives/CustomModelDirectiveForBoolean';
import CustomModelDirectiveForErrors from '@/directives/CustomModelDirectiveForErrors';
import CustomModelDirectiveForSinglechoice from '@/directives/CustomModelDirectiveForSinglechoice';
import type { CRF } from '@/entities/CRF';
import type { CRFServiceInterface } from '@/interfaces/CRFServiceInterface';
import type { CRFToHTMLService } from '@/services/CRFToHTMLService';
import type TranslationService from '@/services/TranslationService';
import { Contexts } from '@/types/Contexts';
import { NamedBindings } from '@/types/NamedBindings';
import { PathToXsl } from '@/types/PathToXsl';

const props = defineProps({
  context: {
    type: String as PropType<string>,
    required: false,
    default: Contexts.DEFAULT,
  },
  crfNames: {
    type: Array as PropType<Array<string>>,
    required: false,
    default: () => [],
  },
  path: {
    type: String as PropType<string>,
    required: false,
    default: PathToXsl.SCHEMA_TO_FILTER_PAGE,
  },
  model: {
    type: Object as PropType<any>,
    required: false,
    default: {},
  },
});

const container = getContainer(props.context);
const CRFService = container.get(NamedBindings.CRFService) as CRFServiceInterface;
const crfToHTMLService = container.get(NamedBindings.CRFToHTMLService) as CRFToHTMLService;
const translationService = container.get(NamedBindings.TranslationService) as TranslationService;

const errors = ref<Array<string>>([]);
let helperFunctions = {};
const crfs: Array<CRF> = await Promise.all(
  props.crfNames.map((crfName: string) => CRFService.getCRF(crfName, '0.0.1'))
);
crfs.map((crf) => translationService.addTranslations(crf.translations));
const unifiedJS = crfs.map((crf) => crf.js).join('');

try {
  helperFunctions = await import(`data:text/javascript,${unifiedJS}`);
} catch (e) {
  errors.value.push(`Problem importing JS code into the Render Component: ${e}`);
}

const html = (
  await Promise.all(crfs.map((crf) => crfToHTMLService.getHTMLfromXML(crf.xml, crf.name, crf.version, props.path)))
).join('');

const customComponent = createApp({
  template: !html
    ? `<div><span v-html='translationService.t("Insert a valid XML")'></span></div>`
    : `<div>
        ${html}
       </div>`,
  data() {
    return {
      filterModel: !props.model ? {} : props.model,
      currentPageService: getContainer(props.context).isBound(NamedBindings.CurrentPageService)
        ? getContainer(props.context).get(NamedBindings.CurrentPageService)
        : null,
      caseStatusService: getContainer(props.context).isBound(NamedBindings.CaseStatusService)
        ? getContainer(props.context).get(NamedBindings.CaseStatusService)
        : null,
      translationService: getContainer(Contexts.SHARED).isBound(NamedBindings.TranslationService)
        ? getContainer(Contexts.SHARED).get(NamedBindings.TranslationService)
        : null,
      mapToBeExported: new Map<string, boolean>(),
      mapShowFilter: new Map<string, boolean>(),
      mapFilterValue: new Map<string, any>(),
      mapForOperator: new Map<string, string>(),
      mapForLowerBound: new Map<string, number>(),
      mapForUpperBound: new Map<string, number>(),
    };
  },
  mixins: [{ methods: helperFunctions }],
  created() {
    if (this.caseStatusService === undefined) {
      return;
    }
    this.caseStatusService.setRootVariable(this.filterModel);
  },
  methods: {
    setToBeExported(variable: string, booleanValue = true) {
      this.mapToBeExported.set(variable, booleanValue);
    },
    setShowFilter(variable: string, booleanValue = true) {
      this.mapShowFilter.set(variable, booleanValue);
    },
    setFilterValue(variable: string, obj: any = {}) {
      this.mapFilterValue.set(variable, obj);
    },
    setOperator(variable: string, value = '') {
      this.mapForOperator.set(variable, value);
    },
    setLowerBound(variable: string, value = NaN) {
      this.mapForLowerBound.set(variable, value);
    },
    setUpperBound(variable: string, value = NaN) {
      this.mapForUpperBound.set(variable, value);
    },
    getToBeExported(variable: string) {
      return this.mapToBeExported.get(variable);
    },
    getShowFilter(variable: string) {
      return this.mapShowFilter.get(variable);
    },
    getFilterValue(variable: string) {
      return this.mapFilterValue.get(variable);
    },
    getOperator(variable: string) {
      return this.mapForOperator.get(variable);
    },
    getLowerBound(variable: string) {
      return this.mapForLowerBound.get(variable);
    },
    getUpperBound(variable: string) {
      return this.mapForUpperBound.get(variable);
    },
  },
  components: {
    setcomponent: SetComponent,
    setitemcomponent: SetItemComponent,
    dataclassitemcomponent: DataclassItemComponent,
  },
});

customComponent.directive('short-circuit', new ShortCircuitDirective());
customComponent.directive('computed-items', new ComputedItemsDirective());
customComponent.directive('custom-model', new CustomModelDirective());
customComponent.directive('custom-model-for-checkboxes', new CustomModelDirectiveForCheckboxes());
customComponent.directive('custom-model-for-boolean', new CustomModelDirectiveForBoolean());
customComponent.directive('custom-model-for-singlechoice', new CustomModelDirectiveForSinglechoice());
customComponent.directive('custom-model-for-errors', new CustomModelDirectiveForErrors());

onMounted(() => {
  try {
    customComponent.mount('#custom-mount-point-for-filter');
    const css = crfs.map((crf) => crf.css).join('');
    const style = document.createElement('style');
    style.innerText = css;
    document.head.appendChild(style);
  } catch (e) {
    errors.value.push(
      `Problem mounting the component, please check that all you JS function have been defined. Here you can see the error message: ${e}`
    );
  }
});
</script>

<template>
  <div v-if="errors.length > 0">
    <div v-for="(error, index) in errors" :key="index" class="error" v-html="error"></div>
  </div>
  <div id="custom-mount-point-for-filter" class="dandelion-cmp" />
</template>
