<script async lang="ts" setup>
import { getContainer } from '@/ContainersConfig';
import { NamedBindings } from '@/types/NamedBindings';
import type { CurrentCaseServiceInterface } from '@/interfaces/CurrentCaseServiceInterface';
import { ref, type PropType, computed } from 'vue';
import NoCaseSelectedComponent from '@/components/NoCaseSelectedComponent.vue';
import type { CaseServiceInterface } from '@/interfaces/CaseServiceInterface';
import type { HistoryPartialStoredCase } from '@/entities/HistoryPartialStoredCase';
import { Contexts } from '@/types/Contexts';
import type TranslationService from '../services/TranslationService';
import DiffListComponent from '@/components/DiffListComponent.vue';

const props = defineProps({
  context: {
    type: String as PropType<string>,
    required: false,
    default: Contexts.DEFAULT,
  },
  commonPagination: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: false,
  },
  numberOfElementsPerPage: {
    type: Number as PropType<number>,
    required: false,
    default: 1,
  },
  openOnLineClick: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: false,
  },
});

const container = getContainer(props.context);
const currentCaseService = container.get(NamedBindings.CurrentCaseService) as CurrentCaseServiceInterface;
const caseService = container.get(NamedBindings.CaseService) as CaseServiceInterface;
const ts = container.get(NamedBindings.TranslationService) as TranslationService;

const history = ref<Array<HistoryPartialStoredCase>>([]);
const extractedModels: Array<string> = [];
const showDiff = ref(false);
const currentCaseID = currentCaseService.getCurrentCase();
const isCaseOpened = currentCaseService.isCaseOpened;
const currentVersion = ref(0);
const totalVersions = computed(() => Math.ceil(extractedModels.length / props.numberOfElementsPerPage));

async function openHistory() {
  history.value = await caseService.getSingleCaseHistory(currentCaseID.value!);

  for (const item of history.value) {
    for (const i of item.case_) {
      const modelExtracted = i.data;
      extractedModels.push(modelExtracted);
    }
  }
  showDiff.value = true;
}

function previousVersion() {
  if (currentVersion.value > 0) {
    currentVersion.value--;
  }
}

function nextVersion() {
  if (currentVersion.value < totalVersions.value) {
    currentVersion.value++;
  }
}

function changeVersion(page: number) {
  currentVersion.value = page - 1;
}
</script>

<template>
  <div class="history-component" v-if="isCaseOpened">
    <button @click="openHistory" class="open-history-btn" v-html="ts.t('Open History')" />
    <div v-if="showDiff" class="case-versions">
      <div
        v-for="(currentModel, index) in extractedModels"
        v-show="currentVersion === index"
        :key="index"
        :class="'case-version-' + [index + 1]"
      >
        <p
          class="case-creation-date"
          v-html="`${ts.t('Creation Date')} ${new Date(history[index].creationDate).toLocaleString()}`"
        />
        <DiffListComponent :model-to-compare="index > 0 ? extractedModels[index - 1] : {}" :model="currentModel" />
      </div>
      <div class="versions-pagination">
        <button
          @click.stop="previousVersion"
          class="previous-page-btn case-list-pagination-btn"
          :disabled="currentVersion === 0"
          v-html="ts.t('Previous')"
        />
        <button v-for="version in totalVersions" :key="version" @click="changeVersion(version)" v-html="version" />
        <button
          @click.stop="nextVersion"
          :disabled="currentVersion === totalVersions - 1"
          class="next-page-btn case-list-pagination-btn"
          v-html="ts.t('Next')"
        />
      </div>
    </div>
  </div>
  <NoCaseSelectedComponent v-else />
</template>
