<script async lang="ts" setup>
import { type PropType, ref, onErrorCaptured, watch, Ref, computed, onMounted } from 'vue';
import { ContainerTypes, getContainer } from '@/ContainersConfig';
import NoCaseSelectedComponent from '@/components/NoCaseSelectedComponent.vue';
import CopyToClipboard from '@/components/Debug/CopyToClipboardComponent.vue';
import { CRF } from '@/entities/CRF';
import { CRFError } from '@/errors/CRFError';
import type { CaseStatusServiceInterface } from '@/interfaces/CaseStatusServiceInterface';
import { CRFServiceInterface } from '@/interfaces/CRFServiceInterface';
import type { CurrentCaseServiceInterface } from '@/interfaces/CurrentCaseServiceInterface';
import type TranslationService from '@/services/TranslationService';
import { Contexts } from '@/types/Contexts';
import { DandelionComponents } from '@/types/DandelionComponents';
import { NamedBindings } from '@/types/NamedBindings';
import { CurrentPageServiceInterface } from '@/interfaces/CurrentPageServiceInterface';
import { CoreConfigurationInterface, CRFConfigurationInterface } from '@/interfaces/CoreConfiguration';
import CurrentContextService from '@/services/CurrentContextService';

const props = defineProps({
  statuses: {
    type: Array as PropType<Array<number>>,
    required: false,
    default: () => [],
  },
  prefixes: {
    type: Array as PropType<Array<string>>,
    required: false,
    default: () => [''],
  },
  accessLevels: {
    type: Array as PropType<Array<string>>,
    required: false,
    default: () => [],
  },
  path: {
    type: String as PropType<string | undefined>,
    required: false,
    default: undefined,
  },
  context: {
    type: String as PropType<string>,
    required: false,
    default: Contexts.DEFAULT,
  },
  startingDataclass: {
    type: String as PropType<string>,
    required: false,
    default: '',
  },
  prefixForID: {
    type: String as PropType<string>,
    required: false,
    default: 'mList-',
  },
  containerType: {
    type: String as PropType<ContainerTypes>,
    required: false,
    default: () => ContainerTypes.DEFAULT,
  },
});

const container = getContainer(props.context, props.containerType);
const caseStatusService = container.get(NamedBindings.CaseStatusService) as CaseStatusServiceInterface;
const crfService = container.get(NamedBindings.CRFService) as CRFServiceInterface;
const currentCaseService = container.get(NamedBindings.CurrentCaseService) as CurrentCaseServiceInterface;
const currentContextService = container.get(NamedBindings.CurrentContextService) as CurrentContextService;
const currentPageService = container.get(NamedBindings.CurrentPageService) as CurrentPageServiceInterface;
const ts = container.get(NamedBindings.TranslationService) as TranslationService;
const coreConfiguration = container.get(NamedBindings.CoreConfiguration) as CoreConfigurationInterface;

const model = currentCaseService.getModel();
const { statuses, prefixes, accessLevels, context } = props;
const showErrorDialog = ref(false);
const errorContent = ref('');
const isCaseOpened = currentCaseService.isCaseOpened;
const listOfVariablesByAccessLevelAndStatus = caseStatusService.getListOfVariablesByAccessLevelAndStatus();
const missingVariables: Ref<Array<string>> = ref([]);
let crfNames: CRFConfigurationInterface[];
let crfs: CRF[];
let mapOfLabels: { [fullName: string]: string } = {};

const getContextForID = computed(() => {
  // Contexts.DEFAULT is the shorthand for the real default context, which depends on the caseTypes that are used in the application
  // In the case of default context we don't add a prefix to IDs
  if (context === Contexts.DEFAULT || context === coreConfiguration.listOfCaseTypes[0].caseName) {
    return '';
  }
  return `${context}_`;
});

if (prefixes.length > 1 && prefixes[0] !== '') {
  const crfNamesSet = new Set(prefixes.map((p) => (p.includes('.') ? p.substring(0, p.indexOf('.')) : p)));
  crfNames = Array.from(crfNamesSet).map((crfName) => ({ crfName }));
} else {
  crfNames = currentContextService.getCaseConfiguration().getAllCRFs();
}
crfs = await Promise.all(
  crfNames.map(async ({ crfName }) => {
    return await crfService.getCRF(crfName, await crfService.getLatestVersion(crfName));
  })
);
crfs.forEach((crf) => {
  crf.crfData.allDataClasses.forEach((dc) => {
    dc.dataClassList.forEach((v) => (mapOfLabels[v.fullName] = v.label));
  });
});

onMounted(async () => {
  await uploadMissings();
});

watch(
  listOfVariablesByAccessLevelAndStatus,
  async () => {
    await uploadMissings();
  },
  { deep: true }
);

async function uploadMissings() {
  missingVariables.value = caseStatusService.getMissingList(accessLevels, statuses, prefixes);
}

function getLabel(fullName: string) {
  const label = mapOfLabels[fullName];
  if (label && label != '') {
    return ts.t(label);
  }
  return fullName;
}

onErrorCaptured((error, _vm, _info) => {
  if (error instanceof CRFError) {
    errorContent.value = error.toString();
  }
  showErrorDialog.value = true;
});
</script>

<template>
  <ul :class="[DandelionComponents.MISSINGS, 'dandelion-cmp']" v-if="isCaseOpened">
    <Suspense>
      <CopyToClipboard
        :component-name="'MissingsListComponent'"
        :context="context"
        :model="model"
        :debug="coreConfiguration.debug"
      />
    </Suspense>

    <li
      v-for="missingVar in missingVariables"
      class="requirement"
      @click.stop="currentPageService.scrollToVariable(getContextForID + missingVar)"
      :id="prefixForID + missingVar"
    >
      <div v-html="getLabel(missingVar)" />
    </li>

    <div class="no-variables-missing" v-if="missingVariables.length === 0">
      <p v-html="ts.t('NoMissingVariables')" />
    </div>
  </ul>
  <NoCaseSelectedComponent v-else />
</template>
