<script async lang="ts" setup>
import { type PropType, ref, onErrorCaptured, watch, Ref, computed } from 'vue';
import { ContainerTypes, getContainer } from '@/ContainersConfig';
import NoCaseSelectedComponent from '@/components/NoCaseSelectedComponent.vue';
import { CRFError } from '@/errors/CRFError';
import type { CaseStatusServiceInterface } from '@/interfaces/CaseStatusServiceInterface';
import type { CurrentCaseServiceInterface } from '@/interfaces/CurrentCaseServiceInterface';
import type TranslationService from '@/services/TranslationService';
import { Contexts } from '@/types/Contexts';
import { NamedBindings } from '@/types/NamedBindings';

const props = defineProps({
  statuses: {
    type: Array as PropType<Array<number>>,
    required: false,
    default: () => [],
  },
  prefixes: {
    type: Array as PropType<Array<string>>,
    required: false,
    default: () => [''],
  },
  accessLevels: {
    type: Array as PropType<Array<string>>,
    required: false,
    default: () => [],
  },
  context: {
    type: String as PropType<string>,
    required: false,
    default: Contexts.DEFAULT,
  },
  containerType: {
    type: String as PropType<ContainerTypes>,
    required: false,
    default: () => ContainerTypes.DEFAULT,
  },
});

const container = getContainer(props.context, props.containerType);
const caseStatusService = container.get(NamedBindings.CaseStatusService) as CaseStatusServiceInterface;
const currentCaseService = container.get(NamedBindings.CurrentCaseService) as CurrentCaseServiceInterface;
const ts = container.get(NamedBindings.TranslationService) as TranslationService;

const { statuses, prefixes, accessLevels } = props;
const showErrorDialog = ref(false);
const errorContent = ref('');
const isCaseOpened = currentCaseService.isCaseOpened;
const listOfVariablesByAccessLevelAndStatus = caseStatusService.getListOfVariablesByAccessLevelAndStatus();
const missingVariablesCount: Ref<number> = ref(0);

watch(
  listOfVariablesByAccessLevelAndStatus,
  (_) => {
    missingVariablesCount.value = caseStatusService.getMissingList(accessLevels, statuses, prefixes).length;
  },
  { deep: true }
);

onErrorCaptured((error, _vm, _info) => {
  if (error instanceof CRFError) {
    errorContent.value = error.toString();
  }
  showErrorDialog.value = true;
});
</script>

<template>
  <div v-if="isCaseOpened" v-html="ts.t('Missings count: ') + missingVariablesCount"></div>
  <NoCaseSelectedComponent v-else />
</template>
