<script setup lang="ts">
import type { PropType } from 'vue';
import { NewCaseRequested } from '@/application-events/NewCaseRequested';
import { getContext, getContainer, ContainerTypes } from '@/ContainersConfig';
import type TranslationService from '@/services/TranslationService';
import { ApplicationEvents } from '@/types/ApplicationEvents';
import { Contexts } from '@/types/Contexts';
import { NamedBindings } from '@/types/NamedBindings';
import { TypesOfActionHooks } from '@/types/TypesOfHooks';
import Helpers from '@/utils/Helpers';
import type CurrentContextService from '@/services/CurrentContextService';

const props = defineProps({
  context: {
    type: String as PropType<string>,
    required: false,
    default: Contexts.DEFAULT,
  },
});

const ts = getContainer(props.context).get(NamedBindings.TranslationService) as TranslationService;
const newCaseContainer = getContainer(props.context, ContainerTypes.NEW_CASE);
const currentContextService: CurrentContextService = newCaseContainer.get(NamedBindings.CurrentContextService);

async function requestNewCase() {
  await Helpers.runHook(props.context, TypesOfActionHooks.BeforeNewCaseRequesting);
  getContext(props.context).dispatchEvent(
    ApplicationEvents.NewCaseRequested,
    new NewCaseRequested(currentContextService.containerType)
  );
}
</script>

<template>
  <button
    @click="requestNewCase"
    type="button"
    class="open-new-case-btn new-case-btn"
    v-html="ts.t('New Case')"
  ></button>
</template>
