<script setup lang="ts">
import { getContainer } from '@/ContainersConfig';
import type TranslationService from '@/services/TranslationService';
import { Contexts } from '@/types/Contexts';
import { NamedBindings } from '@/types/NamedBindings';

const ts = getContainer(Contexts.SHARED).get(NamedBindings.TranslationService) as TranslationService;
</script>

<template>
  <div class="no-case-selected-msg" v-html="ts.t('No Case Selected')" />
</template>
