<script async lang="ts" setup>
import { onErrorCaptured, type PropType, ref } from 'vue';
import { ContainerTypes, getContainer } from '@/ContainersConfig';
import CRFRenderComponent from '@/components/Internals/CRFRenderComponent.vue';
import ErrorDisplayerComponent from '@/components/Debug/ErrorDisplayerComponent.vue';
import NoCaseSelectedComponent from '@/components/NoCaseSelectedComponent.vue';
import type { CRF } from '@/entities/CRF';
import { CRFError } from '@/errors/CRFError';
import type { CurrentCaseServiceInterface } from '@/interfaces/CurrentCaseServiceInterface';
import type CurrentContextService from '@/services/CurrentContextService';
import type TranslationService from '@/services/TranslationService';
import { Contexts } from '@/types/Contexts';
import { DandelionComponents } from '@/types/DandelionComponents';
import { MagicNumbers } from '@/types/MagicNumbers';
import { NamedBindings } from '@/types/NamedBindings';
import { PathToXsl } from '@/types/PathToXsl';

const props = defineProps({
  context: {
    type: String as PropType<string>,
    required: false,
    default: Contexts.DEFAULT,
  },
  path: {
    type: String as PropType<string | undefined>,
    required: false,
    default: undefined,
  },
  startingDataclass: {
    type: String as PropType<string>,
    required: false,
    default: '',
  },
  showGroupsInTree: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: true,
  },
  showDataclassInstancesInTree: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: true,
  },
  showSetsInTree: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: true,
  },
  maxDepth: {
    type: Number as PropType<number>,
    required: false,
    default: MagicNumbers.maxDepthForCRFComponentAndTree,
  },
  prefixForID: {
    type: String as PropType<string>,
    required: false,
    default: 'tree-',
  },
  containerType: {
    type: String as PropType<ContainerTypes>,
    required: false,
    default: () => ContainerTypes.DEFAULT,
  },
});

const container = getContainer(props.context, props.containerType);
const ts = container.get(NamedBindings.TranslationService) as TranslationService;
const currentCaseService = container.get(
  props.containerType === ContainerTypes.NEW_CASE
    ? NamedBindings.CurrentCaseServiceForNewCase
    : NamedBindings.CurrentCaseService
) as CurrentCaseServiceInterface;
const currentContextService = container.get(NamedBindings.CurrentContextService) as CurrentContextService;

const showErrorDialog = ref(false);
const errorContent = ref('');
const isCaseOpened = currentCaseService.isCaseOpened;
const model = currentCaseService.getModel();
const crfVersions = currentCaseService.getCrfVersions();
const countOfCrfs = currentContextService.getCaseConfiguration().getAllCRFs().length;

onErrorCaptured((error, _vm, _info) => {
  if (error instanceof CRFError) {
    errorContent.value = error.toString();
  }
  showErrorDialog.value = true;
});

const crfWrappingFunction = async (html: Promise<string>, crf: CRF) => {
  const string = await html;
  return `
    <li @click="currentPageService.set('${crf.name}')">
      <details open>
        <summary>${crf.name}</summary>
        ${string || ''}
      </details>
    </li>`;
};
</script>

<template>
  <section :class="[DandelionComponents.TREE, 'dandelion-cmp']" v-if="isCaseOpened">
    <Suspense>
      <CRFRenderComponent
        ref="STC"
        :component-name="DandelionComponents.TREE"
        :crfs-with-versions="crfVersions"
        :model="model"
        :path="path ?? PathToXsl.SCHEMA_TO_TREE"
        :starting-dataclass="startingDataclass"
        :show-groups-in-tree="showGroupsInTree"
        :show-sets-in-tree="showSetsInTree"
        :show-dataclass-instances-in-tree="showDataclassInstancesInTree"
        :max-depth="maxDepth"
        :crf-wrapping-function="countOfCrfs > 1 ? crfWrappingFunction : undefined"
        :context="context"
        :prefix-for-i-d="prefixForID"
        :container-type="containerType"
      />
      <template #fallback>
        <!-- the SPAN (or any other HTML element) is mandatory to prevent complaining about multiple root nodes inside Suspense -->
        <span class="loading-tree-msg loading-msg" v-html="ts.t('Loading tree...')" />
      </template>
    </Suspense>
    <ErrorDisplayerComponent v-if="showErrorDialog" :context="context" :error-content="errorContent" />
  </section>
  <NoCaseSelectedComponent v-else />
</template>
