<script async lang="ts" setup>
import { onErrorCaptured, type PropType, ref } from 'vue';
import { ContainerTypes, getContainer } from '@/ContainersConfig';
import CRFRenderComponent from '@/components/Internals/CRFRenderComponent.vue';
import ErrorDisplayerComponent from '@/components/Debug/ErrorDisplayerComponent.vue';
import NoCaseSelectedComponent from '@/components/NoCaseSelectedComponent.vue';
import { CRFError } from '@/errors/CRFError';
import type { CurrentCaseServiceInterface } from '@/interfaces/CurrentCaseServiceInterface';
import type TranslationService from '@/services/TranslationService';
import { Contexts } from '@/types/Contexts';
import { DandelionComponents } from '@/types/DandelionComponents';
import { NamedBindings } from '@/types/NamedBindings';
import { PathToXsl } from '@/types/PathToXsl';

const props = defineProps({
  path: {
    type: String as PropType<string | undefined>,
    required: false,
    default: undefined,
  },
  context: {
    type: String as PropType<string>,
    required: false,
    default: Contexts.DEFAULT,
  },
  startingDataclass: {
    type: String as PropType<string>,
    required: false,
    default: '',
  },
  prefixForID: {
    type: String as PropType<string>,
    required: false,
    default: 'wList-',
  },
  containerType: {
    type: String as PropType<ContainerTypes>,
    required: false,
    default: () => ContainerTypes.DEFAULT,
  },
});

const container = getContainer(props.context, props.containerType);
const currentCaseService = container.get(NamedBindings.CurrentCaseService) as CurrentCaseServiceInterface;
const ts = container.get(NamedBindings.TranslationService) as TranslationService;

const showErrorDialog = ref(false);
const errorContent = ref('');
const model = currentCaseService.getModel();
const crfVersions = currentCaseService.getCrfVersions();
const isCaseOpened = currentCaseService.isCaseOpened;

onErrorCaptured((error, _vm, _info) => {
  if (error instanceof CRFError) {
    errorContent.value = error.toString();
  }
  showErrorDialog.value = true;
});
</script>

<template>
  <ul :class="[DandelionComponents.WARNINGS, 'dandelion-cmp']" v-if="isCaseOpened">
    <Suspense>
      <CRFRenderComponent
        ref="WLC"
        :component-name="DandelionComponents.WARNINGS"
        :crfs-with-versions="crfVersions"
        :model="model"
        :path="path ?? PathToXsl.SCHEMA_TO_WARNING_LIST"
        :starting-dataclass="startingDataclass"
        :context="context"
        :prefix-for-i-d="prefixForID"
        :container-type="containerType"
      />
      <template #fallback>
        <!-- the SPAN (or any other HTML element) is mandatory to prevent complaining about multiple root nodes inside Suspense -->
        <span class="loading-warnings-list-msg loading-msg" v-html="ts.t('Loading warnings list...')" />
      </template>
    </Suspense>
    <ErrorDisplayerComponent v-if="showErrorDialog" :context="context" :error-content="errorContent" />
  </ul>
  <NoCaseSelectedComponent v-else />
</template>
