<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'groupVariable'" init-value="({})" :disabled="!currentCaseService?.canWrite('groupVariable', '', '')" :id="getContextForID + 'groupVariable'" class="groupVariable" v-if="currentCaseService?.canRead('groupVariable','','')" v-on:mouseover.stop="onHover('groupVariable')">
				<legend class="groupDescription">
					<span v-html="translationService.t('groupVariable')">
					</span>
				</legend>
				<div>
					<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.dcInstance'" :context="context" :container-type="containerType">
					</component>
					<fieldset v-custom-model="'groupVariable.dcInstance'" v-if="currentCaseService?.canRead('groupVariable.dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'groupVariable.dcInstance'" :disabled="!currentCaseService?.canWrite('groupVariable.dcInstance', '', '')" v-on:mouseover.stop="onHover('groupVariable.dcInstance')">
						<legend class="groupDescription">
							<span v-html="translationService.t('dcInstance')">
							</span>
						</legend>
						<dataclassitemcomponent :full-name="'groupVariable.dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
							<template v-slot:default="{ thisSet, thisObject, thisIndex }">
								<section class="dc">
									<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.dcInstance.setVariable'" :context="context" :container-type="containerType">
									</component>
									<fieldset v-custom-model-for-sets="'groupVariable.dcInstance.setVariable'" init-value="[]" :disabled="!currentCaseService?.canWrite('groupVariable.dcInstance.setVariable', '', '')" :id="getContextForID + 'groupVariable.dcInstance.setVariable'" class="setVariable" v-if="currentCaseService?.canRead('groupVariable.dcInstance.setVariable','','')" v-on:mouseover.stop="onHover('groupVariable.dcInstance.setVariable')">
										<legend class="setDescription">
											<span v-html="translationService.t('setVariable')">
											</span>
										</legend>
										<setcomponent :full-name="'groupVariable.dcInstance.setVariable'" :this-object="thisObject" :this-index="null" :model="model">
											<template v-slot:default="{ thisSet, thisObject, thisIndex }">
												<ul>
													<li v-for="(childElement, index0) in thisSet" :key="childElement.guid" :id="getContextForID + 'groupVariable.dcInstance.setVariable[' + index0 + ']'">
														<setitemcomponent :full-name="'groupVariable.dcInstance.setVariable[' + index0 + ']'" :this-set="thisSet" :this-index="index0" :model="model" :key="index0">
															<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																<dataclassitemcomponent :full-name="'groupVariable.dcInstance.setVariable[' + index0 + ']'" :this-index="index0" :model="model" :this-set="thisSet">
																	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
																		<section class="itemsDC">
																			<div v-if="currentCaseService?.canRead('groupVariable.dcInstance.setVariable[' + index0 + '].textVariable','','')" :id="getContextForID + 'groupVariable.dcInstance.setVariable[' + index0 + '].textVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.dcInstance.setVariable[' + index0 + '].textVariable')">
																				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.dcInstance.setVariable[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
																				</component>
																				<label class="variableLabel" :for="getContextForID + 'groupVariable.dcInstance.setVariable[' + index0 + '].textVariable'">
																					<span v-html="translationService.t('textVariable')">
																					</span>
																				</label>
																				<input type="text" v-custom-model="'groupVariable.dcInstance.setVariable[' + index0 + '].textVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.dcInstance.setVariable[' + index0 + '].textVariable', '', '')" :id="getContextForID + 'groupVariable.dcInstance.setVariable[' + index0 + '].textVariable'">
																				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.dcInstance.setVariable[' + index0 + '].textVariable'" :context="context" :container-type="containerType">
																				</component>
																			</div>
																			<div v-if="currentCaseService?.canRead('groupVariable.dcInstance.setVariable[' + index0 + '].copyTextVariable','','')" :id="getContextForID + 'groupVariable.dcInstance.setVariable[' + index0 + '].copyTextVariable-wrapper'" v-on:mouseover.stop="onHover('groupVariable.dcInstance.setVariable[' + index0 + '].copyTextVariable')">
																				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'groupVariable.dcInstance.setVariable[' + index0 + '].copyTextVariable'" :context="context" :container-type="containerType">
																				</component>
																				<label class="variableLabel" :for="getContextForID + 'groupVariable.dcInstance.setVariable[' + index0 + '].copyTextVariable'">
																					<span v-html="translationService.t('copyTextVariable')">
																					</span>
																				</label>
																				<input type="text" v-short-circuit="thisSet[0].textVariable" v-custom-model="'groupVariable.dcInstance.setVariable[' + index0 + '].copyTextVariable'" :disabled="!currentCaseService?.canWrite('groupVariable.dcInstance.setVariable[' + index0 + '].copyTextVariable', '', '') || (thisSet[0].textVariable) !== null" :id="getContextForID + 'groupVariable.dcInstance.setVariable[' + index0 + '].copyTextVariable'">
																				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.dcInstance.setVariable[' + index0 + '].copyTextVariable'" :context="context" :container-type="containerType">
																				</component>
																			</div>
																		</section>
																	</template>
																</dataclassitemcomponent>
																<button type="button" class="remove-item" v-on:click.stop="removeElementFromSet(thisSet, index0)" :disabled="!currentCaseService?.canWrite('groupVariable.dcInstance.setVariable[' + index0 + ']', '', '')">
																	<span v-html="translationService.t('Remove this setVariable')">
																	</span>
																</button>
															</template>
														</setitemcomponent>
													</li>
												</ul>
												<button type="button" class="add-item" v-on:click.stop="addElementToSet(thisSet)">
													<span v-html="translationService.t('Add itemsDC')">
													</span>
												</button>
												<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.dcInstance.setVariable'" :context="context" :container-type="containerType">
												</component>
											</template>
										</setcomponent>
									</fieldset>
								</section>
							</template>
						</dataclassitemcomponent>
						<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable.dcInstance'" :context="context" :container-type="containerType">
						</component>
					</fieldset>
				</div>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'groupVariable'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>