<script setup lang="ts">
import { type PropType, reactive, ref, toRef, nextTick, watch } from 'vue';
import { getContainer } from '@/ContainersConfig';
import ExportButton from '@/components/Export/ExportButton.vue';
import type CustomButtonSetting from '@/entities/exportStrategy/CustomButtonSetting';
import type { ExportButtonParameters } from '@/entities/exportStrategy/ExportButtonParameters';
import type { OptionsForExportInterface } from '@/interfaces/OptionsForExportInterface';
import type TranslationService from '@/services/TranslationService';
import { Contexts } from '@/types/Contexts';
import { NamedBindings } from '@/types/NamedBindings';
import type { CustomExportStorage } from '../../../test/mock-repositories/CustomExportStorage';
import { ExportableVariable } from '@/entities/exportable/ExportableVariable';

const props = defineProps({
  context: {
    type: String as PropType<string>,
    required: false,
    default: Contexts.DEFAULT,
  },
  variablesToBeExported: {
    type: Array as PropType<Array<ExportableVariable>>,
    required: false,
    default: () => new Array<ExportableVariable>(),
  },
  variablesToExclude: {
    type: Array as PropType<Array<string>>,
    required: false,
    default: () => new Array<string>(),
  },
  crfsToBeExported: {
    type: Array as PropType<Array<string>>,
    required: false,
    default: () => new Array<string>(),
  },
  crfsToExclude: {
    type: Array as PropType<Array<string>>,
    required: false,
    default: () => new Array<string>(),
  },
});

const exportOptionNames = {
  Default: 'Default',
  LabelForValues: 'Export labels for Values',
  LabelForVariableNames: 'Export label for variable names',
  Separator: 'Separator',
  ColumnForSingleChoice: 'Separate column for singleChoice values',
  ColumnForMultipleChoice: 'Separate column for multipleChoice values',
  ColumnForGroup: 'Separate column for groups variables',
  RemoveEmptyRows: 'Remove empty rows',
  RemoveEmptyColumns: 'Remove empty columns',
  RemoveCsvFilesWithoutRows: 'Remove Csv files that have 0 rows',
  RemoveCsvFilesWithoutColumns: 'Remove Csv files that have 0 columns',
  ExportOnlyFilteredCases: 'Export only filtered cases',
};

const container = getContainer(props.context);
const ts = container.get(NamedBindings.TranslationService) as TranslationService;
const customExportStorage = container.get(NamedBindings.CustomExportStorage) as CustomExportStorage;

const showExportPanel = ref(false);
const showCustomPanel = ref(false);
const showIconsPanel = ref(false);
const showCustomNameError = ref(false);
const showIconPanelError = ref(false);
const isEditing = ref(false);
const customButtonName = ref('');
const selectedIcon = ref('apps-outline');
let editingButtonsWidth = '';
const exportDialogRef = ref<HTMLDialogElement | null>(null);
const customExportDialogRef = ref<HTMLDialogElement | null>(null);

watch([showExportPanel, showCustomPanel], () => {
  if (exportDialogRef.value) {
    showExportPanel.value ? exportDialogRef.value.showModal() : exportDialogRef.value.close();
  }
  if (customExportDialogRef.value) {
    showCustomPanel.value ? customExportDialogRef.value.showModal() : customExportDialogRef.value.close();
  }
});

let exportOptions: OptionsForExportInterface = reactive({
  exportLabelForValues: false,
  exportLabelForVariableNames: false,
  csvSeparator: ';',
  splitColumnForSingleChoiceValues: false,
  splitColumnForMultipleChoiceValues: false,
  splitColumnForGroups: true,
  removeEmptyRows: false,
  removeEmptyColumns: false,
  removeCsvFilesWithoutRows: false,
  removeCsvFilesWithoutColumns: false,
  exportOnlyFilteredCases: false,
});

const standardExportButtons: Array<ExportButtonParameters> = [
  {
    id: 'default-standard-btn',
    description: exportOptionNames.Default,
    icon: 'download-outline',
    options: exportOptions,
  },
  {
    id: 'labels-for-values-standard-btn',
    description: exportOptionNames.LabelForValues,
    icon: 'download-outline',
    options: {
      exportLabelForValues: true,
      exportLabelForVariableNames: false,
      csvSeparator: ';',
      splitColumnForSingleChoiceValues: false,
      splitColumnForMultipleChoiceValues: false,
      splitColumnForGroups: true,
      removeEmptyRows: false,
      removeEmptyColumns: false,
      removeCsvFilesWithoutRows: false,
      removeCsvFilesWithoutColumns: false,
      exportOnlyFilteredCases: false,
    },
  },
  {
    id: 'labels-for-variables-standard-btn',
    description: exportOptionNames.LabelForVariableNames,
    icon: 'download-outline',
    options: {
      exportLabelForValues: false,
      exportLabelForVariableNames: true,
      csvSeparator: ';',
      splitColumnForSingleChoiceValues: false,
      splitColumnForMultipleChoiceValues: false,
      splitColumnForGroups: true,
      removeEmptyRows: false,
      removeEmptyColumns: false,
      removeCsvFilesWithoutRows: false,
      removeCsvFilesWithoutColumns: false,
      exportOnlyFilteredCases: false,
    },
  },
  {
    id: 'columns-for-singlechoices-standard-btn',
    description: exportOptionNames.ColumnForSingleChoice,
    icon: 'checkbox-outline',
    options: {
      exportLabelForValues: false,
      exportLabelForVariableNames: false,
      csvSeparator: ';',
      splitColumnForSingleChoiceValues: true,
      splitColumnForMultipleChoiceValues: false,
      splitColumnForGroups: true,
      removeEmptyRows: false,
      removeEmptyColumns: false,
      removeCsvFilesWithoutRows: false,
      removeCsvFilesWithoutColumns: false,
      exportOnlyFilteredCases: false,
    },
  },
  {
    id: 'columns-for-multiplechoices-standard-btn',
    description: exportOptionNames.ColumnForMultipleChoice,
    icon: 'checkbox-outline',
    options: {
      exportLabelForValues: false,
      exportLabelForVariableNames: false,
      csvSeparator: ';',
      splitColumnForSingleChoiceValues: false,
      splitColumnForMultipleChoiceValues: true,
      splitColumnForGroups: true,
      removeEmptyRows: false,
      removeEmptyColumns: false,
      removeCsvFilesWithoutRows: false,
      removeCsvFilesWithoutColumns: false,
      exportOnlyFilteredCases: false,
    },
  },
  {
    id: 'single-column-for-groups-standard-btn',
    description: `Not ${exportOptionNames.ColumnForGroup}`,
    icon: 'checkbox-outline',
    options: {
      exportLabelForValues: false,
      exportLabelForVariableNames: false,
      csvSeparator: ';',
      splitColumnForSingleChoiceValues: false,
      splitColumnForMultipleChoiceValues: false,
      splitColumnForGroups: false,
      removeEmptyRows: false,
      removeEmptyColumns: false,
      removeCsvFilesWithoutRows: false,
      removeCsvFilesWithoutColumns: false,
      exportOnlyFilteredCases: false,
    },
  },
];

const settingsForCustomButtons: Array<CustomButtonSetting> = reactive([
  {
    description: exportOptionNames.LabelForValues,
    option: toRef(exportOptions, 'exportLabelForValues'),
  },
  {
    description: exportOptionNames.LabelForVariableNames,
    option: toRef(exportOptions, 'exportLabelForVariableNames'),
  },
  {
    description: exportOptionNames.ColumnForSingleChoice,
    option: toRef(exportOptions, 'splitColumnForSingleChoiceValues'),
  },
  {
    description: exportOptionNames.ColumnForMultipleChoice,
    option: toRef(exportOptions, 'splitColumnForMultipleChoiceValues'),
  },
  {
    description: exportOptionNames.ColumnForGroup,
    option: toRef(exportOptions, 'splitColumnForGroups'),
  },
  {
    description: exportOptionNames.RemoveEmptyRows,
    option: toRef(exportOptions, 'removeEmptyRows'),
  },
  {
    description: exportOptionNames.RemoveEmptyColumns,
    option: toRef(exportOptions, 'removeEmptyColumns'),
  },
  {
    description: exportOptionNames.RemoveCsvFilesWithoutRows,
    option: toRef(exportOptions, 'removeCsvFilesWithoutRows'),
  },
  {
    description: exportOptionNames.RemoveCsvFilesWithoutColumns,
    option: toRef(exportOptions, 'removeCsvFilesWithoutColumns'),
  },
  {
    description: exportOptionNames.ExportOnlyFilteredCases,
    option: toRef(exportOptions, 'exportOnlyFilteredCases'),
  },
]);

let customExportButtons = reactive(await customExportStorage.getCustomButtons());
const iconsForSelection: Array<string> = [
  'download-outline',
  'cog-outline',
  'create-outline',
  'enter-outline',
  'checkbox-outline',
  'list-outline',
];

async function openExportsPanel() {
  showExportPanel.value = true;
  await nextTick();

  if (customExportButtons.length == 0) {
    return;
  }

  const editButtonsWrapper = document.querySelector('.export-dialog-footer-edit-buttons') as HTMLElement;
  const editButton = document.querySelector('.edit-exports-button') as HTMLElement;
  const editingButton = document.querySelector('.editing-exports-button') as HTMLElement;
  const editButtonWidth = editButton.getBoundingClientRect().width ?? 0;
  const editingButtonWidth = editingButton.getBoundingClientRect().width;

  editingButtonsWidth = `${String(Math.max(editButtonWidth, editingButtonWidth))}px`;

  editButtonsWrapper.style.width = editingButtonsWidth;
  editButton.style.width = editingButtonsWidth;
  editingButton.style.width = editingButtonsWidth;
  editingButton.style.right = `-${editingButtonsWidth}`;
}

function openCustomSettings() {
  showExportPanel.value = false;
  showCustomPanel.value = true;
  isEditing.value = false;
  selectedIcon.value = 'apps-outline';
}

function openIconsPanel() {
  showIconsPanel.value = true;
  showIconPanelError.value = false;
}

function backToExportsPanel() {
  openExportsPanel();
  showCustomPanel.value = false;
  showIconsPanel.value = false;
  showCustomNameError.value = false;
  showIconPanelError.value = false;
}

async function saveCustomButton() {
  showIconsPanel.value = false;

  if (customButtonName.value.length < 4) {
    showCustomNameError.value = true;
    return;
  }
  if (selectedIcon.value === 'apps-outline') {
    showIconPanelError.value = true;
    return;
  }
  if (selectedIcon.value === 'ban-outline') {
    selectedIcon.value = '';
  }

  const customButtonId = `${customButtonName.value}-custom-button`;
  const customButton: ExportButtonParameters = {
    id: customButtonId,
    description: customButtonName.value,
    icon: selectedIcon.value,
    options: exportOptions,
  };
  await customExportStorage.saveCustomButton(customButton);
  customExportButtons = reactive(await customExportStorage.getCustomButtons());
  customButtonName.value = '';
  exportOptions = {
    exportLabelForValues: false,
    exportLabelForVariableNames: false,
    csvSeparator: ';',
    splitColumnForSingleChoiceValues: false,
    splitColumnForMultipleChoiceValues: false,
    splitColumnForGroups: true,
    removeEmptyRows: false,
    removeEmptyColumns: false,
    removeCsvFilesWithoutRows: false,
    removeCsvFilesWithoutColumns: false,
  };
  backToExportsPanel();
}

function editExportButtons() {
  isEditing.value = !isEditing.value;
  const editButton = document.querySelector('.edit-exports-button') as HTMLElement;
  const editingButton = document.querySelector('.editing-exports-button') as HTMLElement;
  const customButtonsWrapper = document.querySelector('.export-custom-buttons') as HTMLElement;
  const customButtons = customButtonsWrapper?.querySelectorAll('.export-dialog-btn') as NodeListOf<HTMLElement>;

  if (isEditing.value) {
    editButton.style.right = editingButtonsWidth;
    editingButton.style.right = '0px';
  } else {
    editButton.style.right = '0px';
    editingButton.style.right = `-${editingButtonsWidth}`;
  }

  customButtons.forEach((button) => {
    const buttonWidth = button.getBoundingClientRect().width;
    const buttonContent = button.querySelector('.export-custom-button-content') as HTMLDivElement;
    const deleteIcon = button.querySelector('ion-icon[name="close-outline"]') as HTMLDivElement;
    button.style.width = `${buttonWidth}px`;

    setTimeout(() => {
      if (isEditing.value) {
        deleteIcon.style.display = 'block';
        buttonContent.style.position = 'absolute';
      } else {
        setTimeout(() => {
          buttonContent.style.position = '';
          deleteIcon.style.display = 'none';
        }, 500);
      }
      buttonContent.style.gap = isEditing.value ? '4px' : '8px';
      buttonContent.style.left = isEditing.value ? '2px' : '16px';
      setTimeout(() => {
        deleteIcon.style.opacity = isEditing.value ? '1' : '0';
        deleteIcon.style.right = isEditing.value ? '6px' : '16px';
      }, 50);
    }, 50);
  });
}

function closeExportPanel() {
  showExportPanel.value = false;
  isEditing.value = false;
}

function closeCustomPanel() {
  showCustomPanel.value = false;
  showIconsPanel.value = false;
  showCustomNameError.value = false;
  showIconPanelError.value = false;
}

function setIcon(iconName: string) {
  selectedIcon.value = iconName;
  showIconsPanel.value = false;
}

async function deleteCustomButton(index: number) {
  const customButtonsWrapper = document.querySelector('.export-custom-buttons') as HTMLElement;
  const customButtons = customButtonsWrapper?.querySelectorAll('.export-dialog-btn') as NodeListOf<HTMLElement>;
  const widthArray: Array<number> = [];
  customButtons.forEach((button) => {
    const buttonWidth = button.getBoundingClientRect().width;
    widthArray.push(buttonWidth);
  });
  await customExportStorage.deleteCutomButton(index);
  customExportButtons = reactive(await customExportStorage.getCustomButtons());
  widthArray.splice(index, 1);
  const updatedCustomButtons = customButtonsWrapper?.querySelectorAll('.export-dialog-btn') as NodeListOf<HTMLElement>;
  updatedCustomButtons.forEach((button, buttonIndex) => {
    button.style.width = `${widthArray[buttonIndex]}px`;
  });
  showExportPanel.value = false;
  showExportPanel.value = true;
}
</script>

<template>
  <dialog ref="exportDialogRef" class="export-dialog dialog">
    <section class="export-dialog-header">
      <h2 v-html="ts.t('Exports')" />
      <ion-icon name="close-outline" @click="closeExportPanel" />
    </section>
    <section class="export-dialog-content">
      <div class="export-standard-buttons-wrapper">
        <h4 v-html="ts.t('Standard Buttons')" />
        <div class="export-standard-buttons">
          <div v-for="exportButton in standardExportButtons" :key="exportButton.id" class="export-button-group">
            <ExportButton
              :context="context"
              :id="exportButton.id"
              :options="exportButton.options"
              :icon="exportButton.icon"
              :description="exportButton.description"
              :variables-to-be-exported="variablesToBeExported"
              :variables-to-exclude="variablesToExclude"
              :crfs-to-be-exported="crfsToBeExported"
              :crfs-to-exclude="crfsToExclude"
            />
          </div>
        </div>
      </div>
      <div class="export-custom-buttons-wrapper">
        <h4 v-html="ts.t('Custom Buttons')" v-if="customExportButtons.length > 0" />
        <div class="export-custom-buttons">
          <div v-for="(button, index) in customExportButtons" :key="button.id" class="export-button-group">
            <ExportButton
              :context="context"
              :id="button.id"
              :description="button.description"
              :icon="button.icon"
              :options="button.options"
              :variables-to-be-exported="variablesToBeExported"
              :variables-to-exclude="variablesToExclude"
              :crfs-to-be-exported="crfsToBeExported"
              :crfs-to-exclude="crfsToExclude"
              @deleteCustomButton="deleteCustomButton(index)"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="export-dialog-footer">
      <div class="export-dialog-footer-edit-buttons" v-if="customExportButtons.length > 0">
        <button class="editing-exports-button secondary icon-sx" @click="editExportButtons">
          <ion-icon name="pencil-outline" />
          <label v-html="ts.t('Editing')" />
        </button>
        <button class="edit-exports-button primary icon-sx" @click="editExportButtons">
          <ion-icon name="create-outline" />
          <label v-html="ts.t('Edit')" />
        </button>
      </div>
      <button class="open-custom-dialog-button primary icon-dx" @click="openCustomSettings">
        <label v-html="ts.t('New Button')" />
        <ion-icon name="chevron-forward-outline" />
      </button>
    </section>
  </dialog>

  <dialog ref="customExportDialogRef" class="custom-export-dialog dialog">
    <section class="custom-export-dialog-header">
      <ion-icon name="chevron-back-outline" @click="backToExportsPanel" />
      <h2 v-html="ts.t('Custom Button')" />
      <ion-icon name="close-outline" @click="closeCustomPanel" />
    </section>
    <section class="custom-export-dialog-content">
      <div v-for="setting in settingsForCustomButtons" class="custom-export-button-group">
        <div class="custom-export-dialog-toggle-button">
          <label class="switch">
            <input type="checkbox" v-model="setting.option" />
            <span class="slider round" />
          </label>
          <label v-html="ts.t(setting.description)" />
        </div>
      </div>
      <div class="custom-export-radio-group custom-export-button-group">
        <label v-html="ts.t(exportOptionNames.Separator) + ':'" />
        <div class="radio-section">
          <input
            type="radio"
            :name="ts.t(exportOptionNames.Separator)"
            value=","
            v-model="exportOptions.csvSeparator"
          />
          <label v-html="ts.t('comma')" />
        </div>
        <div class="radio-section">
          <input
            type="radio"
            :name="ts.t(exportOptionNames.Separator)"
            value=";"
            v-model="exportOptions.csvSeparator"
          />
          <label v-html="ts.t('semicolon')" />
        </div>
      </div>
    </section>
    <section class="custom-export-dialog-footer">
      <div class="custom-button-name-wrapper">
        <input
          class="custom-button-name"
          type="text"
          v-model="customButtonName"
          @click="showCustomNameError = false"
          :placeholder="ts.t('Button Name')"
          minlength="4"
          maxlength="20"
        />
        <div
          class="error-for-custom-button-name custom-export-dialog-footer-error"
          v-if="showCustomNameError"
          v-html="ts.t('Button name must be at least 4 characters')"
        />
      </div>
      <div class="icon-panel-wrapper">
        <button class="icon-selector-button secondary icon-button" @click="openIconsPanel">
          <ion-icon :name="selectedIcon" />
        </button>
        <div class="icons-panel" v-if="showIconsPanel">
          <section class="icons-panel-header">
            <h4 v-html="ts.t('Choose an icon')" />
          </section>
          <section class="icons-panel-content">
            <button v-for="icon in iconsForSelection" @click="setIcon(icon)" class="secondary icon-button">
              <ion-icon :name="icon" />
            </button>
          </section>
          <section class="icons-panel-footer">
            <button @click="setIcon('ban-outline')" class="secondary icon-button">
              <ion-icon name="ban-outline" />
            </button>
            <p v-html="ts.t('No icon')" />
          </section>
        </div>
        <div
          class="error-for-icons-panel custom-export-dialog-footer-error"
          v-if="showIconPanelError"
          v-html="ts.t('Select an icon')"
        />
      </div>
      <button class="custom-export-save-button primary" @click="saveCustomButton" v-html="ts.t('Add')" />
      <button class="custom-export-cancel-button secondary" @click="backToExportsPanel" v-html="ts.t('Cancel')" />
    </section>
  </dialog>

  <button class="primary export-dialog-btn icon-dx" @click="openExportsPanel">
    <label v-html="ts.t('Export')" />
    <ion-icon name="chevron-forward-outline" />
  </button>
</template>

<style>
dialog.export-dialog,
dialog.custom-export-dialog {
  top: 4vh;
}

dialog.export-dialog h2,
dialog.custom-export-dialog h2 {
  margin: 0;
}

dialog.export-dialog h4,
dialog.custom-export-dialog h4 {
  margin: 0;
}

dialog .export-dialog-header,
dialog .custom-export-dialog-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  height: 2rem;
  font-size: 2rem;
}

dialog .export-dialog-header {
  justify-content: center;
}

dialog .custom-export-dialog-header {
  justify-content: space-between;
}

dialog .export-dialog-header ion-icon,
dialog .custom-export-dialog-header ion-icon {
  color: #411c62;
}

dialog .export-dialog-header ion-icon {
  position: absolute;
  right: 2rem;
}

dialog .export-dialog-header ion-icon:hover,
dialog .custom-export-dialog-header ion-icon[name='close-outline']:hover {
  background: var(--error-200, #ff5065);
  color: white;
}

dialog .custom-export-dialog-header ion-icon[name='chevron-back-outline']:hover {
  background: var(--theme-600, #963791);
  color: white;
}

dialog .export-dialog-content {
  display: flex;
}

dialog .export-standard-buttons-wrapper,
dialog .export-custom-buttons-wrapper {
  display: flex;
  flex-direction: column;
}

dialog .export-standard-buttons,
dialog .export-custom-buttons,
dialog .custom-export-dialog-content {
  display: grid;
  grid-template-columns: repeat(auto, max-content);
  padding: 0;
}

dialog .export-dialog-content,
dialog .custom-export-dialog-content {
  max-height: 65vh;
  overflow: auto;
}

dialog .icons-panel-content {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  padding: 0;
}

dialog .export-button-group,
dialog .custom-export-button-group {
  display: flex;
  align-items: center;
  margin: 1rem;
  height: 48px;
  padding: 0;
}

dialog .export-dialog-btn,
dialog .export-custom-btn {
  position: relative;
}

dialog .icon-sx,
dialog .icon-dx,
dialog .icon-double,
dialog .icon-button {
  width: max-content;
}

dialog .icon-button {
  min-width: 0;
  padding: 18px var(--Spacer-03, 12px);
}

dialog .icon-sx ion-icon,
dialog .icon-dx ion-icon,
dialog .icon-double ion-icon,
dialog .icon-button ion-icon {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 5px 2px;
  justify-content: center;
  align-items: center;
}

dialog .export-dialog-btn ion-icon[name='close-outline'] {
  position: absolute;
  display: none;
  top: 12px;
  width: 20px;
  height: 20px;
  right: var(--Spacer-04, 16px);
  padding: 0;
  opacity: 0;
  transition: left 0.5s ease, opacity 0.5s ease, right 0.5s ease;
  background: var(--error-200, #ff5065);
}

dialog .export-dialog-btn ion-icon[name='close-outline']:hover {
  background: var(--error-400, #9d002f);
}

dialog .export-custom-button-content {
  display: flex;
  align-items: center;
  left: 16px;
  padding: 0;
  gap: var(--Spacer-02, 8px);
  transition: left 0.5s ease, opacity 0.5s ease, right 0.5s ease;
}

dialog .export-dialog-footer,
dialog .custom-export-dialog-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem 1rem 0 1rem;
}

dialog .custom-button-name-wrapper {
  padding: 0;
}

dialog .custom-button-name {
  min-width: 232px;
}

dialog .export-dialog-footer button,
dialog .custom-export-dialog-footer button {
  margin-left: var(--Spacer-02, 8px);
}

.export-dialog-footer-edit-buttons {
  position: relative;
  display: flex;
  align-items: center;
  height: 48px;
  overflow: hidden;
  padding: 0 !important;
}

.export-dialog-footer-edit-buttons .edit-exports-button {
  position: absolute;
  right: 0px;
  transition: left 1s ease-out, right 1s ease-out;
}

.export-dialog-footer-edit-buttons .edit-exports-button:focus {
  box-shadow: none;
}

.export-dialog-footer-edit-buttons .editing-exports-button {
  position: absolute;
  transition: left 1s ease-out, right 1s ease-out;
}

dialog .custom-export-dialog-toggle-button {
  display: flex;
  align-items: center;
  gap: var(--Spacer-03, 12px);
  padding: 0;
  color: var(--neutrals-700, #383e5d);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

dialog .custom-export-dialog-toggle-button .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

dialog .custom-export-dialog-toggle-button .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

dialog .custom-export-dialog-toggle-button .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

dialog .custom-export-dialog-toggle-button .slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

dialog .custom-export-dialog-toggle-button input:checked + .slider {
  background-color: #411c62;
}

dialog .custom-export-dialog-toggle-button input:focus + .slider {
  box-shadow: 0 0 1px #411c62;
}

dialog .custom-export-dialog-toggle-button input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

dialog .custom-export-dialog-toggle-button .slider.round {
  border-radius: 34px;
}

dialog .custom-export-dialog-toggle-button .slider.round:before {
  border-radius: 50%;
}

dialog .radio-section {
  margin-left: var(--Spacer-02, 8px);
  padding: 0;
}

dialog .icon-panel-wrapper {
  position: relative;
  padding: 0;
}

dialog .icons-panel,
dialog .custom-export-dialog-footer-error {
  position: fixed;
  padding: 1rem;
  box-shadow: 0 0.125rem 1.25rem 0 rgb(0 0 0 / 10%);
}

dialog .icons-panel {
  background-color: white;
  transform: translate(-5.5rem, -21rem);
  border: 1px solid var(--neutrals-500, #8686a1);
}

dialog .custom-export-dialog-footer-error {
  width: 130px;
  text-align: center;
  color: white;
  background: var(--error-200, #ff5065);
}

dialog .error-for-custom-button-name {
  transform: translate(3rem, 10px);
}

dialog .error-for-icons-panel {
  transform: translate(-2.75rem, 10px);
}

dialog .icons-panel::before,
dialog .custom-export-dialog-footer-error::before {
  position: absolute;
  z-index: -1;
  content: '';
  right: calc(50% - 10px);
  bottom: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: white transparent transparent transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}

dialog .icons-panel::before {
  border-color: white transparent transparent transparent;
}

dialog .custom-export-dialog-footer-error::before {
  border-color: transparent transparent var(--error-200, #ff5065) transparent;
}

dialog .icons-panel::after {
  position: absolute;
  z-index: -2;
  content: '';
  right: calc(50% - 10px);
  bottom: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: var(--neutrals-500, #8686a1) transparent transparent transparent;
}

dialog .icons-panel-header h4 {
  text-align: center;
}

dialog .icons-panel-content {
  margin-top: var(--Spacer-02, 8px);
}

dialog .icons-panel-content .icon-button,
dialog .icons-panel-footer .icon-button {
  margin: var(--Spacer-02, 8px);
}

dialog .icons-panel-footer {
  display: flex;
  align-items: center;
}

dialog .icons-panel-footer p {
  margin: 0;
}
</style>
