<script setup lang="ts">
import type { PropType } from 'vue';
import { getContainer } from '@/ContainersConfig';
import type { OptionsForExportInterface } from '@/interfaces/OptionsForExportInterface';
import type { CaseDataExporterService, ExportConfiguration } from '@/services/CaseDataExporterService';
import type TranslationService from '@/services/TranslationService';
import { Contexts } from '@/types/Contexts';
import { NamedBindings } from '@/types/NamedBindings';
import { TypesOfActionHooks } from '@/types/TypesOfHooks';
import Helpers from '@/utils/Helpers';
import { ExportableVariable } from '@/entities/exportable/ExportableVariable';

const props = defineProps({
  context: {
    type: String as PropType<string>,
    required: false,
    default: Contexts.SHARED,
  },
  id: {
    type: String as PropType<string>,
    required: true,
  },
  description: {
    type: String as PropType<string>,
    required: true,
  },
  icon: {
    type: String as PropType<string>,
    required: true,
  },
  options: {
    type: Object as PropType<OptionsForExportInterface>,
    required: true,
  },
  variablesToBeExported: {
    type: Array as PropType<Array<ExportableVariable>>,
    required: false,
    default: () => new Array<ExportableVariable>(),
  },
  variablesToExclude: {
    type: Array as PropType<Array<string>>,
    required: false,
    default: () => new Array<string>(),
  },
  crfsToBeExported: {
    type: Array as PropType<Array<string>>,
    required: false,
    default: () => new Array<string>(),
  },
  crfsToExclude: {
    type: Array as PropType<Array<string>>,
    required: false,
    default: () => new Array<string>(),
  },
});

const container = getContainer(props.context);
const translationService = container.get(NamedBindings.TranslationService) as TranslationService;
const caseDataExporterService = container.get(NamedBindings.CaseDataExporterService) as CaseDataExporterService;

const emit = defineEmits<{
  (e: 'deleteCustomButton'): void;
}>();

async function callToCSV(exportOptions: OptionsForExportInterface) {
  await Helpers.runHook(props.context, TypesOfActionHooks.BeforeExporting);
  const exportConfig: ExportConfiguration = {
    variableList: props.variablesToBeExported,
    excludedVariables: props.variablesToExclude,
    crfList: props.crfsToBeExported,
    excludedCrfs: props.crfsToExclude,
    options: exportOptions,
  };
  const csvArray = await caseDataExporterService.toCSV(exportConfig);
  const promises: Array<Promise<void>> = csvArray.map(
    (csv, index) =>
      new Promise((resolve) => {
        setTimeout(() => {
          exportData(csv.returnArray, csv.info.name);
          resolve();
        }, index * 100);
      })
  );
  await Promise.all(promises);
}

function exportData(csvString: string, name: string) {
  const blob = new Blob([csvString], { type: 'text/csv;charset=utf-8;' });
  const url = URL.createObjectURL(blob);

  const downloadLink = document.createElement('a');
  downloadLink.href = url;
  downloadLink.download = `${name}_EXPORT.csv`;

  document.body.appendChild(downloadLink);
  downloadLink.click();
  document.body.removeChild(downloadLink);
  URL.revokeObjectURL(url);
}
</script>

<template>
  <button :id="id" type="button" class="export-dialog-btn icon-sx primary" @click="callToCSV(options!)">
    <div class="export-custom-button-content">
      <ion-icon :name="icon" />
      <label v-html="translationService.t(description!)" />
    </div>
    <ion-icon class="hydrated" @click="$emit('deleteCustomButton')" name="close-outline" />
  </button>
</template>
