<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'dcInstance'" v-if="currentCaseService?.canRead('dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'dcInstance'" :disabled="!currentCaseService?.canWrite('dcInstance', '', '')" v-on:mouseover.stop="onHover('dcInstance')">
				<legend class="groupDescription">
					<span v-html="translationService.t('dcInstance')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<section class="dc">
							<div v-if="currentCaseService?.canRead('dcInstance.textVariable','','')" :id="getContextForID + 'dcInstance.textVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.textVariable')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.textVariable'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'dcInstance.textVariable'">
									<span v-html="translationService.t('textVariable')">
									</span>
								</label>
								<input type="text" v-custom-model="'dcInstance.textVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.textVariable', '', '')" :id="getContextForID + 'dcInstance.textVariable'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.textVariable'" :context="context" :container-type="containerType">
								</component>
							</div>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>