<script setup lang="ts">
// ################# this component is used by fastCompilation.test.ts because require the suspense tag ###############
import FastCompilationComponent from '../../src/components/FastCompilationComponent.vue';
</script>

<template>
  <Suspense>
    <template #default>
      <FastCompilationComponent case-type="FastCompilation"></FastCompilationComponent>
    </template>
    <template #fallback> loading </template>
  </Suspense>
</template>
