<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('colorVariable','','') && (false)" v-reset-when-hidden="'colorVariable'" :id="getContextForID + 'colorVariable-wrapper'" v-on:mouseover.stop="onHover('colorVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'colorVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'colorVariable'">
					<span v-html="translationService.t('colorVariable')">
					</span>
				</label>
				<input type="color" v-custom-model="'colorVariable'" :disabled="!currentCaseService?.canWrite('colorVariable', '', '')" :id="getContextForID + 'colorVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'colorVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>