<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section class="VistaTrauma">
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'CasoClinico'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'CasoClinico'" v-if="currentCaseService?.canRead('CasoClinico','','')" init-value="({})" class="CasoClinico" :id="getContextForID + 'CasoClinico'" :disabled="!currentCaseService?.canWrite('CasoClinico', '', '')" v-on:mouseover.stop="onHover('CasoClinico')">
				<legend class="groupDescription">
					<span v-html="translationService.t('Caso Clinico')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'CasoClinico'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<section class="CasoClinico">
							<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'CasoClinico.CasoClinico'" :context="context" :container-type="containerType">
							</component>
							<fieldset v-custom-model="'CasoClinico.CasoClinico'" init-value="({})" :disabled="!currentCaseService?.canWrite('CasoClinico.CasoClinico', '', '')" :id="getContextForID + 'CasoClinico.CasoClinico'" class="CasoClinico" v-if="currentCaseService?.canRead('CasoClinico.CasoClinico','','')" v-on:mouseover.stop="onHover('CasoClinico.CasoClinico')">
								<legend class="groupDescription">
									<span v-html="translationService.t('Caso Clinico')">
									</span>
								</legend>
								<div>
									<div class="radiolist-wrapper" v-if="currentCaseService?.canRead('CasoClinico.CasoClinico.riscontro','','')" :id="getContextForID + 'CasoClinico.CasoClinico.riscontro-wrapper'" v-on:mouseover.stop="onHover('CasoClinico.CasoClinico.riscontro')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'CasoClinico.CasoClinico.riscontro'" :context="context" :container-type="containerType">
										</component>
										<span class="radioDescription">
											<span :tooltip="translationService.t('indicare se appropriato/non appropriato/non riscontrato')">
                ?
            </span>
											<span v-html="translationService.t('Riscontro')">
											</span>
										</span>
										<ul class="radiolist" v-custom-model-for-singlechoice="'CasoClinico.CasoClinico.riscontro'" v-short-circuit="'Appropriatezza.appropriato'" :id="getContextForID + 'CasoClinico.CasoClinico.riscontro'">
											<li :id="getContextForID + 'CasoClinico.CasoClinico.riscontro-Appropriatezza.nonAppropriato-wrapper'" v-if="currentCaseService?.canRead('CasoClinico.CasoClinico.riscontro-Appropriatezza.nonAppropriato','','')" v-on:mouseover.stop="onHover('CasoClinico.CasoClinico.riscontro-Appropriatezza.nonAppropriato')">
												<input type="radio" value="Appropriatezza.nonAppropriato" :name="getContextForID + 'CasoClinico.CasoClinico.riscontro'" :disabled="!currentCaseService?.canWrite('CasoClinico.CasoClinico.riscontro', '', '') || ('Appropriatezza.appropriato') !== null" :id="getContextForID + 'CasoClinico.CasoClinico.riscontro-Appropriatezza.nonAppropriato'" my-label="Non appropriato">
												<label class="valueLabel" :for="getContextForID + 'CasoClinico.CasoClinico.riscontro-Appropriatezza.nonAppropriato'">
													<span v-html="translationService.t('Non appropriato')">
													</span>
												</label>
											</li>
											<li :id="getContextForID + 'CasoClinico.CasoClinico.riscontro-Appropriatezza.appropriato-wrapper'" v-if="currentCaseService?.canRead('CasoClinico.CasoClinico.riscontro-Appropriatezza.appropriato','','')" v-on:mouseover.stop="onHover('CasoClinico.CasoClinico.riscontro-Appropriatezza.appropriato')">
												<input type="radio" value="Appropriatezza.appropriato" :name="getContextForID + 'CasoClinico.CasoClinico.riscontro'" :disabled="!currentCaseService?.canWrite('CasoClinico.CasoClinico.riscontro', '', '') || ('Appropriatezza.appropriato') !== null" :id="getContextForID + 'CasoClinico.CasoClinico.riscontro-Appropriatezza.appropriato'" my-label="Appropriato">
												<label class="valueLabel" :for="getContextForID + 'CasoClinico.CasoClinico.riscontro-Appropriatezza.appropriato'">
													<span v-html="translationService.t('Appropriato')">
													</span>
												</label>
											</li>
											<li :id="getContextForID + 'CasoClinico.CasoClinico.riscontro-Appropriatezza.nonRiscontrato-wrapper'" v-if="currentCaseService?.canRead('CasoClinico.CasoClinico.riscontro-Appropriatezza.nonRiscontrato','','')" v-on:mouseover.stop="onHover('CasoClinico.CasoClinico.riscontro-Appropriatezza.nonRiscontrato')">
												<input type="radio" value="Appropriatezza.nonRiscontrato" :name="getContextForID + 'CasoClinico.CasoClinico.riscontro'" :disabled="!currentCaseService?.canWrite('CasoClinico.CasoClinico.riscontro', '', '') || ('Appropriatezza.appropriato') !== null" :id="getContextForID + 'CasoClinico.CasoClinico.riscontro-Appropriatezza.nonRiscontrato'" my-label="Non riscontrato">
												<label class="valueLabel" :for="getContextForID + 'CasoClinico.CasoClinico.riscontro-Appropriatezza.nonRiscontrato'">
													<span v-html="translationService.t('Non riscontrato')">
													</span>
												</label>
											</li>
										</ul>
										<button class="variable-reset" type="button" :disabled="!currentCaseService?.canWrite('CasoClinico.CasoClinico.riscontro', '', '') || ('Appropriatezza.appropriato') !== null" v-on:click.stop="resetRadioButton('CasoClinico.CasoClinico.riscontro')">
											<span v-html="translationService.t('Reset')">
											</span>
										</button>
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'CasoClinico.CasoClinico.riscontro'" :context="context" :container-type="containerType">
										</component>
									</div>
									<div class="radiolist-wrapper" v-if="currentCaseService?.canRead('CasoClinico.CasoClinico.modalitaDiAccesso','','')" :id="getContextForID + 'CasoClinico.CasoClinico.modalitaDiAccesso-wrapper'" v-on:mouseover.stop="onHover('CasoClinico.CasoClinico.modalitaDiAccesso')">
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'CasoClinico.CasoClinico.modalitaDiAccesso'" :context="context" :container-type="containerType">
										</component>
										<span class="radioDescription">
											<span :tooltip="translationService.t('indicare la modalita\' di accesso')">
                ?
            </span>
											<span v-html="translationService.t('Modalita\' di Accesso')">
											</span>
										</span>
										<ul class="radiolist" v-custom-model-for-singlechoice="'CasoClinico.CasoClinico.modalitaDiAccesso'" v-short-circuit="model.CasoClinico?.riscontro == 'Appropriatezza.appropriato' ? 'ModalitaDiAccesso.autopresentato' : null" :id="getContextForID + 'CasoClinico.CasoClinico.modalitaDiAccesso'">
										</ul>
										<button class="variable-reset" type="button" :disabled="!currentCaseService?.canWrite('CasoClinico.CasoClinico.modalitaDiAccesso', '', '') || (model.CasoClinico?.riscontro == 'Appropriatezza.appropriato' ? 'ModalitaDiAccesso.autopresentato' : null) !== null" v-on:click.stop="resetRadioButton('CasoClinico.CasoClinico.modalitaDiAccesso')">
											<span v-html="translationService.t('Reset')">
											</span>
										</button>
										<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'CasoClinico.CasoClinico.modalitaDiAccesso'" :context="context" :container-type="containerType">
										</component>
									</div>
								</div>
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'CasoClinico.CasoClinico'" :context="context" :container-type="containerType">
								</component>
							</fieldset>
						</section>
					</template>
				</dataclassitemcomponent>
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'CasoClinico'" :context="context" :container-type="containerType">
				</component>
			</fieldset>
		</section>
	</template>
</dataclassitemcomponent>