<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('dateVariable','','')" :id="getContextForID + 'dateVariable-wrapper'" v-on:mouseover.stop="onHover('dateVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dateVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'dateVariable'">
					<span v-html="translationService.t('dateVariable')">
					</span>
				</label>
				<input type="date" v-custom-model="'dateVariable'" :disabled="!currentCaseService?.canWrite('dateVariable', '', '')" :id="getContextForID + 'dateVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dateVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
			<div v-if="currentCaseService?.canRead('dateVariable2','','')" :id="getContextForID + 'dateVariable2-wrapper'" v-on:mouseover.stop="onHover('dateVariable2')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dateVariable2'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'dateVariable2'">
					<span v-html="translationService.t('dateVariable2')">
					</span>
				</label>
				<input type="date" v-short-circuit="setYear(model.dateVariable, 2000)" v-custom-model="'dateVariable2'" :disabled="!currentCaseService?.canWrite('dateVariable2', '', '') || (setYear(model.dateVariable, 2000)) !== null" :id="getContextForID + 'dateVariable2'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dateVariable2'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>