<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<div v-if="currentCaseService?.canRead('startingDate','','')" :id="getContextForID + 'startingDate-wrapper'" v-on:mouseover.stop="onHover('startingDate')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'startingDate'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'startingDate'">
					<span v-html="translationService.t('startingDate')">
					</span>
				</label>
				<input type="date" v-custom-model="'startingDate'" :disabled="!currentCaseService?.canWrite('startingDate', '', '')" :id="getContextForID + 'startingDate'" :min="2000-01-01" :max="new Date().toISOString().split(`T`)[0]">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'startingDate'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
	</template>
</dataclassitemcomponent>