<script lang="ts" setup>
import { onBeforeUnmount, type PropType, type Ref, ref, watchEffect } from 'vue';
import { ContainerTypes, getContainer, getContext } from '@/ContainersConfig';
import type { CaseListActionInterface } from '@/interfaces/CaseListActionInterface';
import { CaseListRowStyleInterface } from '@/interfaces/CaseListRowStyleInterface';
import type { CaseListServiceInterface } from '@/interfaces/CaseListServiceInterface';
import type { CaseListColumn } from '@/interfaces/CaseListColumn';
import type TranslationService from '@/services/TranslationService';
import { NamedBindings } from '@/types/NamedBindings';
import { ApplicationEvents } from '@/types/ApplicationEvents';
import { OpenCaseRequested } from '@/application-events/OpenCaseRequested';

const props = defineProps({
  rowIndex: {
    type: Number as PropType<number>,
    required: true,
  },
  caseListColumns: {
    type: Array as PropType<Array<CaseListColumn>>,
    required: false,
    default: () => new Array<CaseListColumn>(),
  },
  caseListRowStyles: {
    type: Array as PropType<Array<CaseListRowStyleInterface>>,
    required: false,
    default: () => new Array<CaseListRowStyleInterface>(),
  },
  context: {
    type: String as PropType<string>,
    required: true,
  },
  actions: {
    type: Array as PropType<Array<CaseListActionInterface>>,
    required: false,
    default: () => [],
  },
  openOnLineClick: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: false,
  },
  isDeletedCaseList: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: false,
  },
});

const container = getContainer(props.context);
const caseListService = container.get(NamedBindings.CaseListService) as CaseListServiceInterface;
const translationService = container.get(NamedBindings.TranslationService) as TranslationService;

const rowClasses: Ref<Array<string>> = ref([]);
const htmlContents: Ref<{ [key: string]: string }> = ref({});
const referenceList = props.isDeletedCaseList ? caseListService.slicedDeletedCases : caseListService.slicedCases;
const row = referenceList[props.rowIndex]; //pass row as a prop could break reactivity

const classesOnInitialization = props.caseListRowStyles.map((style) => style.applyStyle(row));

function applyDynamicClasses() {
  classesOnInitialization.forEach((rowStyle) => {
    Object.entries(rowStyle).forEach(([className, isActive]) => {
      if (isActive.value && !rowClasses.value.includes(className)) {
        rowClasses.value.push(className);
      } else if (!isActive.value && rowClasses.value.includes(className)) {
        rowClasses.value = rowClasses.value.filter((cls) => cls !== className);
      }
    });
  });
}

async function updateContent() {
  for (const c of props.caseListColumns) {
    htmlContents.value[c.getHeading()] = c.getContentAsHTML(row);
  }
}

watchEffect(() => {
  applyDynamicClasses();
  updateContent();
});

//TODO: check
onBeforeUnmount(() => {}); //necessary for caseListElement reactivity after creating a case

function openCase(caseID: string) {
  getContext(props.context).dispatchEvent(
    ApplicationEvents.OpenCaseRequested,
    new OpenCaseRequested(ContainerTypes.DEFAULT, caseID)
  );
}
</script>

<template>
  <tr
    @click="openOnLineClick ? openCase(row.caseMetaData.caseID) : null"
    :class="[...rowClasses, { 'line-with-action': openOnLineClick }, 'case-list-row']"
  >
    <td
      v-for="c in caseListColumns"
      :key="c.getHeading()"
      :class="[`${c.getHeading().toLocaleLowerCase().replace(/\s+/g, '-')}-cell`, 'row-cell']"
      v-html="htmlContents[c.getHeading()]"
    />

    <td class="actions-cell row-cell">
      <section class="action-buttons-wrapper">
        <template v-for="action in actions" :key="action.name">
          <button
            v-if="!action.isVisible || action.isVisible({ element: row, elementIndex: rowIndex })"
            :class="[`${action.actionClass}-btn`, 'row-action-btn']"
            @click.stop="action.action({ element: row, elementIndex: rowIndex })"
          >
            <ion-icon v-if="action.icon" :name="action.icon" />
            <span v-if="!action.icon" v-html="translationService.t(action.label || action.name)" />
          </button>
        </template>
      </section>
    </td>
  </tr>
</template>

<style>
.row-icon-wrapper {
  display: flex;
  justify-content: center;
}

.hoverable-row-icon ion-icon {
  font-size: 1.5rem;
}

.hoverable-row-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  padding: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.hoverable-row-icon .tooltip {
  position: absolute;
  width: fit-content;
  white-space: nowrap;
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  bottom: 125%;
  opacity: 0;
  transition: opacity 0.3s;
}

.hoverable-row-icon .tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.hoverable-row-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
</style>
