<script lang="ts" setup>
import _ from 'lodash';
import { ref, type PropType, toRaw } from 'vue';
import { getContainer } from '@/ContainersConfig';
import CaseListHeadComponent from './CaseListHeaderComponent.vue';
import CaseListRowComponent from './CaseListRowComponent.vue';
import NonPaginatedCaseListComponent from './NonPaginatedCaseListComponent.vue';
import PaginatedCaseList from './PaginatedCaseListComponent.vue';
import PermaDeletionDialog from '@/components/Dialogs/PermaDeletionDialogComponent.vue';
import type { ReadonlyCaseList } from '@/entities/CaseListElement';
import { VariableCaseListColumn } from '@/entities/caseListColumn/VariableCaseListColumn';
import { ApplicationError, AppErrorType } from '@/errors/ApplicationError';
import type { CaseListActionInterface } from '@/interfaces/CaseListActionInterface';
import type { CaseListColumn } from '@/interfaces/CaseListColumn';
import type { CaseListServiceInterface } from '@/interfaces/CaseListServiceInterface';
import type { CaseListActionParams } from '@/interfaces/CaseListActionParams';
import type { CaseServiceInterface } from '@/interfaces/CaseServiceInterface';
import type CurrentContextService from '@/services/CurrentContextService';
import type TranslationService from '@/services/TranslationService';
import { Contexts } from '@/types/Contexts';
import { NamedBindings } from '@/types/NamedBindings';

const props = defineProps({
  caseListColumns: {
    type: Array as PropType<Array<CaseListColumn>>,
    required: false,
    default: () => new Array<CaseListColumn>(),
  },
  context: {
    type: String as PropType<string>,
    required: false,
    default: Contexts.DEFAULT,
  },
  additionalActions: {
    type: Array as PropType<Array<CaseListActionInterface>>,
    required: false,
    default: () => [],
  },
  addDefaultActions: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: true,
  },
  commonPagination: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: false,
  },
  numberOfElementsPerPage: {
    type: Number as PropType<number>,
    required: false,
    default: 20,
  },
  openOnLineClick: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: false,
  },
});

const container = getContainer(props.context);
const caseListService = container.get(NamedBindings.CaseListService) as CaseListServiceInterface;
const caseService = container.get(NamedBindings.CaseService) as CaseServiceInterface;
const currentContext = container.get(NamedBindings.CurrentContextService) as CurrentContextService;
const ts = container.get(NamedBindings.TranslationService) as TranslationService;

const deletedCaseList: ReadonlyCaseList = caseListService.slicedDeletedCases;
const showDeletedCases = ref(false);
const permaDeletionDialogVisibility = ref(false);
const deletingCaseID = ref('');

const defaultActions = [
  {
    name: 'restoreCase',
    actionClass: 'restore-case',
    label: 'Restore Case',
    action: (values: CaseListActionParams) => restoreCase(values.element.caseMetaData.caseID),
    isVisible: () => true,
  },
  {
    name: 'deletePermanently',
    actionClass: 'delete-permanently',
    label: 'Delete permanently ',
    action: (values: CaseListActionParams) => showPermaDeletionDialog(values.element.caseMetaData.caseID),
    isVisible: () => true,
  },
];
const arrayOfActions: Array<CaseListActionInterface> = [
  ...props.additionalActions,
  ...(props.addDefaultActions ? defaultActions : []),
];

const cachedVariables = currentContext.getCaseConfiguration().cachedVariables;
const caseListVariables = toRaw(props.caseListColumns)
  .filter((column) => column instanceof VariableCaseListColumn)
  .map((column) => (column as VariableCaseListColumn).getVariableName());

// if there are columns that are not cached, throw an error
if (_.intersection(caseListVariables, cachedVariables).length < caseListVariables.length) {
  throw new ApplicationError('All columns must be cached in case configuration', AppErrorType.COLUMNS_NOT_CACHED);
}

caseListService.startDeletedList.value = 0;
caseListService.endDeletedList.value = props.numberOfElementsPerPage;

async function restoreCase(caseID: string) {
  const eventDate = new Date();
  await caseService.restoreCase(caseID);
  await caseListService.restoreCase(caseID, eventDate);
}

function showPermaDeletionDialog(caseID: string) {
  deletingCaseID.value = caseID;
  permaDeletionDialogVisibility.value = true;
}

function closePermaDeletionDialog() {
  permaDeletionDialogVisibility.value = false;
}

const isUpdatingCaseList = caseListService.isUpdatingCaseList();

async function updateCurrentPage(value: { startIndex: number; endIndex: number }) {
  caseListService.startDeletedList.value = value.startIndex;
  caseListService.endDeletedList.value = value.endIndex;
  await caseListService.updateCaseList();
}
</script>

<template>
  <div class="deleted-case-list-wrapper">
    <PermaDeletionDialog
      :context="context"
      :deleting-case-i-d="deletingCaseID"
      :perma-deletion-dialog-visibility="permaDeletionDialogVisibility"
      @close-perma-deletion="closePermaDeletionDialog"
    />

    <button
      @click="showDeletedCases = !showDeletedCases"
      :class="`${showDeletedCases ? 'hide-deleted-cases' : 'show-deleted-cases'}-btn`"
      v-html="ts.t(showDeletedCases ? 'Hide deleted cases' : 'Show deleted cases')"
    />

    <section v-if="showDeletedCases" class="deleted-case-list">
      <section v-if="isUpdatingCaseList" class="loading-deleted-case-list">
        <span v-html="ts.t('Loading deleted case list...')" />
      </section>
      <section v-else-if="deletedCaseList.length === 0" class="no-cases-deleted">
        <span v-html="ts.t('No cases deleted')" />
      </section>
      <table v-else class="deleted-case-list-table">
        <CaseListHeadComponent :case-list-columns="caseListColumns" />
        <tbody>
          <CaseListRowComponent
            v-for="(row, rowIndex) in deletedCaseList"
            :row-index="rowIndex"
            :key="row.caseMetaData.caseID"
            :case-list-columns="caseListColumns"
            :context="context"
            :actions="arrayOfActions"
            :open-on-line-click="true"
            :is-deleted-case-list="true"
          />
        </tbody>
      </table>
      <template v-if="!commonPagination">
        <NonPaginatedCaseListComponent
          :context="context"
          :number-of-elements-per-page="numberOfElementsPerPage"
          :deleted-case-list="true"
          @update="updateCurrentPage"
        />
      </template>
      <template v-if="commonPagination">
        <PaginatedCaseList
          :context="context"
          :number-of-elements-per-page="numberOfElementsPerPage"
          :deleted-case-list="true"
          @update="updateCurrentPage"
        />
      </template>
    </section>
  </div>
</template>
