<script setup lang="ts">
import type { PropType } from 'vue';
import CaseListComponent from './CaseListComponent.vue';
import { getContainer } from '@/ContainersConfig';
import { StatusCaseListColumn } from '@/entities/caseListColumn/StatusCaseListColumn';
import type { CaseListActionInterface } from '@/interfaces/CaseListActionInterface';
import type { CaseListColumn } from '@/interfaces/CaseListColumn';
import type CurrentContextService from '@/services/CurrentContextService';
import { Contexts } from '@/types/Contexts';
import { NamedBindings } from '@/types/NamedBindings';

const props = defineProps({
  additionalCaseListColumns: {
    type: Array as PropType<Array<CaseListColumn>>,
    required: false,
    default: () => new Array<CaseListColumn>(),
  },
  context: {
    type: String as PropType<string>,
    required: false,
    default: Contexts.DEFAULT,
  },
  additionalActions: {
    type: Array as PropType<Array<CaseListActionInterface>>,
    required: false,
    default: () => [],
  },
  commonPagination: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: false,
  },
  numberOfElementsPerPage: {
    type: Number as PropType<number>,
    required: false,
    default: 20,
  },
  openOnLineClick: {
    type: Boolean as PropType<boolean>,
    required: false,
    default: false,
  },
});

const currentContext = getContainer(Contexts.DEFAULT).get(NamedBindings.CurrentContextService) as CurrentContextService;
const mainCRF = currentContext.getCaseConfiguration().getMainCRF();

const caseListColumns = [
  new StatusCaseListColumn(`Status ${mainCRF.crfName}`, mainCRF.crfName, '*'),
  ...props.additionalCaseListColumns,
];
</script>

<template>
  <Suspense>
    <CaseListComponent
      :additional-actions="additionalActions"
      :case-list-columns="caseListColumns"
      :common-pagination="commonPagination"
      :context="context"
      :numberOfElementsPerPage="numberOfElementsPerPage"
      :openOnLineClick="true"
    ></CaseListComponent>
  </Suspense>
</template>
