<script lang="ts" setup>
import { PropType, ref, watchEffect } from 'vue';
import DeveloperErrorsRenderComponent from '@/components/Debug/DeveloperErrorsRenderComponent.vue';
import { Contexts } from '@/types/Contexts';
import TranslationService from '@/services/TranslationService';
import { NamedBindings } from '@/types/NamedBindings';
import { getContainer } from '@/ContainersConfig';

const props = defineProps({
  context: {
    type: String as PropType<string>,
    required: false,
    default: Contexts.DEFAULT,
  },
  model: {
    type: Object as PropType<any>,
    required: true,
    default: {},
  },
  startingDataclass: {
    type: String as PropType<string>,
    required: false,
    default: '',
  },
  crfVersions: {
    type: Map as PropType<ReadonlyMap<any, any>>,
    required: false,
  },
  crfWrappingFunction: {
    type: Function as PropType<any>,
    required: false,
    default: (html: any, _crf: any) => html,
  },
  devErrorsDialogVisibility: {
    type: Boolean as PropType<boolean>,
    required: true,
    default: false,
  },
});

const ts = getContainer(props.context).get(NamedBindings.TranslationService) as TranslationService;
const devErrorsDialogRef = ref<HTMLDialogElement | null>(null);
const emit = defineEmits(['close-dev-errors']);

watchEffect(() => {
  if (devErrorsDialogRef.value) {
    props.devErrorsDialogVisibility ? devErrorsDialogRef.value.showModal() : devErrorsDialogRef.value.close();
  }
});
</script>

<template>
  <dialog ref="devErrorsDialogRef" class="dev-errors-dialog dialog">
    <header class="developer-errors-header">
      <h2 class="developer-errors-title" v-html="ts.t('Developer Errors')" />
      <ion-icon name="close-outline" @click="emit('close-dev-errors')" />
    </header>
    <Suspense>
      <DeveloperErrorsRenderComponent
        v-if="crfVersions"
        ref="DER"
        mount-id="devErrorsRender"
        :model="model"
        :context="context"
        :starting-dataclass="startingDataclass"
        :crfs-with-versions="crfVersions"
        :crf-wrapping-function="crfWrappingFunction"
      />
    </Suspense>
  </dialog>
</template>

<style>
.dev-errors-dialog {
  max-width: 70vw;
  top: 4vh;
}

.dev-errors-dialog .developer-errors-header {
  position: relative;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 2rem;
}

.dev-errors-dialog .developer-errors-title {
  margin: 0;
}

.dev-errors-dialog .developer-errors-header ion-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.dev-errors-dialog .developer-errors-header ion-icon:hover {
  color: white;
  background-color: red;
}

.dev-errors-dialog .developer-errors-component {
  margin: 0;
  padding: 0 1rem 0 0;
  overflow: auto;
  max-height: 75vh;
}
</style>
