<script setup lang="ts">
import { PropType, watchEffect, ref } from 'vue';
import { getContainer } from '@/ContainersConfig';
import type { CurrentCaseServiceInterface } from '@/interfaces/CurrentCaseServiceInterface';
import type TranslationService from '@/services/TranslationService';
import { Contexts } from '@/types/Contexts';
import { MagicNumbers } from '@/types/MagicNumbers';
import { NamedBindings } from '@/types/NamedBindings';
import { TypesOfActionHooks } from '@/types/TypesOfHooks';
import DiffListComponent from '@/components/DiffListComponent.vue';
import Helpers from '@/utils/Helpers';

const props = defineProps({
  context: {
    type: String as PropType<string>,
    required: false,
    default: Contexts.DEFAULT,
  },
  oldModel: {
    type: Object as PropType<any>,
    required: true,
    default: {},
  },
  diffDialogVisibility: {
    type: Boolean as PropType<boolean>,
    required: true,
    default: false,
  },
});

const container = getContainer(props.context);
const ts = container.get(NamedBindings.TranslationService) as TranslationService;
const currentCaseService = container.get(NamedBindings.CurrentCaseService) as CurrentCaseServiceInterface;

const diffDialogRef = ref<HTMLDialogElement | null>(null);
const emit = defineEmits(['close-diff-dialog']);

watchEffect(() => {
  if (diffDialogRef.value) {
    props.diffDialogVisibility ? diffDialogRef.value.showModal() : diffDialogRef.value.close();
  }
});

const saveAfterDiffCheck = async () => {
  await Helpers.runHook(props.context, TypesOfActionHooks.BeforeSaving);
  await currentCaseService.save();
  emit('close-diff-dialog');
};
</script>

<template>
  <dialog ref="diffDialogRef" class="diff-dialog dialog">
    <!-- We need also v-if for performance reasons, to render diff html only when it's really needed -->
    <DiffListComponent :model-to-compare="oldModel" v-if="diffDialogVisibility" />
    <div class="solvedWarning">
      <span
        v-html="
          `${ts.t('Do you confirm the changes made in case')}: 
            ${currentCaseService.getCurrentCase().value?.substring(0, MagicNumbers.lenghtOfAbbreviatedCaseID)}?`
        "
      />
      <button
        type="button"
        class="confirm-after-diff-check-btn diff-dialog-btn primary"
        @click="saveAfterDiffCheck"
        v-html="ts.t('Confirm')"
      />
      <button
        type="button"
        class="cancel-after-diff-check-btn diff-dialog-btn secondary"
        @click="emit('close-diff-dialog')"
        v-html="ts.t('Close')"
      />
    </div>
  </dialog>
</template>
