<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
			</component>
			<fieldset v-custom-model="'dcInstance'" v-if="currentCaseService?.canRead('dcInstance','','')" init-value="({})" class="dcInstance" :id="getContextForID + 'dcInstance'" :disabled="!currentCaseService?.canWrite('dcInstance', '', '')" v-on:mouseover.stop="onHover('dcInstance')">
				<legend class="groupDescription">
					<span v-html="translationService.t('dcInstance')">
					</span>
				</legend>
				<dataclassitemcomponent :full-name="'dcInstance'" :this-index="null" :model="model" :this-set="thisSet">
					<template v-slot:default="{ thisSet, thisObject, thisIndex }">
						<section v-if="true" class="activateIfDC">
							<div v-if="currentCaseService?.canRead('dcInstance.textVariable','','')" :id="getContextForID + 'dcInstance.textVariable-wrapper'" v-on:mouseover.stop="onHover('dcInstance.textVariable')">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'dcInstance.textVariable'" :context="context" :container-type="containerType">
								</component>
								<label class="variableLabel" :for="getContextForID + 'dcInstance.textVariable'">
									<span v-html="translationService.t('textVariable')">
									</span>
								</label>
								<input type="text" v-custom-model="'dcInstance.textVariable'" :disabled="!currentCaseService?.canWrite('dcInstance.textVariable', '', '')" :id="getContextForID + 'dcInstance.textVariable'">
								<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance.textVariable'" :context="context" :container-type="containerType">
								</component>
							</div>
						</section>
						<section v-if="!(true)" :id="getContextForID + 'dcInstance-content'">
							<output v-custom-model-for-crf-not-active="'dcInstance.ACTIVE'">
							</output>
							<h3 class="petal-not-active-text" v-html="translationService.t('petalNotActive', { &quot;value&quot;: &quot;activateIfDC&quot; })">
							</h3>
							<p>
							<span v-html="translationService.t('Message')">
							</span>
						</p>
					</section>
				</template>
			</dataclassitemcomponent>
			<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'dcInstance'" :context="context" :container-type="containerType">
			</component>
		</fieldset>
	</section>
</template>
</dataclassitemcomponent>