<dataclassitemcomponent :full-name="''" :this-index="null" :model="model" :this-set="thisSet">
	<template v-slot:default="{ thisSet, thisObject, thisIndex }">
		<section v-if="true">
			<div v-if="currentCaseService?.canRead('textVariable','','')" :id="getContextForID + 'textVariable-wrapper'" v-on:mouseover.stop="onHover('textVariable')">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.BeforeVariable)" :is="componentName" :full-name="'textVariable'" :context="context" :container-type="containerType">
				</component>
				<label class="variableLabel" :for="getContextForID + 'textVariable'">
					<span v-html="translationService.t('textVariable')">
					</span>
				</label>
				<input type="text" v-custom-model="'textVariable'" :disabled="!currentCaseService?.canWrite('textVariable', '', '')" :id="getContextForID + 'textVariable'">
				<component v-for="componentName in getHooksByType(TypesOfDisplayHooks.AfterVariable)" :is="componentName" :full-name="'textVariable'" :context="context" :container-type="containerType">
				</component>
			</div>
		</section>
		<section v-if="!(true)" :id="getContextForID + '-content'">
			<output v-custom-model-for-crf-not-active="'ACTIVE'">
			</output>
			<h3 class="petal-not-active-text" v-html="translationService.t('petalNotActive', { &quot;value&quot;: &quot;&quot; })">
			</h3>
			<p>
			<span v-html="translationService.t('DC Active')">
			</span>
		</p>
	</section>
</template>
</dataclassitemcomponent>