<script setup lang="ts">
import type { PropType } from 'vue';
import DebugInfo from '@/components/Debug/DebugInfoComponent.vue';
import { getContainer } from '@/ContainersConfig';
import type { CoreConfigurationInterface } from '@/interfaces/CoreConfiguration';
import { Contexts } from '@/types/Contexts';
import { NamedBindings } from '@/types/NamedBindings';
import Helpers from '@/utils/Helpers';

const props = defineProps({
  fullName: {
    type: String as PropType<string>,
    required: true,
  },
  thisIndex: {
    type: Number as PropType<number | null>,
    required: false,
    default: null,
  },
  thisSet: {
    type: Object as PropType<any>,
    required: true,
  },
  model: {
    type: Object as PropType<any>,
    required: true,
  },
});

const coreConfiguration = getContainer(Contexts.SHARED).get(
  NamedBindings.CoreConfiguration
) as CoreConfigurationInterface;

// FullName can be empty when it's the first dataclass and we don't use crfName as starting point in model
let thisObject = props.fullName === '' ? props.model : Helpers.getObjByPath(props.fullName, props.model);

if (!thisObject) {
  Helpers.setObjByPath(props.fullName, props.model, {});
  thisObject = Helpers.getObjByPath(props.fullName, props.model);
}

if (coreConfiguration.debug) {
  console.info(`#### DATACLASS ${props.fullName} #### ${JSON.stringify(thisObject)}`);
}
</script>

<template>
  <Suspense>
    <DebugInfo
      :debug="coreConfiguration.debug"
      :this-object="thisObject"
      :this-set="thisSet"
      :this-index="thisIndex ?? 0"
    />
  </Suspense>

  <slot name="default" v-bind="{ thisObject, thisSet, thisIndex }" />
</template>
