<script setup lang="ts">
import type { PropType } from 'vue';
import DebugInfo from '@/components/Debug/DebugInfoComponent.vue';
import { getContainer } from '@/ContainersConfig';
import type { CoreConfigurationInterface } from '@/interfaces/CoreConfiguration';
import { Contexts } from '@/types/Contexts';
import { NamedBindings } from '@/types/NamedBindings';
import Helpers from '@/utils/Helpers';

const props = defineProps({
  fullName: {
    type: String as PropType<string>,
    required: true,
  },
  thisIndex: {
    type: Number as PropType<number | null>,
    required: false,
    default: null,
  },
  thisObject: {
    type: Object as PropType<any>,
    required: false,
    default: () => ({}),
  },
  model: {
    type: Object as PropType<any>,
    required: true,
  },
});

const coreConfiguration = getContainer(Contexts.SHARED).get(
  NamedBindings.CoreConfiguration
) as CoreConfigurationInterface;

let thisSet = Helpers.getObjByPath(props.fullName, props.model);
if (!thisSet) {
  Helpers.setObjByPath(props.fullName, props.model, []);
  thisSet = Helpers.getObjByPath(props.fullName, props.model);
}

if (coreConfiguration.debug) {
  console.info(`#### SET ${props.fullName} #### ${JSON.stringify(thisSet)}`);
  console.info(`#### SET ${props.fullName} #### ${JSON.stringify(props.thisObject)}`);
}
</script>

<template>
  <Suspense>
    <DebugInfo
      :debug="coreConfiguration.debug"
      :this-object="thisObject"
      :this-set="thisSet"
      :this-index="thisIndex ?? 0"
    />
  </Suspense>
  <slot name="default" v-bind="{ thisSet, thisObject, thisIndex }" />
</template>
