<script setup lang="ts">
import { type PropType, ref, watch } from 'vue';
import { getContainer } from '@/ContainersConfig';
import DebugInfo from '@/components/Debug/DebugInfoComponent.vue';
import type { CoreConfigurationInterface } from '@/interfaces/CoreConfiguration';
import { Contexts } from '@/types/Contexts';
import { NamedBindings } from '@/types/NamedBindings';
import Helpers from '@/utils/Helpers';

const props = defineProps({
  fullName: {
    type: String as PropType<string>,
    required: true,
  },
  thisIndex: {
    type: Number as PropType<number>,
    required: true,
  },
  thisSet: {
    type: Object as PropType<any>,
    required: true,
  },
  model: {
    type: Object as PropType<any>,
    required: true,
  },
});

const coreConfiguration = getContainer(Contexts.SHARED).get(
  NamedBindings.CoreConfiguration
) as CoreConfigurationInterface;

let thisObject = Helpers.getObjByPath(props.fullName, props.model);
const forceUpdate = ref(false);

if (!thisObject) {
  Helpers.setObjByPath(props.fullName, props.model, {});
  thisObject = Helpers.getObjByPath(props.fullName, props.model);
}

watch(
  () => thisObject,
  () => {
    forceUpdate.value = !forceUpdate.value;
  }
);

if (coreConfiguration.debug) {
  console.info(`#### ITEM ${props.fullName} #### ${JSON.stringify(thisObject)}`);
}
</script>

<template>
  <Suspense>
    <DebugInfo :debug="coreConfiguration.debug" :this-object="thisObject" :this-set="thisSet" :this-index="thisIndex" />
  </Suspense>
  <slot name="default" :key="forceUpdate" v-bind="{ thisSet, thisObject, thisIndex }" />
</template>
